<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.core.compare.objects" name="%command.org.jkiss.dbeaver.core.compare.objects.name" description="%command.org.jkiss.dbeaver.core.compare.objects.description" categoryId="org.jkiss.dbeaver.core.util"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.core.compare.objects" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/compare.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.core.compare.objects" class="org.jkiss.dbeaver.tools.compare.simple.ui.CompareObjectsHandler">
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <adapt type="org.jkiss.dbeaver.model.navigator.DBNDatabaseNode"/>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">

        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=compare">
            <!--
                <menu label="%menu.compare" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/compare.png">
                    <visibleWhen>
                        <with variable="selection">
                            <count value="+"/>
                            <iterate operator="and">
                                <adapt type="org.jkiss.dbeaver.model.navigator.DBNDatabaseNode"/>
                            </iterate>
                        </with>
                    </visibleWhen>
                    <dynamic id="org.jkiss.dbeaver.core.menu.compare" class="org.jkiss.dbeaver.ui.editors.sql.generator.GenerateSQLContributor"/>
                </menu>
            -->
            <command commandId="org.jkiss.dbeaver.core.compare.objects">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>

    </extension>


</plugin>
