<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.yashandb.YashanDBDataSourceProvider"
                description="yashandb connector"
                id="yashandb"
                label="yashandb"
                icon="icons/yashandb_icon.png"
                dialect="yashandb">

            <tree icon="icons/yashandb_icon.png" label="YashanDB data source" path="yashandb">
                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchema" label="%tree.schemas.node.name"
                        icon="#folder_schema" description="Database schemas">
                    <items label="%tree.schema.node.name" path="schema" property="schemas" icon="#schema">

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTable" label="%tree.tables.node.name"
                                icon="#folder_table" description="Tables">
                            <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableColumn"
                                        label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    <items label="%tree.column.node.name" path="column" property="attributes"
                                           icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableConstraint"
                                        label="%tree.constraints.node.name" icon="#constraints"
                                        description="Table constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints"
                                           icon="#unique-key">
                                        <items label="%tree.constraint_columns.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableForeignKey"
                                        label="%tree.foreign_keys.node.name" icon="#foreign-keys"
                                        description="Table foreign keys">
                                    <items label="%tree.foreign_key.node.name" path="association"
                                           property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name"
                                               itemLabel="%tree.column.node.name"
                                               path="column" property="attributeReferences" navigable="false"
                                               inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder label="%tree.references.node.name" icon="#references"
                                        description="Table references" virtual="true">
                                    <items label="%tree.reference_key.node.name" path="referenceKey"
                                           property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_key_columns.node.name"
                                               itemLabel="%tree.column.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true"
                                               virtual="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger"
                                        label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers"
                                           icon="#trigger">
                                        <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name"
                                               path="column" property="columns" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableIndex"
                                        label="%tree.indexes.node.name" icon="#indexes" description="Table indexes">
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name"
                                               path="column" property="attributeReferences" navigable="false"
                                               inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPartitionBase"
                                        label="%tree.partitions.node.name" icon="#partitions"
                                        description="Table partitions">
                                    <items label="%tree.partition.node.name" path="partition" property="partitions"
                                           icon="#partition">
                                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPartitionBase"
                                                label="%tree.subpartitions.node.name" icon="#partitions"
                                                description="tree.subpartitions.node.name">
                                            <items label="%tree.subpartitions.node.name"
                                                   itemLabel="%tree.subpartition.node.name" path="subpartition"
                                                   property="subPartitions" navigable="false" inline="true">
                                            </items>
                                        </folder>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivTable"
                                        label="%tree.table_privileges.node.name" icon="#permissions"
                                        description="Table Privileges" navigable="false">
                                    <items label="%tree.privilege.node.name" path="tablePrivs" property="tablePrivs"
                                           icon="#privilege">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                        label="%tree.dependencies.node.name"
                                        description="Table dependency/dependent objects">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies"
                                           icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                        <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                               navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>


                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBView" label="%tree.views.node.name"
                                icon="#folder_view" description="Views">
                            <items label="%tree.view.node.name" path="view" property="views" icon="#view">
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableColumn"
                                        label="%tree.columns.node.name" icon="#columns" description="View columns">
                                    <items label="%tree.column.node.name" itemLabel="%tree.column.node.name"
                                           path="column" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableConstraint"
                                        label="%tree.constraints.node.name" icon="#constraints"
                                        description="Table constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints"
                                           icon="#unique-key">
                                        <items label="%tree.constraint_columns.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>

                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger"
                                        label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers"
                                           icon="#trigger">
                                        <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name"
                                               path="column" property="columns" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                        label="%tree.dependencies.node.name"
                                        description="Table dependency/dependent objects">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies"
                                           icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                        <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                               navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBMaterializedView" label="%tree.materialized_views.node.name" icon="#folder_view" description="Materialized Views">
                            <items label="%tree.materialized_view.node.name" path="view" property="materializedViews" icon="#view">
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
                                    <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="View constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
                                        <items label="%tree.constraint.node.name columns" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataType"
                                label="%tree.types.node.name" icon="#data_types" description="Types">
                            <items label="%tree.type.node.name" path="type" property="dataTypes" icon="#data_type">
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataTypeAttribute"
                                        label="%tree.attributes.node.name" icon="#attributes"
                                        description="Type attributes" visibleIf="true">
                                    <items label="%tree.attribute.node.name" path="attribute" property="attributes"
                                           icon="#attribute"/>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataTypeMethod"
                                        label="%tree.methods.node.name" icon="#procedures" description="Type methods"
                                        visibleIf="true">
                                    <items label="%tree.method.node.name" path="method" property="methods"
                                           icon="#procedure">
                                        <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name"
                                               path="parameter" property="parameters" icon="#argument" navigable="false"
                                               inline="false">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPackage"
                                label="%tree.packages.node.name"
                                icon="#packages" description="Packages">
                            <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
                                <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name"
                                       path="procedure" property="proceduresOnly" icon="#procedure"
                                       visibleIf="true">
                                    <handler action="open"
                                             command="org.jkiss.dbeaver.ext.yashandb.code.package.navigate"/>
                                    <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name"
                                           path="argument" property="parameters" icon="#argument" navigable="false"
                                           inline="false">
                                        <items label="%tree.attributes.node.name" itemLabel="%tree.attribute.node.name"
                                               path="attribute" property="attributes" icon="#attribute"
                                               navigable="false" inline="true" id="ProcedureArgumentAttributes"
                                               visibleIf="object.hasAttributes()">
                                            <items ref="ProcedureArgumentAttributes"/>
                                        </items>
                                    </items>
                                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                            label="%tree.dependencies.node.name"
                                            description="Procedure dependency/dependent objects">
                                        <items label="%tree.dependency.node.name" path="dependency"
                                               property="dependencies"
                                               icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                            <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                                   navigable="false" inline="true">
                                            </items>
                                        </items>
                                    </folder>
                                </items>
                                <items label="%tree.functions.node.name" itemLabel="%tree.function.node.name"
                                       path="function" property="functionsOnly" icon="#function"
                                       visibleIf="true">
                                    <handler action="open"
                                             command="org.jkiss.dbeaver.ext.yashandb.code.package.navigate"/>
                                    <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name"
                                           path="argument" property="parameters" icon="#argument" navigable="false"
                                           inline="false">
                                        <items label="%tree.attributes.node.name" itemLabel="%tree.attribute.node.name"
                                               path="attribute" property="attributes" icon="#attribute"
                                               navigable="false" inline="true" id="ProcedureArgumentAttributes"
                                               visibleIf="object.hasAttributes()">
                                            <items ref="ProcedureArgumentAttributes"/>
                                        </items>
                                    </items>
                                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                            label="%tree.dependencies.node.name"
                                            description="Procedure dependency/dependent objects">
                                        <items label="%tree.dependency.node.name" path="dependency"
                                               property="dependencies"
                                               icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                            <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                                   navigable="false" inline="true">
                                            </items>
                                        </items>
                                    </folder>
                                </items>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                        label="%tree.dependencies.node.name"
                                        description="Table dependency/dependent objects">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies"
                                           icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                        <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                               navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder id="procedures" type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBProcedureStandalone"
                                label="%tree.procedures.node.name" icon="#procedures" description="Procedures">
                            <items label="%tree.procedure.node.name" itemLabel="%tree.procedure.node.name"
                                   path="procedure" property="proceduresOnly" icon="#procedure" id="Procedure">
                                <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name"
                                       path="argument" property="parameters" icon="#argument" navigable="false"
                                       inline="false">
                                    <items ref="ProcedureArgumentAttributes"/>
                                </items>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                        label="%tree.dependencies.node.name"
                                        description="Procedure dependency/dependent objects">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies"
                                           icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                        <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                               navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder id="functions" type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBProcedureStandalone"
                                label="%tree.functions.node.name" icon="#functions" description="Functions">
                            <items label="%tree.function.node.name" itemLabel="%tree.function.node.name" path="function"
                                   property="functionsOnly" icon="#function" id="Function">
                                <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name"
                                       path="argument" property="parameters" icon="#argument" navigable="false"
                                       inline="false">
                                    <items ref="ProcedureArgumentAttributes"/>
                                </items>
                                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDependency"
                                        label="%tree.dependencies.node.name"
                                        description="Function dependency/dependent objects">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies"
                                           icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png">
                                        <items label="%tree.dependencies.node.name" path="entry" property="entries"
                                               navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSynonym"
                                label="%tree.synonyms.node.name"
                                icon="#synonyms" description="Synonyms">
                            <items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableIndex"
                                label="%tree.indexes.node.name"
                                icon="#indexes" description="%tree.indexes.node.tip" virtual="true">
                            <items icon="#index" label="%tree.index.node.name" path="index" property="indexes"
                                   virtual="true">
                                <items icon="#column" label="%tree.index_columns.node.name"
                                       itemLabel="%tree.column.node.name"
                                       path="column" property="attributeReferences" inline="true" navigable="false"
                                       virtual="true">
                                </items>
                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchemaTrigger"
                                label="%tree.schema.triggers.node.name" icon="#triggers"
                                description="Schema and database level triggers">
                            <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger"
                                label="%tree.table.triggers.node.name" icon="#triggers" description="Table triggers">
                            <items label="%tree.table.trigger.node.name" path="tabletrigger" property="tableTriggers"
                                   icon="#trigger">
                                <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column"
                                       property="columns" navigable="false" inline="false" virtual="true">
                                </items>
                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDBLink" label="%tree.database_links.node.name"
                                icon="#folder_link" description="Database Links (DBLinks)">
                            <items label="%tree.database_links.node.name" path="databaseLink" property="databaseLinks" icon="#link"/>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSequence"
                                label="%tree.sequences.node.name" icon="#sequences" description="Sequences">
                            <items label="%tree.sequence.node.name" path="sequence" property="sequences"
                                   icon="#sequence">
                            </items>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBJob"
                                label="Jobs" icon="#scheduler_job_folder" description="Jobs">
                            <items label="Job" path="job" property="jobs" icon="icons/scheduled_job.png"/>
                        </folder>

                        <folder label="%tree.scheduler.node.name" icon="#scheduler_folder" description="Scheduler objects">
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchedulerJob" label="%tree.scheduler.jobs.node.name"
                                    icon="#scheduler_job_folder" description="Scheduler jobs">
                                <items label="%tree.scheduler.job.node.name" path="schedulerJob" property="schedulerJobs"
                                       icon="icons/scheduled_job.png">
<!--                                    <items label="%tree.scheduler.job.arguments.node.name" itemLabel="%tree.scheduler.job.argument.node.name"-->
<!--                                           path="argument" property="arguments" icon="#argument" navigable="false" inline="false"/>-->
                                </items>
                            </folder>
                        </folder>

                        <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBRecycledObject"
                                label="%tree.recycle_bin.node.name" icon="#recycle_bin" description="Recycle Bin">
                            <items label="%tree.recycled_object.node.name" path="object"
                                   property="recycledObjects" icon="#recycle_bin"/>
                        </folder>

                    </items>
                </folder>


                <folder label="%tree.global_metadata.node.name" icon="#logical" description="Global metadata objects">
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataType" label="%tree.types.node.name"
                            icon="#data_types" description="Types">
                        <items label="%tree.data_type.node.name" path="type" property="localDataTypes"
                               icon="#data_type"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSynonym"
                            label="%tree.public_synonyms.node.name"
                            icon="#synonyms" description="Public synonyms">
                        <items label="%tree.synonym.node.name" path="synonym" property="publicSynonyms"
                               icon="#synonym"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDBLink" label="%tree.public_database_links.node.name"
                            icon="#links" description="Public database links">
                        <items label="%tree.database_link.node.name" path="databaseLink" property="publicDatabaseLinks" icon="#link"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDBLink" label="%tree.external_tables.node.name"
                            icon="#links" description="External tables">
                        <items label="%tree.external_tables.node.name" path="databaseLink" property="publicDatabaseLinks" icon="#link"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBRecycledObject"
                            label="%tree.user_recycle_bin.node.name"
                            icon="#recycle_bin" description="Current user's recycle bin">
                        <items label="%tree.recycled_object.node.name" path="object"
                               property="userRecycledObjects" icon="#recycle_bin"/>
                    </folder>

                </folder>


                <folder label="%tree.storage.node.name" icon="#storage" description="Storage management">
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTablespace"
                            label="%tree.tablespaces.node.name"
                            icon="#tablespaces" description="Tablespaces">
                        <items label="%tree.tablespace.node.name" path="tablespace" property="tablespaces"
                               icon="#tablespace">
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataFile"
                                    label="%tree.files.node.name" icon="#files" description="Data Files">
                                <items label="%tree.file.node.name" path="file" property="files" icon="#file"/>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSegment"
                                    label="%tree.objects.node.name" icon="#segments" description="Objects (segments)">
                                <items label="%tree.segment.node.name" path="segment" property="segments"
                                       icon="#segment"/>
                            </folder>
                        </items>
                    </folder>
                </folder>


                <folder label="%tree.security.node.name" icon="#security" description="Security management">
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBUser" label="%tree.users.node.name"
                            icon="#folder_user" description="Users">
                        <items label="%tree.user.node.name" path="users" property="users" icon="#user">
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivRole"
                                    label="%tree.roles.node.name" icon="#folder_role" description="User roles"
                                    navigable="false">
                                <items label="%tree.role.node.name" path="roles" property="rolePrivs"
                                       icon="#user_group">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivSystem"
                                    label="%tree.system_privileges.node.name" icon="#permissions"
                                    description="System Privileges" navigable="false">
                                <items label="%tree.privilege.node.name" path="sysPrivs" property="systemPrivs"
                                       icon="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivObject"
                                    label="%tree.objects.node.name" icon="#permissions" description="Objects"
                                    navigable="false">
                                <items label="%tree.privilege.node.name" path="objectPriv" property="objectPrivs"
                                       icon="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>

                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBRole" label="%tree.roles.node.name"
                            icon="#folder_role" description="Roles">
                        <items label="%tree.role.node.name" path="roles" property="roles" icon="#user_group">
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivUser"
                                    label="%tree.users.node.name" icon="#folder_user" description="Users"
                                    navigable="false">
                                <items label="%tree.user.node.name" path="userPrivs" property="userPrivs" icon="#user">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivRole"
                                    label="%tree.roles.node.name" icon="#folder_role" description="Roles"
                                    navigable="false">
                                <items label="%tree.role.node.name" path="roles" property="rolePrivs"
                                       icon="#user_group">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivSystem"
                                    label="%tree.system_privileges.node.name" icon="#permissions"
                                    description="System Privileges" navigable="false">
                                <items label="%tree.privilege.node.name" path="sysPrivs" property="systemPrivs"
                                       icon="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPrivObject"
                                    label="%tree.objects.node.name" icon="#permissions" description="Objects"
                                    navigable="false">
                                <items label="%tree.privilege.node.name" path="objectPriv" property="objectPrivs"
                                       icon="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>

                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBUserProfile" label="%tree.profiles.node.name"
                            icon="#folder_profile" description="User profiles">
                        <items label="%tree.profile.node.name" path="profiles" property="profiles" icon="#profile">
                            <items label="%tree.resource.node.name" path="resource" property="resources" icon="#resource"/>
                        </items>
                    </folder>

                </folder>


                <folder label="%tree.administer.node.name" icon="#folder_admin" description="Maintenance/Settings">
                    <treeContribution category="connectionEditor"/>
                </folder>
            </tree>


            <drivers managable="true">
                <driver
                        id="yashandb"
                        label="YashanDB"
                        class="com.yashandb.jdbc.Driver"
                        sampleURL="jdbc:yasdb://{host}:{port}/{database}"
                        defaultPort="1688"
                        icon="icons/yashandb_icon.png"
                        iconBig="icons/yashandb_big@2x.png"
                        description="yashandb"
                        webURL="http://cod-doc.yasdb.com/"
                        categories="sql,analytic,columns">
                    <replace provider="generic" driver="yashandb"/>
                    <file type="jar" path="platform:/plugin/org.jkiss.dbeaver.ext.yashandb/driver/yashandb-jdbc-1.3.0.jar"
                          bundle="!drivers.yashandb"/>
                    <file type="jar" path="drivers/yashandb" bundle="drivers.yashandb"/>
                </driver>
            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
                class="org.jkiss.dbeaver.ext.yashandb.data.YashanDBValueHandlerProvider"
                description="YashanDB data types provider"
                id="org.jkiss.dbeaver.ext.yashandb.data.YashanDBValueHandlerProvider"
                label="YashanDB data types provider">
            <datasource id="yashandb"/>
            <type kind="DATETIME"/>
            <type name="TIMESTAMP"/>
            <type name="TIME"/>
            <type kind="CONTENT"/>
            <type name="BIT"/>
            <type kind="BINARY"/>
        </provider>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.model.navigator.DBNNode" class="org.jkiss.dbeaver.ext.yashandb.model.YashanDBObjectAdapter">
            <adapter type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchedulerJob"/>
        </factory>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBTableManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTable"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBViewManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBView"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBConstraintManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableConstraint"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBIndexManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableIndex"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBPartitionManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTablePartition"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBDataTypeManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataType"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBTableColumnManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableColumn"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBForeignKeyManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableForeignKey"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBTableTriggerManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBSequenceManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSequence"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBSchemaManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchema"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBProcedureManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBProcedureStandalone"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBPackageManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPackage"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBMaterializedViewManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBMaterializedView"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBUserProfileManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBUserProfile"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBDBLinkManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDBLink"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBSchedulerJobManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchedulerJob"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBSynonymManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSynonym"/>

    </extension>

    <extension point="org.jkiss.dbeaver.sqlInsertMethod">
        <method id="yashandbInsertIgnore" class="org.jkiss.dbeaver.ext.yashandb.model.YashanDBInsertReplaceMethodIgnore"
                label="INSERT IGNORE ROW INDEX" description="Insert ignore duplicate key value"/>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="yashandb" parent="basic" class="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSQLDialect"
                 label="YashanDB" description="YashanDB SQL dialect." icon="icons/yashandb_icon.png">
            <property name="insertMethods" value="yashandbInsertIgnore"/>
        </dialect>
    </extension>


    <extension point="org.jkiss.dbeaver.task">
        <category id="yashandb" name="YashanDB" description="YashanDB database task" icon="icons/yashandb_icon.png"/>
        <category id="yashandbTool" parent="yashandb" name="Tools" description="YashanDB database tools"
                  icon="icons/yashandb_icon.png"/>
        <task id="yashandbToolTableTruncate" name=" Truncate Table"
              description="Truncate Table"
              icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.png" type="yashandbTool"
              handler="org.jkiss.dbeaver.ext.yashandb.tasks.YashanDBToolTableTruncate">
            <datasource id="yashandb"/>
            <objectType name="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableBase"/>
        </task>

        <task id="yashandbToolViewUpdate" name="Update view"
              description="Update view"
              icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.png" type="yashandbTool"
              handler="org.jkiss.dbeaver.ext.yashandb.tasks.YashanDBToolViewUpdate">
            <datasource id="yashandb"/>
            <objectType name="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableBase"/>
        </task>

        <task id="yashandbToolIndexRebuild" name="Rebuild index"
              description="rebuild index"
              icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.png" type="yashandbTool"
              handler="org.jkiss.dbeaver.ext.yashandb.tasks.YashanDBToolIndexRebuild">
            <datasource id="yashandb"/>
            <objectType name="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableIndex"/>
        </task>
    </extension>
</plugin>
