<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2020 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor id="mysql.source.view" class="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLSourceViewEditor"
                label="%editor.source.name" description="%editor.source.name" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLView"/>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTrigger"/>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLEvent"/>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure"/>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLPackage"/>
        </editor>
        <editor id="mysql.package.body.view" class="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLPackageBodyEditor"
                label="%editor.package.body.name" description="%editor.package.body.description" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLPackage"/>
        </editor>
        <editor id="mysql.source.ddl" class="org.jkiss.dbeaver.ui.editors.sql.SQLSourceViewer"
                label="DDL" description="DDL" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
        </editor>
        <editor
            id="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLUserEditorGeneral"
            class="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLUserEditorGeneral"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLUser"
            main="true"
            label="%editor.general.name"
            description="General user settings"
            icon="#user">
        </editor>
        <editor
            id="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLUserEditorPrivileges"
            class="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLUserEditorPrivileges"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLUser"
            main="false"
            label="%editor.schema_privileges.name"
            description="Schema user privileges"
            position="additions_start"
            icon="#user">
        </editor>

        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLCatalogConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLConstraintConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTableConstraint"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLForeignKeyConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTableForeignKey"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLIndexConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTableIndex"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLProcedureConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLTriggerConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTrigger"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLTableColumnConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTableColumn"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLEventConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLEvent"/>
        </configurator>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <!-- User manager is declared in UI module because it has custom UI -->
        <manager class="org.jkiss.dbeaver.ext.mysql.ui.config.MySQLUserManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLUser"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <editorContribution editorId="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLSessionEditor" category="connectionEditor" label="%editor.session_manager.name" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.png">
            <supports dataSource="mysql"/>
        </editorContribution>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
            id="org.jkiss.dbeaver.ext.mysql.dataSourceWizardView"
            dataSource="mysql"
            targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
            label="%dialog.connection.header"
            class="org.jkiss.dbeaver.ext.mysql.ui.views.MySQLConnectionPage"
            icon="icons/mysql_icon.png">
        </view>
        <view
            id="org.jkiss.dbeaver.ext.mysql.dataSourceEditorView"
            dataSource="mysql"
            targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
            label="%dialog.connection.header"
            class="org.jkiss.dbeaver.ext.mysql.ui.views.MySQLConnectionPage">
        </view>
    </extension>

    <extension point="org.jkiss.dbeaver.dataManager">
        <manager class="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLEnumValueManager" id="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLEnumValueManager">
            <supports dataSource="mysql" typeName="ENUM"/>
            <supports dataSource="mysql" typeName="SET"/>
        </manager>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            name="%editor.session_manager.name"
            icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.png"
            class="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLSessionEditor"
            id="org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLSessionEditor"
            contributorClass="org.jkiss.dbeaver.ui.editors.EditorSearchActionsContributor">
        </editor>
    </extension>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <toolGroup
                id="org.jkiss.dbeaver.ext.mysql.tools.maintenance"
                label="Table Maintenance"
                icon="#tools"/>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.MySQLToolExport"
                description="Export database"
                id="org.jkiss.dbeaver.ext.mysql.tools.MySQLToolExport"
                label="Dump database"
                icon="#export"
                singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog"/>
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTableBase"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.MySQLToolImport"
                description="Import database"
                id="org.jkiss.dbeaver.ext.mysql.tools.MySQLToolImport"
                label="Restore database"
                icon="#import"
                singleton="true">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.MySQLToolScript"
                description="Execute script with native client"
                id="org.jkiss.dbeaver.ext.mysql.tools.MySQLToolScript"
                label="Execute script"
                singleton="true">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolAnalyse"
                description="Analyse table(s)"
                id="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolAnalyse"
                group="org.jkiss.dbeaver.ext.mysql.tools.maintenance"
                label="Analyse"
                singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolCheck"
                description="Check table(s)"
                id="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolCheck"
                group="org.jkiss.dbeaver.ext.mysql.tools.maintenance"
                label="Check"
                singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolOptimize"
                description="Optimize table(s)"
                id="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolOptimize"
                group="org.jkiss.dbeaver.ext.mysql.tools.maintenance"
                label="Optimize"
                singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolRepair"
                description="Repair table(s)"
                id="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolRepair"
                group="org.jkiss.dbeaver.ext.mysql.tools.maintenance"
                label="Repair"
                singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            </tool>
            <tool
                class="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolTruncate"
                description="Truncate table(s)"
                id="org.jkiss.dbeaver.ext.mysql.tools.maintenance.MySQLToolTruncate"
                group="org.jkiss.dbeaver.ext.mysql.tools.maintenance"
                label="Truncate"
                singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            </tool>
        </tools>
    </extension>

    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator class="org.jkiss.dbeaver.ext.mysql.model.net.MySQLSSLHandlerImpl" uiClass="org.jkiss.dbeaver.ext.mysql.ui.views.MySQLSSLConfigurator"/>
    </extension>

    <extension point="org.jkiss.dbeaver.task.ui">
        <configurator type="mysqlDatabaseBackup" class="org.jkiss.dbeaver.ext.mysql.tools.MySQLTaskConfigurator"/>
        <configurator type="mysqlDatabaseRestore" class="org.jkiss.dbeaver.ext.mysql.tools.MySQLTaskConfigurator"/>
        <configurator type="mysqlScriptExecute" class="org.jkiss.dbeaver.ext.mysql.tools.MySQLTaskConfigurator"/>
    </extension>

</plugin>
