<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="org.jkiss.dbeaver.ui.app.config" name="%extension-point.org.jkiss.dbeaver.ui.app.config.name" schema="schema/org.jkiss.dbeaver.ui.app.config.exsd"/>

    <extension point="org.jkiss.dbeaver.ui.app.config">
       <page id="welcome" order="1000" class="org.jkiss.dbeaver.ui.app.config.pages.ProductConfigWelcomePage"/>
       <page id="appearance" order="2000" class="org.jkiss.dbeaver.ui.app.config.pages.ProductConfigAppearancePage"/>
       <page id="features" order="3000" class="org.jkiss.dbeaver.ui.app.config.pages.ProductConfigFeaturesPage"/>
       <page id="finalSteps" order="5000" class="org.jkiss.dbeaver.ui.app.config.pages.ProductConfigFinalStepsPage"/>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
          id="org.jkiss.dbeaver.ui.app.config.showWizard"
          categoryId="org.jkiss.dbeaver.core.util"
          name="Show Product Configuration..."
          description="Show product configuration wizard"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler commandId="org.jkiss.dbeaver.ui.app.config.showWizard" class="org.jkiss.dbeaver.ui.app.config.ProductConfigWizardHandler">
         <enabledWhen>
            <test property="org.jkiss.dbeaver.app.config.isAvailable"/>
         </enabledWhen>
      </handler>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="false" locationURI="menu:help?after=additions">
         <command commandId="org.jkiss.dbeaver.ui.app.config.showWizard">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>

</plugin>
