<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.jkiss.dbeaver.resources">
		<resource name="drivers/ucanaccess/LICENSE.txt"/>
		<resource name="drivers/ucanaccess/ucanaccess-2.0.1.jar"/>
		<resource name="drivers/ucanaccess/commons-lang-2.6.jar"/>
		<resource name="drivers/ucanaccess/hsqldb.jar"/>
		<resource name="drivers/ucanaccess/jackcess-2.0.1.jar"/>
	</extension>
</plugin>