<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.jkiss.dbeaver.resources">
		<resource name="drivers/ucanaccess/LICENSE.txt"/>
		<resource name="drivers/ucanaccess/ucanaccess-0.1.1.jar"/>
		<resource name="drivers/ucanaccess/commons-lang-2.4.jar"/>
		<resource name="drivers/ucanaccess/hsqldb.jar"/>
		<resource name="drivers/ucanaccess/jackcess-1.2.10.jar"/>
	</extension>
</plugin>