<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2011, Serge Rieder and others. All Rights Reserved.
  -->

<plugin>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="DBeaver"
            id="org.jkiss.dbeaver.ext.oracle">
        </category>
    </extension>
    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts.xml">
        </contexts>
    </extension>
    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.oracle.OracleDataSourceProvider"
              description="Oracle connector"
              icon="icons/oracle_icon.png"
              id="oracle"
              label="Oracle">
            <tree
                  icon="icons/oracle_icon.png"
                  label="Oracle data source"
                  path="oracle">
                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSchema" label="Schemas" iconId="#folder_schema" description="Database schemas">
                    <items label="Schema" path="schema" property="schemas" iconId="#schema" optional="true">
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTable" label="Tables" iconId="#folder_table" description="Tables">
                            <items label="Table" path="table" property="tables" iconId="#table">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="Columns" iconId="#columns" description="Table columns">
                                    <items label="Column" path="column" property="columns" iconId="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleConstraint" label="Constraints" iconId="#constraints" description="Table constraints">
                                    <items label="Constraint" path="constraint" property="constraints" iconId="#unique-key">
                                        <items label="Constraint columns" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleForeignKey" label="Foreign Keys" iconId="#foreign-keys" description="Table foreign keys">
                                    <items label="Foreign Key" path="foreignKey" property="foreignKeys" iconId="#foreign-key">
                                        <items label="Foreign key columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="References" iconId="#references" description="Table references">
                                    <items label="Reference Key" path="referenceKey" property="references" iconId="#reference">
                                        <items label="Reference key columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                                    <items label="Trigger" path="trigger" property="triggers" iconId="#trigger">
                                        <items label="Columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleIndex" label="Indexes" iconId="#indexes" description="Table indexes">
                                    <items label="Index" path="index" property="indexes" iconId="#index">
                                        <items label="Index columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePartitionBase" label="Partitions" iconId="#partitions" description="Table partitions">
                                    <items label="Partition" path="partition" property="partitions" iconId="#partition">
                                        <items label="Subpartitions" itemLabel="Subpartition" path="subpartition" property="subPartitions" navigable="false" inline="true" visibleIf="object.hasSubPartitions()">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleView" label="Views" iconId="#folder_view" description="Views">
                            <items label="View" path="view" property="views" iconId="#view">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="Columns" iconId="#columns" description="View columns">
                                    <items label="Columns" itemLabel="Column" path="column" property="columns" iconId="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleConstraint" label="Constraints" iconId="#constraints" description="View constraints">
                                    <items label="Constraint" path="constraint" property="constraints" iconId="#unique-key">
                                        <items label="Constraint columns" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                                    <items label="Trigger" path="trigger" property="triggers" iconId="#trigger">
                                        <items label="Columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView" label="Materialized Views" iconId="#folder_view" description="Materialized Views">
                            <items label="Materialized View" path="view" property="materializedViews" iconId="#view">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="Columns" iconId="#columns" description="View columns">
                                    <items label="Columns" itemLabel="Column" path="column" property="columns" iconId="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleConstraint" label="Constraints" iconId="#constraints" description="Materialized view constraints">
                                    <items label="Constraint" path="constraint" property="constraints" iconId="#unique-key">
                                        <items label="Constraint columns" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleIndex" label="Indexes" iconId="#indexes" description="Table indexes">
                                    <items label="Index" path="index" property="indexes" iconId="#index">
                                        <items label="Index columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSequence" label="Sequences" iconId="#sequences" description="Sequences">
                            <items label="Sequence" path="sequence" property="sequences" iconId="#sequence">
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" label="Types" iconId="#data_types" description="Types">
                            <items label="Type" path="type" property="dataTypes" iconId="#data_type">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataTypeAttribute" label="Attributes" iconId="#attributes" description="Type attributes" visibleIf="object.hasAttributes()">
                                    <items label="Attribute" path="attribute" property="attributes" iconId="#attribute"/>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataTypeMethod" label="Methods" iconId="#procedures" description="Type methods" visibleIf="object.hasMethods()">
                                    <items label="Method" path="method" property="methods" iconId="#procedure">
                                        <items label="Arguments" itemLabel="Argument" path="parameter" property="parameters" iconId="#argument" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePackage" label="Packages" iconId="#packages" description="Packages">
                            <items label="Package" path="package" property="packages" iconId="#package">
                                <items label="Procedures" itemLabel="Procedure" path="procedure" property="procedures" iconId="#procedure" id="Procedure">
                                    <items label="Arguments" itemLabel="Argument" path="argument" property="columns" iconId="#argument" navigable="false" inline="false">
                                        <items label="Attributes" itemLabel="Attribute" path="attribute" property="attributes" iconId="#attribute" navigable="false" inline="true" id="ProcedureArgumentAttributes" visibleIf="object.hasAttributes()">
                                            <items ref="ProcedureArgumentAttributes"/>
                                        </items>
                                    </items>
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone" label="Procedures" iconId="#procedures" description="Procedures">
                            <items ref="Procedure"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSynonym" label="Synonyms" iconId="#synonyms" description="Synonyms">
                            <items label="Synonym" path="synonym" property="synonyms" iconId="#synonym"/>
                        </folder>

                        <!--folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Indexes">
                            <items label="Index" path="index" property="indexes" iconId="#index">
                                <items label="Index columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                </items>
                            </items>
                        </folder!-->
                        <folder type="org.jkiss.dbeaver.model.struct.DBSTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                            <items label="Trigger" path="trigger" property="triggers" iconId="#trigger">
                                <items label="Columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="false">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDBLink" label="Database Links" iconId="#links" description="Database Links (DBLinks)">
                            <items label="Database Link" path="databaseLink" property="databaseLinks" iconId="#link"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleJavaClass" label="Java" iconId="#java" description="Java Classes">
                            <items label="Java Class" path="class" property="javaClasses" iconId="#javaClass"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="Recycle Bin" iconId="#recycle_bin" description="Recycle Bin" visibleIf="object.dataSource.admin">
                            <items label="Recycled Object" path="object" property="recycledObjects" iconId="#recycle_bin"/>
                        </folder>
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="Global metadata" iconId="#logical" description="Global metadata objects">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" label="Types" iconId="#data_types" description="Types">
                        <items label="Data Type" path="type" property="dataTypes" iconId="#data_type"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSynonym" label="Public Synonyms" iconId="#synonyms" description="Public synonyms">
                        <items label="Synonym" path="synonym" property="publicSynonyms" iconId="#synonym"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDBLink" label="Public Database Links" iconId="#links" description="Public database links">
                        <items label="Database Link" path="databaseLink" property="publicDatabaseLinks" iconId="#link"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="User Recycle Bin" iconId="#recycle_bin" description="Current user's recycle bin">
                        <items label="Recycled Object" path="object" property="userRecycledObjects" iconId="#recycle_bin"/>
                    </folder>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="Storage" iconId="#storage" description="Storage management">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTablespace" label="Tablespaces" iconId="#tablespaces" description="Tablespaces">
                        <items label="Tablespace" path="tablespace" property="tablespaces" iconId="#tablespace">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataFile" label="Files" iconId="#files" description="Data Files">
                                <items label="File" path="file" property="files" iconId="#file"/>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSegment" label="Objects" iconId="#segments" description="Objects (segments)">
                                <items label="Segment" path="segment" property="segments" iconId="#segment"/>
                            </folder>
                        </items>
                    </folder>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="Security" iconId="#security" description="Security management" visibleIf="object.dataSource.admin">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleUser" label="Users" iconId="#folder_user" description="Users">
                        <items label="User" path="users" property="users" iconId="#user">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivRole" label="Roles" iconId="#folder_role" description="User roles" navigable="false">
                                <items label="Role" path="roles" property="rolePrivs" iconId="#role">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivSystem" label="System Privileges" iconId="#folder_privilege" description="System Privileges" navigable="false">
                                <items label="Privilege" path="sysPrivs" property="systemPrivs" iconId="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivObject" label="Objects" iconId="#folder_privilege" description="Objects" navigable="false">
                                <items label="Privilege" path="objectPriv" property="objectPrivs" iconId="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRole" label="Roles" iconId="#folder_role" description="Roles">
                        <items label="Role" path="roles" property="roles" iconId="#role">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivRole" label="Roles" iconId="#folder_role" description="Roles" navigable="false">
                                <items label="Role" path="roles" property="rolePrivs" iconId="#role">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivSystem" label="System Privileges" iconId="#folder_privilege" description="System Privileges" navigable="false">
                                <items label="Privilege" path="sysPrivs" property="systemPrivs" iconId="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivObject" label="Objects" iconId="#folder_privilege" description="Objects" navigable="false">
                                <items label="Privilege" path="objectPriv" property="objectPrivs" iconId="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleUserProfile" label="Profiles" iconId="#folder_profile" description="User profiles">
                        <items label="Profile" path="profiles" property="profiles" iconId="#profile">
                            <items label="Resource" path="resource" property="resources" iconId="#resource"/>
                        </items>
                    </folder>
                </folder>
                <folder type="" label="Administer" iconId="#folder_admin" description="Maintenance/Settings" visibleIf="object.dataSource.admin">
                    <object type="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor" label="Sessions" iconId="#admin" description="Server session manager" editor="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor"/>
                    <!--folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="Global Recycle Bin" iconId="#recycle_bin" description="Global recycle bin" visibleIf="object.dataSource.admin">
                        <items label="Recycled Object" path="object" property="adminRecycleBin" iconId="#recycle_bin"/>
                    </folder-->
                </folder>

            </tree>
            <drivers managable="false">
                <driver
                    id="oracle"
                    label="Oracle"
                    class="oracle.jdbc.OracleDriver"
                    description="Oracle obsolete driver. Use Thin or OCI driver.">
                </driver>
                <driver
                    id="oracle_thin"
                    label="Oracle Thin"
                    class="oracle.jdbc.OracleDriver"
                    sampleURL="jdbc:oracle:thin:@{host}[:{port}]/{database}"
                    defaultPort="1521"
                    webURL="http://www.oracle.com/technetwork/database/features/jdbc/"
                    description="Oracle thin driver. Doesn't require Oracle client.">
                    <file type="jar" path="drivers/oracle/ojdbc6.jar" url="http://dbeaver.jkiss.org/files/jdbc/drivers/oracle/ojdbc6.jar"/>
                    <file type="jar" path="drivers/oracle/orai18n.jar" url="http://dbeaver.jkiss.org/files/jdbc/drivers/oracle/orai18n.jar"/>
                    <file type="jar" path="drivers/oracle/xdb.jar" url="http://dbeaver.jkiss.org/files/jdbc/drivers/oracle/xdb.jar"/>
                    <file type="jar" path="drivers/oracle/xmlparserv2.jar" url="http://dbeaver.jkiss.org/files/jdbc/drivers/oracle/xmlparserv2.jar"/>
                    <file type="license" path="drivers/oracle/LICENSE.txt" url="http://dbeaver.jkiss.org/files/jdbc/drivers/oracle/LICENSE.txt"/>
                    <replace provider="generic" driver="oracle"/>
                    <replace provider="oracle" driver="oracle"/>
                </driver>
            </drivers>
            <views>
                <view
                    id="org.jkiss.dbeaver.ext.oracle.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="Oracle Connection Settings"
                    class="org.jkiss.dbeaver.ext.oracle.views.OracleConnectionPage"
                    icon="icons/oracle_icon.png">
                </view>
                <view
                    id="org.jkiss.dbeaver.ext.oracle.dataSourceEditorView"
                    targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                    label="Oracle Connection Settings"
                    class="org.jkiss.dbeaver.ext.oracle.views.OracleConnectionPage">
                </view>
            </views>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleDataTypeManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleDataType"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleSchemaManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleSchema"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleTableManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleTableColumnManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleConstraintManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleConstraint"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleForeignKeyManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleForeignKey"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleIndexManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleIndex"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleViewManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleView"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleMaterializedViewManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleProcedureManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OraclePackageManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleTriggerManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTrigger"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
            class="org.jkiss.dbeaver.ext.oracle.data.OracleValueHandlerProvider"
            description="Oracle data types provider"
            id="org.jkiss.dbeaver.ext.oracle.data.OracleValueHandlerProvider"
            label="Oracle data types provider">

            <datasource id="oracle"/>

            <type name="XMLTYPE"/>
            <type name="SYS.XMLTYPE"/>
            <!--type standard="STRUCT"/-->

        </provider>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            name="Session Manager"
            icon="icons/sessions.png"
            class="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor"
            id="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor">
        </editor>
    </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
    </extension>

</plugin>
