<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2018 Serge Rider (serge@jkiss.org)
 * Copyright (C) 2017-2018 Alexander Fedorov (alexander.fedorov@jkiss.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->
<plugin>

    <extension point="org.jkiss.dbeaver.debug.ui.configurationPanels">
        <panel id="org.jkiss.dbeaver.ext.postgresql.debug.functionPanel"
               name="Function"
               description="PL/pgSQL function"
               class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PostgreDebugPanelFunction">
            <datasource id="postgresql"/>
        </panel>
    </extension>

    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
                category="org.jkiss.dbeaver.ext.postgresql.debug.ui.pgSQL"
                class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PgSqlGlobalLaunchShortcut"
                description="%launchShortcuts.shortcut.pgSQL.global.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
                id="org.jkiss.dbeaver.ext.postgresql.debug.ui.launchShortcuts.shortcut.pgSQL.local"
                label="%launchShortcuts.shortcut.pgSQL.global.label"
                modes="debug">
            <configurationType id="org.jkiss.dbeaver.ext.postgresql.debug.core.pgSQL"/>
            <contextualLaunch>
                <contextLabel label="%launchShortcuts.shortcut.pgSQL.global.label" mode="debug">
                </contextLabel>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate ifEmpty="false" operator="and">
                            <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                                <instanceof value="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure"/>
                            </adapt>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
        <shortcut
                category="org.jkiss.dbeaver.ext.postgresql.debug.ui.pgSQL"
                class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PgSqlLocalLaunchShortcut"
                description="%launchShortcuts.shortcut.pgSQL.local.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
                id="org.jkiss.dbeaver.ext.postgresql.debug.ui.launchShortcuts.shortcut.pgSQL.local"
                label="%launchShortcuts.shortcut.pgSQL.local.label"
                modes="debug">
            <configurationType id="org.jkiss.dbeaver.ext.postgresql.debug.core.pgSQL"/>
            <contextualLaunch>
                <contextLabel label="%launchShortcuts.shortcut.pgSQL.local.label" mode="debug"/>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate ifEmpty="false" operator="and">
                            <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                                <instanceof value="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure"/>
                            </adapt>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>

    <extension point="org.eclipse.debug.ui.launchGroups">
        <launchGroup
                bannerImage="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
                category="org.jkiss.dbeaver.ext.postgresql.debug.ui.pgSQL"
                id="org.jkiss.dbeaver.ext.postgresql.debug.ui.launchGroups.launchGroup.pgSQL"
                image="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
                label="%launchGroups.launchGroup.pgSQL.label"
                mode="debug"
                title="%launchGroups.launchGroup.pgSQL.title">
        </launchGroup>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSourceViewEditor" class="org.jkiss.dbeaver.debug.ui.actions.DebugActionAdapterFactory">
            <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
        </factory>
        <factory adaptableType="org.jkiss.dbeaver.model.DBPDataSourceContainer" class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PostgreDebugUIAdapterFactory">
            <adapter type="org.jkiss.dbeaver.debug.ui.DBGEditorAdvisor"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.editorActions">
        <editorContribution id="org.jkiss.dbeaver.debug.ui.editorContribution" targetID="postgresql.source.view">
            <action
                    actionID="RulerDoubleClick"
                    class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
                    icon="platform:/plugin/org.eclipse.debug.ui/$nl$/icons/full/obj16/brkp_obj.png"
                    id="org.jkiss.dbeaver.debug.ui.actions.ManageBreakpointRulerAction"
                    label="%actions.ManageBreakpointRulerAction.label"
                    style="push">
            </action>
        </editorContribution>
    </extension>

    <!-- it should be done undeprecated way if org.eclipse.debug will follow it ever
       <extension
             point="org.eclipse.ui.menus">
          <menuContribution
                allPopups="false"
                class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PgSqlDebugContributionFactory"
                locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          </menuContribution>
       </extension>
    -->

    <extension point="org.eclipse.ui.actionSets">
        <actionSet label="%actionSets.actionSet.pgSQL.label" visible="true" id="org.jkiss.dbeaver.ext.postgresql.debug.ui.actionSets.actionSet.pgSQL">
            <menu label="%actionSets.actionSet.menu.debug.label" path="additions" id="org.eclipse.ui.debug">
                <separator name="pgSQLGroup"/>
            </menu>
<!--
            <action
                    label="%actionSets.action.pgSQLMenu.label"
                    style="pulldown"
                    icon="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
                    class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PgSqlMenuDelegate"
                    menubarPath="org.eclipse.ui.debug/pgSQLGroup"
                    id="org.jkiss.dbeaver.ext.postgresql.debug.ui.actionSets.action.pgSQLMenu">
            </action>
            <action
                    definitionId="org.jkiss.dbeaver.ext.postgresql.debug.ui.commands.command.pgSQLMenuDelegateToolbar"
                    label="%actionSets.action.pgSQLToolbar.label"
                    style="pulldown"
                    icon="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
                    tooltip="%actionSets.action.pgSQLToolbar.tooltip"
                    class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PgSqlMenuDelegate"
                    toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
                    id="org.jkiss.dbeaver.ext.postgresql.debug.ui.actionSets.action.pgSQLToolbar">
            </action>
-->
            <action
                    definitionId="org.jkiss.dbeaver.ext.postgresql.debug.ui.commands.command.pgSQLConfigurations"
                    label="%actionSets.action.pgSQLConfigurations.label"
                    class="org.jkiss.dbeaver.ext.postgresql.debug.ui.internal.PgSqlOpenLaunchDialogAction"
                    id="org.jkiss.dbeaver.ext.postgresql.debug.ui.actionSets.action.pgSQLConfigurations">
            </action>
        </actionSet>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command
                name="%commands.command.pgSQLMenuDelegateToolbar.name"
                description="%commands.command.pgSQLMenuDelegateToolbar.description"
                categoryId="org.jkiss.dbeaver.debug.ui.commands.category.procedure"
                id="org.jkiss.dbeaver.ext.postgresql.debug.ui.commands.command.pgSQLMenuDelegateToolbar">
        </command>
        <command
                name="%commands.command.pgSQLConfigurations.name"
                categoryId="org.jkiss.dbeaver.debug.ui.commands.category.procedure"
                description="%commands.command.pgSQLConfigurations.description"
                id="org.jkiss.dbeaver.ext.postgresql.debug.ui.commands.command.pgSQLConfigurations">
        </command>
    </extension>

</plugin>
