<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.dataManager">
        <streamManager class="org.jkiss.dbeaver.ui.data.managers.image.ImageStreamValueManager" id="image" label="Image" primaryMime="octet/image"
                       description="Image viewer" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/types/image.png"/>
    </extension>

</plugin>
