<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.dataManager">
        <streamManager class="org.jkiss.dbeaver.ui.data.managers.image.ImageStreamValueManager" id="image" commandId="org.jkiss.dbeaver.core.stream.image" primaryMime="octet/image"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.core.stream.image" name="Image" description="Image Viewer" categoryId="org.jkiss.dbeaver.core.sql"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.core.stream.image" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/types/image.png"/>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key commandId="org.jkiss.dbeaver.core.stream.image" contextId="org.jkiss.dbeaver.ui.context.resultset" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+SHIFT+I"/>
    </extension>
</plugin>
