<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.mssql.dataSourceWizardView"
                dataSource="sqlserver,mssql"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%sqlserver.dialog.connection.header"
                class="org.jkiss.dbeaver.ext.mssql.ui.SQLServerConnectionPage"
                icon="icons/database.png">
        </view>
        <view
                class="org.jkiss.dbeaver.ext.mssql.ui.SQLServerConnectionPage"
                icon="icons/database.png"
                id="org.jkiss.dbeaver.ext.mssql.dataSourceEditorView"
                dataSource="sqlserver,mssql"
                label="%sqlserver.dialog.connection.header"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
        </view>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerTableManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTable"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerTableColumnManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableColumn"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerUniqueKeyManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableUniqueKey"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerForeignKeyManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableForeignKey"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerIndexManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableIndex"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerCheckConstraintManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableCheckConstraint"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerTableTriggerManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableTrigger"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerProcedureManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerProcedure"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.SQLServerViewManager" objectType="org.jkiss.dbeaver.ext.mssql.model.SQLServerView"/>

        <manager class="org.jkiss.dbeaver.ext.mssql.edit.generic.SQLServerGenericProcedureManager" objectType="org.jkiss.dbeaver.ext.mssql.model.generic.SQLServerGenericProcedure"/>
        <manager class="org.jkiss.dbeaver.ext.mssql.edit.generic.SQLServerGenericTriggerManager" objectType="org.jkiss.dbeaver.ext.mssql.model.generic.SQLServerGenericTrigger"/>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
                id="mssql.table.ddl.view"
                class="org.jkiss.dbeaver.ext.mssql.ui.editors.SQLServerSourceViewEditor"
                main="false"
                label="DDL"
                description="DDL"
                position="additions_end"
                icon="#sql_text"
                type="folder">
            <objectType name="org.jkiss.dbeaver.ext.mssql.model.SQLServerTable"/>
        </editor>
        <editor
                id="mssql.view.source.view"
                class="org.jkiss.dbeaver.ext.mssql.ui.editors.SQLServerSourceViewEditor"
                main="false"
                label="Definition"
                description="View definition"
                position="additions_end"
                icon="#sql_text"
                type="folder"
                embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.mssql.model.SQLServerView"/>
        </editor>
        <editor id="mssql.source.view" class="org.jkiss.dbeaver.ext.mssql.ui.editors.SQLServerSourceViewEditor"
                label="%editor.source.name" description="%editor.source.description" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.mssql.model.SQLServerProcedure"/>
            <objectType name="org.jkiss.dbeaver.ext.mssql.model.SQLServerTableTrigger"/>
            <objectType name="org.jkiss.dbeaver.ext.mssql.model.SQLServerDatabaseTrigger"/>
            <objectType name="org.jkiss.dbeaver.ext.mssql.model.SQLServerDatabaseTrigger"/>
        </editor>
    </extension>

</plugin>
