<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.datadam.commands.category" name="%command.datadam.category.name"/>
        <command
            categoryId="org.jkiss.dbeaver.datadam.commands.category"
            id="org.jkiss.dbeaver.datadam.commands.project.share"
            name="%command.datadam.project.share.name"/>
        <command
            categoryId="org.jkiss.dbeaver.datadam.commands.category"
            id="org.jkiss.dbeaver.datadam.commands.project.update"
            name="%command.datadam.project.update.name"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image
            commandId="org.jkiss.dbeaver.datadam.commands.project.share"
            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sync_connection.svg"/>
        <image
            commandId="org.jkiss.dbeaver.datadam.commands.project.update"
            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/refresh.svg"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
            class="org.jkiss.dbeaver.ui.datadam.project.handler.DDProjectShareHandler"
            commandId="org.jkiss.dbeaver.datadam.commands.project.share"/>
        <handler
            class="org.jkiss.dbeaver.ui.datadam.project.handler.DDProjectUpdateHandler"
            commandId="org.jkiss.dbeaver.datadam.commands.project.update"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=tools">
            <command commandId="org.jkiss.dbeaver.datadam.commands.project.share">
                <visibleWhen>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and">
                            <adapt type="org.jkiss.dbeaver.model.navigator.DBNProject"/>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
            <command commandId="org.jkiss.dbeaver.datadam.commands.project.update">
                <visibleWhen>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and">
                            <adapt type="org.jkiss.dbeaver.model.navigator.DBNProject"/>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator class="org.jkiss.dbeaver.model.datadam.DDAIEngine" uiClass="org.jkiss.dbeaver.ui.datadam.DDConfigurator"/>
    </extension>

    <extension point="org.jkiss.dbeaver.workbenchHandler">
        <workbenchWindowInitializer class="org.jkiss.dbeaver.ui.datadam.DDTrackingInitializer" order="100"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.eclipse.ui.preferencePages.Workbench"
              id="org.jkiss.dbeaver.preferences.synchronization"
              class="org.jkiss.dbeaver.ui.datadam.DDSyncPreferencePage"
              name="Synchronization">
            <keywordReference id="org.jkiss.dbeaver.ui.datadam.keyword.pref.synchronization"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.keywords">
        <keyword id="org.jkiss.dbeaver.ui.datadam.keyword.pref.synchronization" label="%keyword.org.jkiss.dbeaver.ui.datadam.keyword.pref.synchronization.label"/>
    </extension>
</plugin>
