<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2017 Serge Rider (serge@jkiss.org)
 * Copyright (C) 2017 Andrew Khitrin (ahitrin@gmail.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.oracle.OracleDataSourceProvider"
              description="Oracle connector"
              icon="icons/oracle_icon.png"
              id="oracle"
              label="Oracle">
            <tree
                  icon="icons/oracle_icon.png"
                  label="Oracle data source"
                  path="oracle">
                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSchema" label="%tree.schemas.node.name" icon="#folder_schema" description="Database schemas">
                    <items label="%tree.schema.node.name" path="schema" property="schemas" icon="#schema">
                        <icon if="object.system" icon="#schema_system"/>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTable" label="%tree.tables.node.name" icon="#folder_table" description="Tables">
                            <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    <items label="%tree.column.node.name" path="column" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="Table constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
                                        <items label="%tree.constraint_columns.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="Table foreign keys">
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTableForeignKey" label="%tree.references.node.name" icon="#references" description="Table references" virtual="true">
                                    <items label="%tree.reference_key.node.name" path="referenceKey" property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                                        <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Table indexes">
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePartitionBase" label="%tree.partitions.node.name" icon="#partitions" description="Table partitions">
                                    <items label="%tree.partition.node.name" path="partition" property="partitions" icon="#partition">
                                        <items label="%tree.subpartitions.node.name" itemLabel="%tree.subpartition.node.name" path="subpartition" property="subPartitions" navigable="false" inline="true" visibleIf="object.hasSubPartitions()">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivTable" label="%tree.table_privileges.node.name" icon="#permissions" description="Table Privileges" navigable="false">
                                    <items label="%tree.privilege.node.name" path="tablePrivs" property="tablePrivs" icon="#privilege">
                                    </items>
                                </folder>

                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleView" label="%tree.views.node.name" icon="#folder_view" description="Views">
                            <items label="%tree.view.node.name" path="view" property="views" icon="#view">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
                                    <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="View constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
                                        <items label="%tree.constraint.node.name columns" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                                        <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivTable" label="%tree.table_privileges.node.name" icon="#permissions" description="View Privileges" navigable="false">
                                    <items label="%tree.privilege.node.name" path="tablePrivs" property="tablePrivs" icon="#privilege">
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView" label="%tree.materialized_views.node.name" icon="#folder_view" description="Materialized Views">
                            <items label="%tree.materialized_view.node.name" path="view" property="materializedViews" icon="#view">
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSequence" label="%tree.sequences.node.name" icon="#sequences" description="Sequences">
                            <items label="%tree.sequence.node.name" path="sequence" property="sequences" icon="#sequence">
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleQueue" label="%tree.queues.node.name" description="Queues">
                            <items label="%tree.queue.node.name" path="queues" property="queues">
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" label="%tree.types.node.name" icon="#data_types" description="Types">
                            <items label="%tree.type.node.name" path="type" property="dataTypes" icon="#data_type">
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataTypeAttribute" label="%tree.attributes.node.name" icon="#attributes" description="Type attributes" visibleIf="object.hasAttributes()">
                                    <items label="%tree.attribute.node.name" path="attribute" property="attributes" icon="#attribute"/>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataTypeMethod" label="%tree.methods.node.name" icon="#procedures" description="Type methods" visibleIf="object.hasMethods()">
                                    <items label="%tree.method.node.name" path="method" property="methods" icon="#procedure">
                                        <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="parameter" property="parameters" icon="#argument" navigable="false" inline="false">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePackage" label="%tree.packages.node.name" icon="#packages" description="Packages">
                            <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
                                <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure" visibleIf="object.dataSource.isAtLeastV10()">
                                    <handler action="open" command="org.jkiss.dbeaver.ext.oracle.code.package.navigate"/>
                                    <!-- Proc arguments. Not inline because arguments reading is expensive -->
                                    <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="argument" property="parameters" icon="#argument" navigable="false" inline="false">
                                        <items label="%tree.attributes.node.name" itemLabel="%tree.attribute.node.name" path="attribute" property="attributes" icon="#attribute" navigable="false" inline="true" id="ProcedureArgumentAttributes" visibleIf="object.hasAttributes()">
                                            <items ref="ProcedureArgumentAttributes"/>
                                        </items>
                                    </items>
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone" label="%tree.procedures.node.name" icon="#procedures" description="Procedures">
                            <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure" id="Procedure">
                                <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="argument" property="parameters" icon="#argument" navigable="false" inline="false">
                                    <items ref="ProcedureArgumentAttributes"/>
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSynonym" label="%tree.synonyms.node.name" icon="#synonyms" description="Synonyms">
                            <items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSchemaTrigger" label="%tree.schema.triggers.node.name" icon="#triggers" description="Schema and database level triggers">
                            <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableTrigger" label="%tree.table.triggers.node.name" icon="#triggers" description="Table triggers">
                            <items label="%tree.table.trigger.node.name" path="tabletrigger" property="tableTriggers" icon="#trigger">
                                <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDBLink" label="%tree.database_links.node.name" icon="#folder_link" description="Database Links (DBLinks)">
                            <items label="%tree.database_links.node.name" path="databaseLink" property="databaseLinks" icon="#link"/>
                        </folder>
                        <!--folder type="org.jkiss.dbeaver.ext.oracle.model.OracleJavaClass" label="Java" icon="#java" description="Java Classes">
                            <items label="Java Class" path="class" property="javaClasses" icon="#javaClass"/>
                        </folder-->
                        <folder label="%tree.scheduler.node.name" icon="#scheduler_folder" description="Scheduler objects">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob" label="%tree.scheduler.jobs.node.name" icon="#scheduler_job_folder" description="Scheduler jobs">
                                <items label="%tree.scheduler.job.node.name" path="schedulerJob" property="schedulerJobs" icon="icons/scheduled_job.png">
                                    <items label="%tree.scheduler.job.arguments.node.name" itemLabel="%tree.scheduler.job.argument.node.name" path="argument" property="arguments" icon="#argument" navigable="false" inline="false"/>
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerProgram" label="%tree.scheduler.programs.node.name" icon="#scheduler_program_folder" description="Scheduler programs">
                                <items label="%tree.scheduler.program.node.name" path="schedulerProgram" property="schedulerPrograms" icon="icons/scheduled_program.png">
                                    <items label="%tree.scheduler.program.arguments.node.name" itemLabel="%tree.scheduler.program.argument.node.name" path="argument" property="arguments" icon="#argument" navigable="false" inline="false"/>
                                </items>
                            </folder>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="%tree.recycle_bin.node.name" icon="#recycle_bin" description="Recycle Bin" visibleIf="object.dataSource.adminVisible &amp;&amp; object.dataSource.isAtLeastV10()">
                            <items label="%tree.recycled_object.node.name" path="object" property="recycledObjects" icon="#recycle_bin"/>
                        </folder>
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="%tree.global_metadata.node.name" icon="#logical" description="Global metadata objects">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" label="%tree.types.node.name" icon="#data_types" description="Types">
                        <items label="%tree.data_type.node.name" path="type" property="localDataTypes" icon="#data_type"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSynonym" label="%tree.public_synonyms.node.name" icon="#synonyms" description="Public synonyms">
                        <items label="%tree.synonym.node.name" path="synonym" property="publicSynonyms" icon="#synonym"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDBLink" label="%tree.public_database_links.node.name" icon="#links" description="Public database links">
                        <items label="%tree.database_link.node.name" path="databaseLink" property="publicDatabaseLinks" icon="#link"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="%tree.user_recycle_bin.node.name" icon="#recycle_bin" description="Current user's recycle bin">
                        <items label="%tree.recycled_object.node.name" path="object" property="userRecycledObjects" icon="#recycle_bin"/>
                    </folder>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="%tree.storage.node.name" icon="#storage" description="Storage management">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTablespace" label="%tree.tablespaces.node.name" icon="#tablespaces" description="Tablespaces">
                        <items label="%tree.tablespace.node.name" path="tablespace" property="tablespaces" icon="#tablespace">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataFile" label="%tree.files.node.name" icon="#files" description="Data Files">
                                <items label="%tree.file.node.name" path="file" property="files" icon="#file"/>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSegment" label="%tree.objects.node.name" icon="#segments" description="Objects (segments)">
                                <items label="%tree.segment.node.name" path="segment" property="segments" icon="#segment"/>
                            </folder>
                        </items>
                    </folder>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSObject" label="%tree.security.node.name" icon="#security" description="Security management" visibleIf="object.dataSource.adminVisible">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleUser" label="%tree.users.node.name" icon="#folder_user" description="Users">
                        <items label="%tree.user.node.name" path="users" property="users" icon="#user">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivRole" label="%tree.roles.node.name" icon="#folder_role" description="User roles" navigable="false">
                                <items label="%tree.role.node.name" path="roles" property="rolePrivs" icon="#user_group">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivSystem" label="%tree.system_privileges.node.name" icon="#permissions" description="System Privileges" navigable="false">
                                <items label="%tree.privilege.node.name" path="sysPrivs" property="systemPrivs" icon="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivObject" label="%tree.objects.node.name" icon="#permissions" description="Objects" navigable="false">
                                <items label="%tree.privilege.node.name" path="objectPriv" property="objectPrivs" icon="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRole" label="%tree.roles.node.name" icon="#folder_role" description="Roles">
                        <items label="%tree.role.node.name" path="roles" property="roles" icon="#user_group">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivUser" label="%tree.users.node.name" icon="#folder_user" description="Users" navigable="false">
                                <items label="%tree.user.node.name" path="userPrivs" property="userPrivs" icon="#user">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivRole" label="%tree.roles.node.name" icon="#folder_role" description="Roles" navigable="false">
                                <items label="%tree.role.node.name" path="roles" property="rolePrivs" icon="#user_group">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivSystem" label="%tree.system_privileges.node.name" icon="#permissions" description="System Privileges" navigable="false">
                                <items label="%tree.privilege.node.name" path="sysPrivs" property="systemPrivs" icon="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivObject" label="%tree.objects.node.name" icon="#permissions" description="Objects" navigable="false">
                                <items label="%tree.privilege.node.name" path="objectPriv" property="objectPrivs" icon="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleUserProfile" label="%tree.profiles.node.name" icon="#folder_profile" description="User profiles">
                        <items label="%tree.profile.node.name" path="profiles" property="profiles" icon="#profile">
                            <items label="%tree.resource.node.name" path="resource" property="resources" icon="#resource"/>
                        </items>
                    </folder>
                </folder>
                <folder type="" label="%tree.administer.node.name" icon="#folder_admin" description="Maintenance/Settings" visibleIf="object.dataSource.adminVisible">
                    <object type="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor" label="%tree.sessions.node.name" icon="#sessions" description="Server session manager" editor="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor"/>
                    <object type="org.jkiss.dbeaver.ext.oracle.editors.OracleLockEditor" label="%tree.locks.node.name" icon="#locks" description="Server locks manager" editor="org.jkiss.dbeaver.ext.oracle.editors.OracleLockEditor"/>
                    <!--folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="Global Recycle Bin" icon="#recycle_bin" description="Global recycle bin" visibleIf="object.dataSource.admin">
                        <items label="Recycled Object" path="object" property="adminRecycleBin" icon="#recycle_bin"/>
                    </folder-->
                </folder>

            </tree>

            <drivers managable="true">
                <driver
                    id="oracle_thin"
                    label="Oracle"
                    class="oracle.jdbc.OracleDriver"
                    sampleURL="jdbc:oracle:thin:@{host}[:{port}]/{database}"
                    defaultPort="1521"
                    webURL="http://www.oracle.com/technetwork/database/features/jdbc/"
                    description="Oracle thin driver. Doesn't require Oracle client.">
                    <replace provider="generic" driver="oracle"/>
                    <replace provider="oracle" driver="oracle"/>
                    <replace provider="oracle" driver="oracle_oci"/>

                    <property name="loginTimeout" value="20"/>
                    <property name="useFetchSizeWithLongColumn" value="true"/>

                    <fileSource url="http://www.oracle.com/technetwork/apps-tech/jdbc-112010-090769.html" name="Oracle 11g drivers">
                        <file name="ojdbc6.jar" description="JDBC driver"/>
                        <file name="orai18n.jar" optional="true" description="NLS classes"/>
                        <file name="xdb6.jar" optional="true" description="SQLXML support"/>
                    </fileSource>
                    <fileSource url="http://www.oracle.com/technetwork/database/features/jdbc/default-2280470.html" name="Oracle 12g drivers">
                        <file name="ojdbc7.jar" description="JDBC driver"/>
                        <file name="orai18n.jar" optional="true" description="NLS classes"/>
                        <file name="xdb6.jar" optional="true" description="SQLXML support"/>
                    </fileSource>
                    <fileSource url="http://www.oracle.com/technetwork/database/index-100632.html" name="Oracle XML Developers Kit">
                        <file name="xmlparserv2.jar " description="XML Parser"/>
                    </fileSource>

                    <file type="license" path="drivers/oracle/LICENSE.txt" bundle="drivers.oracle"/>
                    <file type="jar" path="drivers/oracle/ojdbc6.jar" bundle="drivers.oracle"/>
                    <file type="jar" path="drivers/oracle/orai18n.jar" bundle="drivers.oracle"/>
                    <file type="jar" path="drivers/oracle/xdb.jar" bundle="drivers.oracle"/>
                    <file type="jar" path="drivers/oracle/xmlparserv2.jar" bundle="drivers.oracle"/>

                </driver>
            </drivers>
            <views>
                <view
                    id="org.jkiss.dbeaver.ext.oracle.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="%dialog.connection.header"
                    class="org.jkiss.dbeaver.ext.oracle.views.OracleConnectionPage"
                    icon="icons/oracle_icon.png">
                </view>
                <view
                    id="org.jkiss.dbeaver.ext.oracle.dataSourceEditorView"
                    targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                    label="%dialog.connection.header"
                    class="org.jkiss.dbeaver.ext.oracle.views.OracleConnectionPage">
                </view>
            </views>
            <templates>
                <resolver type="orauser" class="org.jkiss.dbeaver.ext.oracle.model.resolvers.OracleUserResolver" description="Current Oracle user"/>
            </templates>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor id="source.declaration" class="org.jkiss.dbeaver.ext.oracle.editors.OracleSourceDeclarationEditor"
            label="%editor.package.declaration.name" description="%editor.package.declaration.description" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleView"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" if="!object.predefined"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTrigger"/>
        </editor>
        <editor id="source.definition" class="org.jkiss.dbeaver.ext.oracle.editors.OracleSourceDefinitionEditor"
            label="%editor.package.body.name" description="%editor.package.body.description" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" if="!object.predefined"/>
        </editor>
        <editor id="source.ddl" class="org.jkiss.dbeaver.ext.oracle.editors.OracleObjectDDLEditor"
            label="DDL" description="DDL" icon="#sql_text" position="additions_middle"
            contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
        </editor>
        <editor
                id="org.jkiss.dbeaver.ext.oracle.editors.SchedulerJobLogEditor"
                class="org.jkiss.dbeaver.ext.oracle.editors.SchedulerJobLogEditor"
                objectType="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"
                main="false"
                label="%editor.scheduler.job.log.name"
                description="%editor.scheduler.job.log.description"
                position="additions_start"
                icon="icons/job_log.png">
        </editor>

        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleDataTypeManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleDataType"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleSchemaManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleSchema"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleTableManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleTableColumnManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleForeignKeyManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTableForeignKey"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleConstraintManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleIndexManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleViewManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleView"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleMaterializedViewManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleProcedureManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OraclePackageManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleTableTriggerManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleTableTrigger"/>
        <manager
            class="org.jkiss.dbeaver.ext.oracle.edit.OracleSequenceManager"
            objectType="org.jkiss.dbeaver.ext.oracle.model.OracleSequence"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
            class="org.jkiss.dbeaver.ext.oracle.data.OracleValueHandlerProvider"
            description="Oracle data types provider"
            id="org.jkiss.dbeaver.ext.oracle.data.OracleValueHandlerProvider"
            label="Oracle data types provider">

            <datasource id="oracle"/>

            <type name="XMLTYPE"/>
            <type name="SYS.XMLTYPE"/>
            <type kind="CONTENT"/>
            <type kind="DATETIME"/>
            <type name="TIMESTAMP"/>
            <type name="TIMESTAMP WITH TZ"/>
            <type name="TIMESTAMP WITH LOCAL TZ"/>
            <type name="TIMESTAMP WITH TIME ZONE"/>
            <type name="TIMESTAMP WITH LOCAL TIME ZONE"/>
            <!--type standard="STRUCT"/-->

        </provider>
    </extension>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <toolGroup id="org.jkiss.dbeaver.ext.oracle.tools.maintenance" label="Statistics"/>
            <tool
                    class="org.jkiss.dbeaver.ext.oracle.tools.OracleToolScript"
                    description="Execute script with native client"
                    id="org.jkiss.dbeaver.ext.oracle.tools.OracleToolScript"
                    label="Execute in SQL*Plus">
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleDataSource"/>
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSchema"/>
            </tool>
            <tool
                    class="org.jkiss.dbeaver.ext.oracle.tools.maintenance.OracleToolValidateStructure"
                    description="Validate Structure"
                    id="org.jkiss.dbeaver.ext.oracle.tools.maintenance.OracleToolTruncate"
                    label="Validate Structure"
                    singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
            </tool>
            <tool
                    class="org.jkiss.dbeaver.ext.oracle.tools.maintenance.OracleToolGatherStatistics"
                    description="Gather statistics"
                    id="org.jkiss.dbeaver.ext.oracle.tools.maintenance.OracleToolGatherStatistics"
                    label="Gather Statistics"
                    singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex"/>
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSchema"/>
            </tool>
            <tool
                    class="org.jkiss.dbeaver.ext.oracle.tools.maintenance.OracleToolTruncate"
                    description="Truncate table"
                    id="org.jkiss.dbeaver.ext.oracle.tools.maintenance.OracleToolTruncate"
                    label="Truncate"
                    singleton="false">
                <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
            </tool>
        </tools>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.ext.oracle" name="Oracle" description="Oracle Commands"/>
        <command id="org.jkiss.dbeaver.ext.oracle.code.compile" name="Compile" description="Compile" categoryId="org.jkiss.dbeaver.ext.oracle"/>
        <command id="org.jkiss.dbeaver.ext.oracle.code.package.navigate" name="Go to source code" description="Navigate to object source code" categoryId="org.jkiss.dbeaver.ext.oracle"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.ext.oracle.code.compile" icon="icons/compile.png"/>
        <image commandId="org.jkiss.dbeaver.ext.oracle.code.package.navigate" icon="icons/source_navigate.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.ext.oracle.code.compile" class="org.jkiss.dbeaver.ext.oracle.actions.CompileHandler">
            <enabledWhen>
                <or>
                    <with variable="selection">
                        <count value="+"/>
                        <iterate operator="and">
                            <!-- Here and below we use double check - adapt + instanceof.
                                sing <adapt> with final (Oracle-specific) type will force plugin activation (since E4.6)
                                see https://bugs.eclipse.org/bugs/show_bug.cgi?id=485569
                            -->
                            <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                                <instanceof value="org.jkiss.dbeaver.ext.oracle.model.source.OracleSourceObject"/>
                            </adapt>
                        </iterate>
                    </with>
                    <with variable="activePart">
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                            <instanceof value="org.jkiss.dbeaver.ext.oracle.model.source.OracleSourceObject"/>
                        </adapt>
                    </with>
                </or>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ext.oracle.code.package.navigate" class="org.jkiss.dbeaver.ext.oracle.actions.PackageNavigateHandler">
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                            <instanceof value="org.jkiss.dbeaver.ext.oracle.model.OracleProcedurePackaged"/>
                        </adapt>
                        <!--<adapt type="org.jkiss.dbeaver.ext.oracle.model.OracleProcedurePackaged"/>-->
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command commandId="org.jkiss.dbeaver.ext.oracle.code.compile">
                <visibleWhen checkEnabled="true"/>
            </command>
            <command commandId="org.jkiss.dbeaver.ext.oracle.code.package.navigate">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="java.lang.Object" class="org.jkiss.dbeaver.ext.oracle.actions.OracleObjectAdapter">
            <adapter type="org.jkiss.dbeaver.ext.oracle.model.source.OracleSourceObject"/>
            <adapter type="org.jkiss.dbeaver.ext.oracle.model.OracleProcedurePackaged"/>
        </factory>
    </extension>
    <extension point="org.eclipse.ui.bindings">
        <key commandId="org.jkiss.dbeaver.ext.oracle.code.compile" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+F9"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            name="Session Manager"
            class="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor"
            id="org.jkiss.dbeaver.ext.oracle.editors.OracleSessionEditor">
        </editor>
        <editor
            name="Lock Manager"
            class="org.jkiss.dbeaver.ext.oracle.editors.OracleLockEditor"
            id="org.jkiss.dbeaver.ext.oracle.editors.OracleLockEditor">
        </editor>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ext.oracle.OraclePreferencesInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.oracle.general" class="org.jkiss.dbeaver.ext.oracle.views.PrefPageOracle" name="Oracle">
        </page>
    </extension>

    <extension point="org.eclipse.ui.importWizards">
        <wizard
            category="org.jkiss.dbeaver.import_config.third-party"
            class="org.jkiss.dbeaver.ext.oracle.tools.sqldeveloper.ConfigImportWizardSqlDeveloper"
            id="org.jkiss.dbeaver.import_config.sqldeveloper"
            name="Oracle SQL Developer"
            icon="icons/sqldeveloper.png">
            <description>Oracle SQL Developer</description>
        </wizard>
    </extension>

</plugin>
