#################
## Misc

osgi-cache/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

## Maven stuff

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/workspace/

## IDEA configs
.idea/
*.iml
*.ipr
*.iws
/idea/

## Eclipse configs

.project
.classpath
.settings/
*.product.launch

# Dev executables

.cmd
.bat

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
