<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- Spanner -->

        <datasource
                class="org.jkiss.dbeaver.ext.cloudspanner.CloudSpannerDataSourceProvider"
                description="%datasource.cloudspanner.description"
                id="google_cloudspanner"
                parent="generic"
                label="Google Cloud Spanner"
                icon="icons/spanner_icon.png"
                dialect="cloudspanner">
            <drivers managable="true">

                <driver
                        id="cloudspanner_jdbc"
                        label="Google Cloud Spanner"
                        icon="icons/spanner_icon.png"
                        iconBig="icons/spanner_icon_big.png"
                        class="com.google.cloud.spanner.jdbc.JdbcDriver"
                        sampleURL="jdbc:cloudspanner:/projects/my-project/instances/my-instance/databases/my-database"
                        defaultPort=""
                        description="Google Cloud Spanner Open Source JDBC Driver"
                        webURL="https://cloud.google.com/spanner/docs/use-oss-jdbc"
                        categories="bigdata,cloud">
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="omit-schema" value="false"/>
                    <file type="jar" path="maven:/com.google.cloud:google-cloud-spanner-jdbc:RELEASE"/>
                </driver>

            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="cloudspanner" parent="generic" class="org.jkiss.dbeaver.ext.cloudspanner.model.CloudSpannerSQLDialect" label="Cloud Spanner" description="Google Spanner SQL dialect." icon="icons/spanner_icon.png">
        </dialect>
    </extension>



</plugin>
