<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="json"
            id="org.jkiss.dbeaver.json"
            name="JSON"
            priority="high"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataManager">
        <streamManager class="org.jkiss.dbeaver.ui.data.managers.stream.JSONStreamValueManager" id="json" commandId="org.jkiss.dbeaver.core.stream.json" label="JSON" primaryMime="text/json"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.core.stream.json" name="JSON" description="JSON" categoryId="org.jkiss.dbeaver.core.sql"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.core.stream.json" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/types/json.png"/>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key commandId="org.jkiss.dbeaver.core.stream.json" contextId="org.jkiss.dbeaver.ui.context.resultset" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+SHIFT+J"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
              class="org.jkiss.dbeaver.ui.editors.json.JSONTextEditor"
              default="true"
              extensions="json"
              icon="platform:/plugin/org.jkiss.dbeaver.model/icons/types/json.png"
              id="org.jkiss.dbeaver.ui.editors.json.JSONTextEditor"
              name="JSON">
            <contentTypeBinding contentTypeId="org.jkiss.dbeaver.json"/>
        </editor>
    </extension>

</plugin>
