<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="org.jkiss.dbeaver.ui.easyConfig" name="%extension-point.org.jkiss.dbeaver.ui.easyConfig.name" schema="schema/org.jkiss.dbeaver.ui.easyConfig.exsd"/>

    <extension point="org.jkiss.dbeaver.ui.easyConfig">
       <page id="welcome" order="1000" class="org.jkiss.dbeaver.ui.config.easy.pages.EasyConfigWelcomePage"/>
       <page id="appearance" order="2000" class="org.jkiss.dbeaver.ui.config.easy.pages.EasyConfigAppearancePage"/>
       <page id="features" order="3000" class="org.jkiss.dbeaver.ui.config.easy.pages.EasyConfigFeaturesPage"/>
       <page id="finalSteps" order="5000" class="org.jkiss.dbeaver.ui.config.easy.pages.EasyConfigFinalStepsPage"/>

       <feature id="ai" label="AI integration" preferenceKey="easyConfig.features.ai" enabled="true"/>
       <feature id="cloud" label="Cloud integration (AWS, Azure, Google Cloud)" preferenceKey="easyConfig.features.cloud" enabled="true"/>
       <feature id="dashboards" label="Database dashboards" preferenceKey="easyConfig.features.dashboards" enabled="true"/>
       <feature id="git" label="Git version control" preferenceKey="easyConfig.features.git" enabled="true"/>
       <feature id="tableau" label="Tableau integration" preferenceKey="easyConfig.features.tableau" enabled="true"/>
       <feature id="debugger" label="Procedure debugger" preferenceKey="easyConfig.features.debugger" enabled="true"/>
   </extension>

</plugin>
