<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.net.ssh" name="%extension-point.org.jkiss.dbeaver.net.ssh.name" schema="schema/org.jkiss.dbeaver.net.ssh.exsd"/>

    <extension point="org.jkiss.dbeaver.networkHandler">
        <handler
                type="tunnel"
                id="ssh_tunnel"
                codeName="SSH"
                label="%handler.ssh_tunnel.label"
                description="%handler.ssh_tunnel.description"
                secured="true"
                order="1"
                handlerClass="org.jkiss.dbeaver.model.net.ssh.SSHTunnelImpl"/>
    </extension>

</plugin>
