<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2017 Serge Rider (serge@jkiss.org)
 * Copyright (C) 2017 Alexander Fedorov (alexander.fedorov@jkiss.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jkiss.dbeaver.debug.core.ProcedureLaunchDelegate"
            delegateDescription="%launchConfigurationTypes.launchConfigurationType.pgSQL.delegateDescription"
            delegateName="%launchConfigurationTypes.launchConfigurationType.pgSQL.delegateName"
            id="org.jkiss.dbeaver.ext.postgresql.debug.core.pgSQL"
            modes="debug"
            name="%launchConfigurationTypes.launchConfigurationType.pgSQL.name"
            sourceLocatorId="org.jkiss.dbeaver.debug.core.procedureSourceLocator"
            sourcePathComputerId="org.jkiss.dbeaver.debug.core.procedureSourcePathComputer">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.jkiss.dbeaver.model.DBPDataSourceContainer"
            class="org.jkiss.dbeaver.ext.postgresql.debug.internal.PostgreDebugAdapterFactory">
         <adapter
               type="org.jkiss.dbeaver.debug.DBGController">
         </adapter>
      </factory>
   </extension>

</plugin>
