<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.jkiss.dbeaver.model.DBPDataSourceContainer" class="org.jkiss.dbeaver.ext.postgresql.debug.internal.PostgreDebugAdapterFactory">
         <adapter type="org.jkiss.dbeaver.debug.DBGControllerFactory"/>
         <adapter type="org.jkiss.dbeaver.debug.DBGResolver"/>
      </factory>
      <factory adaptableType="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure" class="org.jkiss.dbeaver.ext.postgresql.debug.internal.PostgreBreakpointAdapterFactory">
         <adapter type="org.jkiss.dbeaver.debug.DBGBreakpointDescriptor"/>
      </factory>
   </extension>

</plugin>
