<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.postgresql.serverType">
        <serverType id="greenplum"
                    name="Greenplum"
                    class="org.jkiss.dbeaver.ext.greenplum.model.PostgreServerGreenplum"
                    logo="icons/greenplum_logo.png"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.greenplum.GreenplumDataSourceProvider"
                description="%datasource.greenplum.description"
                id="greenplum"
                parent="postgresql"
                label="Greenplum"
                icon="icons/greenplum_icon.png">

            <treeInjection path="postgresql/database/schema/table"
                           changeFolderType="org.jkiss.dbeaver.ext.greenplum.model.GreenplumTable"/>
            <treeInjection path="postgresql/database/schema" after="table">
                <folder type="org.jkiss.dbeaver.ext.greenplum.model.GreenplumExternalTable"
                        label="%tree.externaltables.node.name"
                        icon="#folder_table">
                    <items label="%tree.externaltable.node.name" path="externalTable" property="externalTables"
                           icon="#table">
                        <folder type="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableColumn"
                                label="%tree.columns.node.name" icon="#columns" description="Table columns">
                            <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                            </items>
                        </folder>
                    </items>
                </folder>
            </treeInjection>

            <drivers managable="true">
                <driver
                        id="greenplum-jdbc"
                        label="Greenplum"
                        icon="icons/greenplum_icon.png"
                        iconBig="icons/greenplum_icon_big.png"
                        class="org.postgresql.Driver"
                        sampleURL="jdbc:postgresql://{host}[:{port}]/[{database}]"
                        useURL="false"
                        defaultPort="5432"
                        webURL="https://greenplum.org/"
                        propertiesURL="https://jdbc.postgresql.org/documentation/head/connect.html#connection-parameters"
                        description="%driver.greenplum.description"
                        categories="sql,analytic">
                    <replace provider="postgresql" driver="postgres-greenplum-jdbc"/>

                    <file type="jar" path="maven:/org.postgresql:postgresql:RELEASE[42.2.5]"
                          bundle="!drivers.postgresql"/>
                    <file type="jar" path="maven:/net.postgis:postgis-jdbc:RELEASE[2.2.1]" ignore-dependencies="true"
                          optional="true" bundle="!drivers.postgresql"/>
                    <file type="jar" path="maven:/net.postgis:postgis-jdbc-jtsparser:RELEASE[2.2.1]"
                          ignore-dependencies="true" optional="true" bundle="!drivers.postgresql"/>

                    <file type="license" path="drivers/postgresql/LICENSE.txt" bundle="drivers.postgresql"/>
                    <file type="jar" path="drivers/postgresql/postgresql.jar" bundle="drivers.postgresql"/>
                    <file type="jar" path="drivers/postgis/postgis-jdbc.jar" bundle="drivers.postgresql"/>
                    <file type="jar" path="drivers/postgis/postgis-jdbc-jtsparser.jar" bundle="drivers.postgresql"/>
                    <parameter name="serverType" value="greenplum"/>
                    <property name="loginTimeout" value="20"/>
                    <property name="connectTimeout" value="20"/>
                </driver>
            </drivers>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.greenplum.edit.GreenplumSchemaManager"
                 objectType="org.jkiss.dbeaver.ext.greenplum.model.GreenplumSchema"/>
        <manager class="org.jkiss.dbeaver.ext.greenplum.edit.GreenplumTableManager"
                 objectType="org.jkiss.dbeaver.ext.greenplum.model.GreenplumTable"/>
        <manager class="org.jkiss.dbeaver.ext.greenplum.edit.GreenplumExternalTableManager"
                 containerType="org.jkiss.dbeaver.ext.greenplum.model.GreenplumSchema"
                 objectType="org.jkiss.dbeaver.ext.greenplum.model.GreenplumExternalTable"/>
        <manager class="org.jkiss.dbeaver.ext.greenplum.edit.GreenplumFunctionManager"
                 objectType="org.jkiss.dbeaver.ext.greenplum.model.GreenplumFunction"/>
    </extension>
</plugin>
