<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="databaseBreakpointMarker"
         name="%databaseBreakpointMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
   </extension>
   <extension
         id="databaseLineBreakpointMarker"
         name="%databaseLineBreakpointMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <super
            type="org.jkiss.dbeaver.debug.core.databaseBreakpointMarker">
      </super>
   </extension>

</plugin>
