<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension name="GitCommandsLabel" point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.git.commands.category" name="Git Category"/>
        <command categoryId="org.jkiss.dbeaver.git.commands.category" id="org.jkiss.dbeaver.git.commands.share" name="Share"/>
<!--        <command categoryId="org.jkiss.dbeaver.git.commands.category" id="org.jkiss.dbeaver.git.commands.push" name="Push"/>-->
        <command categoryId="org.jkiss.dbeaver.git.commands.category" id="org.jkiss.dbeaver.git.commands.commit" name="Commit"/>
        <command categoryId="org.jkiss.dbeaver.git.commands.category" id="org.jkiss.dbeaver.git.commands.update" name="Pull"/>
    </extension>
    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.git.commands.share" icon="icons/share.png"/>
        <image commandId="org.jkiss.dbeaver.git.commands.update" icon="icons/pull.png"/>
        <image commandId="org.jkiss.dbeaver.git.commands.commit" icon="icons/push.png"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.git.commands.share" class="org.jkiss.dbeaver.team.git.ui.handlers.ProjectShareHandler">
            <activeWhen>
                <not>
                    <test property="GitSelection.projectsSingleRepository" />
                </not>
            </activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.git.commands.update" class="org.jkiss.dbeaver.team.git.ui.handlers.GITUpdateHandler">
            <activeWhen>
                <test property="GitSelection.resourcesSingleRepository"/>
            </activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.git.commands.commit" class="org.jkiss.dbeaver.team.git.ui.handlers.GITCommitHandler">
            <activeWhen>
                <test property="GitSelection.resourcesSingleRepository"/>
            </activeWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.bindings">
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="org.jkiss.dbeaver.team.git.menu" label="Git" mnemonic="M">
                <command commandId="org.jkiss.dbeaver.git.commands.share" mnemonic="G"/>

                <command commandId="org.jkiss.dbeaver.git.commands.update" mnemonic="L"/>
                <command commandId="org.jkiss.dbeaver.git.commands.commit" mnemonic="C"/>
            </menu>
        </menuContribution>
        <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="org.jkiss.dbeaver.team.git.toolbar">
                <command commandId="org.jkiss.dbeaver.git.commands.share" mnemonic="G">
                    <visibleWhen checkEnabled="true"/>
                </command>
                <command commandId="org.jkiss.dbeaver.git.commands.update" mnemonic="L">
                    <visibleWhen checkEnabled="true"/>
                </command>
                <command commandId="org.jkiss.dbeaver.git.commands.commit" mnemonic="C">
                    <visibleWhen checkEnabled="true"/>
                </command>
            </toolbar>
        </menuContribution>
    </extension>

</plugin>
