<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.mockGenerator" name="Mock data generator" schema="schema/org.jkiss.dbeaver.mockGenerator.exsd"/>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <tool
                    class="org.jkiss.dbeaver.ext.mockdata.MockDataGenerateTool"
                    description="Mock Data"
                    id="org.jkiss.dbeaver.ext.mockdata.MockDataGenerateTool"
                    label="Mock Data"
                    singleton="false">
                <objectType name="org.jkiss.dbeaver.model.struct.DBSDataManipulator" forceCheck="true"/>
            </tool>
        </tools>
    </extension>

    <extension point="org.jkiss.dbeaver.mockGenerator">

        <generator
            id="simpleString"
            label="From text"
            description="Random length substrings from the 'Lorem ipsum' text"
            class="org.jkiss.dbeaver.ext.mockdata.generator.SimpleStringGenerator">
            <type kind="STRING"/>

            <propertyGroup label="General">
                <property id="template" label="Template" type="string"
                    defaultValue="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."/>

                <property id="nulls" label="NULLs" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

        <generator
                id="uuid"
                label="UUID"
                description="UUID random values"
                class="org.jkiss.dbeaver.ext.mockdata.generator.UuidGenerator">
            <type kind="STRING"/>

            <propertyGroup label="General">
                <property id="nulls" label="NULL values" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

        <generator
            id="randomNumeric"
            label="Random Numeric"
            description="Random numeric values"
            class="org.jkiss.dbeaver.ext.mockdata.generator.RandomNumericGenerator">
            <type kind="NUMERIC"/>

            <propertyGroup label="General">
                <property id="nulls" label="NULLs" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

        <generator
            id="sequence"
            label="Sequence"
            description="Sequence of numbers with adjustable start, step and order"
            class="org.jkiss.dbeaver.ext.mockdata.generator.SequenceGenerator">
            <type kind="NUMERIC"/>

            <propertyGroup label="General">
                <property id="start" label="Start value" type="long" defaultValue="0"/>
                <property id="step" label="Increment step" type="long" defaultValue="1"/>
                <property id="reverse" label="Reverse order" type="boolean" defaultValue="FALSE"/>

                <property id="nulls" label="NULLs" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

        <generator
            id="randomDate"
            label="Random Date"
            description="Random date values"
            class="org.jkiss.dbeaver.ext.mockdata.generator.RandomDateGenerator">
            <type kind="DATETIME"/>

            <propertyGroup label="General">
                <property id="nulls" label="NULLs" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

        <generator
            id="randomBoolean"
            label="Random Boolean"
            description="Random boolean values"
            class="org.jkiss.dbeaver.ext.mockdata.generator.RandomBooleanGenerator">
            <type kind="BOOLEAN"/>

            <propertyGroup label="General">
                <property id="nulls" label="NULLs" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

    </extension>

</plugin>
