<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.mockGenerator" name="%mockdata.extension.name" schema="schema/org.jkiss.dbeaver.mockGenerator.exsd"/>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.ext.mockdata.resultset.mockdata" class="org.jkiss.dbeaver.ext.mockdata.handlers.ResultSetMockDataHandler">
            <enabledWhen>
                <or>
                    <with variable="activeEditor">
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
                    </with>
                    <with variable="selection">
                        <count value="+"/>
                        <iterate operator="and">
                            <adapt type="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
                        </iterate>
                    </with>
                </or>
            </enabledWhen>
        </handler>
    </extension>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <tool
                    class="org.jkiss.dbeaver.ext.mockdata.MockDataGenerateTool"
                    description="Mock Data"
                    id="org.jkiss.dbeaver.ext.mockdata.MockDataGenerateTool"
                    label="%command.mockdata.name"
                    singleton="false">

                <objectType name="org.jkiss.dbeaver.model.struct.DBSDataManipulator" forceCheck="true"/>
            </tool>
        </tools>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.ext.mockdata.resultset.mockdata" name="%command.mockdata.name" description="%command.mockdata.description" categoryId="org.jkiss.dbeaver.core.rs"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.ext.mockdata.resultset.mockdata" icon="icons/mock_data.png"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <!-- Results viewer status bar additions -->
        <menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.ui.controls.resultset.status?after=additions">
            <command commandId="org.jkiss.dbeaver.ext.mockdata.resultset.mockdata"/>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=results_export">
            <command
                    commandId="org.jkiss.dbeaver.ext.mockdata.resultset.mockdata"
                    label="%command.mockdata.name">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.jkiss.dbeaver.mockGenerator">

        <generator
                id="numericConstantGenerator"
                label="%generator.numeric.constant.label"
                description="%generator.numeric.constant.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.ConstantGenerator">
            <type kind="NUMERIC"/>

            <propertyGroup label="General">
                <property id="value" label="%generator.numeric.constant.prop.value.label" type="numeric" defaultValue="0"/>
            </propertyGroup>
        </generator>

        <generator
                id="numericRandomGenerator"
                label="%generator.numeric.random.label"
                description="%generator.numeric.random.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.NumericRandomGenerator">
            <type kind="NUMERIC"/>
        </generator>

        <generator
                id="numericSequenceGenerator"
                label="%generator.numeric.sequence.label"
                description="%generator.numeric.sequence.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.NumericSequenceGenerator"
                tags="id,number,order">
            <type kind="NUMERIC"/>

            <propertyGroup label="General">
                <property id="start" label="%generator.numeric.sequence.property.start.label" type="long" defaultValue="1" description="%generator.numeric.sequence.property.start.description"/>
                <property id="step" label="%generator.numeric.sequence.property.step.label" type="long" defaultValue="1" description="%generator.numeric.sequence.property.step.description"/>
                <property id="reverse" label="%generator.numeric.sequence.property.reverse.label" type="boolean" defaultValue="FALSE" description="%generator.numeric.sequence.property.reverse.description"/>
            </propertyGroup>
        </generator>

        <generator
                id="booleanConstantGenerator"
                label="%generator.boolean.constant.label"
                description="%generator.boolean.constant.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.ConstantGenerator">
            <type kind="BOOLEAN"/>

            <propertyGroup label="General">
                <property id="value" label="%generator.boolean.constant.property.value.label" type="boolean" defaultValue="TRUE"/>
            </propertyGroup>
        </generator>

        <generator
                id="booleanRandomGenerator"
                label="Boolean Random"
                description="Random boolean values"
                class="org.jkiss.dbeaver.ext.mockdata.generator.BooleanRandomGenerator">
            <type kind="BOOLEAN"/>
        </generator>

        <generator
                id="booleanSequenceGenerator"
                label="%generator.boolean.sequence.label"
                description="%generator.boolean.sequence.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.BooleanSequenceGenerator">
            <type kind="BOOLEAN"/>

            <propertyGroup label="General">
                <property id="initial" label="%generator.boolean.sequence.property.initial.label" type="boolean" defaultValue="TRUE"/>
                <property id="order" label="%generator.boolean.sequence.property.order.label" type="string" defaultValue="%generator.boolean.sequence.property.order.value.initial" validValues="%generator.boolean.sequence.property.order.validValues"/>
            </propertyGroup>
        </generator>

        <generator
                id="dateConstantGenerator"
                label="%generator.date.constant.label"
                description="%generator.date.constant.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.ConstantGenerator">
            <type kind="DATETIME"/>

            <propertyGroup label="General">
                <property id="value" label="%generator.date.constant.property.value.label" type="string"  description="%generator.date.constant.property.value.description"/>
            </propertyGroup>
        </generator>

        <generator
                id="dateRandomGenerator"
                label="%generator.date.random.label"
                description="%generator.date.random.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.DateRandomGenerator">
            <type kind="DATETIME"/>

            <propertyGroup label="General">
                <property id="startDate" label="%generator.date.random.property.start.label" type="string" description="%generator.date.random.property.start.description"/>
                <property id="endDate" label="%generator.date.random.property.end.label" type="string" description="%generator.date.random.property.end.description"/>
            </propertyGroup>
        </generator>

        <generator
                id="dateSequenceGenerator"
                label="%generator.date.sequence.label"
                description="%generator.date.sequence.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.DateSequenceGenerator">
            <type kind="DATETIME"/>

            <propertyGroup label="General">
                <property id="startDate" label="%generator.date.sequence.property.start.label" type="string" defaultValue="${now as dd-MM-yyyy}" description="%generator.date.sequence.property.start.description"/>
                <property id="step" label="%generator.date.sequence.property.step.label" type="integer" defaultValue="1" description="%generator.date.sequence.property.step.description"/>
                <property id="reverse" label="%generator.date.sequence.property.reverse.label" type="boolean" defaultValue="FALSE" description="%generator.date.sequence.property.reverse.description"/>
            </propertyGroup>
        </generator>

        <generator
            id="fkGenerator"
            label="%generator.fk.label"
            description="%generator.fk.description"
            class="org.jkiss.dbeaver.ext.mockdata.generator.FKGenerator">
<!--
            <propertyGroup label="General">
                <property id="numberRefRecords" label="Ref Records" type="integer" defaultValue="1000000" description="Size limit of referenced keys dictionary"/>
            </propertyGroup>
-->
        </generator>

        <generator
                id="stringConstantGenerator"
                label="String Constant"
                description="Constant string"
                class="org.jkiss.dbeaver.ext.mockdata.generator.ConstantGenerator">
            <type kind="STRING"/>

            <propertyGroup label="General">
                <property id="value" label="Value" type="string"/>
            </propertyGroup>
        </generator>

        <generator
            id="stringTextGenerator"
            label="%generator.string.text.label"
            description="%generator.string.text.description"
            class="org.jkiss.dbeaver.ext.mockdata.generator.StringTextGenerator"
            tags="text,paragraph,chapter">
            <type kind="STRING"/>

            <propertyGroup label="General">
                <property id="template" label="%generator.string.text.property.template.label" type="string" description="%generator.string.text.property.template.description"
                    defaultValue="%generator.string.text.property.template.value"/>
                <property id="minLength" label="%generator.string.text.property.min.label" type="integer" defaultValue="1" description="%generator.string.text.property.min.description"/>
                <property id="maxLength" label="%generator.string.text.property.max.label" type="integer" defaultValue="100" description="%generator.string.text.property.max.description"/>
            </propertyGroup>
        </generator>

        <generator
                id="stringUuidGenerator"
                label="%generator.string.uuid.label"
                description="%generator.string.uuid.label"
                class="org.jkiss.dbeaver.ext.mockdata.generator.StringUuidGenerator"
                tags="id,uuid">
            <type kind="STRING"/>
            <type name="UUID"/>
        </generator>

        <generator
                id="zeroGenerator"
                label="%generator.zero.label"
                description="%generator.zero.description"
                class="org.jkiss.dbeaver.ext.mockdata.generator.NullGenerator">
            <type kind="BOOLEAN"/>
            <type kind="DATETIME"/>
            <type kind="NUMERIC"/>
            <type kind="STRING"/>
        </generator>

    </extension>

</plugin>
