<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2011, Serge Rieder and others. All Rights Reserved.
  -->

<plugin>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.test.object.validate" name="Test - Validate"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.test.object.validate" class="org.jkiss.dbeaver.ext.test.handlers.HandlerObjectValidate">
            <activeWhen>
                <with variable="selection">
                    <count value="+"/>
                </with>
            </activeWhen>
        </handler>
   </extension>

   <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command commandId="org.jkiss.dbeaver.test.object.validate">
               <visibleWhen>
                   <with variable="selection">
                       <count value="1"/>
                   </with>
               </visibleWhen>
            </command>
        </menuContribution>
   </extension>


</plugin>
