<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * Copyright (C) 2010-2014 Serge Rieder
 * serge@jkiss.org
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<plugin>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.test.object.validate" name="Test - Validate"/>
        <command id="org.jkiss.dbeaver.test.dialog" name="Show dialog"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.test.object.validate" class="org.jkiss.dbeaver.ext.test.handlers.HandlerObjectValidate">
            <activeWhen>
                <with variable="selection">
                    <count value="+"/>
                </with>
            </activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.test.dialog" class="org.jkiss.dbeaver.ext.test.handlers.HandlerDialog">
        </handler>
   </extension>

   <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command commandId="org.jkiss.dbeaver.test.object.validate">
               <visibleWhen>
                   <with variable="selection">
                       <count value="1"/>
                   </with>
               </visibleWhen>
            </command>
        </menuContribution>
       <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="test" label="Test">
                <command commandId="org.jkiss.dbeaver.test.dialog"/>
            </menu>
       </menuContribution>


   </extension>


</plugin>
