<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>


<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2015 Serge Rieder (serge@jkiss.org)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License (version 2)
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
  -->

<plugin>

    <extension point="org.eclipse.core.runtime.applications" id="standalone" name="DBeaver Standalone">
        <application visible="true">
            <run class="org.jkiss.dbeaver.core.application.DBeaverApplication"/>
        </application>
    </extension>

    <extension point="org.eclipse.core.runtime.products" id="product">
        <product application="org.jkiss.dbeaver.core.application.standalone" description="%productSubTitle" name="DBeaver">
            <property name="aboutText" value="DBeaver - Universal Database Manager"/>
            <property name="copyright" value="%productCopyright"/>
            <property name="subTitle" value="%productSubTitle"/>
            <property name="website" value="%productWebsite"/>
            <property name="email" value="%productEmail"/>
            <property name="windowImages" value="icons/dbeaver.png"/>
            <property name="appName" value="DBeaver"/>
            <property name="startupForegroundColor" value="000000"/>
            <property name="startupMessageRect" value="25,25,200,15"/>
            <property name="startupProgressRect" value="25,45,150,15"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
            <property name="applicationXMI" value="org.eclipse.platform/LegacyIDE.e4xmi"/>
            <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_classic"/>
            <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.platform/images/"/>
        </product>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.core.object.find" name="%command.org.jkiss.dbeaver.core.object.find.name" description="%command.org.jkiss.dbeaver.core.object.find.description" categoryId="org.jkiss.dbeaver.core.database"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.core.object.find" icon="platform:/plugin/org.jkiss.dbeaver.core/icons/misc/find.png"/>
    </extension>

    <extension point="org.eclipse.ui.views">
        <view id="org.eclipse.ui.views.ProgressView"
            icon="icons/progress_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            name="%view.progress.title"/>
        <view id="org.eclipse.ui.texteditor.TemplatesView"
            name="%view.templates.title"
            icon="icons/templates_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.texteditor.templates.TemplatesView"/>
        <view
            id="org.eclipse.help.ui.HelpView"
            category="org.jkiss.dbeaver.core.category"
            class="org.jkiss.dbeaver.ui.help.LightweightHelpView"
            allowMultiple="false"
            icon="icons/help.png"
            name="Help"/>
        <view id="org.jkiss.dbeaver.ui.search.DatabaseSearchView"
            name="%view.search.title"
            icon="platform:/plugin/org.jkiss.dbeaver.core/icons/misc/find.png"
            category="org.eclipse.ui"
            class="org.jkiss.dbeaver.ui.search.DatabaseSearchView"/>
        <stickyView id="org.jkiss.dbeaver.ui.search.DatabaseSearchView" location="BOTTOM"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">

        <handler commandId="org.jkiss.dbeaver.core.object.find" class="org.jkiss.dbeaver.ui.search.DatabaseSearchHandler">
            <enabledWhen>
                <with variable="activePart">
                    <test property="org.jkiss.dbeaver.core.global.hasActiveProject"/>
                </with>
            </enabledWhen>
        </handler>

    </extension>

    <extension point="org.eclipse.ui.menus">
        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:edit">
            <separator name="undoredo" visible="true"/>
            <command commandId="org.eclipse.ui.edit.undo"/>
            <command commandId="org.eclipse.ui.edit.redo"/>
            <command commandId="org.eclipse.ui.edit.cut"/>
            <command commandId="org.eclipse.ui.edit.copy"/>
            <command commandId="org.jkiss.dbeaver.core.edit.copy.special"/>
            <command commandId="org.eclipse.ui.edit.paste"/>
            <command commandId="org.eclipse.ui.edit.delete"/>
            <separator name="find.ext" visible="true"/>
            <command commandId="org.eclipse.ui.edit.findReplace"/>
            <command commandId="org.jkiss.dbeaver.core.navigator.bookmark.add"/>
            <separator name="additions" visible="true"/>
        </menuContribution>

        <!-- Edit menu -->

        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="edit" label="%menu.edit">
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.single"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.multi"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.word.wrap"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.eclipse.ui.edit.text.upperCase"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.eclipse.ui.edit.text.lowerCase"><visibleWhen checkEnabled="true"/></command>
            </menu>
        </menuContribution>

        <!-- File menu-->

        <menuContribution allPopups="false" locationURI="menu:file?before=additions">
            <command commandId="org.eclipse.ui.newWizard"/>
            <command commandId="org.eclipse.ui.file.save"/>
            <command commandId="org.eclipse.ui.file.saveAs"/>
            <command commandId="org.eclipse.ui.file.close"/>
            <command commandId="org.eclipse.ui.file.print"/>
            <command commandId="org.eclipse.ui.edit.rename"/>

            <command commandId="org.eclipse.ui.file.refresh"/>

            <separator name="import-export" visible="true"/>

            <command commandId="org.eclipse.ui.file.import"/>
            <command commandId="org.eclipse.ui.file.export"/>

            <separator name="properties" visible="true"/>
            <command commandId="org.eclipse.ui.file.properties"/>

            <separator name="exit" visible="true"/>
            <command commandId="org.eclipse.ui.file.exit"/>
        </menuContribution>

        <!-- Navigation menu -->

        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="navigate" label="%menu.navigate">
                <command commandId="org.jkiss.dbeaver.core.object.find"/>
                <separator name="nav" visible="true"/>
            </menu>
        </menuContribution>

        <!-- Window menu -->

        <menuContribution allPopups="false" locationURI="menu:window?before=additions">
            <separator name="perspective" visible="true"/>
            <command commandId="org.eclipse.ui.window.customizePerspective"/>
            <command commandId="org.eclipse.ui.window.resetPerspective"/>
            <separator name="tabs" visible="true"/>
            <menu label="Navigation">
                <command commandId="org.eclipse.ui.navigate.nextTab"/>
                <command commandId="org.eclipse.ui.navigate.previousTab"/>
                <command commandId="org.eclipse.ui.navigate.nextSubTab"/>
                <command commandId="org.eclipse.ui.navigate.previousSubTab"/>
                <separator name="editors" visible="true"/>
                <command commandId="org.eclipse.ui.window.nextEditor"/>
                <command commandId="org.eclipse.ui.window.previousEditor"/>
                <command commandId="org.eclipse.ui.window.switchToEditor"/>
            </menu>
            <separator name="settings" visible="true"/>
            <command commandId="org.eclipse.ui.window.preferences"/>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="toolbar:dbeaver-transactions?after=additions">
            <command commandId="org.jkiss.dbeaver.core.object.find">
                <visibleWhen><reference definitionId="DBeaverPerspectiveActive"/></visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <scheme
              description="%productName"
              id="org.jkiss.dbeaver.defaultKeyScheme"
              name="%productName"
              parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

        <!-- Text editors -->
        <key commandId="org.eclipse.ui.edit.text.contentAssist.proposals" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SPACE"/>
        <key commandId="org.eclipse.ui.edit.text.hippieCompletion" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+SPACE"/>
        <key commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+ALT+SPACE"/>
        <key commandId="org.jkiss.dbeaver.core.object.find" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+SHIFT+F"/>

        <key commandId="org.eclipse.ui.edit.text.gotoLastEditPosition" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+BS"/>

        <key commandId="org.eclipse.ui.edit.text.goto.line" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+G"/>
        <key commandId="org.eclipse.ui.edit.text.moveLineDown" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+ARROW_DOWN"/>
        <key commandId="org.eclipse.ui.edit.text.moveLineUp" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+ARROW_UP"/>
        <!--<key commandId="org.eclipse.ui.edit.text.delete.line" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+Y"/>-->
        <key commandId="org.eclipse.ui.edit.text.join.lines" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+J"/>

        <key commandId="org.eclipse.ui.edit.text.upperCase" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+U"/>
        <key commandId="org.eclipse.ui.edit.text.lowerCase" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+L"/>

        <key commandId="org.eclipse.ui.help.dynamicHelp" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="F1"/>

    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.jkiss.dbeaver.preferences.main" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseGeneral" name="%pref.page.name.db.configuration">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.general"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.sqlexecute" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLExecute" name="%pref.page.name.sql.execute">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.resultset" class="org.jkiss.dbeaver.ui.preferences.PrefPageResultSetMain" name="%pref.page.name.resultset">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.resultset" id="org.jkiss.dbeaver.preferences.main.resultset.binaries" class="org.jkiss.dbeaver.ui.preferences.PrefPageResultSetBinaries" name="%pref.page.name.resultset.binaries">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.meta" class="org.jkiss.dbeaver.ui.preferences.PrefPageMetaData" name="%pref.page.name.meta">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.dataformat" class="org.jkiss.dbeaver.ui.preferences.PrefPageDataFormat" name="%pref.page.name.data.formats">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.dataformat"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.misc.qm" class="org.jkiss.dbeaver.ui.preferences.PrefPageQueryManager" name="%pref.page.name.query.manager">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.qm"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.drivers" class="org.jkiss.dbeaver.ui.preferences.PrefPageDrivers" name="%pref.page.name.drivers">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.general"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.connectionTypes" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionTypes" name="%pref.page.name.connectionTypes"/>

<!--
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.resources" class="org.jkiss.dbeaver.ui.preferences.PrefPageResources" name="%pref.page.name.resources">
        </page>
-->

        <page id="org.jkiss.dbeaver.preferences.editors" class="org.eclipse.ui.ExtensionFactory:editorsPreferencePage" name="%pref.page.name.db.editors"/>
        <page category="org.jkiss.dbeaver.preferences.editors" id="org.jkiss.dbeaver.preferences.main.sqleditor" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLEditor" name="%pref.page.name.sql.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.sql"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" id="org.jkiss.dbeaver.preferences.main.sql.templates" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLTemplates" name="Templates"/>

        <page category="org.jkiss.dbeaver.preferences.editors" id="org.jkiss.dbeaver.preferences.main.dataeditor" class="org.jkiss.dbeaver.ui.preferences.PrefPageDataEditor" name="%pref.page.name.data.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.content"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.editors" id="org.jkiss.dbeaver.ui.editors.binary.pref.HexPreferencesPage" class="org.jkiss.dbeaver.ui.editors.binary.pref.HexPreferencesPage" name="%pref.page.name.binary.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.binary"/>
        </page>

        <page id="org.jkiss.dbeaver.preferences.general" class="org.eclipse.ui.ExtensionFactory:workbenchPreferencePage" name="%pref.page.name.db.ui"/>
        <page category="org.jkiss.dbeaver.preferences.general" id="org.jkiss.dbeaver.preferences.appearance" class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage" name="%pref.page.name.appearance"/>
        <page category="org.jkiss.dbeaver.preferences.appearance" id="org.eclipse.ui.preferencePages.ColorsAndFonts" class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage" name="%pref.page.name.colors.and.fonts"/>

        <page category="org.jkiss.dbeaver.preferences.general" id="org.jkiss.dbeaver.preferences.main.confirmations" class="org.jkiss.dbeaver.ui.preferences.PrefPageConfirmations" name="%pref.page.name.confirmations"/>
        <page category="org.jkiss.dbeaver.preferences.general" id="org.jkiss.dbeaver.preferences.shortcuts" class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage" name="%pref.page.name.keys"/>

    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page class="org.jkiss.dbeaver.ui.dialogs.ResourceInfoPage" id="org.jkiss.dbeaver.ui.dialogs.ResourceInfoPage" name="Resource properties">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IResource"/>
            </enabledWhen>
        </page>
    </extension>

    <extension point="org.eclipse.ui.splashHandlers">
        <splashHandler
                class="org.jkiss.dbeaver.core.application.DBeaverSplashHandler"
                id="org.jkiss.dbeaver.ui.splash.interactive">
        </splashHandler>
        <splashHandlerProductBinding
                productId="org.jkiss.dbeaver.core.application.product"
                splashId="org.jkiss.dbeaver.ui.splash.interactive">
        </splashHandlerProductBinding>
    </extension>

    <extension point="org.eclipse.ui.helpSupport">
        <config class="org.jkiss.dbeaver.ui.help.LightweightHelpUI">
        </config>
    </extension>

</plugin>
