<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
	<extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
		<propertyConfigurator class="org.jkiss.dbeaver.model.ai.openai.OpenAICompletionEngine" uiClass="org.jkiss.dbeaver.ui.editors.sql.ai.openai.OpenAiConfigurator"/>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.jkiss.dbeaver.ui.editors.sql.ai.preferences.AIPreferencesInitializer"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.jkiss.dbeaver.preferences.ai" category="org.eclipse.ui.preferencePages.Workbench" class="org.jkiss.dbeaver.ui.editors.sql.ai.preferences.AIPreferencePage" name="%pref.page.name.gpt">
			<keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
			<keywordReference id="org.jkiss.dbeaver.ui.editors.ai.keyword.gtp"/>
		</page>
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester class="org.jkiss.dbeaver.ui.editors.sql.ai.AIPropertyTester"
						id="org.jkiss.dbeaver.ui.editors.sql.ai.AIPropertyTester"
						namespace="org.jkiss.dbeaver.ui.editors.sql.ai"
						properties="isDisabled"
						type="java.lang.Object"/>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key commandId="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion" contextId="org.jkiss.dbeaver.ui.editors.sql.script.focused" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+I"/>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion" name="%command.org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion.name" description="%command.org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion.description" categoryId="org.jkiss.dbeaver.core.sql"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false" locationURI="menu:SQLEditorMenu?after=query">
			<command commandId="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion">
				<visibleWhen checkEnabled="true"/>
			</command>
		</menuContribution>
		<menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.ui.editors.sql.toolbar.side.top" >
			<command commandId="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion">
				<visibleWhen>
				    <and>
						<with variable="activePart">
							<not><test property="org.jkiss.dbeaver.ui.editors.sql.ai.isDisabled" forcePluginActivation="true"/></not>
						</with>
                        <test property="org.jkiss.dbeaver.ui.toolbar.configuration.visible" args="sqlEditor.side.top,org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion"/>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.jkiss.dbeaver.core.ai.completion.enabled">
			<not>
				<test property="org.jkiss.dbeaver.ui.editors.sql.ai.isDisabled" forcePluginActivation="true" />
			</not>
		</definition>
	</extension>

	<extension point="org.eclipse.ui.commandImages">
		<image commandId="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/misc/ai.png"/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion" class="org.jkiss.dbeaver.ui.editors.sql.ai.internal.AITranslateHandler">
			<enabledWhen>
				<with variable="activeEditor">
					<adapt type="org.jkiss.dbeaver.ui.editors.sql.SQLEditor">
						<test property="org.jkiss.dbeaver.ui.editors.sql.canExecute" value="script"/>
					</adapt>
				</with>
			</enabledWhen>
		</handler>
	</extension>
	
    <extension point="org.jkiss.dbeaver.toolBarConfiguration">
        <toolBar key="sqlEditor.side.top">
            <item commandId="org.jkiss.dbeaver.ui.editors.sql.ai.showCompletion" defaultVisibility="true"/>
        </toolBar>
    </extension>
</plugin>
