<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">

<dict>
	<key>CFBundleExecutable</key>
		<string>dbeaver</string>
	<key>CFBundleGetInfoString</key>
		<string>Universal Database Manager and SQL client.</string>
	<key>CFBundleIconFile</key>
		<string>dbeaver.icns</string>
	<key>CFBundleIdentifier</key>
		<string>org.jkiss.dbeaver.core.product</string>
	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	<key>CFBundleName</key>
		<string>${dbeaver-product}</string>
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleShortVersionString</key>
		<string>${dbeaver-version}</string>
	<key>CFBundleSignature</key>
		<string>????</string>
	<key>CFBundleVersion</key>
		<string>${dbeaver-version}</string>
	<key>NSHighResolutionCapable</key>
		<true/>
	<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
	<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
			<string>it</string>
			<string>ru</string>
			<string>zh</string>
		</array>
		
	<key>Eclipse</key>
		<array>
			<!-- to use a specific Java version (instead of the platform's default) uncomment one of the following options,
					or add a VM found via $/usr/libexec/java_home -V
				<string>-vm</string><string>/System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Commands/java</string>
				<string>-vm</string><string>/Library/Java/JavaVirtualMachines/1.8.0.jdk/Contents/Home/bin/java</string>
			-->
			<string>-keyring</string>
      <string>~/.eclipse_keyring</string>
			<string>-showlocation</string>
		</array>
	<key>CFBundleDisplayName</key>
    <string>${dbeaver-product}</string>
  </dict>

</plist>
