<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.elasticsearch.ElasticsearchDataSourceProvider"
                description="Elasticsearch datasource"
                id="elasticsearch"
                parent="generic"
                label="Elasticsearch"
                icon="icons/elasticsearch_icon.png"
                dialect="generic">
            <drivers managable="true">

                <driver
                        id="elastic_search_jdbc"
                        label="Elasticsearch"
                        class="org.elasticsearch.xpack.sql.jdbc.EsDriver"
                        icon="icons/elasticsearch_icon.png"
                        iconBig="icons/elasticsearch_icon_big.png"
                        sampleURL="jdbc:es://{host}:{port}/"
                        defaultPort="9200"
                        description="Elasticsearch JDBC driver"
                        webURL="https://www.elastic.co/guide/en/elasticsearch/reference/current/sql-jdbc.html"
                        categories="fulltext">
                    <replace provider="generic" driver="es_generic"/>
                    <file type="jar" path="maven:/org.elasticsearch.plugin:x-pack-sql-jdbc:8.12.1" bundle="!drivers.elasticsearch"/>
                    <file type="license" path="https://raw.githubusercontent.com/elastic/elasticsearch/main/licenses/SSPL-1.0%2BELASTIC-LICENSE-2.0.txt" bundle="!drivers.elasticsearch"/>
                    <file type="jar" path="drivers/elasticsearch" bundle="drivers.elasticsearch"/>
                    <file type="license" path="drivers/elasticsearch/LICENSE.txt" bundle="drivers.elasticsearch"/>
                    <parameter name="supports-references" value="false"/>
                    <parameter name="supports-indexes" value="false"/>
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="use-search-string-escape" value="true"/>
                </driver>

            </drivers>

        </datasource>

        <datasource
                class="org.jkiss.dbeaver.ext.elasticsearch.ElasticsearchDataSourceProvider"
                description="Opendistro datasource"
                id="open-distro-elasticsearch"
                parent="generic"
                label="Open Distro Elasticsearch"
                icon="icons/opendistro_icon.png"
                dialect="generic">
            <drivers managable="true">

                <driver
                        id="open_distro_elastic_search_jdbc"
                        label="Open Distro Elasticsearch"
                        class="com.amazon.opendistroforelasticsearch.jdbc.Driver"
                        icon="icons/opendistro_icon.png"
                        iconBig="icons/opendistro_icon_big.png"
                        sampleURL="jdbc:elasticsearch://https://{host}:{port}/"
                        defaultPort="443"
                        description="Opendistro Elasticsearch JDBC driver"
                        webURL="https://opendistro.github.io/for-elasticsearch-docs/docs/sql/jdbc/"
                        categories="fulltext">
                    <replace provider="generic" driver="opendistro_generic"/>
                    <file type="jar" path="maven:/com.amazon.opendistroforelasticsearch.client:opendistro-sql-jdbc:1.1.0.0"/>
                    <parameter name="supports-references" value="false"/>
                    <parameter name="supports-indexes" value="false"/>
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="use-search-string-escape" value="true"/>
                </driver>

            </drivers>

        </datasource>

    </extension>

</plugin>
