<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="DBeaver"
            id="org.jkiss.dbeaver.ext.mysql">
        </category>
    </extension>
    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts.xml">
        </contexts>
    </extension>
    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.mysql.MySQLDataSourceProvider"
              description="MySQL connector"
              icon="icons/mysql_icon.png"
              id="mysql"
              label="MySQL">
            <tree
                  icon="icons/mysql_icon.png"
                  label="MySQL data source"
                  path="mysql">
                <icon icon="icons/tree/connection_disabled.png" default="true"/>
                <icon icon="icons/tree/connection_enabled.png" if="object.connected"/>

                <folder type="org.jkiss.dbeaver.model.struct.DBSCatalog" label="Catalogs" iconId="#catalogs" description="Catalogs">
                    <items label="Catalogs" path="catalog" property="catalogs" iconId="#catalog" optional="true">
                        <items label="Schemas" path="schema" property="schemas" iconId="#schema" optional="true">
                            <folder type="org.jkiss.dbeaver.model.struct.DBSTable" label="Tables" iconId="#tables" description="Tables">
                                <items label="Tables" path="table" property="tables">
                                    <icon iconId="#table" default="true"/>
                                    <icon iconId="#view" if="object.view"/>
                                    <folder type="org.jkiss.dbeaver.model.struct.DBSTableColumn" label="Columns" iconId="#columns" description="Table columns">
                                        <items label="Column" path="column" property="columns" iconId="#column">
                                        </items>
                                    </folder>
                                    <folder type="org.jkiss.dbeaver.model.struct.DBSConstraint" label="Unique Keys" iconId="#constraints" description="Table unique keys">
                                        <items label="Unique Keys" path="uniqueKey" property="uniqueKeys" iconId="#unique-key">
                                            <items label="Unique key columns" path="column" property="columns" navigable="false">
                                            </items>
                                        </items>
                                    </folder>
                                    <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="Foreign Keys" iconId="#foreign-keys" description="Table foreign keys">
                                        <items label="Foreign Key" path="foreignKey" property="foreignKeys" iconId="#foreign-key">
                                            <items label="Foreign key columns" path="column" property="columns" navigable="false">
                                            </items>
                                        </items>
                                    </folder>
                                    <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="References" iconId="#references" description="Table references">
                                        <items label="Reference Key" path="referenceKey" property="references" iconId="#reference">
                                            <items label="Reference key columns" path="column" property="columns" navigable="false">
                                            </items>
                                        </items>
                                    </folder>
                                    <folder type="org.jkiss.dbeaver.model.struct.DBSTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                                        <items label="Triggers" path="trigger" property="triggers" iconId="#trigger">
                                        </items>
                                    </folder>
                                    <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Table indexes">
                                        <items label="Indexes" path="index" property="indexes" iconId="#index">
                                            <items label="Index columns" path="column" property="columns" navigable="false">
                                            </items>
                                        </items>
                                    </folder>
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Indexes">
                                <items label="Indexes" path="indexe" property="indexes" iconId="#index">
                                    <items label="Index columns" path="column" property="columns" navigable="false">
                                    </items>
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.model.struct.DBSProcedure" label="Procedures" iconId="#procedures" description="Procedures">
                                <items label="Procedures" path="procedure" property="procedures" iconId="#procedure">
                                    <items label="Procedure columns" path="column" property="columns" navigable="false">
                                    </items>
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.model.struct.DBSTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                                <items label="Triggers" path="trigger" property="triggers" iconId="#trigger">
                                </items>
                            </folder>
                        </items>
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSSecurity" label="Security" iconId="#security" description="Security">
                    <folder type="org.jkiss.dbeaver.model.struct.DBSUser" label="Users" iconId="#users" description="Users">
                        <items label="Users" path="users" property="users" iconId="#user">
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.model.struct.DBSPrivilegy" label="Privileges" iconId="#roles" description="Privileges">
                        <items label="Privileges" path="privileges" property="privileges" iconId="#role">
                        </items>
                    </folder>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSMaintance" label="Maintance/Settings" iconId="#settings" description="Maintance/Settings">
                    <object type="org.jkiss.dbeaver.ext.mysql.admin.SessionManager" label="Sessions" description="Server session manager" editor="org.jkiss.dbeaver.ext.mysql.admin.SessionManager"/>
                    <folder type="org.jkiss.dbeaver.model.struct.DBSVariables" label="Variables" iconId="#variables" description="Server variables"/>
                    <folder type="org.jkiss.dbeaver.model.struct.DBSLogs" label="Server Logs" iconId="#logs" description="Server logs"/>
                    <folder type="org.jkiss.dbeaver.model.struct.DBSRepl" label="Replication Status" iconId="#repl" description="Replication Status"/>
                </folder>
            </tree>
            <drivers managable="false">
                <driver
                    id="mysql5"
                    label="MySQL 5.x"
                    icon="icons/mysql_icon.png"
                    class="com.mysql.jdbc.Driver"
                    sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                    webURL="http://mysql.com"
                    description="MySQL standard driver">
                </driver>
            </drivers>
            <views>
                <view
                    id="org.jkiss.dbeaver.ext.mysql.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="MySQL Connection Settings"
                    class="org.jkiss.dbeaver.ext.mysql.views.MySQLConnectionPage"
                    icon="icons/mysql.gif">
                </view>
                <view
                    id="org.jkiss.dbeaver.ext.mysql.dataSourceEditorView"
                    targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                    label="MySQL Connection Settings"
                    class="org.jkiss.dbeaver.ext.mysql.views.MySQLConnectionPage">
                </view>
            </views>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
            id="org.jkiss.dbeaver.ext.mysql.views.MySQLDDLEditor"
            class="org.jkiss.dbeaver.ext.mysql.views.MySQLDDLEditor"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"
            main="false"
            label="DDL"
            description="Table DDL"
            position="additions_end"
            icon="icons/ddl_script.png">
        </editor>

        <editor
            id="org.jkiss.dbeaver.ext.mysql.views.MySQLProcedureEditor"
            class="org.jkiss.dbeaver.ext.mysql.views.MySQLProcedureEditor"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure"
            main="false"
            label="Source"
            description="Procedure source"
            position="additions_end"
            icon="icons/proc_body.png">
        </editor>

        <editor
            id="org.jkiss.dbeaver.ext.mysql.views.MySQLTriggerEditor"
            class="org.jkiss.dbeaver.ext.mysql.views.MySQLTriggerEditor"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTrigger"
            main="false"
            label="Statement"
            description="Trigger statement"
            position="additions_end"
            icon="icons/proc_body.png">
        </editor>
    </extension>

    <extension
          point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
            class="org.jkiss.dbeaver.ext.mysql.data.MySQLDataTypeProvider"
            description="MySQL data types provider"
            id="org.jkiss.dbeaver.ext.mysql.data.MySQLDataTypeProvider"
            label="MySQL data types provider">

            <datasource id="mysql"/>

            <type name="ENUM"/>
            <type name="SET"/>

        </provider>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            name="Session Manager"
            icon="icons/sessions.png"
            class="org.jkiss.dbeaver.ext.mysql.admin.SessionManager"
            id="org.jkiss.dbeaver.ext.mysql.admin.SessionManager">
        </editor>
    </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
    </extension>

</plugin>
