<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2010, Serge Rieder and others. All Rights Reserved.
  -->

<plugin>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="DBeaver"
            id="org.jkiss.dbeaver.ext.mysql">
        </category>
    </extension>
    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts.xml">
        </contexts>
    </extension>
    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.mysql.MySQLDataSourceProvider"
              description="MySQL connector"
              icon="icons/mysql_icon.png"
              id="mysql"
              label="MySQL">
            <tree
                  icon="icons/mysql_icon.png"
                  label="MySQL data source"
                  path="mysql">
                <folder type="org.jkiss.dbeaver.model.struct.DBSCatalog" label="Catalogs" iconId="#catalogs" description="Catalogs">
                    <items label="Catalog" path="catalog" property="catalogs" iconId="#catalog" optional="true">
                        <folder type="org.jkiss.dbeaver.model.struct.DBSTable" label="Tables" iconId="#tables" description="Tables">
                            <items label="Table" path="table" property="tables">
                                <icon iconId="#table" default="true"/>
                                <icon iconId="#view" if="view"/>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSTableColumn" label="Columns" iconId="#columns" description="Table columns">
                                    <items label="Column" path="column" property="columns" iconId="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSConstraint" label="Unique Keys" iconId="#constraints" description="Table unique keys">
                                    <items label="Unique Key" path="uniqueKey" property="uniqueKeys" iconId="#unique-key">
                                        <items label="Unique key columns" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="Foreign Keys" iconId="#foreign-keys" description="Table foreign keys">
                                    <items label="Foreign Key" path="foreignKey" property="foreignKeys" iconId="#foreign-key">
                                        <items label="Foreign key columns" itemLabel="Column" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="References" iconId="#references" description="Table references">
                                    <items label="Reference Key" path="referenceKey" property="references" iconId="#reference">
                                        <items label="Reference key columns" itemLabel="Column" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                                    <items label="Trigger" path="trigger" property="triggers" iconId="#trigger">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Table indexes">
                                    <items label="Index" path="index" property="indexes" iconId="#index">
                                        <items label="Index columns" itemLabel="Column" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Indexes">
                            <items label="Index" path="indexe" property="indexes" iconId="#index">
                                <items label="Index columns" itemLabel="Column" path="column" property="columns" navigable="false">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSProcedure" label="Procedures" iconId="#procedures" description="Procedures">
                            <items label="Procedure" path="procedure" property="procedures" iconId="#procedure">
                                <items label="Procedure columns" itemLabel="Column" path="column" property="columns" navigable="false">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSTrigger" label="Triggers" iconId="#triggers" description="Triggers">
                            <items label="Trigger" path="trigger" property="triggers" iconId="#trigger">
                            </items>
                        </folder>
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSUser" label="Users" iconId="#users" description="Users">
                    <items label="User" path="users" property="users" iconId="#user">
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSAdminister" label="Administer" iconId="#settings" description="Maintenance/Settings">
                    <object type="org.jkiss.dbeaver.ext.mysql.editors.MySQLSessionEditor" label="Sessions" description="Server session manager" editor="org.jkiss.dbeaver.ext.mysql.editors.MySQLSessionEditor"/>
                    <!--
                    <folder type="org.jkiss.dbeaver.model.struct.DBSVariables" label="Variables" iconId="#variables" description="Server variables"/>
                    <folder type="org.jkiss.dbeaver.model.struct.DBSLogs" label="Server Logs" iconId="#logs" description="Server logs"/>
                    <folder type="org.jkiss.dbeaver.model.struct.DBSRepl" label="Replication Status" iconId="#repl" description="Replication Status"/>
                    -->
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSInfo" label="Information" iconId="#information" description="Database information">
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLParameter" label="Session Status" iconId="#info" description="Session status">
                        <items label="Variable" path="sessionStatus" property="sessionStatus" iconId="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLParameter" label="Global Status" iconId="#info" description="Global status">
                        <items label="Variable" path="globalStatus" property="globalStatus" iconId="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLParameter" label="Session Variables" iconId="#info" description="Session variables">
                        <items label="Variable" path="sessionVariables" property="sessionVariables" iconId="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLParameter" label="Global Variables" iconId="#info" description="Global variables">
                        <items label="Variable" path="globalVariables" property="globalVariables" iconId="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLEngine" label="Engines" iconId="#info" description="Database engines">
                        <items label="Engine" path="engines" property="engines" iconId="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.model.access.DBAPrivilege" label="User Privileges" iconId="#info" description="User privileges">
                        <items label="Privilege" path="privileges" property="privileges" iconId="#info" navigable="false" virtual="true"/>
                    </folder>
                </folder>
            </tree>
            <drivers managable="false">
                <driver
                    id="mysql5"
                    label="MySQL 5.x"
                    icon="icons/mysql_icon.png"
                    class="com.mysql.jdbc.Driver"
                    sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                    webURL="http://mysql.com"
                    description="MySQL standard driver">
                </driver>
            </drivers>
            <views>
                <view
                    id="org.jkiss.dbeaver.ext.mysql.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="MySQL Connection Settings"
                    class="org.jkiss.dbeaver.ext.mysql.views.MySQLConnectionPage"
                    icon="icons/mysql_icon.png">
                </view>
                <view
                    id="org.jkiss.dbeaver.ext.mysql.dataSourceEditorView"
                    targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                    label="MySQL Connection Settings"
                    class="org.jkiss.dbeaver.ext.mysql.views.MySQLConnectionPage">
                </view>
            </views>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <manager
            id="org.jkiss.dbeaver.ext.mysql.runtime.MySQLUserManager"
            class="org.jkiss.dbeaver.ext.mysql.runtime.MySQLUserManager"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLUser"
            label="User manager">
        </manager>

        <editor
            id="org.jkiss.dbeaver.ext.mysql.editors.MySQLDDLEditor"
            class="org.jkiss.dbeaver.ext.mysql.editors.MySQLDDLEditor"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"
            main="false"
            label="DDL"
            description="Table DDL"
            position="additions_end"
            icon="icons/ddl_script.png">
        </editor>

        <editor
            id="org.jkiss.dbeaver.ext.mysql.editors.MySQLProcedureEditor"
            class="org.jkiss.dbeaver.ext.mysql.editors.MySQLProcedureEditor"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure"
            main="false"
            label="Source"
            description="Procedure source"
            position="additions_end"
            icon="icons/proc_body.png">
        </editor>

        <editor
            id="org.jkiss.dbeaver.ext.mysql.editors.MySQLTriggerEditor"
            class="org.jkiss.dbeaver.ext.mysql.editors.MySQLTriggerEditor"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTrigger"
            main="false"
            label="Statement"
            description="Trigger statement"
            position="additions_end"
            icon="icons/proc_body.png">
        </editor>

        <editor
            id="org.jkiss.dbeaver.ext.mysql.editors.MySQLUserEditorGeneral"
            class="org.jkiss.dbeaver.ext.mysql.editors.MySQLUserEditorGeneral"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLUser"
            main="true"
            label="General"
            description="General user settings"
            icon="#user">
        </editor>
        <editor
            id="org.jkiss.dbeaver.ext.mysql.editors.MySQLUserEditorPrivileges"
            class="org.jkiss.dbeaver.ext.mysql.editors.MySQLUserEditorPrivileges"
            objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLUser"
            main="false"
            label="Schema Privileges"
            description="Schema user privileges"
            position="additions_start"
            icon="#user">
        </editor>
    </extension>

    <extension
          point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
            class="org.jkiss.dbeaver.ext.mysql.data.MySQLDataTypeProvider"
            description="MySQL data types provider"
            id="org.jkiss.dbeaver.ext.mysql.data.MySQLDataTypeProvider"
            label="MySQL data types provider">

            <datasource id="mysql"/>

            <type name="ENUM"/>
            <type name="SET"/>

        </provider>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            name="Session Manager"
            icon="icons/sessions.png"
            class="org.jkiss.dbeaver.ext.mysql.editors.MySQLSessionEditor"
            id="org.jkiss.dbeaver.ext.mysql.editors.MySQLSessionEditor">
        </editor>
    </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
    </extension>

</plugin>
