<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.jkiss.dbeaver.postgresql.debug.core.pgSQL"
            icon="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
            id="org.jkiss.dbeaver.postgresql.debug.ui.launchConfigurationTypeImages.launchConfigurationTypeImage.pgSQL">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jkiss.dbeaver.postgresql.internal.debug.ui.PgSqlLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroups.launchConfigurationTabGroup.pgSQL.description"
            id="org.jkiss.dbeaver.postgresql.debug.ui.launchConfigurationTabGroups.launchConfigurationTabGroup.pgSQL"
            type="org.jkiss.dbeaver.postgresql.debug.core.pgSQL">
         <launchMode
               description="%launchConfigurationTabGroups.launchConfigurationTabGroup.launchMode.pgSQL.debug.description"
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.jkiss.dbeaver.postgresql.internal.debug.ui.PgSqlLaunchShortcut"
            description="%launchShortcuts.shortcut.pgSQL.description"
            icon="platform:/plugin/org.jkiss.dbeaver.ext.postgresql/$nl$/icons/postgresql_icon.png"
            id="org.jkiss.dbeaver.postgresql.debug.ui.launchShortcuts.shortcut.pgSQL"
            label="%launchShortcuts.shortcut.pgSQL.label"
            modes="debug">
         <configurationType
               id="org.jkiss.dbeaver.postgresql.debug.core.pgSQL"></configurationType>
         <contextualLaunch>
            <contextLabel
                  label="%launchShortcuts.shortcut.pgSQL.label"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure">
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.jkiss.dbeaver.postgresql.internal.debug.ui.PgSqlDebugModelPresentation"
            id="org.jkiss.dbeaver.postgresql.debug.core">
      </debugModelPresentation>
   </extension>

</plugin>
