<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2011, Serge Rieder and others. All Rights Reserved.
  -->

<plugin>
    <extension point="org.eclipse.ui.importWizards">
        <category id="org.jkiss.dbeaver.import_config.third-party" name="3rd Party Configuration"/>
        <wizard
            category="org.jkiss.dbeaver.import_config.third-party"
            class="org.jkiss.dbeaver.ext.import_config.wizards.ImportWizard"
            id="org.jkiss.dbeaver.import_config.sqlsquirrel"
            name="SQL Squirrel"
            icon="icons/squirrel.png">
            <description>
                SQL Squirrel Client
            </description>
        </wizard>
        <wizard
            category="org.jkiss.dbeaver.import_config.third-party"
            class="org.jkiss.dbeaver.ext.import_config.wizards.ImportWizard"
            id="org.jkiss.dbeaver.import_config.sqlsquirrel"
            name="DBVisualizer"
            icon="icons/dbvis.png">
            <description>
                DBVisualizer
            </description>
        </wizard>
    </extension>


</plugin>
