<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2021 DBeaver Corp and others
 * Copyright (C) 2017 Andrew Khitrin (ahitrin@gmail.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->
<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.oceanbase.OceanbaseDataSourceProvider"
            description="Oceanbase"
            id="oceanbase"
            parent="generic"
            label="Oceanbase"
            dialect="oceanbase">
            <tree
                icon="icons/ob_icon.png"
                label="OceanBase data source"
                path="oceanbase">
                <folder type="org.jkiss.dbeaver.ext.oceanbase.mysql.model.OceanbaseMySQLCatalog" label="%tree.databases.node.name" icon="#folder_schema" description="%tree.databases.node.tip">
                    <items label="%tree.database.node.name" path="database" property="catalogs" icon="#database">
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTable" label="%tree.tables.node.name" icon="#folder_table" description="%tree.tables.node.tip">
                            <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableColumn" label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column"></items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="Table constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
                                        <items label="%tree.constraint_columns.node.name" path="column" property="attributeReferences" navigable="false" inline="true" visibleIf="object.constraintType!='CHECK'"></items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="Table foreign keys">
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true"></items>
                                    </items>
                                </folder>
                                <folder label="%tree.references.node.name" icon="#references" description="Table references" virtual="true">
                                    <items label="%tree.reference_key.node.name" path="referenceKey" property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true"></items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Table indexes">
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="Index columns" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true"></items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLPartition" label="%tree.partitions.node.name" icon="#partitions" description="Table partitions" visibleIf="object.dataSource.info.databaseProductVersion>='5.1.6'">
                                    <items label="%tree.partition.node.name" path="partition" property="partitions" icon="#partition">
                                        <items label="%tree.subpartitions.node.name" itemLabel="%tree.subpartition.node.name" path="subpartition" property="subPartitions" navigable="false" inline="true"></items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLView" label="%tree.views.node.name" icon="#folder_view" description="%tree.views.node.tip">
                            <items label="%tree.view.node.name" path="view" property="views" icon="#view">
                                <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column"></items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip" virtual="true">
                            <items label="%tree.index.node.name" path="index" property="indexes" icon="#index" virtual="true">
                                <items label="Index columns" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true"></items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure" label="%tree.procedures.node.name" icon="#procedures" description="%tree.procedures.node.tip">
                            <items label="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure">
                                <items label="Parameters" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false" inline="true"></items>
                            </items>
                        </folder>
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLUser" label="%tree.users.node.name" icon="#folder_user" description="%tree.users.node.tip">
                    <items label="%tree.user.node.name" path="users" property="users" icon="#user">
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLGrant" label="%tree.userGrants.node.name" description="%tree.userGrants.node.tip">
                            <items label="%tree.user.node.name" path="grants" property="grants"/>
                        </folder>
                    </items>
                </folder>
                <folder type="" label="%tree.administer.node.name" icon="#folder_admin" description="%tree.administer.node.tip">
                    <treeContribution category="connectionEditor"/>
                </folder>
                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLInformation" label="%tree.system_info.node.name" icon="#folder_info" description="%tree.system_info.node.tip">
                    <folder label="%tree.session_status.node.name" icon="#info" description="Session status">
                        <items label="%tree.variable.node.name" path="sessionStatus" property="sessionStatus" icon="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder label="%tree.global_status.node.name" icon="#info" description="Global status">
                        <items label="%tree.variable.node.name" path="globalStatus" property="globalStatus" icon="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder label="%tree.session_variables.node.name" icon="#info" description="Session variables">
                        <items label="%tree.variable.node.name" path="sessionVariables" property="sessionVariables" icon="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder label="%tree.global_variables.node.name" icon="#info" description="Global variables">
                        <items label="%tree.variable.node.name" path="globalVariables" property="globalVariables" icon="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLEngine" label="%tree.engines.node.name" icon="#info" description="Database engines">
                        <items label="%tree.engine.node.name" path="engines" property="engines" icon="#info" navigable="false" virtual="true"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLCharset" label="%tree.charsets.node.name" icon="#info" description="Database charsets">
                        <items label="%tree.charset.node.name" path="charsets" property="charsets" icon="#info">
                            <items label="%tree.collation.node.name" path="collations" property="collations" icon="#info" navigable="false"/></items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.model.access.DBAPrivilege" label="%tree.user_privileges.node.name" icon="#info" description="User privileges">
                        <items label="%tree.privilege.node.name" path="privileges" property="privileges" icon="#info" navigable="false" virtual="true"/>
                    </folder>
                </folder>
            </tree>
            <drivers managable="true">
                <driver
                    id="alipay_oceanbase"
                    label="OceanBase"
                    class="com.alipay.oceanbase.jdbc.Driver"
                    sampleURL="jdbc:oceanbase://{host}:{port}[/{database}]"
                    defaultPort="2881"
                    description="Alipay Oceanbase"
                    webURL="https://open.oceanbase.com"
                    icon="icons/ob_icon.png"
                    iconBig="icons/ob_icon_big.png"
                    categories="sql">
                    <replace provider="generic" driver="oceanbase"/>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                </driver>
            </drivers>
        </datasource>
    </extension>
    
    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
            class="org.jkiss.dbeaver.ext.oceanbase.data.OceanbaseValueHandlerProvider"
            description="Oceanbase data types provider"
            id="org.jkiss.dbeaver.ext.oceanbase.data.OceanbaseValueHandlerProvider"
            label="Oceanbase data types provider">
            <datasource id="oceanbase"/>
            <type standard="TIMESTAMP"/>
        </provider>
    </extension>
    
    <extension point="org.jkiss.dbeaver.dataSourceAuth">
        <authModel
            id="oceanbase_native"
            label="Database Native"
            description="Oceanbase native authentication (name/password)"
            class="org.jkiss.dbeaver.ext.oceanbase.model.auth.OceanbaseAuthModelDatabaseNative"
            default="true">
            <replace model="native"/>
            <datasource id="oceanbase"/>
        </authModel>
    </extension>
    
    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator 
        	class="org.jkiss.dbeaver.ext.oceanbase.model.auth.OceanbaseAuthModelDatabaseNative" 
        	uiClass="org.jkiss.dbeaver.ui.dialogs.connection.DatabaseNativeAuthModelConfigurator"/>
    </extension>
    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.oceanbase.mysql.model.OceanbaseMySQLDatabaseManager"
            objectType="org.jkiss.dbeaver.ext.oceanbase.mysql.model.OceanbaseMySQLCatalog"
            label="%manager.catalog.name"/>
    </extension>
    
</plugin>

