<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.data.gis.geometryViewer">
        <geometryViewer label="Graphic" id="org.jkiss.dbeaver.ui.data.managers.gis.view.GeometryGraphicViewer" class="org.jkiss.dbeaver.ui.data.managers.gis.view.GeometryGraphicViewer"/>
    </extension>
</plugin>
