<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- DB2 i -->
        <datasource
                class="org.jkiss.dbeaver.ext.db2.i.DB2IDataSourceProvider"
                description="%datasource.db2_i.description"
                id="db2_i"
                parent="generic"
                label="DB2 iSeries"
                icon="icons/db2_i_icon.png"
                dialect="db2_i">
            <drivers managable="true">

                <driver
                        id="db2_iseries"
                        label="DB2 iSeries/AS 400"
                        icon="icons/db2_i_icon.png"
                        iconBig="icons/db2_i_icon_big.png"
                        category="DB2"
                        class="com.ibm.as400.access.AS400JDBCDriver"
                        sampleURL="jdbc:as400://{host};[libraries={database};]"
                        defaultPort="446"
                        description="IBM DB2 iSeries/AS 400 driver"
                        categories="sql">
                    <replace provider="generic" driver="db2_iseries"/>

                    <file type="jar" path="maven:/net.sf.jt400:jt400:RELEASE" bundle="!drivers.jt400"/>

                    <file type="license" path="drivers/db2-jt400/LICENSE.txt" bundle="drivers.jt400"/>
                    <file type="jar" path="drivers/db2-jt400" bundle="drivers.jt400"/>

                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM SYSIBM.SYSDUMMY1"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="schema-filters-enabled" value="false"/>

                    <!-- Enable table/column descriptions -->
                    <property name="translate binary" value="true"/>
                    <!-- Metasource=0 enables metadata comments read but may break long catalog/schema names (#10302) -->
<!--                    <property name="metadata source" value="0"/>-->
                </driver>

            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="db2iseries" class="org.jkiss.dbeaver.ext.db2.i.model.DB2IMetaModel" driverClass="com.ibm.as400.access.AS400JDBCDriver"/>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="db2_i" parent="generic" class="org.jkiss.dbeaver.ext.db2.i.model.DB2ISQLDialect" label="DB2 i" description="IBM DB2 i SQL dialect." icon="icons/db2_i_icon.png">
        </dialect>
    </extension>

</plugin>
