<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jkiss.dbeaver.postgresql.internal.debug.core.model.PgSqlLaunchDelegate"
            delegateDescription="%launchConfigurationTypes.launchConfigurationType.pgSQL.delegateDescription"
            delegateName="%launchConfigurationTypes.launchConfigurationType.pgSQL.delegateName"
            id="org.jkiss.dbeaver.postgresql.debug.core.pgSQL"
            modes="debug"
            name="%launchConfigurationTypes.launchConfigurationType.pgSQL.name">
      </launchConfigurationType>
   </extension>

</plugin>
