<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="databricks" class="org.jkiss.dbeaver.ext.databricks.model.DatabricksMetaModel" driverClass="com.databricks.client.jdbc.Driver,com.simba.spark.jdbc.Driver" dialect="spark"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <datasource
                class="org.jkiss.dbeaver.ext.databricks.DatabricksDataSourceProvider"
                description="Databricks Connector"
                id="databricks"
                parent="generic"
                label="Databricks"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/databricks_icon.png"
                dialect="generic">
            <drivers managable="true">

                <driver id="databricks"/>
                <driver id="databricks-native"/>

                <driver
                    id="databricks-oss"
                    label="Databricks"
                    icon="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/databricks_icon.png"
                    iconBig="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/databricks_icon_big.png"
                    class="com.databricks.client.jdbc.Driver"
                    sampleURL="jdbc:databricks://{host}[:{port}][/{database}]"
                    webURL="https://docs.databricks.com/aws/en/integrations/jdbc-oss.html"
                    databaseDocumentationSuffixURL="Database-driver-Azure-Databricks"
                    description="Databricks OSS JDBC Driver"
                    supportedConfigurationTypes="MANUAL,URL"
                    categories="sql,analytic,cloud"
                    singleConnection="true">

                    <replace provider="generic" driver="azure_databricks"/>
                    <replace provider="databricks" driver="databricks"/>
                    <replace provider="databricks" driver="databricks-native"/>

                    <file type="jar" path="maven:/com.databricks:databricks-jdbc:1.0.9-oss" bundle="!drivers.databricks_native"/>
                    <file type="jar" path="drivers/databricks_native" bundle="drivers.databricks_native"/>

                    <parameter name="supports-indexes" value="false"/>
                    <parameter name="supports-multi-insert" value="true"/>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                    <property name="EnableComplexDatatypeSupport" value="1"/>
                    <property name="EnableGeoSpatialSupport" value="1"/>
                </driver>
            </drivers>
        </datasource>
    </extension>

</plugin>
