<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceConfigurator">
        <configurator dataSource="google_spanner" class="org.jkiss.dbeaver.ext.spanner.ui.views.SpannerConnectionPage"/>
    </extension>

    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator class="org.jkiss.dbeaver.ext.spanner.auth.SpannerAuthModel" uiClass="org.jkiss.dbeaver.ext.spanner.ui.config.SpannerAuthConfigurator"/>
    </extension>

</plugin>
