<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2024 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension-point id="org.jkiss.dbeaver.service" name="%extension-point.org.jkiss.dbeaver.service.name" schema="schema/org.jkiss.dbeaver.service.exsd"/>
    <extension-point id="org.jkiss.dbeaver.application" name="%extension-point.org.jkiss.dbeaver.application.name" schema="schema/org.jkiss.dbeaver.application.exsd"/>
    <extension-point id="org.jkiss.dbeaver.expressions" name="%extension-point.org.jkiss.dbeaver.expressions.name" schema="schema/org.jkiss.dbeaver.expressions.exsd"/>
    <extension-point id="org.jkiss.dbeaver.dataHintProvider" name="Data editor hint provider" schema="schema/org.jkiss.dbeaver.dataHintProvider.exsd"/>
    <extension-point id="org.jkiss.dbeaver.dataFormatter" name="%extension-point.org.jkiss.dbeaver.dataFormatter.name" schema="schema/org.jkiss.dbeaver.dataFormatter.exsd"/>
    <extension-point id="org.jkiss.dbeaver.dataTypeProvider" name="%extension-point.org.jkiss.dbeaver.dataTypeProvider.name" schema="schema/org.jkiss.dbeaver.dataTypeProvider.exsd"/>
    <extension-point id="org.jkiss.dbeaver.serialize" name="%extension-point.org.jkiss.dbeaver.serialize.name" schema="schema/org.jkiss.dbeaver.serialize.exsd"/>
    <extension-point id="org.jkiss.dbeaver.navigator" name="%extension-point.org.jkiss.dbeaver.navigator.name" schema="schema/org.jkiss.dbeaver.navigator.exsd"/>
    <extension-point id="org.jkiss.dbeaver.settings" name="DBeaver Settings" schema="schema/org.jkiss.dbeaver.settings.exsd"/>

    <extension point="org.jkiss.dbeaver.expressions">
        <namespace id="math" class="java.lang.Math" description="Math functions"/>
        <namespace id="content" class="org.jkiss.dbeaver.registry.expressions.ContentExpressionFunctions" description="Content handling functions"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataFormatter">
        <formatter id="number" label="%DateFormatter.number.label" class="org.jkiss.dbeaver.model.impl.data.formatters.NumberDataFormatter" sampleClass="org.jkiss.dbeaver.model.impl.data.formatters.NumberFormatSample">
            <propertyGroup label="%DateFormatter.number.general.label">
                <property id="useGrouping" label="%DateFormatter.number.general.grouping.label" type="boolean" description="%DateFormatter.number.general.grouping.description"/>
                <property id="groupingSize" label="%DateFormatter.number.general.groupingSize.label" type="integer" description="%DateFormatter.number.general.groupingSize.description"/>
                <property id="maxIntegerDigits" label="%DateFormatter.number.general.maxIntDigits.label" type="integer" description="%DateFormatter.number.general.maxIntDigits.description"/>
                <property id="minIntegerDigits" label="%DateFormatter.number.general.minIntDigits.label" type="integer" description="%DateFormatter.number.general.minIntDigits.description"/>
                <property id="maxFractionDigits" label="%DateFormatter.number.general.maxFractDigits.label" type="integer" description="%DateFormatter.number.general.maxFractDigits.description"/>
                <property id="minFractionDigits" label="%DateFormatter.number.general.minFractDigits.label" type="integer" description="%DateFormatter.number.general.minFractDigits.description"/>
                <property id="useTypeScale" label="%DateFormatter.number.general.useTypeScale.label" type="boolean" description="%DateFormatter.number.general.useTypeScale.description"/>
                <property id="roundingMode" label="%DateFormatter.number.general.roundingMode.label" type="string" description="%DateFormatter.number.general.roundingMode.description" validValues="UP,DOWN,CEILING,FLOOR,HALF_UP,HALF_DOWN,HALF_EVEN,UNNECESSARY"/>
                <property id="nativeSpecialValues" label="%DateFormatter.number.general.nativeSpecialValues.label" type="boolean" description="%DateFormatter.number.general.nativeSpecialValues.description"/>
            </propertyGroup>
        </formatter>
        <formatter id="timestamp" label="%DateFormatter.timestamp.label" class="org.jkiss.dbeaver.model.impl.data.formatters.DateTimeDataFormatter" sampleClass="org.jkiss.dbeaver.model.impl.data.formatters.TimestampFormatSample">
            <propertyGroup label="%DateFormatter.timestamp.general.label">
                <property id="pattern" label="%DateFormatter.timestamp.general.pattern.label" type="string" description="%DateFormatter.timestamp.general.pattern.description" required="true"/>
                <property id="timezone" label="%DateFormatter.timestamp.general.timezone.label" type="string" description="%DateFormatter.timestamp.general.timezone.description" required="false"/>
            </propertyGroup>
        </formatter>
        <formatter id="timestamptz" label="%DateFormatter.timestamptz.label" class="org.jkiss.dbeaver.model.impl.data.formatters.DateTimeDataFormatter" sampleClass="org.jkiss.dbeaver.model.impl.data.formatters.TimestampTzFormatSample">
            <propertyGroup label="%DateFormatter.timestamp.general.label">
                <property id="pattern" label="%DateFormatter.timestamp.general.pattern.label" type="string" description="%DateFormatter.timestamp.general.pattern.description" required="true"/>
            </propertyGroup>
        </formatter>
        <formatter id="date" label="%DateFormatter.date.label" class="org.jkiss.dbeaver.model.impl.data.formatters.DateTimeDataFormatter" sampleClass="org.jkiss.dbeaver.model.impl.data.formatters.DateFormatSample">
            <propertyGroup label="%DateFormatter.date.general.label">
                <property id="pattern" label="%DateFormatter.date.general.pattern.label" type="string" description="%DateFormatter.date.general.pattern.description" required="true"/>
            </propertyGroup>
        </formatter>
        <formatter id="time" label="%DateFormatter.time.label" class="org.jkiss.dbeaver.model.impl.data.formatters.DateTimeDataFormatter" sampleClass="org.jkiss.dbeaver.model.impl.data.formatters.TimeFormatSample">
            <propertyGroup label="%DateFormatter.time.general.label">
                <property id="pattern" label="%DateFormatter.time.general.pattern.label" type="string" description="%DateFormatter.time.general.pattern.description" required="true"/>
                <property id="timezone" label="%DateFormatter.time.general.timezone.label" type="string" description="%DateFormatter.time.general.timezone.description" required="false"/>
            </propertyGroup>
        </formatter>
        <formatter id="timetz" label="%DateFormatter.timetz.label" class="org.jkiss.dbeaver.model.impl.data.formatters.DateTimeDataFormatter" sampleClass="org.jkiss.dbeaver.model.impl.data.formatters.TimeTzFormatSample">
            <propertyGroup label="%DateFormatter.time.general.label">
                <property id="pattern" label="%DateFormatter.time.general.pattern.label" type="string" description="%DateFormatter.time.general.pattern.description" required="true"/>
            </propertyGroup>
        </formatter>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <!-- Standard transformers (enabled by default) -->
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.ComplexTypeAttributeTransformer"
                id="org.jkiss.dbeaver.core.ComplexTypeAttributeTransformer"
                name="Complex type"
                description="%ComplexTypeTransformer.general.description"
                applyByDefault="true">
            <type kind="STRUCT"/>
            <type kind="DOCUMENT"/>
            <!--<type kind="OBJECT"/>-->
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.MapAttributeTransformer"
                id="org.jkiss.dbeaver.core.MapAttributeTransformer"
                name="Map"
                description="%MapTransformer.general.description"
                applyByDefault="true">
            <type kind="STRUCT"/>
            <type kind="DOCUMENT"/>
            <!--<type kind="OBJECT"/>-->
            <type kind="ANY"/>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.ArrayAttributeTransformer"
                id="org.jkiss.dbeaver.core.ArrayAttributeTransformer"
                name="Array"
                description="%ArrayTransformer.general.description"
                applyByDefault="true">
            <type kind="ARRAY"/>
        </transformer>

        <!-- Extra transformers -->
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.EpochTimeAttributeTransformer"
                id="org.jkiss.dbeaver.core.EpochTimeAttributeTransformer"
                name="Epoch Time"
                description="%EpochTimeTransformer.general.description"
                applyByDefault="false"
                custom="true">
            <type kind="NUMERIC"/>
            <propertyGroup label="Properties">
                <property id="unit" label="Unit" type="string" description="%EpochTimeTransformer.property.unit.description" defaultValue="milliseconds" required="true" validValues="seconds,milliseconds,microseconds,nanoseconds,dotnet,w32filetime,oadate,sqliteJulian"/>
                <property id="zoneId" label="Timezone ID" type="string" description="%EpochTimeTransformer.property.timezoneID.description"/>
            </propertyGroup>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.RadixAttributeTransformer"
                id="org.jkiss.dbeaver.core.RadixAttributeTransformer"
                name="Number Radix"
                description="%RadixTransformer.general.description"
                applyByDefault="false"
                custom="true">
            <type kind="NUMERIC"/>
            <propertyGroup label="Properties">
                <property id="radix" label="Radix" type="string" description="Number radix" defaultValue="16" required="true" validValues="2,8,10,16,32"/>
                <property id="bits" label="Bits" type="integer" description="Visible least significant bits number (when radix is 2)" defaultValue="32" required="true"/>
                <property id="prefix" label="Show prefix" type="boolean" description="Shows radix prefix (0x for hex)" defaultValue="false" required="true"/>
                <property id="unsigned" label="Unsigned" type="boolean" description="Shows value without sign" defaultValue="false" required="true"/>
            </propertyGroup>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.URLAttributeTransformer"
                id="org.jkiss.dbeaver.core.URLAttributeTransformer"
                name="URL"
                description="%URLTransformer.general.description"
                applyByDefault="false"
                custom="true">
            <type kind="NUMERIC"/>
            <type kind="STRING"/>
            <propertyGroup label="Properties">
                <property id="pattern" label="%URLTransformer.property.pattern.label" type="string" description="%URLTransformer.property.pattern.description" defaultValue="http://${value}" required="false"/>
            </propertyGroup>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.BooleanAttributeTransformer"
                id="boolean"
                name="Boolean"
                description="%BooleanTransformer.general.description"
                applyByDefault="false"
                custom="true">
            <type kind="NUMERIC"/>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.UUIDAttributeTransformer"
                id="org.jkiss.dbeaver.core.UUIDAttributeTransformer"
                name="UUID"
                description="%UUIDTransformer.general.description"
                applyByDefault="false"
                custom="true">
            <type kind="BINARY"/>
            <type kind="CONTENT"/>
            <propertyGroup label="Properties">
                <property id="type" label="%UUIDTransformer.property.type.label" type="string" description="%UUIDTransformer.property.type.description" defaultValue="Version1" required="true" validValues="Version1,Version2,Ordered" allowCustomValues="false"/>
                <property id="case" label="%UUIDTransformer.property.case.label" type="string" description="%UUIDTransformer.property.case.description" defaultValue="Lower case" required="true" validValues="Lower case,Upper case" allowCustomValues="false"/>
            </propertyGroup>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.BinaryAttributeTransformer"
                id="org.jkiss.dbeaver.core.BinaryAttributeTransformer"
                name="Binary"
                description="%BinaryTransformer.general.description"
                applyByDefault="false"
                custom="true">
            <type kind="STRING"/>
            <propertyGroup label="Properties">
                <property id="format" label="%BinaryTransformer.property.format.label" type="string" description="%BinaryTransformer.property.format.description" defaultValue="hex" required="false" validValues="hex,native,base64,string" allowCustomValues="false"/>
                <property id="encoding" label="%BinaryTransformer.property.encoding.label" type="string" description="%BinaryTransformer.property.encoding.description" defaultValue="utf-8" required="false"/>
            </propertyGroup>
        </transformer>
        <transformer
                class="org.jkiss.dbeaver.model.impl.data.transformers.NumericAttributeTransformer"
                id="org.jkiss.dbeaver.core.NumericAttributeTransformer"
                name="Numeric"
                description="Represents string value as number"
                applyByDefault="false"
                custom="true">
            <type kind="STRING"/>
            <propertyGroup label="Properties">
                <property id="type" type="string" label="%NumericTransformer.property.type.label" description="%NumericTransformer.property.type.description" defaultValue="double" required="true" validValues="byte,short,int,long,float,double" allowCustomValues="false"/>
                <property id="lenient" type="boolean" label="%NumericTransformer.property.lenient.label" description="%NumericTransformer.property.lenient.description" defaultValue="false" required="true"/>
            </propertyGroup>
        </transformer>

    </extension>

    <extension point="org.jkiss.dbeaver.dataHintProvider">
        <hintProvider class="org.jkiss.dbeaver.model.data.hints.standard.ArrayHintProvider" id="array-size" label="%hints.array-size.label" description="%hints.array-size.description">
            <supports kind="ARRAY"/>
        </hintProvider>
        <hintProvider class="org.jkiss.dbeaver.model.data.hints.standard.BinaryHintProvider" id="binary-size" label="Binary data" description="Shows size of binary value">
            <supports kind="BINARY"/>
        </hintProvider>
    </extension>

    <extension point="org.jkiss.dbeaver.settings">
        <propertyGroup id="editors" label="Editors">
            <propertyGroup id="dataEditor" label="Data Editor">
                <property id="resultset.maxrows" label="Default fetch size" description="Default number of rows to fetch" type="integer"
                          defaultValue="200"
                          scopes="global,user"/>
            </propertyGroup>
        </propertyGroup>
    </extension>

</plugin>
