<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.dsql.dataSourceWizardView"
                dataSource="dsql"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dsql.dialog.connection.header"
                class="org.jkiss.dbeaver.ext.dsql.ui.views.DSQLConnectionPage"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.dsql/icons/dsql_icon.png">
        </view>
        <view
                id="org.jkiss.dbeaver.ext.dsql.dataSourceEditorView"
                dataSource="dsql"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                label="%dsql.dialog.connection.header"
                class="org.jkiss.dbeaver.ext.dsql.ui.views.DSQLConnectionPage"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.dsql/icons/dsql_icon.png">
        </view>
    </extension>
    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator class="org.jkiss.dbeaver.ext.dsql.model.AuthModelIAM" uiClass="org.jkiss.dbeaver.ext.dsql.ui.DSQLAuthIAMConfigurator"/>
    </extension>
</plugin>