<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.eclipse.ui.importWizards">
        <category id="org.jkiss.dbeaver.config.migration.third-party" name="%category.org.jkiss.dbeaver.config.migration.third-party.name"/>
        <wizard
            category="org.jkiss.dbeaver.config.migration.third-party"
            class="org.jkiss.dbeaver.ui.config.migration.wizards.squirrel.ConfigImportWizardSquirrel"
            id="org.jkiss.dbeaver.config.migration.squirrel"
            name="SQL Squirrel"
            icon="icons/squirrel.png">
            <description>SQL Squirrel Client</description>
        </wizard>
        <wizard
            category="org.jkiss.dbeaver.config.migration.third-party"
            class="org.jkiss.dbeaver.ui.config.migration.wizards.dbvis.ConfigImportWizardDbvis"
            id="org.jkiss.dbeaver.config.migration.dbvis"
            name="DBVisualizer"
            icon="icons/dbvis.png">
            <description>DBVisualizer</description>
        </wizard>
        <wizard
            category="org.jkiss.dbeaver.config.migration.third-party"
            class="org.jkiss.dbeaver.ui.config.migration.wizards.navicat.ConfigImportWizardNavicat"
            id="org.jkiss.dbeaver.config.migration.navicat"
            name="Navicat"
            icon="icons/navicat.png">
            <description>Navicat</description>
        </wizard>
        <wizard
            category="org.jkiss.dbeaver.config.migration.third-party"
            class="org.jkiss.dbeaver.ui.config.migration.wizards.custom.ConfigImportWizardCustom"
            id="org.jkiss.dbeaver.config.migration.custom"
            name="Custom"
            icon="icons/custom.png">
            <description>Custom connections format (CSV, XML)</description>
        </wizard>
        <wizard
            category="org.jkiss.dbeaver.config.migration.third-party"
            class="org.jkiss.dbeaver.ui.config.migration.wizards.sqlworkbench.ConfigImportWizardSqlWorkbench"
            id="org.jkiss.dbeaver.config.migration.sqlworkbench"
            name="MySQL Workbench"
            icon="icons/mysql_workbench.png">
            <description>MySQL Workbench</description>
        </wizard>
        <wizard
            category="org.jkiss.dbeaver.config.migration.third-party"
            class="org.jkiss.dbeaver.ui.config.migration.wizards.datagrip.ConfigImportWizardDataGrip"
            id="org.jkiss.dbeaver.config.migration.datagrip"
            name="DataGrip and JetBrains IDEs"
            icon="icons/idea.png">
            <description>DataGrip and other JetBrains products</description>
        </wizard>

    </extension>


</plugin>
