<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- Jennifer -->

        <datasource
                class="org.jkiss.dbeaver.ext.jennifer.JenniferDataSourceProvider"
                description="%datasource.jennifer.description"
                id="jennifer"
                parent="generic"
                label="Jennifer"
                icon="icons/jennifer_icon.png"
                dialect="basic">
            <drivers managable="true">

                <driver
                        id="jennifer_jdbc"
                        label="Jennifer"
                        class="jennifer.jdbc.driver.JenniferDriver"
                        icon="icons/jennifer_icon.png"
                        iconBig="icons/jennifer_icon_big.png"
                        sampleURL="jdbc:jennifer://{host}:{port}/"
                        defaultPort="8001"
                        description="Jennifer JDBC driver"
                        webURL="https://www.jennifersoft.com"
                        categories="apm">
                    <replace provider="generic" driver="jennifer_generic"/>
                    <parameter name="supports-references" value="false"/>
                    <parameter name="supports-indexes" value="false"/>
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="use-search-string-escape" value="true"/>
                </driver>

            </drivers>

        </datasource>
    </extension>

</plugin>
