<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="duckdb_jdbc"
              class="org.jkiss.dbeaver.ext.duckdb.model.DuckMetaModel"
              driverClass="org.duckdb.DuckDBDriver"
              dialect="generic"/>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.duckdb.edit.DuckDBSequenceManager"
                 objectType="org.jkiss.dbeaver.ext.duckdb.model.DuckDBSequence"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
                class="org.jkiss.dbeaver.ext.duckdb.model.data.DuckDBValueHandlerProvider"
                description="DuckDB data types provider"
                id="DuckDBValueHandlerProvider"
                parent="GenericValueHandlerProvider"
                label="DuckDB data types provider">

            <datasource class="org.jkiss.dbeaver.ext.duckdb.model.DuckDBDataSource"/>
            <type name="GEOMETRY"/>
            <type name="BLOB"/>
        </provider>
    </extension>


</plugin>
