<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="hana" class="org.jkiss.dbeaver.ext.hana.model.HANAMetaModel" driverClass="com.sap.db.jdbc.Driver"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
       <datasource
             class="org.jkiss.dbeaver.ext.hana.HANADataSourceProvider"
             description="%datasource.hana.description"
             id="hana"
             parent="generic"
             label="HANA"
             dialect="sap_hana">

            <tree path="hana" label="HANA data source">
                <folder type="org.jkiss.dbeaver.ext.hana.model.HANASchema" label="%tree.schemas.node.name" icon="#folder_schema">
                    <items label="#schema" path="schema" property="schemas" icon="#schema">
                        <folder type="org.jkiss.dbeaver.ext.hana.model.HANATable" label="%tree.tables.node.name" icon="#folder_table" visibleIf="!object.hasOnlySynonyms()">
                            <items label="%tree.table.node.name" path="table" property="physicalTables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.hana.model.HANATableColumn" label="%tree.columns.node.name" icon="#columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column"/>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericUniqueKey" label="%tree.uni_keys.node.name" icon="#constraints">
                                    <items label="%tree.uni_key.node.name" path="uniqueKey" property="constraints" icon="#unique-key">
                                        <items label="%tree.uni_key.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true"/>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys">
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true"/>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableIndex" label="%tree.indexes.node.name" icon="#indexes">
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="%tree.index_columns.node.name" path="column" property="attributeReferences" icon="#column" navigable="false" inline="true"/>
                                    </items>
                                </folder>                                
                                <folder type="org.jkiss.dbeaver.ext.hana.model.HANAPartition" label="%tree.partitions.node.name" icon="#partitions">
                                    <items label="%tree.partitions.node.name" path="partition" property="partitions" icon="#partition"/>
                                </folder>
                                <folder label="%tree.references.node.name" icon="#references" virtual="true">
                                    <items label="%tree.reference.node.name" path="reference" property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true"/>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTrigger" label="%tree.triggers.node.name" icon="#triggers">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger"/>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.hana.model.HANAView" label="%tree.tviews.node.name" icon="#folder_view" visibleIf="!object.hasOnlySynonyms()">
                            <items label="%tree.tview.node.name" path="view" property="views" icon="#view">
                                <folder type="org.jkiss.dbeaver.ext.hana.model.HANATableColumn" label="%tree.columns.node.name" icon="#columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column"/>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTrigger" label="%tree.triggers.node.name" icon="#triggers">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger"/>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.hana.model.HANADependency" label="%tree.dependencies.node.name" icon="#references">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="#reference" virtual="true"/>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTableIndex" label="%tree.indexes.node.name" icon="#indexes" visibleIf="!object.hasOnlySynonyms()">
                            <items icon="#index" label="%tree.index.node.name" path="index" property="indexes" virtual="true">
                                <items icon="#column" label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" inline="true" navigable="false" virtual="true"/>
                            </items>
                        </folder>
                        <folder id="procedures" type="org.jkiss.dbeaver.ext.hana.model.HANAProcedure" label="%tree.procedures.node.name" icon="#procedures" visibleIf="!object.hasOnlySynonyms()">
                            <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="proceduresOnly" icon="#procedure">
                                <folder label="%tree.procedure_columns.node.name" icon="#columns" description="%tree.procedure_columns.node.name">
                                    <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false">
                                        <items label="%tree.inplace_table_type.node.name" path="inplaceTableType"
                                               property="inplaceTableType" visibleIf="object.hasInplaceTableType()" navigable="false"/>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.hana.model.HANADependency" label="%tree.dependencies.node.name" icon="#references">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="#reference" virtual="true"/>
                                </folder>
                            </items>
                        </folder>
                        <folder id="functions" type="org.jkiss.dbeaver.ext.hana.model.HANAProcedure" label="%tree.functions.node.name" icon="#functions" visibleIf="!object.hasOnlySynonyms()">
                            <items label="%tree.functions.node.name" itemLabel="%tree.function.node.name" path="function" property="functionsOnly" icon="#function">
                                <folder label="%tree.function_columns.node.name" icon="#columns" description="%tree.procedure_columns.node.name">
                                    <items label="%tree.function_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false">
                                        <items label="%tree.inplace_table_type.node.name" path="inplaceTableType"
                                               property="inplaceTableType" visibleIf="object.hasInplaceTableType()" navigable="false"/>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.hana.model.HANADependency" label="%tree.dependencies.node.name" icon="#references">
                                    <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="#reference" virtual="true"/>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericSequence" label="%tree.sequences.node.name" icon="#sequences" visibleIf="!object.hasOnlySynonyms()">
                            <items label="%tree.sequence.node.name" path="sequence" property="sequences" icon="#sequence"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericSynonym" label="%tree.synonyms.node.name" icon="#synonyms">
                            <items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTrigger" label="%tree.triggers.node.name" icon="#triggers" visibleIf="!object.hasOnlySynonyms()">
                            <items label="%tree.trigger.node.name" path="trigger" property="tableTriggers" icon="#trigger"/>
                        </folder>
                    </items>
                </folder>
                <folder type="org.jkiss.dbeaver.model.struct.DBSDataType" label="%tree.dataTypes.node.name" icon="#data_types" description="Global data types">
                    <items label="%tree.dataType.node.name" path="dataType" property="dataTypes" icon="#data_type"/>
                </folder>
            </tree>
            
            <drivers managable="true">
                <driver
                    id="sap_hana"
                    category="SAP"
                    label="HANA"
                    icon="icons/sap_hana_icon.png"
                    iconBig="icons/sap_hana_icon_big.png"
                    class="com.sap.db.jdbc.Driver"
                    sampleURL="jdbc:sap://{host}[:{port}]"
                    defaultPort="30015"
                    description=""
                    webURL="https://help.sap.com/viewer/0eec0d68141541d1b07893a39944924e/latest/en-US/ff15928cf5594d78b841fbbe649f04b4.html"
                    categories="sql">
                    <file type="jar" path="maven:/com.sap.cloud.db.jdbc:ngdbc:RELEASE" bundle="!drivers.hana"/>
                    <file type="license" path="https://www.apache.org/licenses/LICENSE-2.0.txt" bundle="!drivers.hana"/>
                    <file type="jar" path="drivers/hana" bundle="drivers.hana"/>
                    <file type="license" path="drivers/apache_lic/LICENSE.txt" bundle="drivers.hana"/>
                    <replace provider="generic" driver="sap_hana"/>
                    <parameter name="split-procedures-and-functions" value="true"/>
                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM DUMMY"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA &quot;?&quot;"/>
                    <parameter name="ddl-drop-column-short" value="true"/>
                    <parameter name="ddl-drop-column-brackets" value="true"/>
                    <parameter name="driver-properties" value="databaseName,encrypt,validateCertificate"/>
                    <!-- Kerberos config -->
                    <parameter name="krb5.enabled" value="true"/>
                    <parameter name="krb5.loginModule" value="com.sun.security.jgss.krb5.initiate"/>
                    <parameter name="krb5.sendUserNameToDatabase" value="false"/>
                    <parameter name="krb5.sendPasswordToDatabase" value="false"/>
                </driver>

                <provider-properties drivers="*">
                    <propertyGroup label="Settings">
                        <property id="instanceNumber" label="Instance Number" type="string"/>
                    </propertyGroup>
                </provider-properties>
            </drivers>

       </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.hana.edit.HANATableManager" objectType="org.jkiss.dbeaver.ext.hana.model.HANATable"/>
        <manager class="org.jkiss.dbeaver.ext.hana.edit.HANATableColumnManager" objectType="org.jkiss.dbeaver.ext.hana.model.HANATableColumn"/>
        <manager class="org.jkiss.dbeaver.ext.hana.edit.HANASchemaManager" objectType="org.jkiss.dbeaver.ext.hana.model.HANASchema"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
                class="org.jkiss.dbeaver.ext.hana.model.data.HANAValueHandlerProvider"
                description="%provider.data.type.hana.description"
                id="HANAValueHandlerProvider"
                parent="GenericValueHandlerProvider"
                label="%provider.data.type.hana.name">

            <datasource id="hana"/>

            <type name="real_vector"/>
            <type name="ST_Geometry"/>
            <type name="ST_Point"/>
        </provider>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="sap_hana" parent="generic" class="org.jkiss.dbeaver.ext.hana.model.HANASQLDialect" label="HANA" description="SAP HANA SQL dialect." icon="icons/sap_hana_icon.png">
        </dialect>
    </extension>

</plugin>
