<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="DBeaverPerspectiveActive">
          <with variable="activeWorkbenchWindow.activePerspective">
              <equals value="org.jkiss.dbeaver.core.perspective"/>
          </with>
      </definition>
   </extension>

    <!-- Notifications -->

    <extension point="org.eclipse.ui.newWizards">
        <category id="org.jkiss.dbeaver.core.new.general" name="%category.org.jkiss.dbeaver.core.new.general.name"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.core.database" name="%category.dbconnection.name" description="%category.dbconnection.description"/>
    </extension>

    <extension point="org.eclipse.ui.contexts">
        <context
                id="org.jkiss.dbeaver.ui.perspective"
                parentId="org.eclipse.ui.contexts.window"
                name="DBeaver Perspective"
                description="DBeaver Perspective Context"/>
    </extension>

</plugin>
