<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

        <!--
    <extension point="org.jkiss.dbeaver.generic.meta">
-        <meta id="ocient" class="org.jkiss.dbeaver.ext.ocient.model.OcientMetaModel" driverClass="com.ocient.jdbc.JDBCDriver"/>
    </extension>
        -->
    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.ocient.OcientDataSourceProvider"
                description="%datasource.bq.description"
                id="ocient"
                parent="generic"
                label="Ocient DB"
                icon="icons/ocient_icon.png">
            <drivers managable="true">
                <driver
                        id="ocient_jdbc"
                        label="Ocient"
                        class="com.ocient.jdbc.JDBCDriver"
                        icon="icons/ocient_icon.png"
                        iconBig="icons/ocient_icon_big.png"
                        sampleURL="jdbc:ocient://{host}:{port}/{database}"
                        defaultPort="4050"
                        description="Ocient JDBC driver"
                        webURL=""
                        categories="sql,analytic">
                    <replace provider="generic" driver="ocient_generic"/>
                    <file type="jar" path="maven:/com.ocient:ocient-jdbc4:RELEASE"/>
                </driver>
             </drivers>
        </datasource>
    </extension>

</plugin>
