<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2017 Serge Rider (serge@jkiss.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="sqlserver" class="org.jkiss.dbeaver.ext.mssql.model.SQLServerMetaModel"
              driverClass="net.sourceforge.jtds.jdbc.Driver,com.microsoft.sqlserver.jdbc.SQLServerDriver,com.sybase.jdbc4.jdbc.SybDriver"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- SQL Server -->

        <datasource
                class="org.jkiss.dbeaver.ext.mssql.SQLServerDataSourceProvider"
                description="%datasource.mssql.description"
                id="mssql"
                parent="generic"
                label="MS SQL Server"
                icon="icons/mssql_icon.png">
            <drivers managable="true">

                <driver
                    id="mssql_jdbc_jtds"
                    label="jTDS driver"
                    icon="icons/mssql_icon.png"
                    category="MS SQL Server"
                    class="net.sourceforge.jtds.jdbc.Driver"
                    sampleURL="jdbc:jtds:sqlserver://{host}[:{port}][/{database}]"
                    defaultPort="1433"
                    webURL="http://jtds.sourceforge.net/"
                    description="jTDS SQL Server driver">

                    <replace provider="generic" driver="mssql"/>

                    <property name="loginTimeout" value="20"/>

                    <parameter name="query-get-active-db" value="select db_name()"/>
                    <parameter name="query-set-active-db" value="use [?]"/>
                    <parameter name="script-delimiter" value="go"/>
                    <parameter name="supports-scroll" value="true"/>
                    <parameter name="supports-multiple-results" value="true"/>

                    <parameter name="native-format-timestamp" value="'{ts '''yyyy-MM-dd HH:mm:ss.fff'''}'"/>
                    <parameter name="native-format-time" value="''HH:mm:ss.SSS''"/>

                    <parameter name="script-delimiter-after-query" value="true"/>

                    <file type="jar" path="maven:/net.sourceforge.jtds:jtds:RELEASE" bundle="!drivers.jtds"/>
                    <file type="lib" os="win32" arch="x86" path="repo:/drivers/jtds/SSO/x86/ntlmauth.dll" bundle="!drivers.jtds"/>
                    <file type="lib" os="win32" arch="x86_64" path="repo:/drivers/jtds/SSO/x64/ntlmauth.dll" bundle="!drivers.jtds"/>

                    <file type="license" path="drivers/jtds/LICENSE.txt" bundle="drivers.jtds"/>
                    <file type="jar" path="drivers/jtds/jtds.jar" bundle="drivers.jtds"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/jtds/SSO/x86/ntlmauth.dll" bundle="drivers.jtds"/>
                    <file type="lib" os="win32" arch="x86_64" path="drivers/jtds/SSO/x64/ntlmauth.dll" bundle="drivers.jtds"/>
                </driver>

                <driver
                    id="mssql_jdbc_ms"
                    label="Microsoft Driver 2"
                    icon="icons/mssql_icon.png"
                    category="MS SQL Server"
                    class="com.microsoft.sqlserver.jdbc.SQLServerDriver"
                    sampleURL="jdbc:sqlserver://{host}[:{port}][;databaseName={database}]"
                    defaultPort="1433"
                    webURL="http://msdn.microsoft.com/en-us/sqlserver/aa937724"
                    description="Microsoft JDBC Driver for SQL Server">

                    <replace provider="generic" driver="mssql_ms"/>

                    <parameter name="query-get-active-db" value="select db_name()"/>
                    <parameter name="query-set-active-db" value="use [?]"/>
                    <parameter name="script-delimiter" value="go"/>
                    <parameter name="supports-multiple-results" value="true"/>

                    <parameter name="native-format-timestamp" value="'{ts '''yyyy-MM-dd HH:mm:ss.fff'''}'"/>
                    <parameter name="native-format-time" value="''HH:mm:ss.SSS''"/>
                    <parameter name="script-delimiter-after-query" value="true"/>

                    <file type="jar" path="repo:/drivers/mssql/sqljdbc4.jar" bundle="!drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86" path="repo:/drivers/mssql/auth/x86/sqljdbc_auth.dll" bundle="!drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86_64" path="repo:/drivers/mssql/auth/x64/sqljdbc_auth.dll" bundle="!drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86" path="repo:/drivers/mssql/xa/x86/sqljdbc_xa.dll" bundle="!drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86_64" path="repo:/drivers/mssql/xa/x64/sqljdbc_xa.dll" bundle="!drivers.mssql"/>
                    <file type="license" path="repo:/drivers/mssql/LICENSE.txt" bundle="!drivers.mssql"/>

                    <file type="jar" path="drivers/mssql/sqljdbc4.jar" bundle="drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/mssql/auth/x86/sqljdbc_auth.dll" bundle="drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86_64" path="drivers/mssql/auth/x64/sqljdbc_auth.dll" bundle="drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/mssql/xa/x86/sqljdbc_xa.dll" bundle="drivers.mssql"/>
                    <file type="lib" os="win32" arch="x86_64" path="drivers/mssql/xa/x64/sqljdbc_xa.dll" bundle="drivers.mssql"/>
                    <file type="license" path="drivers/mssql/LICENSE.txt" bundle="drivers.mssql"/>
                </driver>

                <!-- Sybase -->

                <driver
                        id="sybase_jtds"
                        label="Sybase"
                        icon="icons/sybase_icon.png"
                        class="net.sourceforge.jtds.jdbc.Driver"
                        sampleURL="jdbc:jtds:sybase://{host}[:{port}][/{database}]"
                        defaultPort="5000"
                        webURL="http://jtds.sourceforge.net/"
                        description="Sybase jTDS driver">

                    <replace provider="generic" driver="sybase"/>
                    <property name="loginTimeout" value="20"/>

                    <parameter name="query-get-active-db">select db_name()</parameter>
                    <parameter name="query-set-active-db">use [?]</parameter>
                    <parameter name="script-delimiter" value="go"/>
                    <parameter name="ddl-drop-column-short" value="true"/>
                    <parameter name="supports-multiple-results" value="true"/>

                    <parameter name="native-format-timestamp" value="'{ts '''yyyy-MM-dd HH:mm:ss.ffffff'''}'"/>
                    <parameter name="native-format-time" value="''HH:mm:ss.SSS''"/>

                    <file type="jar" path="maven:/net.sourceforge.jtds:jtds:RELEASE" bundle="!drivers.jtds"/>
                    <file type="license" path="drivers/jtds/LICENSE.txt" bundle="drivers.jtds"/>
                    <file type="jar" path="drivers/jtds/jtds.jar" bundle="drivers.jtds"/>
                </driver>

                <driver
                        id="sybase_jconn"
                        label="Sybase jConnect"
                        icon="icons/sybase_icon.png"
                        class="com.sybase.jdbc4.jdbc.SybDriver"
                        sampleURL="jdbc:sybase:Tds:{host}[:{port}][?ServiceName={database}]"
                        defaultPort="5000"
                        webURL="http://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.infocenter.dc01776.1604/doc/html/san1357754912881.html"
                        description="Sybase jConnect driver">

                    <property name="loginTimeout" value="20"/>

                    <parameter name="query-get-active-db">select db_name()</parameter>
                    <parameter name="query-set-active-db">use [?]</parameter>
                    <parameter name="script-delimiter" value="go"/>
                    <parameter name="ddl-drop-column-short" value="true"/>
                    <parameter name="supports-multiple-results" value="true"/>

                    <parameter name="native-format-timestamp" value="'{ts '''yyyy-MM-dd HH:mm:ss.ffffff'''}'"/>
                    <parameter name="native-format-time" value="''HH:mm:ss.SSS''"/>

                    <file type="jar" path="repo:/drivers/sybase/jconnect/jconn4.jar" bundle="!drivers.sybase.jconnect"/>
                    <file type="license" path="repo:/drivers/sybase/jconnect/LICENSE.txt" bundle="!drivers.sybase.jconnect"/>

                    <file type="jar" path="drivers/sybase/jconnect/jconn4.jar" bundle="drivers.sybase.jconnect"/>
                    <file type="license" path="drivers/sybase/jconnect/LICENSE.txt" bundle="drivers.sybase.jconnect"/>
                </driver>

            </drivers>

            <views>
                <view
                        id="org.jkiss.dbeaver.ext.mssql.dataSourceWizardView"
                        targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                        label="%sqlserver.dialog.connection.header"
                        class="org.jkiss.dbeaver.ext.mssql.ui.SQLServerConnectionPage"
                        icon="icons/database.png">
                </view>
                <view
                        class="org.jkiss.dbeaver.ext.mssql.ui.SQLServerConnectionPage"
                        icon="icons/database.png"
                        id="org.jkiss.dbeaver.ext.mssql.dataSourceEditorView"
                        label="%sqlserver.dialog.connection.header"
                        targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
                </view>
            </views>

        </datasource>
    </extension>

</plugin>
