<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.dameng.dataSourceWizardView"
                dataSource="dameng"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
        />
        <view
                id="org.jkiss.dbeaver.ext.dameng.dataSourceEditorView"
                dataSource="dameng"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
        />
    </extension>
</plugin>