<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="informix" class="org.jkiss.dbeaver.ext.informix.model.InformixMetaModel" driverClass="com.informix.jdbc.IfxDriver"/>
    </extension>

</plugin>
