<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataManager">
        <manager class="org.jkiss.dbeaver.ext.clickhouse.ui.ClickhouseEnumValueManager" id="org.jkiss.dbeaver.ext.clickhouse.ui.ClickhouseEnumValueManager">
            <supports dataSource="clickhouse" name="ENUM8"/>
            <supports dataSource="clickhouse" name="ENUM16"/>
        </manager>
    </extension>

</plugin>
