<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataManager">
        <manager class="org.jkiss.dbeaver.ext.clickhouse.ui.ClickhouseEnumValueManager" id="org.jkiss.dbeaver.ext.clickhouse.ui.ClickhouseEnumValueManager">
            <supports dataSource="clickhouse" typeName="ENUM8"/>
            <supports dataSource="clickhouse" typeName="ENUM16"/>
        </manager>
    </extension>
    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.clickhouse.dataSourceWizardView"
                dataSource="clickhouse"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.clickhouse.ui.ClickhouseConnectionPage">
        </view>
        <view
                class="org.jkiss.dbeaver.ext.clickhouse.ui.ClickhouseConnectionPage"
                id="org.jkiss.dbeaver.ext.clickhouse.dataSourceEditorView"
                dataSource="clickhouse"
                label="%dialog.connection.header"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
        </view>
    </extension>
</plugin>
