<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="DBeaver"
            id="org.jkiss.dbeaver.ext.generic">
        </category>
        <view
            name="Edit Table"
            icon="icons/sample.gif"
            category="org.jkiss.dbeaver.ext.generic"
            class="org.jkiss.dbeaver.ext.generic.views.EditTableView"
            id="org.jkiss.dbeaver.ext.generic.views.EditTableView">
        </view>
    </extension>
    <extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                ratio="0.5"
                relative="org.eclipse.ui.views.TaskList"
                relationship="right"
                id="org.jkiss.dbeaver.ext.generic.views.EditTableView">
            </view>
        </perspectiveExtension>
    </extension>
    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts.xml">
        </contexts>
    </extension>
    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.generic.GenericDataSourceProvider"
              description="Generic JDBC connector"
              id="generic"
              label="Generic">
            <tree path="generic" label="Generic data source">
                <icon icon="icons/tree/connection_disabled.png" default="true"/>
                <icon icon="icons/tree/connection_enabled.png" if="object.connected"/>

                <items label="Catalog" path="catalog" property="catalogs" iconId="#catalog" optional="true">
                    <items label="Schema" path="schema" property="schemas" iconId="#schema" optional="true">
                        <folder type="org.jkiss.dbeaver.model.struct.DBSTable" label="Tables" iconId="#tables" description="Tables">
                            <items label="Table" path="table" property="tables">
                                <icon iconId="#table" default="true"/>
                                <icon iconId="#view" if="object.view"/>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSTableColumn" label="Columns" iconId="#columns" description="Table columns">
                                    <items label="Column" path="column" property="columns" iconId="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Table indexes">
                                    <items label="Indexes" path="index" property="indexes" iconId="#index">
                                        <items label="Index columns" path="column" property="columns" navigable="false" iconId="#column">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSConstraint" label="Unique Keys" iconId="#constraints" description="Table unique keys">
                                    <items label="Unique Keys" path="uniqueKey" property="uniqueKeys" iconId="#unique-key">
                                        <items label="Unique key columns" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="Foreign Keys" iconId="#foreign-keys" description="Table foreign keys">
                                    <items label="Foreign Keys" path="foreignKey" property="foreignKeys" iconId="#foreign-key">
                                        <items label="Foreign key columns" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSConstraint" label="References" iconId="#references" description="Table references">
                                    <items label="References" path="reference" property="references" iconId="#reference">
                                        <items label="Reference columns" path="column" property="columns" navigable="false">
                                        </items>
                                    </items>
                                </folder>
                                <items label="Sub-table" optional="true" path="subtable" property="subTables" iconId="#table" recursive="..">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Indexes">
                            <items iconId="#index" label="Indexes" path="indexe" property="indexes" virtual="true">
                                <items iconId="#column" label="Index columns" path="column" property="columns" navigable="false" virtual="true">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSProcedure" label="Procedures" iconId="#procedures" description="Procedures">
                            <items label="Procedures" path="procedure" property="procedures" iconId="#procedure">
                                <items label="Procedure columns" path="column" property="columns" navigable="false">
                                </items>
                            </items>
                        </folder>
                    </items>
                </items>
            </tree>
            <drivers managable="true">
                <driver
                    id="mysql"
                    label="MySQL"
                    class="com.mysql.jdbc.Driver"
                    sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                    webURL="http://mysql.com"
                    description="MySQL standard driver">
                    <query label="GET_ACTIVE_DB">select database()</query>
                    <query label="SET_ACTIVE_DB">use ?</query>
                    <library path="drivers/mysql-connector-java-5.1.5-bin.jar"/>
                </driver>
                <driver
                    id="postgresql"
                    label="PostgreSQL"
                    class="org.postgresql.Driver"
                    sampleURL="jdbc:postgresql://{host}[:{port}]/[{database}]"
                    webURL="http://postgresql.org"
                    description="PostgreSQL standard driver">
                    <library path="drivers/postgresql.jar"/>
                </driver>
                <driver
                    id="oracle"
                    label="Oracle"
                    class="oracle.jdbc.OracleDriver"
                    sampleURL="jdbc:oracle:thin:@{host}[:{port}]:{database}"
                    webURL="http://oracle.com"
                    description="Oracle thin driver">
                    <library path="bin/"/>
                    <query label="GET_ACTIVE_DB">select sys_context( 'userenv', 'current_schema' ) from dual</query>
                    <query label="SET_ACTIVE_DB">alter session set current_schema=?</query>
                </driver>
                <driver
                    id="db2"
                    label="DB2"
                    class="COM.ibm.db2.jdbc.net.DB2Driver"
                    sampleURL="jdbc:db2://{host}[:{port}]/{database}"
                    webURL="www.ibm.com/software/data/db2/ad/java.html"
                    description="DB2 Net driver">
                </driver>
                <driver
                    id="odbc"
                    label="ODBC"
                    class="sun.jdbc.odbc.JdbcOdbcDriver"
                    sampleURL="jdbc:odbc:{database}"
                    webURL="http://sun.com"
                    description="ODBC bridge driver">
                </driver>
                <driver
                    id="mssql"
                    label="MS SQL Server"
                    class="com.microsoft.jdbc.sqlserver.SQLServerDriver"
                    sampleURL="jdbc:microsoft:sqlserver://{host}[:{port}][;DatabaseName={database}]"
                    webURL="http://microsoft.com"
                    description="MS SQL Server standard driver">
                    <query label="GET_ACTIVE_DB">select db_name()</query>
                    <query label="SET_ACTIVE_DB">use ?</query>
                    <library path="drivers/msbase.jar"/>
					<library path="drivers/mssqlserver.jar"/>
					<library path="drivers/msutil.jar"/>
                </driver>
            </drivers>
            <views>
                <view
                    id="org.jkiss.dbeaver.ext.generic.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="Generic JDBC Connection Settings"
                    class="org.jkiss.dbeaver.ext.generic.views.ConnectionEditorPage"
                    icon="icons/database.gif">
                </view>
                <view
                      class="org.jkiss.dbeaver.ext.generic.views.ConnectionEditorPage"
                      icon="icons/database.gif"
                      id="org.jkiss.dbeaver.ext.generic.dataSourceEditorView"
                      label="Generic JDBC Connection Settings"
                      targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
                </view>
            </views>
        </datasource>
    </extension>
    <extension
        point="org.eclipse.ui.popupMenus">
    </extension>

</plugin>
