<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- BigQuery -->

        <datasource
                class="org.jkiss.dbeaver.ext.bigquery.BigQueryDataSourceProvider"
                description="%datasource.bq.description"
                id="bigquery"
                parent="generic"
                label="Google BigQuery"
                icon="icons/bigquery_icon.png"
                dialect="google_bigquery">
            <drivers managable="true">

                <!-- Simba JDBC driver -->
                <driver
                        id="google_bigquery_jdbc_simba"
                        label="Google BigQuery"
                        icon="icons/bigquery_icon.png"
                        iconBig="icons/bigquery_icon_big.png"
                        class="com.simba.googlebigquery.jdbc42.Driver"
                        sampleURL="jdbc:bigquery://{host}:{port}"
                        defaultHost="https://www.googleapis.com/bigquery/v2"
                        defaultPort="443"
                        description="Google BigQuery driver"
                        webURL="https://cloud.google.com/bigquery/partners/simba-drivers/"
                        propertiesURL="https://cdn.simba.com/products/BigQuery/doc/JDBC_InstallGuide/"
                        databaseDocumentationSuffixURL="Database-driver-BigQuery"
                        categories="bigdata,gcp"
                        singleConnection="true">
                    <file type="jar" path="https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBCDriverforGoogleBigQuery42_1.5.4.1008.zip" bundle="!drivers.bigquery"/>
                    <file type="license" path="https://www.gnu.org/licenses/lgpl-3.0.txt" bundle="!drivers.bigquery"/>

                    <file type="jar" path="drivers/bigquery" bundle="drivers.bigquery"/>
                    <file type="jar" path="drivers/google-jdbc-deps" bundle="drivers.bigquery"/>
                    <file type="license" path="drivers/bigquery/EULA.txt" bundle="drivers.bigquery"/>

                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                    <parameter name="supports-catalog-selection" value="false"/>
                    <parameter name="supports-ddl-transactions" value="false"/>
                    <parameter name="supports-schema-selection" value="false"/>
                </driver>
                <provider-properties drivers="*">
                    <propertyGroup label="Settings">
                        <property id="AdditionalProjects" label="Additional project(s)" type="string" description="Comma-separated list of projects (optional)"/>
                    </propertyGroup>
                </provider-properties>
            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="google_bigquery" parent="generic" class="org.jkiss.dbeaver.ext.bigquery.model.BigQuerySQLDialect" label="BigQuery" description="Google BigQuery." icon="icons/bigquery_icon.png">
        </dialect>
    </extension>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="bigquery" class="org.jkiss.dbeaver.ext.bigquery.model.BigQueryMetaModel" driverClass="com.simba.googlebigquery.jdbc42.Driver"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceAuth">
        <authModel
                id="google_bigquery"
                label="Google Cloud Auth"
                description="BigQuery internal authentication"
                class="org.jkiss.dbeaver.ext.bigquery.auth.BigQueryAuthModel"
                default="true">
            <replace model="native"/>
            <datasource id="bigquery"/>
        </authModel>
    </extension>

</plugin>
