<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- BigQuery -->

        <datasource
                class="org.jkiss.dbeaver.ext.bigquery.BigQueryDataSourceProvider"
                description="%datasource.bq.description"
                id="bigquery"
                parent="generic"
                label="Google BigQuery"
                icon="icons/bigquery_icon.png"
                dialect="google_bigquery">
            <drivers managable="true">

                <!-- Simba JDBC driver -->
                <driver
                        id="google_bigquery_jdbc_simba"
                        label="Google BigQuery"
                        icon="icons/bigquery_icon.png"
                        iconBig="icons/bigquery_icon_big.png"
                        class="com.simba.googlebigquery.jdbc42.Driver"
                        sampleURL="jdbc:bigquery://{host}:{port};ProjectId={database};OAuthType=0;OAuthServiceAcctEmail={user};OAuthPvtKeyPath={server};"
                        defaultPort="443"
                        description="Google BigQuery driver"
                        webURL="https://cloud.google.com/bigquery/partners/simba-drivers/"
                        propertiesURL="http://cdn.simba.com/products/BigQuery/doc/JDBC_InstallGuide/"
                        categories="bigdata">
                    <file type="jar" path="https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBCDriverforGoogleBigQuery42_1.2.1.1001.zip"/>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                </driver>

            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="google_bigquery" parent="generic" class="org.jkiss.dbeaver.ext.bigquery.model.BigQuerySQLDialect" label="BigQuery" description="Google BigQuery." icon="icons/bigquery_icon.png">
        </dialect>
    </extension>

</plugin>
