<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


    <extension point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.ext.data.htmlcopy" name="%category.org.jkiss.dbeaver.ext.data.htmlcopy.name" description="%category.org.jkiss.dbeaver.ext.data.htmlcopy.description"/>
        <command id="org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet" name="%command.org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet.name" description="%command.org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet.description" categoryId="org.jkiss.dbeaver.ext.data.htmlcopy"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet" icon="icons/html.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet" class="org.jkiss.dbeaver.data.htmlcopy.handlers.OpenSpreadsheetHandler">
            <enabledWhen>
                <with variable="activePart">
                    <test property="org.jkiss.dbeaver.core.resultset.hasData"/>
                </with>
            </enabledWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">

        <!-- Results viewer status bar additions -->
        <menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.ui.controls.resultset.status?after=presentations">
            <command commandId="org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet" style="push" mode="FORCE_TEXT" label="%command.org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet.toolbar.label"/>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=results_export">
            <command commandId="org.jkiss.dbeaver.ext.data.htmlcopy.results.openSpreadsheet"/>
        </menuContribution>

    </extension>

</plugin>
