<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2022 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->
<plugin>
    <extension point="org.eclipse.ui.startup">
        <startup class="org.jkiss.dbeaver.data.console.SQLConsoleViewStartup"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.ui.editors.sql.show.consoleView" name="%command.org.jkiss.dbeaver.ui.editors.sql.show.consoleView.name" description="%command.org.jkiss.dbeaver.ui.editors.sql.show.consoleView.description" categoryId="org.jkiss.dbeaver.core.sql">
            <state class="org.eclipse.jface.commands.ToggleState" id="org.eclipse.ui.commands.toggleState" />
        </command>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.ui.editors.sql.show.consoleView" class="org.jkiss.dbeaver.data.console.ConsoleViewSwitchHandler">
            <enabledWhen><reference definitionId="org.jkiss.dbeaver.core.ui.sql.editor"/></enabledWhen>
        </handler>
    </extension>
    
    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.ui.editors.sql.toolbar.side" >
            <!--
                <dynamic id="org.jkiss.dbeaver.ui.editors.sql.show.consoleView.contributor" class="org.jkiss.dbeaver.data.console.ConsoleViewSwitchContributor" />
            -->
            <command commandId="org.jkiss.dbeaver.ui.editors.sql.show.consoleView"/>
        </menuContribution>
        <menuContribution allPopups="false" locationURI="popup:org.jkiss.dbeaver.ui.editors.sql.SQLEditor.execute?after=plan">
            <command commandId="org.jkiss.dbeaver.ui.editors.sql.show.consoleView"/>
        </menuContribution >
    </extension>
    
    <extension point="org.eclipse.ui.commandImages">
    	<image commandId="org.jkiss.dbeaver.ui.editors.sql.show.consoleView" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/sql_console.png" />
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.data.console.ConsoleViewPreferencesInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" class="org.jkiss.dbeaver.data.console.PrefPageConsoleView" id="org.jkiss.dbeaver.preferences.main.sqleditor.consoleview" name="%console_view_item_text">
            <enabledWhen><reference definitionId="org.jkiss.dbeaver.core.preferences.datasource" /></enabledWhen>
        </page>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" class="org.jkiss.dbeaver.data.console.PrefPageConsoleView"  id="org.jkiss.dbeaver.preferences.main.sql.consoleview" name="%console_view_item_text" />
    </extension>

</plugin>
