<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="teradata" class="org.jkiss.dbeaver.ext.teradata.model.TeradataMetaModel" driverClass="com.ncr.teradata.TeraDriver,com.teradata.jdbc.TeraDriver"/>
    </extension>

</plugin>
