<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- Spanner -->

        <datasource
                class="org.jkiss.dbeaver.ext.spanner.SpannerDataSourceProvider"
                description="Google Spanner datasource"
                id="google_spanner"
                parent="generic"
                label="Google Cloud Spanner"
                icon="icons/spanner_icon.png"
                dialect="spanner">
            <drivers managable="true">

                <driver
                        id="spanner_jdbc_official"
                        label="Google Cloud Spanner"
                        icon="icons/spanner_icon.png"
                        iconBig="icons/spanner_icon_big.png"
                        class="com.google.cloud.spanner.jdbc.JdbcDriver"
                        sampleURL="jdbc:cloudspanner:/projects/my-project/instances/my-instance/databases/my-database"
                        supportedPageFields="host,database,server"
                        defaultPort=""
                        description="Google Cloud Spanner Open Source JDBC Driver"
                        webURL="https://cloud.google.com/spanner/docs/use-oss-jdbc"
                        databaseDocumentationSuffixURL="Database-driver-Google-Cloud-Spanner"
                        categories="sql,bigdata,cloud,gcp"
                        singleConnection="true">
                    <replace provider="google_spanner" driver="spanner_jdbc"/>
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="omit-schema" value="false"/>
                    <file type="jar" path="maven:/com.google.cloud:google-cloud-spanner-jdbc:RELEASE[2.15.5]" bundle="!drivers.spanner"/>
                    <file type="license" path="https://www.apache.org/licenses/LICENSE-2.0.txt" bundle="!drivers.spanner"/>
                    <file type="jar" path="drivers/spanner" bundle="drivers.spanner"/>
                    <file type="jar" path="drivers/google-jdbc-deps" bundle="drivers.spanner"/>
                    <file type="license" path="drivers/apache_lic/LICENSE.txt" bundle="drivers.spanner"/>
                </driver>
                
                <driver
                        id="spanner_jdbc"
                        label="Google Cloud Spanner (Deprecated)"
                        icon="icons/spanner_icon.png"
                        iconBig="icons/spanner_icon_big.png"
                        class="nl.topicus.jdbc.CloudSpannerDriver"
                        sampleURL="jdbc:cloudspanner://localhost"
                        defaultPort=""
                        description="Google Spanner JDBC community (Topicus) driver (Deprecated, use the officially supported driver instead)"
                        webURL="https://github.com/olavloite/spanner-jdbc"
                        categories="sql,bigdata,cloud">
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="omit-schema" value="true"/>
                    <file type="jar" path="maven:/nl.topicus:spanner-jdbc:RELEASE"/>
                </driver>
                <main-properties drivers="*">
                    <propertyGroup label="Connection">
                        <property id="server" label="Project" type="string" required="true"/>
                        <property id="host" label="Instance" type="string" required="true"/>
                        <property id="database" label="Database" type="string" required="true"/>
                    </propertyGroup>
                </main-properties>

            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="spanner" parent="generic" class="org.jkiss.dbeaver.ext.spanner.model.SpannerSQLDialect" label="Spanner" description="Google Cloud Spanner SQL dialect." icon="icons/spanner_icon.png">
        </dialect>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceAuth">
        <authModel
                id="google_spanner"
                label="Google Cloud Auth"
                description="Spanner internal authentication"
                class="org.jkiss.dbeaver.ext.spanner.auth.SpannerAuthModel"
                default="true">
            <replace model="native"/>
            <datasource id="google_spanner"/>
        </authModel>
    </extension>

</plugin>
