<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- Spanner -->

        <datasource
                class="org.jkiss.dbeaver.ext.spanner.SpannerDataSourceProvider"
                description="%datasource.spanner.description"
                id="google_spanner"
                parent="generic"
                label="Google Spanner"
                icon="icons/spanner_icon.png"
                dialect="spanner">
            <drivers managable="true">

                <driver
                        id="spanner_jdbc"
                        label="Google Spanner"
                        icon="icons/spanner_icon.png"
                        iconBig="icons/spanner_icon_big.png"
                        class="nl.topicus.jdbc.CloudSpannerDriver"
                        sampleURL="jdbc:cloudspanner://localhost"
                        defaultPort=""
                        description="Google Spanner JDBC driver by Simba"
                        webURL="https://github.com/olavloite/spanner-jdbc"
                        categories="bigdata,cloud">
                    <!--<file type="jar" path="https://storage.cloud.google.com/simba-cs-release/jdbc/CloudSpannerJDBC42-1.0.11.1023.zip"/>-->
                    <parameter name="omit-catalog" value="true"/>
                    <parameter name="omit-schema" value="true"/>
                    <file type="jar" path="maven:/nl.topicus:spanner-jdbc:RELEASE"/>
                </driver>

            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="spanner" parent="generic" class="org.jkiss.dbeaver.ext.spanner.model.SpannerSQLDialect" label="Spanner" description="Google Spanner SQL dialect." icon="icons/spanner_icon.png">
        </dialect>
    </extension>



</plugin>
