<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>


<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2017 Serge Rider (serge@jkiss.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension point="org.eclipse.core.runtime.applications" id="standalone" name="%extension.standalone.name">
        <application visible="true">
            <run class="org.jkiss.dbeaver.core.application.DBeaverApplication"/>
        </application>
    </extension>

    <extension point="org.eclipse.core.runtime.products" id="product">
        <product application="org.jkiss.dbeaver.core.application.standalone" description="%productSubTitle" name="%productName">
            <property name="aboutText" value="DBeaver - Universal Database Manager"/>
            <property name="copyright" value="%productCopyright"/>
            <property name="subTitle" value="%productSubTitle"/>
            <property name="website" value="%productWebsite"/>
            <property name="email" value="%productEmail"/>
            <property name="versionUpdateURL" value="https://dbeaver.jkiss.org/product/version.xml"/>
            <property name="windowImages" value="/icons/dbeaver16.png,/icons/dbeaver32.png,/icons/dbeaver48.png,/icons/dbeaver64.png,/icons/dbeaver256.png"/>
            <property name="appName" value="DBeaver"/>
            <property name="startupForegroundColor" value="000000"/>
            <property name="startupMessageRect" value="323,275,242,25"/>
            <property name="startupProgressRect" value="323,260,242,10"/>
            <property name="versionInfoCoord" value="110,230"/>
            <property name="versionInfoSize" value="12"/>
            <property name="versionInfoColor" value="0,0,0"/>
            <property name="applicationXMI" value="org.eclipse.platform/LegacyIDE.e4xmi"/>
            <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_classic"/>
            <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.platform/images/"/>
            <property name="rendererFactoryUri" value="bundleclass://org.jkiss.dbeaver.core/org.jkiss.dbeaver.ui.e4.DBeaverRendererFactory"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/>

        </product>
    </extension>

    <extension point="org.eclipse.ui.commands">
    </extension>

    <extension point="org.eclipse.ui.commandImages">
    </extension>

    <extension point="org.eclipse.ui.views">
        <view id="org.eclipse.ui.views.ProgressView"
            icon="icons/progress_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            name="%view.progress.title"/>
        <view id="org.eclipse.ui.texteditor.TemplatesView"
            name="%view.templates.title"
            icon="icons/templates_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.texteditor.templates.TemplatesView"/>
        <!--view
            id="org.eclipse.help.ui.HelpView"
            category="org.jkiss.dbeaver.core.category"
            class="org.jkiss.dbeaver.ui.help.LightweightHelpView"
            allowMultiple="false"
            icon="icons/help.png"
            name="Help"/-->
    </extension>

    <extension point="org.eclipse.ui.handlers">

    </extension>

    <extension point="org.eclipse.ui.menus">
        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:edit">
            <separator name="undoredo" visible="true"/>
            <command commandId="org.eclipse.ui.edit.undo"/>
            <command commandId="org.eclipse.ui.edit.redo"/>
            <command commandId="org.eclipse.ui.edit.cut"/>
            <command commandId="org.eclipse.ui.edit.copy"/>
            <command commandId="org.jkiss.dbeaver.core.edit.copy.special"/>
            <command commandId="org.eclipse.ui.edit.paste"/>
            <command commandId="org.eclipse.ui.edit.delete"/>
            <separator name="find.ext" visible="true"/>
            <command commandId="org.eclipse.ui.edit.findReplace"/>
            <command commandId="org.jkiss.dbeaver.core.navigator.bookmark.add"/>
            <separator name="additions" visible="true"/>
        </menuContribution>

        <!-- Edit menu -->

        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="edit" label="%menu.edit">
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.morph.delimited.list"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.single"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.multi"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.word.wrap"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.eclipse.ui.edit.text.upperCase"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.eclipse.ui.edit.text.lowerCase"><visibleWhen checkEnabled="true"/></command>
            </menu>
        </menuContribution>

        <!-- File menu-->

        <menuContribution allPopups="false" locationURI="menu:file?before=additions">
            <command commandId="org.eclipse.ui.newWizard"/>
            <command commandId="org.eclipse.ui.file.save"/>
            <command commandId="org.eclipse.ui.file.saveAs"/>
            <command commandId="org.eclipse.ui.file.close"/>
            <command commandId="org.eclipse.ui.file.print"/>
            <command commandId="org.eclipse.ui.edit.rename"/>

            <command commandId="org.eclipse.ui.file.refresh"/>

            <separator name="import-export" visible="true"/>

            <command commandId="org.eclipse.ui.file.import"/>
            <command commandId="org.eclipse.ui.file.export"/>

            <separator name="properties" visible="true"/>
            <command commandId="org.eclipse.ui.file.properties"/>

            <separator name="exit" visible="true"/>
            <command commandId="org.eclipse.ui.file.exit"/>
        </menuContribution>

        <!-- Navigation menu -->

        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="navigate" label="%menu.navigate">
                <command commandId="org.eclipse.ui.navigate.openResource"/>
                <separator name="nav" visible="true"/>
                <command commandId="org.eclipse.ui.navigate.backwardHistory"/>
                <command commandId="org.eclipse.ui.navigate.forwardHistory"/>
            </menu>
        </menuContribution>

        <!-- Window menu -->

        <menuContribution allPopups="false" locationURI="menu:window?before=perspective">
            <separator name="perspective" visible="true"/>
            <command commandId="org.eclipse.ui.window.customizePerspective" label="%command.org.eclipse.ui.window.customizePerspective.label"/>
            <command commandId="org.eclipse.ui.window.resetPerspective"/>
            <separator name="tabs" visible="true"/>
            <menu label="%menu.navigation">
                <command commandId="org.eclipse.ui.navigate.nextTab"/>
                <command commandId="org.eclipse.ui.navigate.previousTab"/>
                <command commandId="org.eclipse.ui.navigate.nextSubTab"/>
                <command commandId="org.eclipse.ui.navigate.previousSubTab"/>
                <separator name="editors" visible="true"/>
                <command commandId="org.eclipse.ui.window.nextEditor"/>
                <command commandId="org.eclipse.ui.window.previousEditor"/>
                <command commandId="org.eclipse.ui.window.switchToEditor"/>
            </menu>
            <separator name="settings" visible="true"/>
            <command commandId="org.eclipse.ui.window.preferences"/>
        </menuContribution>

    </extension>

    <extension point="org.eclipse.ui.bindings">
        <scheme
              description="%productName"
              id="org.jkiss.dbeaver.defaultKeyScheme"
              name="%productName"
              parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

        <!-- Text editors -->
        <key commandId="org.eclipse.ui.edit.text.openLocalFile" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+O"/>
        <key commandId="org.jkiss.dbeaver.core.sql.editor.open" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="F3"/>
        <key commandId="org.jkiss.dbeaver.core.sql.editor.create" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+F3"/>

        <!-- Text editors -->
        <key commandId="org.eclipse.ui.edit.text.contentAssist.proposals" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SPACE"/>
        <key commandId="org.eclipse.ui.edit.text.hippieCompletion" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+SPACE"/>
        <key commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+ALT+SPACE"/>

        <!--<key commandId="org.eclipse.ui.edit.text.gotoLastEditPosition" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+BS"/>-->
        <key commandId="org.eclipse.ui.edit.text.goto.line" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+G"/>

        <key commandId="org.eclipse.ui.edit.text.moveLineDown" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+ARROW_DOWN"/>
        <key commandId="org.eclipse.ui.edit.text.moveLineUp" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+ARROW_UP"/>
        <!--<key commandId="org.eclipse.ui.edit.text.delete.line" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+Y"/>-->
        <key commandId="org.eclipse.ui.edit.text.join.lines" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+J"/>

        <key commandId="org.eclipse.ui.edit.text.upperCase" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+U"/>
        <key commandId="org.eclipse.ui.edit.text.lowerCase" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+L"/>

        <key commandId="org.eclipse.ui.help.dynamicHelp" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="F1"/>

    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.jkiss.dbeaver.preferences.main" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseGeneral" name="%pref.page.name.db.configuration">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.general"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.resultset" class="org.jkiss.dbeaver.ui.preferences.PrefPageResultSetMain" name="%pref.page.name.resultset">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.resultset" id="org.jkiss.dbeaver.preferences.main.resultset.binaries" class="org.jkiss.dbeaver.ui.preferences.PrefPageResultSetBinaries" name="%pref.page.name.resultset.binaries">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.content"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.resultset" id="org.jkiss.dbeaver.preferences.main.resultset.presentation" class="org.jkiss.dbeaver.ui.preferences.PrefPageResultSetPresentation" name="%pref.page.name.resultset.presentation">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.resultset" id="org.jkiss.dbeaver.preferences.main.dataformat" class="org.jkiss.dbeaver.ui.preferences.PrefPageDataFormat" name="%pref.page.name.data.formats">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.dataformat"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.connections" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnections" name="%pref.page.name.connections">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.meta" class="org.jkiss.dbeaver.ui.preferences.PrefPageMetaData" name="%pref.page.name.meta">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.misc.qm" class="org.jkiss.dbeaver.ui.preferences.PrefPageQueryManager" name="%pref.page.name.query.manager">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.qm"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.drivers" class="org.jkiss.dbeaver.ui.preferences.PrefPageDrivers" name="%pref.page.name.drivers">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.general"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.drivers.maven" class="org.jkiss.dbeaver.ui.preferences.PrefPageDriversMaven" name="%pref.page.name.drivers.maven">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.connectionTypes" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionTypes" name="%pref.page.name.connectionTypes"/>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.navigator" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseNavigator" name="%pref.page.name.navigator"/>

        <page category="org.eclipse.ui.preferencePages.Editors" id="org.jkiss.dbeaver.preferences.main.entityeditor" class="org.jkiss.dbeaver.ui.preferences.PrefPageEntityEditor" name="%pref.page.name.entity.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.entity"/>
        </page>
        <page category="org.eclipse.ui.preferencePages.Editors" id="org.jkiss.dbeaver.preferences.main.sqleditor" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLEditor" name="%pref.page.name.sql.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.sql"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" id="org.jkiss.dbeaver.preferences.main.sqlexecute" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLExecute" name="%pref.page.name.sql.execute"/>
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" id="org.jkiss.dbeaver.preferences.main.sql.completion" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLCompletion" name="%pref.page.name.sql.completion"/>
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" id="org.jkiss.dbeaver.preferences.main.sql.format" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLFormat" name="%pref.page.name.sql.format"/>
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" id="org.jkiss.dbeaver.preferences.main.sql.templates" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLTemplates" name="%pref.page.name.sql.templates"/>

        <page category="org.eclipse.ui.preferencePages.Editors" id="org.jkiss.dbeaver.ui.editors.binary.pref.HexPreferencesPage" class="org.jkiss.dbeaver.ui.editors.binary.pref.HexPreferencesPage" name="%pref.page.name.binary.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.binary"/>
        </page>

        <page category="org.eclipse.ui.preferencePages.Workbench" id="org.jkiss.dbeaver.preferences.main.confirmations" class="org.jkiss.dbeaver.ui.preferences.PrefPageConfirmations" name="%pref.page.name.confirmations"/>
    </extension>

    <extension point="org.eclipse.ui.splashHandlers">
        <splashHandler
                class="org.jkiss.dbeaver.core.application.DBeaverSplashHandler"
                id="org.jkiss.dbeaver.ui.splash.interactive">
        </splashHandler>
        <splashHandlerProductBinding
                productId="org.jkiss.dbeaver.core.application.product"
                splashId="org.jkiss.dbeaver.ui.splash.interactive">
        </splashHandlerProductBinding>
    </extension>

    <extension point="org.eclipse.ui.helpSupport">
        <config class="org.jkiss.dbeaver.ui.help.GitHubWikiHelpUI">
        </config>
    </extension>

    <extension point="org.jkiss.dbeaver.workbenchHandler">
        <workbenchWindowInitializer class="org.jkiss.dbeaver.core.application.WorkbenchInitializerNewConnection"/>
    </extension>


    <extension point="org.eclipse.ui.activities">
        <activity id="hideE4Activity" name="%activity.hideE4Activity.name">
            <enabledWhen>
                <with variable="activePartId">
                    <equals value="nonExistentPartId"/>
                </with>
            </enabledWhen>
        </activity>
        <!-- Hide Eclipse userstorage activities -->
        <activityPatternBinding activityId="hideE4Activity" pattern="org.eclipse.userstorage.*"/>
    </extension>

</plugin>
