<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * Copyright (C) 2010-2012 Serge Rieder
 * serge@jkiss.org
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<plugin>
    <extension-point id="org.jkiss.dbeaver.generic.meta" name="Generic meta model retrieval" schema="schema/org.jkiss.dbeaver.generic.meta.exsd"/>


    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.generic.GenericDataSourceProvider"
            description="Generic JDBC connector"
            id="generic"
            label="Generic"
            icon="icons/database.png">
            <tree path="generic" label="Generic data source">
                <items label="#catalog" path="catalog" property="catalogs" icon="#database" optional="true">
                    <items label="#schema" path="schema" property="schemas" icon="#schema" optional="true">
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTable" label="%tree.tables.node.name" icon="#folder_table" description="Tables">
                            <items label="%tree.table.node.name" path="table" property="tables">
                                <icon icon="#table" default="true"/>
                                <icon icon="#view" if="object.view"/>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableColumn" label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericPrimaryKey" label="%tree.uni_keys.node.name" icon="#constraints" description="Table unique keys" visibleIf="!object.view">
                                    <items label="%tree.uni_key.node.name" path="uniqueKey" property="constraints" icon="#unique-key">
                                        <items label="%tree.uni_key.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="Table foreign keys" visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()">
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Table indexes" visibleIf="object.dataSource.info.supportsIndexes()">
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="%tree.index_columns.node.name" path="column" property="attributeReferences" icon="#column" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.impl.jdbc.struct.JDBCTableForeignKey" label="%tree.references.node.name" icon="#references" description="Table references" visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()" virtual="true">
                                    <items label="%tree.reference.node.name" path="reference" property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
                                        </items>
                                    </items>
                                </folder>
                                <items label="%tree.sub_table.node.name" optional="true" path="subtable" property="subTables" icon="#table" recursive=".." visibleIf="!object.view">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Indexes">
                            <items icon="#index" label="%tree.index.node.name" path="index" property="indexes" virtual="true">
                                <items icon="#column" label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" virtual="true">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericStoredCode" label="%tree.procedures.node.name" icon="#procedures" description="Procedures">
                            <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
                                <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure">
                                    <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false" inline="true"/>
                                </items>
                            </items>
                            <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure">
                                <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false"/>
                            </items>
                        </folder>
                    </items>
                </items>
            </tree>

            <driver-properties>
                <propertyGroup label="Parameters" description="Custom driver parameters">
                    <property id="shutdown-url-param" label="Shutdown parameter" description="Database shutdown URL parameter" type="string" required="false" defaultValue=""/>
                    <property id="omit-type-cache" label="Omit type cache" description="Do not use data types provided by driver" type="boolean" required="false" defaultValue="false"/>
                    <property id="supports-indexes" label="Driver supports indexes" description="Driver supports table indexes" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-references" label="Driver supports references" description="Driver supports table references (foreign keys)" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-select-count" label="Driver supports SELECT count(*) clause" description="Driver supports SELECT count(*) clause" type="boolean" required="false" defaultValue="true"/>
                </propertyGroup>
                <propertyGroup label="Queries" description="Custom driver queries">
                    <property id="query-get-active-db" label="Get active database" description="Query to obtain active database name" type="string" required="false" defaultValue=""/>
                    <property id="query-set-active-db" label="Set active database" description="Query to change active database" type="string" required="false" defaultValue=""/>
                    <property id="active-entity-type" label="Active object type" description="Type of selectable object (schema, catalog)" type="string" required="false" defaultValue="" validValues="catalog,schema"/>
                </propertyGroup>
            </driver-properties>

            <drivers managable="true">

                <driver
                    id="postgresql"
                    label="PostgreSQL"
                    class="org.postgresql.Driver"
                    sampleURL="jdbc:postgresql://{host}[:{port}]/[{database}]"
                    defaultPort="5432"
                    webURL="http://jdbc.postgresql.org/"
                    description="PostgreSQL standard driver">
                    <file type="jar" path="drivers/postgresql/postgresql-9.1-901.jdbc4.jar" url="*"/>
                    <file type="license" path="drivers/postgresql/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="SHOW search_path"/>
                    <parameter name="query-set-active-db" value="SET search_path = ?"/>
                    <parameter name="active-entity-type" value="schema"/>
                    <parameter name="omit-type-cache" value="true"/>
                </driver>
                <driver
                    id="oracle"
                    label="Oracle"
                    class="oracle.jdbc.OracleDriver"
                    sampleURL="jdbc:oracle:thin:@{host}[:{port}]/{database}"
                    defaultPort="1521"
                    webURL="http://www.oracle.com/technetwork/database/features/jdbc/"
                    description="Oracle thin driver">
                    <file type="jar" path="drivers/oracle/ojdbc6.jar" url="*"/>
                    <file type="license" path="drivers/oracle/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="select sys_context( 'userenv', 'current_schema' ) from dual"/>
                    <parameter name="query-set-active-db" value="alter session set current_schema=?"/>
                </driver>
                <driver
                    id="db2"
                    label="DB2"
                    class="com.ibm.db2.jcc.DB2Driver"
                    sampleURL="jdbc:db2://{host}[:{port}]/{database}"
                    defaultPort="50000"
                    webURL="http://www.ibm.com/software/data/db2/express/download.html"
                    description="DB2 JCC driver">
					<file type="jar" path="drivers/db2/db2jcc.jar" url="*"/>
					<file type="jar" path="drivers/db2/db2jcc_license_cu.jar" url="*"/>
                    <file type="license" path="drivers/db2/LICENSE.txt" url="*"/>
                    <property name="fullyMaterializeLobData" value="true"/>
                    <property name="fullyMaterializeInputStreams" value="true"/>
                    <property name="progressiveStreaming" value="2"/>
                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM SYSIBM.SYSDUMMY1"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                </driver>

                <driver
                    id="db2_zos"
                    label="DB2 z/OS"
                    class="com.ibm.db2.jcc.DB2Driver"
                    sampleURL="jdbc:db2://{host}[:{port}]/{database}"
                    defaultPort="50000"
                    description="DB2 z/OS driver"
                    note="In order to connect to z/OS DB2 instance you have to install license file 'db2jcc_license_cisuz.jar'. Edit driver settings and and license file as a library.">
                    <file type="jar" path="drivers/db2/db2jcc.jar" url="*"/>
                    <file type="jar" path="drivers/db2/db2jcc_license_cu.jar" url="*"/>
                    <file type="license" path="drivers/db2/LICENSE.txt" url="*"/>
                    <property name="fullyMaterializeLobData" value="true"/>
                    <property name="fullyMaterializeInputStreams" value="true"/>
                    <property name="progressiveStreaming" value="2"/>
                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM SYSIBM.SYSDUMMY1"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                    <parameter name="meta-model" value="indexed"/>
                </driver>

                <driver
                    id="mssql"
                    label="jTDS driver"
                    category="MS SQL Server"
                    class="net.sourceforge.jtds.jdbc.Driver"
                    sampleURL="jdbc:jtds:sqlserver://{host}[:{port}][/{database}]"
                    defaultPort="1433"
                    webURL="http://jtds.sourceforge.net/"
                    description="jTDS SQL Server driver">
                    <parameter name="query-get-active-db" value="select db_name()"/>
                    <parameter name="query-set-active-db" value="use [?]"/>
                    <file type="jar" path="drivers/jtds/jtds-1.2.5.jar" url="*"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/jtds/SSO/x86/ntlmauth.dll" url="*"/>
                    <file type="lib" os="win32" arch="x86_64" path="drivers/jtds/SSO/x64/ntlmauth.dll" url="*"/>
                    <file type="license" path="drivers/jtds/LICENSE.txt" url="*"/>
                </driver>

                <driver
                    id="mssql_ms"
                    label="Microsoft Driver"
                    category="MS SQL Server"
                    class="com.microsoft.sqlserver.jdbc.SQLServerDriver"
                    sampleURL="jdbc:sqlserver://{host}[:{port}][;databaseName={database}]"
                    defaultPort="1433"
                    webURL="http://msdn.microsoft.com/en-us/sqlserver/aa937724"
                    description="Microsoft JDBC Driver for SQL Server ">
                    <parameter name="query-get-active-db" value="select db_name()"/>
                    <parameter name="query-set-active-db" value="use [?]"/>
                    <file type="jar" path="drivers/mssql/sqljdbc4.jar" url="*"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/mssql/auth/x86/sqljdbc_auth.dll" url="*"/>
                    <file type="lib" os="win32" arch="x86_64" path="drivers/mssql/auth/x64/sqljdbc_auth.dll" url="*"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/mssql/xa/x86/sqljdbc_xa.dll" url="*"/>
                    <file type="lib" os="win32" arch="x86_64" path="drivers/mssql/xa/x64/sqljdbc_xa.dll" url="*"/>
                    <file type="license" path="drivers/mssql/LICENSE.txt" url="*"/>
                </driver>

                <driver
                    id="sybase"
                    label="Sybase"
                    class="net.sourceforge.jtds.jdbc.Driver"
                    sampleURL="jdbc:jtds:sybase://{host}[:{port}][/{database}]"
                    defaultPort="5000"
                    webURL="http://jtds.sourceforge.net/"
                    description="Sybase JTDS driver">
                    <!--parameter name="query-get-active-db">select db_name()</query>
                    <parameter name="query-set-active-db">use ?</query-->
                    <file type="jar" path="drivers/jtds/jtds-1.2.5.jar" url="*"/>
                    <file type="license" path="drivers/jtds/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="sap_maxdb"
                    label="SAP MaxDB"
                    class="com.sap.dbtech.jdbc.DriverSapDB"
                    sampleURL="jdbc:sapdb://{host}[:{port}]/{database}"
                    defaultPort="7200"
                    webURL="http://www.sdn.sap.com/irj/sdn/maxdb"
                    description="SAP MaxDB - The SAP Database System">
                    <file type="jar" path="drivers/maxdb/sapdbc.jar" url="*"/>
                    <file type="license" path="drivers/maxdb/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM DUAL"/>
                    <parameter name="query-set-active-db" value="SET CURRENT_SCHEMA = ?"/>
                </driver>
                <driver
                    id="informix"
                    label="Informix"
                    class="com.informix.jdbc.IfxDriver"
                    sampleURL="jdbc:informix-sqli://{host}:{port}/{database}:INFORMIXSERVER={server}"
                    defaultPort="1533"
                    webURL="http://www.developers.net/ibmshowcase/focus/Informix"
                    description="IBM Informix Dynamic Server">
                    <file type="jar" path="drivers/informix/ifxjdbc.jar" url="*"/>
                    <file type="jar" path="drivers/informix/ifxlang.jar" url="*"/>
                    <file type="license" path="drivers/informix/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="SELECT ODB_DBName FROM SysMaster:informix.SysOpenDB WHERE ODB_IsCurrent = 'Y' AND ODB_SessionID = DBINFO('sessionid')"/>
                    <parameter name="query-set-active-db" value=""/>
                </driver>
                <driver
                    id="h2_server"
                    label="Server"
                    category="H2"
                    class="org.h2.Driver"
                    sampleURL="jdbc:h2:tcp://{host}[:{port}]/{database}"
                    defaultPort="9092"
                    webURL="http://www.h2database.com/"
                    description="H2 Server">
                    <file type="jar" path="drivers/h2/h2-1.2.147.jar" url="*"/>
                    <file type="license" path="drivers/h2/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="h2_embedded"
                    label="Embedded"
                    category="H2"
                    class="org.h2.Driver"
                    sampleURL="jdbc:h2:{database}"
                    webURL="http://www.h2database.com/"
                    description="H2 Embedded">
                    <file type="jar" path="drivers/h2/h2-1.2.147.jar" url="*"/>
                    <file type="license" path="drivers/h2/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="odbc"
                    label="ODBC"
                    class="sun.jdbc.odbc.JdbcOdbcDriver"
                    sampleURL="jdbc:odbc:{database}"
                    webURL="http://sun.com"
                    description="ODBC bridge driver">
                    <os name="win32"/>
                </driver>
                <driver
                    id="derby"
                    label="Embedded"
                    category="Derby"
                    class="org.apache.derby.jdbc.EmbeddedDriver"
                    sampleURL="jdbc:derby:{folder}"
                    webURL="http://db.apache.org/"
                    anonymous="true"
                    description="Derby (Java DB) embedded driver">
                    <parameter name="shutdown-url-param" value=";shutdown=true"/>
                    <file type="jar" path="drivers/derby/derby.jar" url="*"/>
                    <file type="license" path="drivers/derby/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="select CURRENT SCHEMA from sysibm.sysdummy1"/>
                    <parameter name="query-set-active-db" value="SET CURRENT SCHEMA = ?"/>
                    <parameter name="meta-model" value="indexed"/>
                </driver>
                <driver
                    id="derby_server"
                    label="Server"
                    category="Derby"
                    class="org.apache.derby.jdbc.ClientDriver"
                    sampleURL="jdbc:derby://{host}:{port}/{database};create=false"
                    defaultPort="1527"
                    webURL="http://db.apache.org/"
                    description="Derby (Java DB) server driver">
                    <file type="jar" path="drivers/derby/derbyclient.jar" url="*"/>
                    <file type="license" path="drivers/derby/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="select CURRENT SCHEMA from sysibm.sysdummy1"/>
                    <parameter name="query-set-active-db" value="SET CURRENT SCHEMA = ?"/>
                </driver>
                <driver
                    id="mimer"
                    label="Mimer SQL"
                    class="com.mimer.jdbc.Driver"
                    sampleURL="jdbc:mimer:tcp://{host}:{port}/{database}"
                    defaultPort="1360"
                    webURL="http://developer.mimer.com/"
                    description="Mimer SQL TCP/IP driver">
                    <file type="jar" path="drivers/mimer/mimjdbc3.jar" url="*"/>
                </driver>
                <driver
                    id="hsqldb_server"
                    label="Server"
                    category="HSQLDB"
                    class="org.hsqldb.jdbcDriver"
                    sampleURL="jdbc:hsqldb:hsql://{host}[:{port}]/[{database}]"
                    defaultPort="9001"
                    webURL="http://hsqldb.org/"
                    description="HyperSQL DataBase - Server Mode">
                    <file type="jar" path="drivers/hsqldb/hsqldb.jar" url="*"/>
                    <file type="license" path="drivers/hsqldb/LICENSE.txt" url="*"/>
                    <parameter name="query-get-active-db" value="SELECT * FROM (VALUES (current_schema))"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                    <parameter name="active-entity-type" value="schema"/>
                </driver>
                <driver
                    id="hsqldb_embedded"
                    label="Embedded"
                    category="HSQLDB"
                    class="org.hsqldb.jdbc.JDBCDriver"
                    sampleURL="jdbc:hsqldb:file:{folder}"
                    webURL="http://hsqldb.org/"
                    anonymous="true"
                    description="HyperSQL DataBase - Embedded Mode">
                    <file type="jar" path="drivers/hsqldb/hsqldb.jar" url="*"/>
                    <file type="license" path="drivers/hsqldb/LICENSE.txt" url="*"/>
                    <parameter name="shutdown-url-param" value=";shutdown=true"/>
                    <parameter name="query-get-active-db" value="SELECT * FROM (VALUES (current_schema))"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                    <parameter name="active-entity-type" value="schema"/>
                </driver>
                <driver
                    id="cache"
                    label="Cache"
                    class="com.intersys.jdbc.CacheDriver"
                    sampleURL="jdbc:Cache://{host}:{port}/{database}"
                    defaultPort="1972"
                    webURL="http://www.intersystems.com/cache/"
                    description="Intersystems Cache">
                    <file type="jar" path="drivers/cache/CacheDB.jar" url="*"/>
                    <file type="license" path="drivers/cache/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="ingres"
                    label="Ingres"
                    class="com.ingres.jdbc.IngresDriver"
                    sampleURL="jdbc:ingres://{host}:{port}/{database}"
                    defaultPort="II7"
                    webURL="http://www.ingres.com/products/ingres-database/"
                    description="Ingres Database">
                    <file type="jar" path="drivers/ingres/iijdbc.jar" url="*"/>
                    <file type="license" path="drivers/ingres/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="linter"
                    label="Linter"
                    class="com.relx.jdbc.LinterDriver"
                    sampleURL="jdbc:linter:linapid:{host}:{port}:{database}"
                    defaultPort="1070"
                    webURL="http://linter.ru/"
                    description="Linter (ЛИНТЕР) Database">
                    <file type="jar" path="drivers/linter/LinJdbc.jar" url="*"/>
                    <file type="jar" path="drivers/linter/linjdbc-1.4.jar" url="*"/>
                    <file type="license" path="drivers/linter/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="firebird_jaybird"
                    label="Firebird (JayBird)"
                    class="org.firebirdsql.jdbc.FBDriver"
                    sampleURL="jdbc:firebirdsql://{host}:{port}/{file}"
                    defaultPort="3050"
                    webURL=""
                    description="Firebird JayBird driver">
                    <file type="jar" path="drivers/firebird/jaybird-full-2.1.6.jar" url="*"/>
                    <file type="license" path="drivers/firebird/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="sqlite_zentus"
                    label="SQLite Zentus driver"
                    category="SQLite"
                    class="org.sqlite.JDBC"
                    sampleURL="jdbc:sqlite:{file}"
                    defaultPort=""
                    webURL="http://www.zentus.com/sqlitejdbc/"
                    description="SQLite3 JDBC driver by David Crawshaw (Windows, Linux and Mac OS)">
                    <file type="jar" path="drivers/sqlite/zentus/sqlitejdbc-v056.jar" url="*"/>
                    <file type="license" path="drivers/sqlite/zentus/LICENSE.txt" url="*"/>
                    <parameter name="supports-references" value="false"/>
                    <parameter name="supports-indexes" value="false"/>
                </driver>
                <driver
                    id="sqlite_xerial"
                    label="SQLite Xerial driver"
                    category="SQLite"
                    class="org.sqlite.JDBC"
                    sampleURL="jdbc:sqlite:{file}"
                    defaultPort=""
                    webURL="http://www.xerial.org/trac/Xerial/wiki/SQLiteJDBC/"
                    description="SQLite JDBC driver by Taro L. Saito (extension of Zentus driver)">
                    <file type="jar" path="drivers/sqlite/xerial/sqlite-jdbc-3.7.2.jar" url="*"/>
                    <file type="license" path="drivers/sqlite/xerial/LICENSE.txt" url="*"/>
                    <parameter name="supports-references" value="false"/>
                    <parameter name="supports-indexes" value="false"/>
                </driver>
                <driver
                    id="sqlite_ch_werner"
                    label="SQLite Wrapper by Christian Werner"
                    category="SQLite"
                    class="SQLite.JDBCDriver"
                    sampleURL="jdbc:sqlite:/{file}"
                    defaultPort=""
                    webURL="http://www.ch-werner.de/javasqlite/"
                    description="SQLite3 JDBC driver by Christian Werner (Windows only)">
                    <file type="jar" path="drivers/sqlite/werner/sqlite.jar" url="*"/>
                    <file type="lib" os="win32" arch="x86" path="drivers/sqlite/werner/sqlite_jni.dll" url="*"/>
                </driver>
                <driver
                    id="teradata"
                    label="Teradata"
                    class="com.ncr.teradata.TeraDriver"
                    sampleURL="jdbc:teradata://{host}/{database}"
                    defaultPort=""
                    description="Teradata JDBC driver">
                    <file type="jar" path="drivers/teradata/terajdbc4.jar" url="*"/>
                    <file type="jar" path="drivers/teradata/tdgssconfig.jar" url="*"/>
                    <file type="license" path="drivers/teradata/LICENSE.txt" url="*"/>
                </driver>
                <driver
                    id="mysql3"
                    label="MySQL 3.x"
                    class="com.mysql.jdbc.Driver"
                    sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                    defaultPort="3306"
                    webURL="http://www.mysql.com/products/connector/"
                    description="Driver for MySQL 3.x and earlier">
                    <file type="license" path="drivers/mysql/LICENSE.txt" url="*"/>
                    <file type="jar" path="drivers/mysql/mysql-connector-java-5.1.13-bin.jar" url="*"/>
                </driver>
                <driver
                    id="vertica"
                    label="Vertica"
                    class="com.vertica.jdbc.Driver"
                    sampleURL="jdbc:vertica://{host}:{port}/{database}"
                    defaultPort="5433"
                    webURL="http://www.vertica.com/"
                    description="Driver for Vertica Database">
                    <file type="jar" path="drivers/vertica/vertica-jdk5-6.0.1-0.jar" url="*"/>
                </driver>
                <driver
                    id="cassandra_jkiss"
                    label="Cassandra"
                    class="org.jkiss.jdbc.cassandra.CassandraDriver"
                    sampleURL="jdbc:jkiss:cassandra://{host}[:{port}]/{database}"
                    defaultPort="9160"
                    webURL="http://cassandra.jkiss.org/"
                    description="Driver for Apache Cassandra">
                    <property name="structResultSet" value="true"/>
                    <file type="license" path="drivers/cassandra/license.txt" url="*"/>
                    <file type="jar" path="drivers/cassandra/cassandra-jkiss-jdbc-1.2.0.jar" url="*"/>
                    <file type="jar" path="drivers/cassandra/apache-cassandra-thrift-1.1.6.jar" url="*"/>
                    <file type="jar" path="drivers/cassandra/libthrift-0.7.0.jar" url="*"/>
                    <file type="jar" path="drivers/cassandra/slf4j-api-1.6.1.jar" url="*"/>
                </driver>
                <driver
                    id="csvjdbc"
                    label="CSV/DBF"
                    category="Flat files (CSV)"
                    class="org.relique.jdbc.csv.CsvDriver"
                    sampleURL="jdbc:relique:csv:{folder}"
                    webURL="http://csvjdbc.sourceforge.net/"
                    description="CsvJdbc driver for CSV and DBF files">
                    <parameter name="supports-select-count" value="false"/>
                    <property name="separator" value=","/>
                    <property name="quotechar" value="&quot;"/>
                    <property name="fileExtension" value="csv"/>
                    <property name="suppressHeaders" value="false"/>
                    <file type="license" path="drivers/csvjdbc/LICENSE.txt" url="*"/>
                    <file type="jar" path="drivers/csvjdbc/csvjdbc-1.0.12.jar" url="*"/>
                </driver>
                <driver
                    id="msaccess_ucanaccess"
                    label="UCanAccess"
                    category="MS Access"
                    class="net.ucanaccess.jdbc.UcanaccessDriver"
                    sampleURL="jdbc:ucanaccess://{file}"
                    webURL="http://ucanaccess.sourceforge.net/site.html"
                    description="Microsoft Access driver">
                    <file type="license" path="drivers/ucanaccess/LICENSE.txt" url="*"/>
                    <file type="jar" path="drivers/ucanaccess/ucanaccess-1.0.1.jar" url="*"/>
                    <file type="jar" path="drivers/ucanaccess/commons-lang-2.4.jar" url="*"/>
                    <file type="jar" path="drivers/ucanaccess/hsqldb.jar" url="*"/>
                    <file type="jar" path="drivers/ucanaccess/jackcess-1.2.1.jar" url="*"/>
                </driver>
            </drivers>

            <views>
                <view
                    id="org.jkiss.dbeaver.ext.generic.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="%dialog.connection.header"
                    class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
                    icon="icons/database.png">
                </view>
                <view
                      class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
                      icon="icons/database.png"
                      id="org.jkiss.dbeaver.ext.generic.dataSourceEditorView"
                      label="%dialog.connection.header"
                      targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
                </view>
            </views>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
                id="org.jkiss.dbeaver.ext.generic.edit.GenericDDLEditor"
                class="org.jkiss.dbeaver.ext.generic.edit.GenericDDLEditor"
                main="false"
                label="DDL"
                description="Table DDL"
                position="additions_end"
                icon="#sql_text"
                type="section">
            <objectType name="org.jkiss.dbeaver.ext.generic.model.GenericTable"/>
        </editor>

        <manager
            class="org.jkiss.dbeaver.ext.generic.edit.GenericTableManager"
            objectType="org.jkiss.dbeaver.ext.generic.model.GenericTable"/>
        <manager
            class="org.jkiss.dbeaver.ext.generic.edit.GenericTableColumnManager"
            objectType="org.jkiss.dbeaver.ext.generic.model.GenericTableColumn"/>
        <manager
            class="org.jkiss.dbeaver.ext.generic.edit.GenericPrimaryKeyManager"
            objectType="org.jkiss.dbeaver.ext.generic.model.GenericPrimaryKey"/>
        <manager
            class="org.jkiss.dbeaver.ext.generic.edit.GenericForeignKeyManager"
            objectType="org.jkiss.dbeaver.ext.generic.model.GenericTableForeignKey"/>
        <manager
            class="org.jkiss.dbeaver.ext.generic.edit.GenericIndexManager"
            objectType="org.jkiss.dbeaver.ext.generic.model.GenericTableIndex"/>
    </extension>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="indexed">
            <object type="catalog">
                <column id="TABLE_CAT" index="1"/>
            </object>
            <object type="schema">
                <column id="TABLE_SCHEM" index="1"/>
                <column id="TABLE_CATALOG" index="2"/>
            </object>
            <object type="table-type">
                <column id="TABLE_TYPE" index="1"/>
            </object>
            <object type="table">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="TABLE_TYPE" index="4"/>
                <column id="REMARKS" index="5"/>
                <column id="TYPE_CAT" index="6"/>
                <column id="TYPE_SCHEM" index="7"/>
                <column id="TYPE_NAME" index="8"/>
                <column id="SELF_REFERENCING_COL_NAME" index="9"/>
                <column id="REF_GENERATION" index="10"/>
            </object>
            <object type="table-column">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="COLUMN_NAME" index="4"/>
                <column id="DATA_TYPE" index="5"/>
                <column id="TYPE_NAME" index="6"/>
                <column id="COLUMN_SIZE" index="7"/>
                <column id="BUFFER_LENGTH" index="8"/>
                <column id="DECIMAL_DIGITS" index="9"/>
                <column id="NUM_PREC_RADIX" index="10"/>
                <column id="NULLABLE" index="11"/>
                <column id="REMARKS" index="12"/>
                <column id="COLUMN_DEF" index="13"/>
                <column id="SQL_DATA_TYPE" index="14"/>
                <column id="SQL_DATETIME_SUB" index="15"/>
                <column id="CHAR_OCTET_LENGTH" index="16"/>
                <column id="ORDINAL_POSITION" index="17"/>
                <column id="IS_NULLABLE" index="18"/>
                <column id="SCOPE_CATALOG" index="19"/>
                <column id="SCOPE_SCHEMA" index="20"/>
                <column id="SCOPE_TABLE" index="21"/>
                <column id="SOURCE_DATA_TYPE" index="22"/>
                <column id="IS_AUTOINCREMENT" index="23"/>
                <column id="IS_GENERATEDCOLUMN" index="24"/>
            </object>
            <object type="primary-key">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="COLUMN_NAME" index="4"/>
                <column id="KEY_SEQ" index="5"/>
                <column id="PK_NAME" index="6"/>
            </object>
            <object type="foreign-key">
                <column id="PKTABLE_CAT" index="1"/>
                <column id="PKTABLE_SCHEM" index="2"/>
                <column id="PKTABLE_NAME" index="3"/>
                <column id="PKCOLUMN_NAME" index="4"/>
                <column id="FKTABLE_CAT" index="5"/>
                <column id="FKTABLE_SCHEM" index="6"/>
                <column id="FKTABLE_NAME" index="7"/>
                <column id="FKCOLUMN_NAME" index="8"/>
                <column id="KEY_SEQ" index="9"/>
                <column id="UPDATE_RULE" index="10"/>
                <column id="DELETE_RULE" index="11"/>
                <column id="FK_NAME" index="12"/>
                <column id="PK_NAME" index="13"/>
                <column id="DEFERRABILITY" index="14"/>
            </object>
            <object type="procedure">
                <column id="PROCEDURE_CAT" index="1"/>
                <column id="PROCEDURE_SCHEM" index="2"/>
                <column id="PROCEDURE_NAME" index="3"/>
                <column id="REMARKS" index="4"/>
                <column id="PROCEDURE_TYPE" index="5"/>
                <column id="SPECIFIC_NAME" index="6"/>
            </object>
            <object type="procedure-column">
                <column id="PROCEDURE_CAT" index="1"/>
                <column id="PROCEDURE_SCHEM" index="2"/>
                <column id="PROCEDURE_NAME" index="3"/>
                <column id="COLUMN_NAME" index="4"/>
                <column id="COLUMN_TYPE" index="5"/>
                <column id="DATA_TYPE" index="6"/>
                <column id="TYPE_NAME" index="7"/>
                <column id="PRECISION" index="8"/>
                <column id="LENGTH" index="9"/>
                <column id="SCALE" index="10"/>
                <column id="RADIX" index="11"/>
                <column id="NULLABLE" index="12"/>
                <column id="REMARKS" index="13"/>
                <column id="COLUMN_DEF" index="14"/>
                <column id="SQL_DATA_TYPE" index="15"/>
                <column id="SQL_DATETIME_SUB" index="16"/>
                <column id="CHAR_OCTET_LENGTH" index="17"/>
                <column id="ORDINAL_POSITION" index="18"/>
                <column id="IS_NULLABLE" index="19"/>
                <column id="SPECIFIC_NAME" index="20"/>
            </object>
            <object type="index">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="NON_UNIQUE" index="4"/>
                <column id="INDEX_QUALIFIER" index="5"/>
                <column id="INDEX_NAME" index="6"/>
                <column id="TYPE" index="7"/>
                <column id="ORDINAL_POSITION" index="8"/>
                <column id="COLUMN_NAME" index="9"/>
                <column id="ASC_OR_DESC" index="10"/>
                <column id="CARDINALITY" index="11"/>
                <column id="PAGES" index="12"/>
                <column id="FILTER_CONDITION" index="13"/>
            </object>
        </meta>
    </extension>

</plugin>
