<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2011, Serge Rieder and others. All Rights Reserved.
  -->

<plugin>

    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts.xml">
        </contexts>
    </extension>
    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.generic.GenericDataSourceProvider"
            description="Generic JDBC connector"
            id="generic"
            label="Generic"
            icon="icons/database.png">
            <tree path="generic" label="Generic data source">
                <items label="Catalog" path="catalog" property="catalogs" iconId="#database" optional="true">
                    <items label="Schemas" itemLabel="Schema" path="schema" property="schemas" iconId="#schema" optional="true">
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTable" label="Tables" iconId="#folder_table" description="Tables">
                            <items label="Table" path="table" property="tables">
                                <icon iconId="#table" default="true"/>
                                <icon iconId="#view" if="object.view"/>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSTableColumn" label="Columns" iconId="#columns" description="Table columns">
                                    <items label="Column" path="column" property="columns" iconId="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Table indexes">
                                    <items label="Index" path="index" property="indexes" iconId="#index">
                                        <items label="Index columns" path="column" property="columns" iconId="#column" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSConstraint" label="Unique Keys" iconId="#constraints" description="Table unique keys" visibleIf="!object.view">
                                    <items label="Unique Key" path="uniqueKey" property="uniqueKeys" iconId="#unique-key">
                                        <items label="Unique key columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSForeignKey" label="Foreign Keys" iconId="#foreign-keys" description="Table foreign keys" visibleIf="!object.view">
                                    <items label="Foreign Key" path="foreignKey" property="foreignKeys" iconId="#foreign-key">
                                        <items label="Foreign key columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.model.struct.DBSConstraint" label="References" iconId="#references" description="Table references" visibleIf="!object.view">
                                    <items label="Reference" path="reference" property="references" iconId="#reference">
                                        <items label="Reference columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <items label="Sub-table" optional="true" path="subtable" property="subTables" iconId="#table" recursive=".." visibleIf="!object.view">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSIndex" label="Indexes" iconId="#indexes" description="Indexes">
                            <items iconId="#index" label="Index" path="index" property="indexes" virtual="true">
                                <items iconId="#column" label="Index columns" itemLabel="Column" path="column" property="columns" navigable="false" virtual="true">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericStoredCode" label="Procedures" iconId="#procedures" description="Procedures">
                            <items label="Package" path="package" property="packages" iconId="#package">
                                <items label="Procedures" itemLabel="Procedure" path="procedure" property="procedures" iconId="#procedure">
                                    <items label="Procedure columns" itemLabel="Column" path="column" property="columns" navigable="false" inline="true"/>
                                </items>
                            </items>
                            <items label="Procedures" itemLabel="Procedure" path="procedure" property="procedures" iconId="#procedure">
                                <items label="Procedure columns" itemLabel="Column" path="column" property="columns" navigable="false"/>
                            </items>
                        </folder>
                    </items>
                </items>
            </tree>

            <driver-properties>
                <propertyGroup label="Parameters" description="Custom driver parameters">
                    <property id="meta-case" label="Metadata case" description="Metadata identifiers' case" type="string" required="false" defaultValue="none" validValues="none,lower,upper"/>
                    <property id="shutdown-url-param" label="Shutdown parameter" description="Database shutdown URL parameter" type="string" required="false" defaultValue=""/>
                </propertyGroup>
                <propertyGroup label="Queries" description="Custom driver queries">
                    <property id="query-get-active-db" label="Get active database" description="Query to obtain active database name" type="string" required="false" defaultValue=""/>
                    <property id="query-set-active-db" label="Set active database" description="Query to change active database" type="string" required="false" defaultValue=""/>
                </propertyGroup>
            </driver-properties>

            <drivers managable="true">

                <driver
                    id="postgresql"
                    label="PostgreSQL"
                    class="org.postgresql.Driver"
                    sampleURL="jdbc:postgresql://{host}[:{port}]/[{database}]"
                    defaultPort="5432"
                    webURL="http://jdbc.postgresql.org/"
                    description="PostgreSQL standard driver">
                    <library path="drivers/postgresql-8.4-701.jdbc4.jar"/>
                    <parameter name="meta-case" value="lower"/>
                </driver>
                <driver
                    id="oracle"
                    label="Oracle"
                    class="oracle.jdbc.OracleDriver"
                    sampleURL="jdbc:oracle:thin:@{host}[:{port}]/{database}"
                    defaultPort="1521"
                    webURL="http://www.oracle.com/technetwork/database/features/jdbc/"
                    description="Oracle thin driver">
                    <library path="drivers/ojdbc6.jar"/>
                    <parameter name="query-get-active-db" value="select sys_context( 'userenv', 'current_schema' ) from dual"/>
                    <parameter name="query-set-active-db" value="alter session set current_schema=?"/>
                    <parameter name="meta-case" value="upper"/>
                </driver>
                <driver
                    id="db2"
                    label="DB2"
                    class="com.ibm.db2.jcc.DB2Driver"
                    sampleURL="jdbc:db2://{host}[:{port}]/{database}"
                    defaultPort="50000"
                    webURL="http://www.ibm.com/software/data/db2/express/download.html"
                    description="DB2 JCC driver">
					<library path="drivers/db2jcc.jar"/>
					<library path="drivers/db2jcc_license_cu.jar"/>
                    <parameter name="meta-case" value="upper"/>
                    <property name="fullyMaterializeLobData" value="true"/>
                    <property name="fullyMaterializeInputStreams" value="true"/>
                    <property name="progressiveStreaming" value="2"/>
                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM SYSIBM.SYSDUMMY1"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                </driver>
                <driver
                    id="mssql"
                    label="MS SQL Server"
                    class="net.sourceforge.jtds.jdbc.Driver"
                    sampleURL="jdbc:jtds:sqlserver://{host}[:{port}][/{database}]"
                    defaultPort="1433"
                    webURL="http://jtds.sourceforge.net/"
                    description="MS SQL Server JTDS driver">
                    <parameter name="query-get-active-db" value="select db_name()"/>
                    <parameter name="query-set-active-db" value="use ?"/>
                    <!--library path="drivers/sqljdbc4.jar"/-->
                    <library path="drivers/jtds-1.2.5.jar"/>
                </driver>
                <driver
                    id="sybase"
                    label="Sybase"
                    class="net.sourceforge.jtds.jdbc.Driver"
                    sampleURL="jdbc:jtds:sybase://{host}[:{port}][/{database}]"
                    defaultPort="5000"
                    webURL="http://jtds.sourceforge.net/"
                    description="Sybase JTDS driver">
                    <!--parameter name="query-get-active-db">select db_name()</query>
                    <parameter name="query-set-active-db">use ?</query-->
                    <library path="drivers/jtds-1.2.5.jar"/>
                </driver>
                <driver
                    id="odbc"
                    label="ODBC"
                    class="sun.jdbc.odbc.JdbcOdbcDriver"
                    sampleURL="jdbc:odbc:{database}"
                    webURL="http://sun.com"
                    description="ODBC bridge driver">
                </driver>
                <driver
                    id="derby"
                    label="Derby Embedded"
                    class="org.apache.derby.jdbc.EmbeddedDriver"
                    sampleURL="jdbc:derby:{folder}"
                    webURL="http://db.apache.org/"
                    anonymous="true"
                    description="Derby (Java DB) embedded driver">
                    <parameter name="meta-case" value="upper"/>
                    <parameter name="shutdown-url-param" value=";shutdown=true"/>
                    <library path="drivers/derby/derby.jar"/>
                </driver>
                <driver
                    id="derby_server"
                    label="Derby Server"
                    class="org.apache.derby.jdbc.ClientDriver"
                    sampleURL="jdbc:derby://{host}:{port}/{database};create=false"
                    defaultPort="1527"
                    webURL="http://db.apache.org/"
                    description="Derby (Java DB) server driver">
                    <parameter name="meta-case" value="upper"/>
                    <library path="drivers/derby/derbyclient.jar"/>
                </driver>
                <driver
                    id="mimer"
                    label="Mimer SQL"
                    class="com.mimer.jdbc.Driver"
                    sampleURL="jdbc:mimer:tcp://{host}:{port}/{database}"
                    defaultPort="1360"
                    webURL="http://developer.mimer.com/"
                    description="Mimer SQL TCP/IP driver">
                    <library path="drivers/mimjdbc3.jar"/>
                </driver>
                <driver
                    id="hsqldb_server"
                    label="HSQLDB Server"
                    class="org.hsqldb.jdbcDriver"
                    sampleURL="jdbc:hsqldb:hsql://{host}[:{port}]/[{database}]"
                    defaultPort="9001"
                    webURL="http://hsqldb.org/"
                    description="HyperSQL DataBase - Server Mode">
                    <library path="drivers/hsqldb.jar"/>
                </driver>
                <driver
                    id="hsqldb_embedded"
                    label="HSQLDB Embedded"
                    class="org.hsqldb.jdbc.JDBCDriver"
                    sampleURL="jdbc:hsqldb:file:{folder}"
                    webURL="http://hsqldb.org/"
                    anonymous="true"
                    description="HyperSQL DataBase - Embedded Mode">
                    <library path="drivers/hsqldb.jar"/>
                </driver>
            </drivers>
            <views>
                <view
                    id="org.jkiss.dbeaver.ext.generic.dataSourceWizardView"
                    targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    label="Generic JDBC Connection Settings"
                    class="org.jkiss.dbeaver.ext.generic.views.ConnectionEditorPage"
                    icon="icons/database.png">
                </view>
                <view
                      class="org.jkiss.dbeaver.ext.generic.views.ConnectionEditorPage"
                      icon="icons/database.png"
                      id="org.jkiss.dbeaver.ext.generic.dataSourceEditorView"
                      label="Generic JDBC Connection Settings"
                      targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
                </view>
            </views>
        </datasource>
    </extension>

    <!--extension point="org.jkiss.dbeaver.databaseEditor">
        <manager
            id="org.jkiss.dbeaver.ext.generic.edit.GenericTableManager"
            class="org.jkiss.dbeaver.ext.generic.edit.GenericTableManager"
            objectType="org.jkiss.dbeaver.ext.generic.model.GenericTable"
            label="Table manager">
        </manager>
    </extension-->

</plugin>
