<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.dashboard.ui" name="Dashboards UI" schema="schema/org.jkiss.dbeaver.dashboard.ui.exsd"/>

    <extension point="org.eclipse.ui.views">
        <view
                id="org.jkiss.dbeaver.ui.dashboardView"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.dashboard.view.DataSourceDashboardView"
                allowMultiple="true"
                icon="platform:/plugin/org.jkiss.dbeaver.model.dashboard/icons/dashboard.png"
                name="%view.dashboard.title"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
                name="%editor.dashboard.name"
                icon="platform:/plugin/org.jkiss.dbeaver.model.dashboard/icons/dashboard.png"
                class="org.jkiss.dbeaver.ui.dashboard.editor.DashboardEditorStandalone"
                id="org.jkiss.dbeaver.ui.dashboard.editor.DashboardEditorStandalone">
        </editor>
    </extension>

    <!-- Hide dashboard view from Show View menu -->
    <extension point="org.eclipse.ui.activities">
        <activity id="org.jkiss.dbeaver.dashboard.view" name="Dashboard view hide"/>
        <activityPatternBinding activityId="org.jkiss.dbeaver.dashboard.view" isEqualityPattern="true" pattern="org.jkiss.dbeaver.ui.dashboard/org.jkiss.dbeaver.ui.dashboardView"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.ui.dashboard.open" name="%command.org.jkiss.dbeaver.ui.dashboard.open.name" description="%command.org.jkiss.dbeaver.ui.dashboard.open.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.ui.dashboard.configure" name="%command.org.jkiss.dbeaver.ui.dashboard.configure.name" description="%command.org.jkiss.dbeaver.ui.dashboard.configure.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.ui.chart.refresh" name="%command.org.jkiss.dbeaver.ui.chart.refresh.name" description="%command.org.jkiss.dbeaver.ui.chart.refresh.description" categoryId="org.jkiss.dbeaver.core.database"/>

        <command id="org.jkiss.dbeaver.ui.dashboard.create" name="%command.org.jkiss.dbeaver.ui.dashboard.create.name" description="%command.org.jkiss.dbeaver.ui.dashboard.create.description" categoryId="org.jkiss.dbeaver.core.database">
            <commandParameter id="datasource" name="Create dashboard for active datasource" optional="true"/>
        </command>
        <command id="org.jkiss.dbeaver.ui.dashboard.delete" name="%command.org.jkiss.dbeaver.ui.dashboard.delete.name" description="%command.org.jkiss.dbeaver.ui.dashboard.delete.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.ui.dashboard.add" name="%command.org.jkiss.dbeaver.ui.dashboard.add.name" description="%command.org.jkiss.dbeaver.ui.dashboard.add.description" categoryId="org.jkiss.dbeaver.core.database">
        </command>
         <command id="org.jkiss.dbeaver.ui.dashboard.catalog.show" name="%command.org.jkiss.dbeaver.ui.dashboard.catalog.show.name" description="%command.org.jkiss.dbeaver.ui.dashboard.catalog.show.description" categoryId="org.jkiss.dbeaver.core.database">
            <commandParameter id="toggleCatalogPanel" name="%command.org.jkiss.dbeaver.ui.dashboard.catalog.show.name" optional="true"/>
        </command>
        <command id="org.jkiss.dbeaver.ui.dashboard.remove" name="%command.org.jkiss.dbeaver.ui.dashboard.remove.name" description="%command.org.jkiss.dbeaver.ui.dashboard.remove.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.ui.dashboard.view" name="%command.org.jkiss.dbeaver.ui.dashboard.view.name" description="%command.org.jkiss.dbeaver.ui.dashboard.view.description" categoryId="org.jkiss.dbeaver.core.database"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.ui.dashboard.open" icon="platform:/plugin/org.jkiss.dbeaver.model.dashboard/icons/dashboard.png"/>
        <image commandId="org.jkiss.dbeaver.ui.dashboard.catalog.show" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/config_table.png"/>
        <image commandId="org.jkiss.dbeaver.ui.dashboard.delete" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/delete.png"/>
        <image commandId="org.jkiss.dbeaver.ui.dashboard.configure" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/configuration.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <!-- Dashboard handlers -->

        <handler commandId="org.jkiss.dbeaver.ui.dashboard.open" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardOpen">
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.dashboard.create" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardCreate">
            <enabledWhen>
                <test property="org.jkiss.dbeaver.core.global.hasPermission" value="database-developer"/>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.dashboard.delete" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardDelete">
            <enabledWhen>
                <test property="org.jkiss.dbeaver.core.global.hasPermission" value="database-developer"/>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.ui.dashboard.configure" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardConfiguration">
            <enabledWhen>
                <test property="org.jkiss.dbeaver.core.global.hasPermission" value="database-developer"/>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.chart.refresh" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardResetItem">
            <enabledWhen>
                <test property="org.jkiss.dbeaver.core.global.hasPermission" value="configuration-manager"/>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.dashboard.add" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardAddItem">
            <enabledWhen>
                <test property="org.jkiss.dbeaver.core.global.hasPermission" value="configuration-manager"/>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.dashboard.catalog.show" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardShowCatalog">
            <enabledWhen>
                <test property="org.jkiss.dbeaver.core.global.hasPermission" value="configuration-manager"/>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.dashboard.remove" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardRemoveItem">
            <enabledWhen>
                <and>
                    <test property="org.jkiss.dbeaver.core.global.hasPermission" value="configuration-manager"/>
                </and>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.dashboard.view" class="org.jkiss.dbeaver.ui.dashboard.navigator.HandlerDashboardViewItem">
        </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">

        <menuContribution allPopups="false" locationURI="toolbar:dbeaver-tools?after=additions">
            <separator name="dashboard" visible="true"/>
            <command commandId="org.jkiss.dbeaver.ui.dashboard.open" style="pulldown" id="org.jkiss.dbeaver.menu.dashboards">
                <visibleWhen>
                    <and>
                        <test property="org.jkiss.dbeaver.core.global.hasPermission" value="database-developer"/>
                        <reference definitionId="DBeaverPerspectiveActive"/>
                    </and>
                </visibleWhen>
            </command>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="menu:dataSourceMenu?after=tools">
            <command commandId="org.jkiss.dbeaver.ui.dashboard.open">
                <visibleWhen checkEnabled="true"><test property="org.jkiss.dbeaver.core.global.hasPermission" value="database-developer"/></visibleWhen>
            </command>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.ui.dashboardView">
            <command commandId="org.jkiss.dbeaver.ui.dashboard.add" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/chart/chart_line.png">
                <visibleWhen checkEnabled="true"/>
            </command>
            <command commandId="org.jkiss.dbeaver.ui.dashboard.catalog.show" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/config_table.png">
                <parameter name="toggleCatalogPanel" value="true"/>
                <visibleWhen checkEnabled="true"/>
            </command>
            <command commandId="org.jkiss.dbeaver.ui.dashboard.configure">
                <visibleWhen checkEnabled="true"/>
            </command>
            <separator name="additions" visible="true"/>
            <command commandId="org.jkiss.dbeaver.ui.dashboard.delete">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>

        <menuContribution locationURI="menu:org.jkiss.dbeaver.menu.dashboards">
            <dynamic id="org.jkiss.dbeaver.menu.dashboards.pulldown" class="org.jkiss.dbeaver.ui.dashboard.navigator.DashboardDynamicMenuContributor"/>
            <separator name="additions" visible="true"/>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=create">
            <command commandId="org.jkiss.dbeaver.ui.dashboard.create">
                <visibleWhen checkEnabled="true">
                    <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and">
                            <adapt type="org.eclipse.core.resources.IFolder">
                                <and>
                                    <test property="org.jkiss.dbeaver.core.resource.type" value="dashboard folder"/>
                                    <test property="org.jkiss.dbeaver.core.global.currentProjectResourceEditable"/>
                                </and>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <tool id="org.jkiss.dbeaver.ui.dashboard.view.DashboardOpenTool"
                  label="%command.org.jkiss.dbeaver.ui.dashboard.open.name"
                  description="%command.org.jkiss.dbeaver.ui.dashboard.open.description"
                  icon="platform:/plugin/org.jkiss.dbeaver.model.dashboard/icons/dashboard.png"
                  singleton="false">
                <command id="org.jkiss.dbeaver.ui.dashboard.open">
                    <objectType name="org.jkiss.dbeaver.model.DBPDataSource"/>
                </command>
            </tool>
        </tools>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key commandId="org.jkiss.dbeaver.ui.dashboard.open" contextId="org.jkiss.dbeaver.ui.perspective" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+ALT+SHIFT+B"/>
    </extension>

    <extension point="org.jkiss.dbeaver.resourceHandler">
        <handler type="dashboard" class="org.jkiss.dbeaver.ui.dashboard.navigator.DashboardResourceHandler"/>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ui.dashboard.internal.UIDashboardPreferencesInitializer"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dashboard.ui">
        <dashboardView id="timeseries" label="Time series" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/chart/chart_line.png"
            dataTypes="timeseries" native="true"
            renderer="org.jkiss.dbeaver.ui.dashboard.histogram.DashboardRendererTimeseries"
            configurationEditor="org.jkiss.dbeaver.ui.dashboard.control.DatabaseChartConfigurationEditor"
            viewSettingsEditor="org.jkiss.dbeaver.ui.dashboard.control.DatabaseChartViewSettingsEditor">

        </dashboardView>
        <dashboardView id="browser" label="Browser" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/browser.png"
            dataTypes="provided"
            renderer="org.jkiss.dbeaver.ui.dashboard.browser.DashboardRendererBrowser"
            configurationEditor="org.jkiss.dbeaver.ui.dashboard.browser.BrowserChartConfigurationEditor"
            viewSettingsEditor="org.jkiss.dbeaver.ui.dashboard.browser.BrowserChartViewSettingsEditor">

        </dashboardView>
    </extension>

    <extension point="org.eclipse.ui.newWizards">
        <wizard
                category="org.jkiss.dbeaver.core.new.general"
                class="org.jkiss.dbeaver.ui.dashboard.navigator.DashboardCreateWizard"
                icon="platform:/plugin/org.jkiss.dbeaver.model.dashboard/icons/dashboard.png"
                id="org.jkiss.dbeaver.ui.dashboard.navigator.DashboardCreateWizard"
                name="%wizard.dashboard.name">
            <description>
                %wizard.dashboard.description
            </description>
        </wizard>
    </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.jkiss.dbeaver.core.perspective">
            <newWizardShortcut id="org.jkiss.dbeaver.ui.dashboard.navigator.DashboardCreateWizard"/>
        </perspectiveExtension>
    </extension>

</plugin>
