<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.dashboard" name="%extension-point.org.jkiss.dbeaver.dashboard.name" schema="schema/org.jkiss.dbeaver.dashboard.exsd"/>

    <extension point="org.eclipse.ui.views">
        <category id="org.jkiss.dbeaver.core.category" name="%category.org.jkiss.dbeaver.core.category.name"/>
        <view
                id="org.jkiss.dbeaver.ui.dashboardView"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.dashboard.view.DashboardView"
                allowMultiple="true"
                icon="icons/dashboard.png"
                name="%view.dashboard.title"/>
    </extension>

    <extension point="org.eclipse.ui.newWizards">
        <wizard
                category="org.jkiss.dbeaver.core.new.general"
                class="org.jkiss.dbeaver.ui.dashboard.view.DashboardCreateWizard"
                icon="icons/dashboard.png"
                id="org.jkiss.dbeaver.dashboard.new.dashboard"
                name="%wizard.org.jkiss.dbeaver.dashboard.new.dashboard.name">
            <description>
                %wizard.org.jkiss.dbeaver.dashboard.new.dashboard.description
            </description>
        </wizard>
    </extension>

    <extension point="org.eclipse.ui.commands">

        <command id="org.jkiss.dbeaver.ui.dashboard.open" name="%command.org.jkiss.dbeaver.ui.dashboard.open.name" description="%command.org.jkiss.dbeaver.ui.dashboard.open.description" categoryId="org.jkiss.dbeaver.core.database"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.ui.dashboard.open" icon="icons/dashboard.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <!-- Dashboard handlers -->

        <handler commandId="org.jkiss.dbeaver.ui.dashboard.open" class="org.jkiss.dbeaver.ui.dashboard.view.HandlerDashboardOpen">
            <enabledWhen><reference definitionId="org.jkiss.dbeaver.core.datasource.connected"/></enabledWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.ui.menus">

    </extension>

    <extension point="org.jkiss.dbeaver.dashboard">
        <dashboard >

        </dashboard>
    </extension>

</plugin>
