<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  ~ Copyright (c) 2010, Serge Rieder and others. All Rights Reserved.
  -->

<plugin>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="DBeaver"
            id="org.jkiss.dbeaver.ext.erd">
        </category>
    </extension>
    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts.xml">
        </contexts>
    </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
            id="org.jkiss.dbeaver.ext.erd.editor.ERDEditor"
            class="org.jkiss.dbeaver.ext.erd.editor.ERDEditor"
            main="false"
            label="Diagram"
            description="ERD Diagram"
            position="additions_end"
            icon="icons/erd.png">
            <objectType name="org.jkiss.dbeaver.model.struct.DBSEntityContainer"/>
            <objectType name="org.jkiss.dbeaver.model.struct.DBSTable"/>
        </editor>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
       <factory adaptableType="org.eclipse.gef.EditPart" class="org.jkiss.dbeaver.ext.erd.model.ERDObjectAdapter">
          <adapter type="org.jkiss.dbeaver.model.DBPNamedObject"/>
       </factory>
        <factory adaptableType="org.eclipse.swt.widgets.Control" class="org.jkiss.dbeaver.ext.erd.editor.ERDEditorAdapter">
           <adapter type="org.jkiss.dbeaver.ext.erd.editor.ERDEditor"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.eclipse.ui.edit.undo" class="org.jkiss.dbeaver.ext.erd.action.ERDUndoHandler">
            <activeWhen>
                <with variable="activeFocusControl">
                    <adapt type="org.jkiss.dbeaver.ext.erd.editor.ERDEditor">
                        <test property="org.jkiss.dbeaver.ext.erd.editor.canUndo"/>
                    </adapt>
                </with>
            </activeWhen>
        </handler>
        <handler commandId="org.eclipse.ui.edit.redo" class="org.jkiss.dbeaver.ext.erd.action.ERDRedoHandler">
            <activeWhen>
                <with variable="activeFocusControl">
                    <adapt type="org.jkiss.dbeaver.ext.erd.editor.ERDEditor">
                        <test property="org.jkiss.dbeaver.ext.erd.editor.canRedo"/>
                    </adapt>
                </with>
            </activeWhen>
        </handler>
    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPropertyTester"
             id="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPropertyTester"
             namespace="org.jkiss.dbeaver.ext.erd.editor"
             properties="canUndo,canRedo"
             type="org.jkiss.dbeaver.ext.erd.editor.ERDEditor">
       </propertyTester>
    </extension>

</plugin>
