<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="firebird" class="org.jkiss.dbeaver.ext.firebird.model.FireBirdMetaModel"
            driverClass="org.firebirdsql.jdbc.FBDriver">
        </meta>
    </extension>

</plugin>
