<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.dataManager" name="%extension-point.org.jkiss.dbeaver.dataManager.name" schema="schema/org.jkiss.dbeaver.dataManager.exsd"/>
    <extension-point id="org.jkiss.dbeaver.resultset.presentation" name="%extension-point.org.jkiss.dbeaver.resultset.presentation.name" schema="schema/org.jkiss.dbeaver.resultset.presentation.exsd"/>
    <extension-point id="org.jkiss.dbeaver.resultset.panel" name="%extension-point.org.jkiss.dbeaver.resultset.panel.name" schema="schema/org.jkiss.dbeaver.resultset.panel.exsd"/>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ui.editors.data.internal.DataEditorsPreferencesInitializer"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataManager">
        <streamManager class="org.jkiss.dbeaver.ui.data.managers.stream.TextStreamValueManager" id="plaintext" label="Text" primaryMime="text/plain"
                       description="Plain text" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/types/text.png"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataManager">
        <!--
                <manager class="org.jkiss.dbeaver.ui.data.managers.BooleanValueManager" id="org.jkiss.dbeaver.ui.data.managers.BooleanValueManager">
                    <supports kind="BOOLEAN"/>
                </manager>
        -->
        <manager class="org.jkiss.dbeaver.ui.data.managers.NumericValueManager" id="org.jkiss.dbeaver.ui.data.managers.NumericValueManager">
            <supports kind="NUMERIC"/>
            <supports kind="BOOLEAN"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.StringValueManager" id="org.jkiss.dbeaver.ui.data.managers.StringValueManager">
            <supports kind="STRING"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.DateTimeValueManager" id="org.jkiss.dbeaver.ui.data.managers.DateTimeValueManager">
            <supports kind="DATETIME"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.ArrayValueManager" id="org.jkiss.dbeaver.ui.data.managers.ArrayValueManager">
            <supports kind="ARRAY"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.ReferenceValueManager" id="org.jkiss.dbeaver.ui.data.managers.ReferenceValueManager">
            <supports kind="REFERENCE"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.StructValueManager" id="org.jkiss.dbeaver.ui.data.managers.StructValueManager">
            <supports kind="STRUCT"/>
            <supports type="java.util.Map"/>
            <supports type="java.util.List"/>
            <supports type="java.util.Set"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.ContentValueManager" id="org.jkiss.dbeaver.ui.data.managers.ContentValueManager">
            <supports kind="CONTENT"/>
            <supports kind="BINARY"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.ObjectValueManager" id="org.jkiss.dbeaver.ui.data.managers.ObjectValueManager">
            <supports kind="OBJECT"/>
            <supports kind="DOCUMENT"/>
            <supports kind="ROWID"/>
            <supports kind="ANY"/>
            <supports typeName="REFCURSOR"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.UUIDValueManager" id="org.jkiss.dbeaver.ui.data.managers.UUIDValueManager">
            <supports type="java.util.UUID"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.URLPreviewValueManager" id="org.jkiss.dbeaver.ui.data.managers.URLPreviewValueManager">
            <supports typeName="URL.Preview"/>
        </manager>
        <!--
                <manager class="org.jkiss.dbeaver.ui.data.managers.RowIdValueManager" id="org.jkiss.dbeaver.ui.data.managers.RowIdValueManager">
                    <supports kind="ROWID"/>
                </manager>
        -->
        <manager class="org.jkiss.dbeaver.ui.data.managers.DefaultValueManager" id="DefaultValueManager">
        </manager>

    </extension>

    <extension point="org.jkiss.dbeaver.aggregateFunction">
        <function id="count" class="org.jkiss.dbeaver.model.data.aggregate.FunctionCount" type="simple" label="Count" description="Value count" default="true"/>
        <function id="countDistinct" class="org.jkiss.dbeaver.model.data.aggregate.FunctionCountDistinct" type="simple" label="Count Distinct" description="Value count" default="true"/>
        <function id="sum" class="org.jkiss.dbeaver.model.data.aggregate.FunctionSum" type="simple" label="Sum" description="Sum of numbers"/>
        <function id="avg" class="org.jkiss.dbeaver.model.data.aggregate.FunctionAvg" type="simple" label="Average" description="Arithmetic mean"/>
        <function id="min" class="org.jkiss.dbeaver.model.data.aggregate.FunctionMin" type="simple" label="Minimum" description="Minimum value"/>
        <function id="max" class="org.jkiss.dbeaver.model.data.aggregate.FunctionMax" type="simple" label="Maximum" description="Maximum value"/>
        <function id="median" class="org.jkiss.dbeaver.model.data.aggregate.FunctionMedian" type="simple" label="Median" description="Median (middle) value"/>
        <function id="mode" class="org.jkiss.dbeaver.model.data.aggregate.FunctionMode" type="simple" label="Mode" description="Mode (most frequent) value"/>
    </extension>

    <extension point="org.jkiss.dbeaver.resultset.presentation">
        <presentation
                id="spreadsheet"
                label="%presentation.spreadsheet.label"
                description="%presentation.spreadsheet.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/grid.png"
                class="org.jkiss.dbeaver.ui.controls.resultset.spreadsheet.SpreadsheetPresentation"
                order="100"
                type="columns">
            <objectType name="org.jkiss.dbeaver.model.exec.DBCResultSet" if="context.supportsAttributes()"/>
        </presentation>
        <presentation
                id="plaintext"
                label="%presentation.plaintext.label"
                description="%presentation.plaintext.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/sql_text.png"
                class="org.jkiss.dbeaver.ui.controls.resultset.plaintext.PlainTextPresentation"
                order="200"
                type="columns">
            <objectType name="org.jkiss.dbeaver.model.exec.DBCResultSet" if="context.supportsAttributes()"/>
        </presentation>
    </extension>

    <extension point="org.jkiss.dbeaver.resultset.panel">
        <panel
                id="value-view"
                label="%panel.value-view.label"
                description="%panel.value-view.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/panel_value.png"
                default="true"
                class="org.jkiss.dbeaver.ui.controls.resultset.panel.valueviewer.ValueViewerPanel">
            <supports type="columns"/>
        </panel>
        <panel
                id="column-aggregate"
                label="%panel.column-aggregate.label"
                description="%panel.column-aggregate.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/panel_aggregate.png"
                default="false"
                class="org.jkiss.dbeaver.ui.controls.resultset.panel.aggregate.AggregateColumnsPanel">
            <supports type="columns"/>
        </panel>
        <panel
                id="results-metadata"
                label="%panel.results-metadata.label"
                description="%panel.results-metadata.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/panel_metadata.png"
                default="false"
                class="org.jkiss.dbeaver.ui.controls.resultset.panel.metadata.MetaDataPanel">
        </panel>
        <panel
                id="results-grouping"
                label="%panel.results-grouping.label"
                description="%panel.results-grouping.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/panel_grouping.png"
                default="false"
                class="org.jkiss.dbeaver.ui.controls.resultset.panel.grouping.GroupingPanel">
        </panel>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
                id="org.jkiss.dbeaver.ui.editors.data.DatabaseDataEditor"
                class="org.jkiss.dbeaver.ui.editors.data.DatabaseDataEditor"
                objectType="org.jkiss.dbeaver.model.struct.DBSDataContainer"
                main="false"
                label="%editor.dbdata.name"
                description="%editor.dbdata.description"
                position="additions_start"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/sql_table.png">
        </editor>
    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                class="org.jkiss.dbeaver.ui.controls.resultset.ResultSetPropertyTester"
                id="org.jkiss.dbeaver.ui.controls.resultset.ResultSetPropertyTester"
                namespace="org.jkiss.dbeaver.core.resultset"
                properties="active,hasData,hasMoreData,canCopy,canPaste,canCut,canMove,editable,changed,canToggle,canSwitchPresentation,canNavigateLink,canNavigateHistory,supportsCount"
                type="org.eclipse.ui.IWorkbenchPart"/>
        <propertyTester
                class="org.jkiss.dbeaver.ui.controls.resultset.panel.valueviewer.ValueViewPropertyTester"
                id="org.jkiss.dbeaver.ui.controls.resultset.panel.valueviewer.ValueViewPropertyTester"
                namespace="org.jkiss.dbeaver.core.resultset.panel.valueView"
                properties="active"
                type="org.eclipse.ui.IWorkbenchPart"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
                name="%editor.lob.name"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/binary.png"
                contributorClass="org.jkiss.dbeaver.ui.editors.content.ContentEditorContributor"
                class="org.jkiss.dbeaver.ui.editors.content.ContentEditor"
                id="org.jkiss.dbeaver.ui.editors.content.ContentEditor">
        </editor>
    </extension>

</plugin>
