<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="hive" class="org.jkiss.dbeaver.ext.hive.model.HiveMetaModel" driverClass="org.apache.hive.jdbc.HiveDriver" dialect="hive"/>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="hive" parent="generic" class="org.jkiss.dbeaver.ext.hive.model.HiveSQLDialect" label="Hive" description="Apache Hive SQL dialect." icon="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/hive_icon.png">
        </dialect>
    </extension>

</plugin>
