<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2017 Serge Rider (serge@jkiss.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension-point id="org.jkiss.dbeaver.ext.erd.export.format" name="%extension-point.org.jkiss.dbeaver.ext.erd.export.format.name" schema="schema/org.jkiss.dbeaver.ext.erd.export.format.exsd"/>

    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type
                file-extensions="erd"
                id="org.jkiss.dbeaver.erd"
                name="%content-type.org.jkiss.dbeaver.erd.name"
                priority="normal"/>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
            id="org.jkiss.dbeaver.ext.erd.editor.ERDEditorEmbedded"
            class="org.jkiss.dbeaver.ext.erd.editor.ERDEditorEmbedded"
            main="false"
            label="%editor.erd.name"
            description="%editor.erd.description"
            position="additions_end"
            icon="icons/erd.png">
            <objectType name="org.jkiss.dbeaver.model.struct.DBSObjectContainer" forceCheck="true"/>
            <objectType name="org.jkiss.dbeaver.model.struct.DBSEntity" forceCheck="true"/>
        </editor>
    </extension>

    <extension point="org.jkiss.dbeaver.resourceHandler">
        <handler id="er-diagrams" class="org.jkiss.dbeaver.ext.erd.navigator.ERDResourceHandler" name="ER diagrams" managable="true" icon="icons/erd_folder.png">
            <root folder="Diagrams"/>
            <contentTypeBinding contentTypeId="org.jkiss.dbeaver.erd"/>
        </handler>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.eclipse.gef.EditPart" class="org.jkiss.dbeaver.ext.erd.model.ERDObjectAdapter">
            <adapter type="org.jkiss.dbeaver.model.DBPNamedObject"/>
            <adapter type="org.jkiss.dbeaver.model.DBPQualifiedObject"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSObject"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSEntity"/>
            <adapter type="org.jkiss.dbeaver.model.preferences.DBPPropertySource"/>
        </factory>
        <factory adaptableType="org.eclipse.swt.widgets.Control" class="org.jkiss.dbeaver.ext.erd.editor.ERDEditorAdapter">
           <adapter type="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.eclipse.ui.edit.paste" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerPaste">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
            <enabledWhen>
                <with variable="activeFocusControl">
                    <adapt type="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart">
                        <test property="org.jkiss.dbeaver.ext.erd.editor.editable"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.eclipse.ui.edit.delete" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerDelete">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
            <enabledWhen>
                <and>
                    <with variable="activeFocusControl">
                        <adapt type="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart">
                            <test property="org.jkiss.dbeaver.ext.erd.editor.canDelete"/>
                        </adapt>
                    </with>
                    <with variable="selection">
                        <count value="+"/>
                    </with>
                </and>
            </enabledWhen>
        </handler>
        <handler commandId="org.eclipse.ui.edit.selectAll" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerSelectAll">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
        </handler>
        <handler commandId="org.eclipse.ui.edit.undo" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerUndo">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
            <enabledWhen>
                <with variable="activeFocusControl">
                    <adapt type="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart">
                        <test property="org.jkiss.dbeaver.ext.erd.editor.canUndo"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.eclipse.ui.edit.redo" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerRedo">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
            <enabledWhen>
                <with variable="activeFocusControl">
                    <adapt type="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart">
                        <test property="org.jkiss.dbeaver.ext.erd.editor.canRedo"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.eclipse.ui.file.print" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerPrint">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
        </handler>
        <handler commandId="org.eclipse.ui.file.refresh" class="org.jkiss.dbeaver.ext.erd.action.ERDHandlerRefresh">
            <activeWhen>
                <with variable="activeFocusControlId">
                    <equals value="org.jkiss.dbeaver.erd.ERDEditor"/>
                </with>
            </activeWhen>
        </handler>

    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.jkiss.dbeaver.ext.erd.action.ERDEditorPropertyTester"
             id="org.jkiss.dbeaver.ext.erd.action.ERDEditorPropertyTester"
             namespace="org.jkiss.dbeaver.ext.erd.editor"
             properties="canUndo,canRedo,canDelete,editable"
             type="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart">
       </propertyTester>
    </extension>

    <extension point="org.eclipse.ui.themes">
        <themeElementCategory
                label="%themeElementCategory.org.jkiss.dbeaver.ui.presentation.erd.label"
                id="org.jkiss.dbeaver.ui.presentation.erd">
            <description>
                %themeElementCategory.org.jkiss.dbeaver.ui.presentation.erd.description
            </description>
        </themeElementCategory>
        <fontDefinition
                label="%fontDefinition.org.jkiss.dbeaver.erd.diagram.font.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.font">
            <description>%fontDefinition.org.jkiss.dbeaver.erd.diagram.font.description</description>
        </fontDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.background.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.background"
                value="COLOR_LIST_BACKGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.background.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.regular.background.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.entity.regular.background"
                value="COLOR_INFO_BACKGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.regular.background.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.primary.background.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.entity.primary.background"
                value="255,128,64">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.primary.background.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.association.background.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.entity.association.background"
                value="COLOR_LIST_BACKGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.association.background.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.name.foreground.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.entity.name.foreground"
                value="COLOR_INFO_FOREGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.entity.name.foreground.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.attributes.background.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.attributes.background"
                value="COLOR_LIST_BACKGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.attributes.background.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.attributes.foreground.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.attributes.foreground"
                value="COLOR_LIST_FOREGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.attributes.foreground.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.notes.foreground.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.notes.foreground"
                value="COLOR_INFO_FOREGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.notes.foreground.description</description>
        </colorDefinition>
        <colorDefinition
                label="%colorDefinition.org.jkiss.dbeaver.erd.diagram.notes.background.label"
                categoryId="org.jkiss.dbeaver.ui.presentation.erd"
                id="org.jkiss.dbeaver.erd.diagram.notes.background"
                value="COLOR_INFO_BACKGROUND">
            <description>%colorDefinition.org.jkiss.dbeaver.erd.diagram.notes.background.description</description>
        </colorDefinition>


    </extension>

    <extension point="org.eclipse.e4.ui.css.swt.theme">
        <stylesheet uri="css/e4-dark_erd_prefstyle.css">
            <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark">
            </themeid>
        </stylesheet>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ext.erd.ERDPreferencesInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.jkiss.dbeaver.preferences.erd.editor" category="org.eclipse.ui.preferencePages.Editors" class="org.jkiss.dbeaver.ext.erd.editor.ERDPreferencePage" name="%pref.page.name.erd.editor"/>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page id="org.jkiss.dbeaver.preferences.erd.general" class="org.jkiss.dbeaver.ext.erd.editor.ERDPreferencePage" name="%page.org.jkiss.dbeaver.preferences.erd.general.name">
           <enabledWhen>
              <instanceof value="org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart"/>
           </enabledWhen>
        </page>
    </extension>

    <extension point="org.eclipse.ui.elementFactories">
        <factory id="org.jkiss.dbeaver.ext.erd.editor.ERDEditorInputFactory" class="org.jkiss.dbeaver.ext.erd.editor.ERDEditorInputFactory"/>
    </extension>

    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="utf-8"
            file-extensions="erd"
            id="org.jkiss.dbeaver.erd.content-type-erd"
            name="%content-type.org.jkiss.dbeaver.erd.content-type-erd.name"
            priority="normal"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor name="%editor.org.jkiss.dbeaver.ext.erd.editor.ERDEditorStandalone.name"
                extensions="erd"
                icon="icons/erd.png"
                contributorClass="org.jkiss.dbeaver.ext.erd.editor.ERDEditorContributor"
                class="org.jkiss.dbeaver.ext.erd.editor.ERDEditorStandalone"
                id="org.jkiss.dbeaver.ext.erd.editor.ERDEditorStandalone">
            <contentTypeBinding contentTypeId="org.jkiss.dbeaver.erd.content-type-erd"/>
        </editor>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.erd.diagram.create" name="%command.org.jkiss.dbeaver.erd.diagram.create.name" description="%command.org.jkiss.dbeaver.erd.diagram.create.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.erd.diagram.create" icon="icons/erd.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.erd.diagram.create" class="org.jkiss.dbeaver.ext.erd.navigator.CreateDiagramHandler"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <!-- All Context menus -->
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=create">
            <command commandId="org.jkiss.dbeaver.erd.diagram.create" label="%menu.create.new.diagram">
                <visibleWhen>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and">
                            <adapt type="org.eclipse.core.resources.IFolder">
                                <test property="org.jkiss.dbeaver.core.resource.type" value="diagram folder"/>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="popup:org.jkiss.dbeaver.ext.erd.editor.ERDEditorPart.EditorContext?after=additions">
            <command commandId="org.eclipse.ui.edit.undo"/>
            <command commandId="org.eclipse.ui.edit.redo"/>
            <separator name="selection" visible="true"/>
            <command commandId="org.eclipse.ui.edit.selectAll"/>
        </menuContribution>

    </extension>

    <extension point="org.eclipse.ui.newWizards">
        <wizard
             category="org.jkiss.dbeaver.core.new.general"
             class="org.jkiss.dbeaver.ext.erd.navigator.DiagramCreateWizard"
             icon="icons/erd.png"
             id="org.jkiss.dbeaver.ext.erd.navigator.DiagramCreateWizard"
             name="%wizard.erd.name">
           <description>
               %wizard.erd.description
           </description>
        </wizard>
    </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.jkiss.dbeaver.core.perspective">
            <newWizardShortcut id="org.jkiss.dbeaver.ext.erd.navigator.DiagramCreateWizard"/>
        </perspectiveExtension>
    </extension>

    <extension point="org.jkiss.dbeaver.ext.erd.export.format">
        <exportFormat ext="png" label="PNG format" class="org.jkiss.dbeaver.ext.erd.export.ERDExportRasterImage"/>
        <exportFormat ext="gif" label="GIF format" class="org.jkiss.dbeaver.ext.erd.export.ERDExportRasterImage"/>
        <exportFormat ext="bmp" label="BMP format" class="org.jkiss.dbeaver.ext.erd.export.ERDExportRasterImage"/>
        <exportFormat ext="graphml" label="GraphML format" class="org.jkiss.dbeaver.ext.erd.export.ERDExportGraphML"/>
    </extension>

</plugin>
