<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension-point id="org.jkiss.dbeaver.sqlBackup" name="Backup" schema="schema/org.jkiss.dbeaver.sqlBackup.exsd"/>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider class="org.jkiss.dbeaver.model.impl.jdbc.data.handlers.JDBCStandardValueHandlerProvider" id="JDBCDataTypeProvider">
            <type standard="BIT"/>
            <type standard="TINYINT"/>
            <type standard="SMALLINT"/>
            <type standard="INTEGER"/>
            <type standard="BIGINT"/>
            <type standard="FLOAT"/>
            <type standard="REAL"/>
            <type standard="DOUBLE"/>
            <type standard="DECIMAL"/>
            <type standard="NUMERIC"/>
            <type standard="CHAR"/>
            <type standard="VARCHAR"/>
            <type standard="LONGVARCHAR"/>
            <type standard="DATE"/>
            <type standard="TIME"/>
            <type standard="TIMESTAMP"/>
            <type standard="BINARY"/>
            <type standard="VARBINARY"/>
            <type standard="LONGVARBINARY"/>
            <!--
            <type standard="NULL"/>
            <type standard="OTHER"/>
            -->

            <!--
            <type standard="JAVA_OBJECT"/>
            <type standard="DISTINCT"/>
            -->

            <type standard="STRUCT"/>
            <type standard="ARRAY"/>
            <type standard="REF"/>

            <type standard="BLOB"/>
            <type standard="CLOB"/>
            <!--
            <type standard="REF"/>
            <type standard="DATALINK"/>
            -->

            <type standard="BOOLEAN"/>
            <type standard="ROWID"/>
            <type standard="NCHAR"/>
            <type standard="NVARCHAR"/>
            <type standard="LONGNVARCHAR"/>
            <type standard="NCLOB"/>
            <type standard="SQLXML"/>

        </provider>

    </extension>

</plugin>
