<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.ui.fileTypeHandler">
        <handler id="msaccess" class="org.jkiss.dbeaver.ext.msaccess.ui.MSAccessFileDatabaseHandler" remote="false" order="103">
            <extension id="msaccess" extensions="mdb,accdb" icon="platform:/plugin/org.jkiss.dbeaver.ext.msaccess/icons/msaccess_icon_big.png"/>
        </handler>
    </extension>
</plugin>
