<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.vertica.dataSourceWizardView"
                dataSource="vertica"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.vertica.ui.views.VerticaConnectionPage"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.vertica/icons/vertica_icon.png">
        </view>
        <view
                class="org.jkiss.dbeaver.ext.vertica.ui.views.VerticaConnectionPage"
                icon="platform:/plugin/org.jkiss.dbeaver.ext.vertica/icons/vertica_icon.png"
                id="org.jkiss.dbeaver.ext.vertica.dataSourceEditorView"
                dataSource="vertica"
                label="%dialog.connection.header"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
        </view>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <configurator class="org.jkiss.dbeaver.ext.vertica.ui.config.VerticaSequenceConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.vertica.model.VerticaSequence"/>
        </configurator>
    </extension>

</plugin>
