<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- DB2 z/OS -->

        <datasource
                class="org.jkiss.dbeaver.ext.db2.zos.DB2ZOSDataSourceProvider"
                description="DB2 z/OS Connector"
                id="db2_zos"
                parent="generic"
                label="Db2 for z/OS data source"
                icon="icons/db2_zos_icon.png"
                dialect="db2_zos">

            <tree path="db2_zos" label="Db2 for z/OS data source" supportsEntityMerge="true">
                    <items label="#schema" path="schema" property="schemaList" icon="#schema" optional="true">
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTable" label="%tree.tables.node.name" icon="#folder_table" description="%tree.tables.node.tip">
                            <items label="%tree.table.node.name" path="table" property="physicalTables" icon="#table">
                                <icon if="object.externalTable" icon="#table_external"/>
                                <icon if="object.abstractTable" icon="#table_alias"/>
                                <icon if="object.sharedTable" icon="#table_shared"/>

                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableColumn" label="%tree.columns.node.name" icon="#columns" description="%tree.columns.node.tip">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericUniqueKey" label="%tree.uni_keys.node.name" icon="#constraints" description="%tree.uni_keys.node.tip" visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()">
                                    <items label="%tree.uni_key.node.name" path="uniqueKey" property="constraints" icon="#unique-key">
                                        <items label="%tree.uni_key.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="%tree.foreign_keys.node.tip" visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()">
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip" visibleIf="object.dataSource.info.supportsIndexes()">
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="%tree.index_columns.node.name" path="column" property="attributeReferences" icon="#column" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder label="%tree.references.node.name" icon="#references" description="%tree.references.node.tip" visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()" virtual="true">
                                    <items label="%tree.reference.node.name" path="reference" property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableTrigger" label="%tree.triggers.node.name" icon="#triggers" description="%tree.triggers.node.tip" visibleIf="object.dataSource.metaModel.supportsTriggers(object.dataSource)">
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger"/>
                                </folder>
                                <items label="%tree.sub_table.node.name" optional="true" path="subtable" property="subTables" icon="#table" recursive=".." visibleIf="!object.view">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericView" label="%tree.tviews.node.name" icon="#folder_view" description="%tree.tviews.node.tip" visibleIf="object.dataSource.metaModel.supportsViews(object.dataSource)">
                            <items label="%tree.tview.node.name" path="view" property="views" icon="#view">
                                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip" visibleIf="object.dataSource.info.supportsIndexes()">
                            <items icon="#index" label="%tree.index.node.name" path="index" property="indexes" virtual="true">
                                <items icon="#column" label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" inline="true" navigable="false" virtual="true">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericProcedure" label="%tree.procedures.node.name" icon="#procedures" description="Procedures" visibleIf="object.dataSource.info.supportsStoredCode()">
                            <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="proceduresOnly" icon="#procedure">
                                <folder label="%tree.procedure_columns.node.name" icon="#columns" description="Procedure parameters">
                                    <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false"/>
                                </folder>
                            </items>
                            <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
                                <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure">
                                    <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false" inline="true"/>
                                </items>
                            </items>
                        </folder>
                        <folder label="%tree.functions.node.name" icon="#functions" description="Functions" visibleIf="object.dataSource.info.supportsStoredCode() &amp;&amp; object.dataSource.splitProceduresAndFunctions()">
                            <items label="%tree.functions.node.name" itemLabel="%tree.function.node.name" path="function" property="functionsOnly" icon="#function">
                                <items label="%tree.function_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false"/>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericSequence" label="%tree.sequences.node.name" icon="#sequences" description="%tree.sequences.node.tip" visibleIf="object.dataSource.metaModel.supportsSequences(object.dataSource)">
                            <items label="%tree.sequence.node.name" path="sequence" property="sequences" icon="#sequence"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.generic.model.GenericSynonym" label="%tree.synonyms.node.name" icon="#synonyms" description="Synonyms" visibleIf="object.dataSource.metaModel.supportsSynonyms(object.dataSource)">
                            <items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
                        </folder>
                        <folder id="databaseTrigger" type="org.jkiss.dbeaver.ext.generic.model.GenericContainerTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Global triggers" visibleIf="object.dataSource.metaModel.supportsDatabaseTriggers(object.dataSource)">
                            <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger"/>
                        </folder>
                        <folder id="tableTrigger" type="org.jkiss.dbeaver.ext.generic.model.GenericTableTrigger" label="%tree.tableTriggers.node.name" icon="#triggers" description="%tree.tableTriggers.node.tip" visibleIf="object.dataSource.metaModel.supportsTriggers(object.dataSource)">
                            <items label="%tree.trigger.node.name" path="tableTrigger" property="tableTriggers" icon="#trigger"/>
                        </folder>
                        <folder type="org.jkiss.dbeaver.model.struct.DBSDataType" label="%tree.dataTypes.node.name" icon="#data_types" description="%tree.dataTypes.node.tip">
                            <items label="%tree.dataType.node.name" path="dataType" property="dataTypes" icon="#data_type"/>
                        </folder>
                    </items>
            </tree>

            <drivers managable="true">

                <driver
                        id="db2_zos"
                        label="Db2 for z/OS"
                        icon="icons/db2_zos_icon.png"
                        iconBig="icons/db2_zos_icon_big.png"
                        category="Db2"
                        class="com.ibm.db2.jcc.DB2Driver"
                        sampleURL="jdbc:db2://{host}[:{port}]/{database}"
                        supportedConfigurationTypes="MANUAL,URL"
                        defaultPort="50000"
                        databaseDocumentationSuffixURL="Database-driver-IBM-Db2"
                        description="IBM Db2 driver for z/OS"
                        note="In order to connect to z/OS DB2 instance you have to install license file 'db2jcc_license_cisuz.jar'. Edit driver settings and and license file as a library."
                        categories="sql,legacy,mainframe">
                    <parameter name="supports-multiple-results" value="true"/>

                    <replace provider="generic" driver="db2_zos"/>

                    <property name="loginTimeout" value="20"/>
                    <property name="connectionTimeout" value="20"/>
                    <property name="fullyMaterializeLobData" value="true"/>
                    <property name="fullyMaterializeInputStreams" value="true"/>
                    <property name="progressiveStreaming" value="2"/>
                    <property name="retrieveMessagesFromServerOnGetMessage" value="true"/>

                    <parameter name="query-get-active-db" value="SELECT CURRENT_SCHEMA FROM SYSIBM.SYSDUMMY1"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA ?"/>
                    <parameter name="meta-model" value="db2_zos"/>
                    <parameter name="omit-type-cache" value="true"/>
                    <parameter name="omit-catalog" value="true"/>

                    <file type="jar" path="maven:/com.ibm.db2:jcc:RELEASE[11.5.9.0]" bundle="!drivers.db2"/>
                    <file type="license" path="drivers/db2/LICENSE.txt" bundle="drivers.db2"/>
                    <file type="jar" path="drivers/db2" bundle="drivers.db2"/>
                </driver>
            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="db2_zos" class="org.jkiss.dbeaver.ext.db2.zos.model.DB2ZOSMetaModel">
            <!-- indexes mapping.  Needed for "broken" DB2 z/OS installations -->
            <object type="catalog">
                <column id="TABLE_CAT" index="1"/>
            </object>
            <object type="schema">
                <column id="TABLE_SCHEM" index="1"/>
                <column id="TABLE_CATALOG" index="2"/>
            </object>
            <object type="table-type">
                <column id="TABLE_TYPE" index="1"/>
            </object>
            <object type="table">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="TABLE_TYPE" index="4"/>
                <column id="REMARKS" index="5"/>
                <column id="TYPE_CAT" index="6"/>
                <column id="TYPE_SCHEM" index="7"/>
                <column id="TYPE_NAME" index="8"/>
                <column id="SELF_REFERENCING_COL_NAME" index="9"/>
                <column id="REF_GENERATION" index="10"/>
            </object>
            <object type="table-column">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="COLUMN_NAME" index="4"/>
                <column id="DATA_TYPE" index="5"/>
                <column id="TYPE_NAME" index="6"/>
                <column id="COLUMN_SIZE" index="7"/>
                <column id="BUFFER_LENGTH" index="8"/>
                <column id="DECIMAL_DIGITS" index="9"/>
                <column id="NUM_PREC_RADIX" index="10"/>
                <column id="NULLABLE" index="11"/>
                <column id="REMARKS" index="12"/>
                <column id="COLUMN_DEF" index="13"/>
                <column id="SQL_DATA_TYPE" index="14"/>
                <column id="SQL_DATETIME_SUB" index="15"/>
                <column id="CHAR_OCTET_LENGTH" index="16"/>
                <column id="ORDINAL_POSITION" index="17"/>
                <column id="IS_NULLABLE" index="18"/>
                <column id="SCOPE_CATALOG" index="19"/>
                <column id="SCOPE_SCHEMA" index="20"/>
                <column id="SCOPE_TABLE" index="21"/>
                <column id="SOURCE_DATA_TYPE" index="22"/>
                <column id="IS_AUTOINCREMENT" index="23"/>
                <column id="IS_GENERATEDCOLUMN" index="24"/>
            </object>
            <object type="primary-key">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="COLUMN_NAME" index="4"/>
                <column id="KEY_SEQ" index="5"/>
                <column id="PK_NAME" index="6"/>
            </object>
            <object type="foreign-key">
                <column id="PKTABLE_CAT" index="1"/>
                <column id="PKTABLE_SCHEM" index="2"/>
                <column id="PKTABLE_NAME" index="3"/>
                <column id="PKCOLUMN_NAME" index="4"/>
                <column id="FKTABLE_CAT" index="5"/>
                <column id="FKTABLE_SCHEM" index="6"/>
                <column id="FKTABLE_NAME" index="7"/>
                <column id="FKCOLUMN_NAME" index="8"/>
                <column id="KEY_SEQ" index="9"/>
                <column id="UPDATE_RULE" index="10"/>
                <column id="DELETE_RULE" index="11"/>
                <column id="FK_NAME" index="12"/>
                <column id="PK_NAME" index="13"/>
                <column id="DEFERRABILITY" index="14"/>
            </object>
            <object type="procedure">
                <column id="PROCEDURE_CAT" index="1"/>
                <column id="PROCEDURE_SCHEM" index="2"/>
                <column id="PROCEDURE_NAME" index="3"/>
                <column id="REMARKS" index="4"/>
                <column id="PROCEDURE_TYPE" index="5"/>
                <column id="SPECIFIC_NAME" index="6"/>
            </object>
            <object type="procedure-column">
                <column id="PROCEDURE_CAT" index="1"/>
                <column id="PROCEDURE_SCHEM" index="2"/>
                <column id="PROCEDURE_NAME" index="3"/>
                <column id="COLUMN_NAME" index="4"/>
                <column id="COLUMN_TYPE" index="5"/>
                <column id="DATA_TYPE" index="6"/>
                <column id="TYPE_NAME" index="7"/>
                <column id="PRECISION" index="8"/>
                <column id="LENGTH" index="9"/>
                <column id="SCALE" index="10"/>
                <column id="RADIX" index="11"/>
                <column id="NULLABLE" index="12"/>
                <column id="REMARKS" index="13"/>
                <column id="COLUMN_DEF" index="14"/>
                <column id="SQL_DATA_TYPE" index="15"/>
                <column id="SQL_DATETIME_SUB" index="16"/>
                <column id="CHAR_OCTET_LENGTH" index="17"/>
                <column id="ORDINAL_POSITION" index="18"/>
                <column id="IS_NULLABLE" index="19"/>
                <column id="SPECIFIC_NAME" index="20"/>
            </object>
            <object type="index">
                <column id="TABLE_CAT" index="1"/>
                <column id="TABLE_SCHEM" index="2"/>
                <column id="TABLE_NAME" index="3"/>
                <column id="NON_UNIQUE" index="4"/>
                <column id="INDEX_QUALIFIER" index="5"/>
                <column id="INDEX_NAME" index="6"/>
                <column id="TYPE" index="7"/>
                <column id="ORDINAL_POSITION" index="8"/>
                <column id="COLUMN_NAME" index="9"/>
                <column id="ASC_OR_DESC" index="10"/>
                <column id="CARDINALITY" index="11"/>
                <column id="PAGES" index="12"/>
                <column id="FILTER_CONDITION" index="13"/>
            </object>
        </meta>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="db2_zos" parent="base" class="org.jkiss.dbeaver.ext.db2.zos.model.DB2ZOSSQLDialect" label="Db2 for z/OS" description="IBM Db2 z/OS SQL dialect." icon="icons/db2_zos_icon.png">
        </dialect>
    </extension>

</plugin>
