<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.ui.fileTypeHandler">
        <handler id="duckdb" class="org.jkiss.dbeaver.ext.duckdb.ui.DuckDBFileDatabaseHandler" remote="false" order="102">
            <extension id="duckdb" extensions="duckdb,db,duck" icon="platform:/plugin/org.jkiss.dbeaver.ext.duckdb/icons/duckdb_icon_big.png"/>
        </handler>
    </extension>
</plugin>
