<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceConfigurator">
        <configurator dataSource="duckdb" class="org.jkiss.dbeaver.ext.duckdb.ui.DuckDBConnectionPage"/>
    </extension>

    <extension point="org.jkiss.dbeaver.fileTypeHandler">
        <handler id="duckdb" class="org.jkiss.dbeaver.ext.duckdb.ui.DuckDBFileDatabaseHandler" remote="false" order="103">
            <extension id="duckdb" extensions="duckdb,ddb" icon="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/duckdb_icon_big.png"/>
        </handler>
    </extension>
</plugin>
