<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.dataManager">
        <manager class="org.jkiss.dbeaver.ext.sqlite.ui.data.manager.SQLiteValueManager" id="org.jkiss.dbeaver.ext.sqlite.ui.data.manager.SQLiteValueManager">
            <supports dataSource="org.jkiss.dbeaver.ext.sqlite.model.SQLiteDataSource"/>
        </manager>
    </extension>

    <extension point="org.jkiss.dbeaver.ui.fileTypeHandler">
        <handler id="sqlite" class="org.jkiss.dbeaver.ext.sqlite.ui.SQLiteFileDatabaseHandler" order="101" extensions="db,sdb,sqlite,db3,s3db,sqlite3,sl3,db2,s2db,sqlite2,sl2"/>
    </extension>

</plugin>
