<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.exasol.ExasolDataSourceProvider"
                description="Exasol Connector"
                icon="icons/Exasol_icon.png"
                id="exasol"
                label="Exasol">
            <tree
                    icon="icons/exasol_icon.png"
                    label="Exasol data source"
                    path="exasol">
                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolSchema" label="%tree.schemas.node.name"
                        icon="#folder_schemas" description="Schemas">
                    <items label="%tree.schema.node.name" path="schema" property="schemas" icon="#schema">
                        <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTable" label="%tree.tables.node.name"
                                icon="#folder_table" description="Tables">
                            <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableColumn"
                                        label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes"
                                           icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableUniqueKey"
                                        label="%tree.constraints.node.name" icon="#constraints"
                                        description="Table constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints"
                                           icon="#unique-key">
                                        <items label="%tree.constraint_columns.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableForeignKey"
                                        label="%tree.foreign_keys.node.name" icon="#foreign-keys"
                                        description="Table foreign keys">
                                    <items label="%tree.foreign_key.node.name" path="association"
                                           property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name"
                                               itemLabel="%tree.column.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolView" label="%tree.views.node.name"
                                icon="#folder_view" description="Views">
                            <items label="%tree.view.node.name" path="view" property="views" icon="#view">
                                <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column"
                                       property="attributes" icon="#column">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolScript" label="%tree.scripts.node.name"
                                icon="#procedures" description="Scripts">
                            <items label="%tree.script.node.name" path="script" property="procedures" icon="#procedure">
                            </items>
                        </folder>
                        <folder
                              description="Functions"
                              icon="#procedures"
                              label="%tree.functions.node.name"
                              type="org.jkiss.dbeaver.ext.exasol.model.ExasolFunction">
                           <items
                                 icon="#procedure"
                                 label="%tree.function.node.name"
                                 path="function"
                                 property="functions">
                           </items>
                        </folder>
                    </items>
                </folder>
                <folder
                      description="Database virtual schemas"
                      icon="#folder_schema"
                      label="%tree.virtualschemas.node.name"
                      type="org.jkiss.dbeaver.ext.exasol.model.ExasolVirtualSchema"
                      visibleIf="object.dataSource.atLeastV6">
                   <items
                         icon="#schema"
                         label="%tree.virtualschema.node.name"
                         path="virtualschema"
                         property="virtualSchemas">
                      <folder
                            description="Tables"
                            icon="#folder_table"
                            label="%tree.tables.node.name"
                            type="org.jkiss.dbeaver.ext.exasol.model.ExasolTable">
                         <items
                               icon="#table"
                               label="%tree.table.node.name"
                               path="table"
                               property="tables">
                            <folder
                                  description="Table columns"
                                  icon="#columns"
                                  label="%tree.columns.node.name"
                                  type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableColumn">
                               <items
                                     icon="#column"
                                     label="%tree.column.node.name"
                                     path="attribute"
                                     property="attributes">
                               </items>
                            </folder>
                            <folder
                                  description="Table constraints"
                                  icon="#constraints"
                                  label="%tree.constraints.node.name"
                                  type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableUniqueKey">
                               <items
                                     icon="#unique-key"
                                     label="%tree.constraint.node.name"
                                     path="constraint"
                                     property="constraints">
                                  <items
                                        inline="true"
                                        label="%tree.constraint_columns.node.name"
                                        navigable="false"
                                        path="column"
                                        property="attributeReferences">
                                  </items>
                               </items>
                            </folder>
                            <folder
                                  description="Table foreign keys"
                                  icon="#foreign-keys"
                                  label="%tree.foreign_keys.node.name"
                                  type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableForeignKey">
                               <items
                                     icon="#foreign-key"
                                     label="%tree.foreign_key.node.name"
                                     path="association"
                                     property="associations">
                                  <items
                                        inline="true"
                                        itemLabel="%tree.column.node.name"
                                        label="%tree.foreign_key_columns.node.name"
                                        navigable="false"
                                        path="column"
                                        property="attributeReferences">
                                  </items>
                               </items>
                            </folder>
                         </items>
                      </folder>
                      <items
                            icon="#parameter"
                            label="%tree.virtualschemaparameters.node.name"
                            navigable="false"
                            property="virtualSchemaParameters">
                      </items>
                   </items>
                </folder>
                <folder
                      description="Maintenance/Settings"
                      icon="#folder_admin"
                      label="%tree.administer.node.name"
                      visibleIf="object.dataSource.UserAuthorizedForSessions">
                    <object type="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSession"
                            label="%tree.sessions.node.name"
                            icon="#admin"
                            description="Server Session manager"
                            editor="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSessionEditor"
                            />
                    <object
                          description="Server locks manager"
                          editor="org.jkiss.dbeaver.ext.exasol.editors.ExasolLockEditor"
                          icon="#locks"
                          label="%tree.locks.node.name"
                          type="org.jkiss.dbeaver.ext.exasol.editors.ExasolLockEditor">
                    </object>
                </folder>
                <folder
                      description="Connections"
                      icon="#folder_connections"
                      label="%tree.connections.node.name"
                      type="org.jkiss.dbeaver.ext.exasol.model.ExasolConnection">
                   <items
                         icon="icons/remoteServer.gif"
                         label="%tree.connection.node.name"
                         path="connection"
                         property="connections">
                   </items>
                </folder>
                <folder
                      description="Users"
                      icon="#folder_user"
                      label="%tree.users.node.name"
                      type="org.jkiss.dbeaver.ext.exasol.manager.security.ExasolUser">
                   <items
                         icon="#user"
                         label="%tree.user.node.name"
                         path="user"
                         property="users">
                      <items
                            icon="icons/role.gif"
                            label="%tree.roles.node.name"
                            navigable="false"
                            path="role"
                            property="roles"
                            visibleIf="object.dataSource.authorizedForRolePrivs">
                      </items>
                      <items
                            icon="#schema"
                            label="%tree.schema.node.name"
                            navigable="false"
                            path="schema"
                            property="schemas"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="#table"
                            label="%tree.table.node.name"
                            navigable="false"
                            path="table"
                            property="tables"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="#view"
                            label="%tree.view.node.name"
                            navigable="false"
                            path="view"
                            property="views"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="icons/remoteServer.gif"
                            label="%tree.connection.node.name"
                            navigable="false"
                            path="connection"
                            property="connections"
                            visibleIf="object.dataSource.authorizedForConnections">
                      </items>
                      <items
                            icon="#procedure"
                            label="%tree.script.node.name"
                            navigable="false"
                            path="script"
                            property="procedures"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="#dbauth"
                            label="%tree.sysgrant.node.name"
                            navigable="false"
                            path="systemgrant"
                            property="systemgrants">
                      </items>
                   </items>
                </folder>
                <folder
                      description="Roles"
                      icon="#folder_role"
                      label="%tree.roles.node.name"
                      type="org.jkiss.dbeaver.ext.exasol.manager.security.ExasolRole"
                      visibleIf="object.dataSource.authorizedForRolePrivs">
                   <items
                         icon="icons/role.gif"
                         label="%tree.role.node.name"
                         property="roles">
                      <items
                            icon="icons/role.gif"
                            label="%tree.roles.node.name"
                            navigable="false"
                            path="role"
                            property="roles"
                            visibleIf="object.dataSource.authorizedForRolePrivs">
                      </items>
                      <items
                            icon="#schema"
                            label="%tree.schema.node.name"
                            navigable="false"
                            path="schema"
                            property="schemas"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="#table"
                            label="%tree.table.node.name"
                            navigable="false"
                            path="table"
                            property="tables"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="#view"
                            label="%tree.view.node.name"
                            navigable="false"
                            path="view"
                            property="views"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="icons/remoteServer.gif"
                            label="%tree.connection.node.name"
                            navigable="false"
                            path="connection"
                            property="connections"
                            visibleIf="object.dataSource.authorizedForConnections">
                      </items>
                      <items
                            icon="#procedure"
                            label="%tree.script.node.name"
                            navigable="false"
                            path="script"
                            property="procedures"
                            visibleIf="object.dataSource.authorizedForObjectPrivs">
                      </items>
                      <items
                            icon="#dbauth"
                            label="%tree.sysgrant.node.name"
                            navigable="false"
                            path="systemgrant"
                            property="systemgrants">
                      </items>
                   </items>
                </folder>
            </tree>
            <drivers managable="true">
                <driver
                        id="exasol"
                        label="Exasol"
                        class="com.exasol.jdbc.EXADriver"
                        sampleURL="jdbc:exa:{host}[:{port}][;schema={database}]"
                        defaultPort="8563"
                        description="Exasol JDBC driver"
                        webURL="https://www.exasol.com/portal/display/DOWNLOAD/EXASOL+Download+Section">
                   <file
                         path="maven:/com.exasol:exasol-jdbc:{.*5\.0\..*}"
                         type="jar">
                   </file>

                    <replace provider="generic" driver="exasol"/>
                    <property name="querytimeout" value="600"/>
                    <property name="connecttimeout" value="40"/>
                    <property name="@dbeaver-default-dataformat.type.timestamp.pattern"
                              value="yyyy-MM-dd-HH.mm.ss.ffffff"/>
                </driver>
            </drivers>
            <views>
                <view
                        id="org.jkiss.dbeaver.ext.exasol.dataSourceWizardView"
                        targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                        label="%dialog.connection.header"
                        class="org.jkiss.dbeaver.ext.exasol.views.ExasolConnectionPage"
                        icon="icons/Exasol_icon.png">
                </view>
                <view
                        id="org.jkiss.dbeaver.ext.exasol.dataSourceEditorView"
                        targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                        label="%dialog.connection.header"
                        class="org.jkiss.dbeaver.ext.exasol.views.ExasolConnectionPage">
                </view>
            </views>

        </datasource>
    </extension>
    <extension
            point="org.jkiss.dbeaver.databaseEditor">
        <editor
                class="org.jkiss.dbeaver.ui.editors.sql.SQLSourceViewer"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested"
                description="%editor.source.ddl.description"
                icon="#sql_text"
                id="source.ddl"
                label="%editor.source.ddl.name"
                position="additions_middle"
                type="folder">
           <objectType
                 name="org.jkiss.dbeaver.ext.exasol.model.ExasolTable">
           </objectType>
        </editor>
        <manager
                class="org.jkiss.dbeaver.ext.exasol.manager.ExasolTableManager"
                objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolTable">
        </manager>
        <manager
                class="org.jkiss.dbeaver.ext.exasol.manager.ExasolTableColumnManager"
                objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolTableColumn">
        </manager>
        <editor
              class="org.jkiss.dbeaver.ui.editors.sql.SQLSourceViewer"
              contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested"
              description="%editor.source.declaration.description"
              embeddable="true"
              icon="#sql_text"
              id="source.declaration"
              label="%meta.org.jkiss.dbeaver.ext.exasol.model.ExasolVirtualSchema.adapterNotes.name"
              position="additions_middle"
              type="folder">
           <objectType
                 name="org.jkiss.dbeaver.ext.exasol.model.ExasolVirtualSchema">
           </objectType>
        </editor>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolScriptManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolScript">
        </manager>
        <editor
              class="org.jkiss.dbeaver.ext.exasol.editors.ExasolSourceViewEditor"
              contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested"
              description="Source code"
              icon="#sql_text"
              id="exasol.source.view"
              label="Source"
              position="additions_middle"
              type="folder">
           <objectType
                 name="org.jkiss.dbeaver.ext.exasol.model.ExasolView">
           </objectType>
           <objectType
                 name="org.jkiss.dbeaver.ext.exasol.model.ExasolScript">
           </objectType>
           <objectType
                 name="org.jkiss.dbeaver.ext.exasol.model.ExasolFunction">
           </objectType>
        </editor>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolViewManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolView">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolFunctionManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolFunction">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolSchemaManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolSchema">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolConnectionManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolConnection">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolForeignKeyManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolTableForeignKey">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolPrimaryKeyManager"
              objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolTableUniqueKey">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolUserManager"
              objectType="org.jkiss.dbeaver.ext.exasol.manager.security.ExasolUser">
        </manager>
        <manager
              class="org.jkiss.dbeaver.ext.exasol.manager.ExasolRoleManager"
              objectType="org.jkiss.dbeaver.ext.exasol.manager.security.ExasolRole">
        </manager>
    </extension>
    <extension point="org.eclipse.ui.editors">
        <editor
                name="Application Manager"
                icon="icons/compile.png"
                class="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSessionEditor"
                id="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSessionEditor">
        </editor>
        <editor
            name="Lock Manager"
            class="org.jkiss.dbeaver.ext.exasol.editors.ExasolLockEditor"
            id="org.jkiss.dbeaver.ext.exasol.editors.ExasolLockEditor">
        </editor>
        
    </extension>
    <extension point="org.jkiss.dbeaver.tools">
      <tools>
         <tool
               class="org.jkiss.dbeaver.ext.exasol.tools.maintenance.ExasolExportTableTool"
               description="Export Tables, Views or Schemas to CSV"
               id="org.jkiss.dbeaver.ext.exasol.tools.maintenance.ExasolExportTableTool"
               label="%tool.org.jkiss.dbeaver.ext.exasol.table.export.name">
            <objectType
                  name="org.jkiss.dbeaver.ext.exasol.model.ExasolTable">
            </objectType>
            <objectType
                  name="org.jkiss.dbeaver.ext.exasol.model.ExasolView">
            </objectType>
            <objectType
                  name="org.jkiss.dbeaver.ext.exasol.model.ExasolSchema">
            </objectType>
         </tool>
         <tool
               class="org.jkiss.dbeaver.ext.exasol.tools.maintenance.ExasolImportTableTool"
               description="Import Tables or Schemas from CSV"
               id="org.jkiss.dbeaver.ext.exasol.tools.maintenance.ExasolImportTableTool"
               label="%tool.org.jkiss.dbeaver.ext.exasol.table.import.name">
            <objectType
                  name="org.jkiss.dbeaver.ext.exasol.model.ExasolSchema">
            </objectType>
            <objectType
                  name="org.jkiss.dbeaver.ext.exasol.model.ExasolTable">
            </objectType>
         </tool>
      </tools>
    </extension>

    <extension point="org.jkiss.dbeaver.mavenRepository">
        <repository id="exasol-maven-repo" name="Exasol Repository" url="https://maven.exasol.com/artifactory/exasol-releases" order="10">
            <scope group="com.exasol"/>
        </repository>

    </extension>

    <extension point="org.jkiss.dbeaver.sqlCommand">
        <command id="exasol.define" class="org.jkiss.dbeaver.runtime.sql.commands.SQLCommandSet" label="Define" description="Defines variable"/>
    </extension>

</plugin>
