<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.exasol.ExasolDataSourceProvider"
                description="Exasol Connector"
                icon="icons/Exasol_icon.png"
                id="exasol"
                label="Exasol">
            <tree
                    icon="icons/exasol_icon.png"
                    label="Exasol data source"
                    path="exasol">
                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolSchema" label="%tree.schemas.node.name"
                        icon="#folder_schemas" description="Schemas">
                    <items label="%tree.schema.node.name" path="schema" property="schemas" icon="#schema">
                        <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTable" label="%tree.tables.node.name"
                                icon="#folder_table" description="Tables">
                            <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableColumn"
                                        label="%tree.columns.node.name" icon="#columns" description="Table columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes"
                                           icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableUniqueKey"
                                        label="%tree.constraints.node.name" icon="#constraints"
                                        description="Table constraints">
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints"
                                           icon="#unique-key">
                                        <items label="%tree.constraint_columns.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolTableForeignKey"
                                        label="%tree.foreign_keys.node.name" icon="#foreign-keys"
                                        description="Table foreign keys">
                                    <items label="%tree.foreign_key.node.name" path="association"
                                           property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name"
                                               itemLabel="%tree.column.node.name" path="column"
                                               property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolView" label="%tree.views.node.name"
                                icon="#folder_view" description="Views">
                            <items label="%tree.view.node.name" path="view" property="views" icon="#view">
                                <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column"
                                       property="attributes" icon="#column">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.exasol.model.ExasolScript" label="%tree.scripts.node.name"
                                icon="#procedures" description="Scripts">
                            <items label="%tree.script.node.name" path="script" property="procedures" icon="#procedure">
                                <items label="Parameters" itemLabel="%tree.column.node.name" path="column"
                                       property="parameters" navigable="false" inline="true">
                                </items>
                            </items>
                        </folder>
                    </items>
                </folder>
                <folder
                      description="Database virtual schemas"
                      icon="#folder_schema"
                      label="%tree.virtualschemas.node.name"
                      type="org.jkiss.dbeaver.model.struct.DBSObject"
                      visibleIf="object.dataSource.atLeastV6">
                </folder>
                <folder type="" label="%tree.administer.node.name" icon="#folder_admin"
                        description="Maintenance/Settings">
                    <object type="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSession"
                            label="%tree.sessions.node.name"
                            icon="#admin"
                            description="Server Session manager"
                            editor="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSessionEditor"
                            />
                </folder>
                <folder
                      description="Connections"
                      icon="#folder_connections"
                      label="%tree.connections.node.name"
                      type="org.jkiss.dbeaver.ext.exasol.model.ExasolConnection"
                      visibleIf="object.dataSource.authorizedForConnections">
                   <items
                         icon="icons/remoteServer.gif"
                         label="%tree.connection.node.name"
                         path="connection"
                         property="connections">
                   </items>
                </folder>
                <folder
                      description="Security management"
                      icon="icons/folder_security.gif"
                      label="%tree.security.node.name"
                      type="org.jkiss.dbeaver.model.struct.DBSObject"
                      visibleIf="object.dataSource.authorizedForUsers">
                   <folder
                         description="Users"
                         icon="#folder_user"
                         label="%tree.users.node.name"
                         type="org.jkiss.dbeaver.ext.exasol.manager.security.ExasolUser"
                         visibleIf="object.dataSource.authorizedForRolePrivs">
                      <items
                            icon="#user"
                            label="%tree.user.node.name"
                            path="user"
                            property="users">
                         <items
                               icon="icons/role.gif"
                               label="%tree.roles.node.name"
                               navigable="false"
                               path="role"
                               property="roles"
                               visibleIf="object.dataSource.authorizedForRolePrivs">
                         </items>
                         <items
                               icon="#table"
                               label="%tree.table.node.name"
                               navigable="false"
                               path="table"
                               property="tables"
                               visibleIf="object.dataSource.authorizedForObjectPrivs">
                         </items>
                         <items
                               icon="#view"
                               label="%tree.view.node.name"
                               navigable="false"
                               path="view"
                               property="views"
                               visibleIf="object.dataSource.authorizedForObjectPrivs">
                         </items>
                         <items
                               icon="icons/remoteServer.gif"
                               label="%tree.connection.node.name"
                               navigable="false"
                               path="connection"
                               property="connections"
                               visibleIf="object.dataSource.authorizedForConnections">
                         </items>
                         <items
                               icon="#procedure"
                               label="%tree.script.node.name"
                               navigable="false"
                               path="script"
                               property="procedures"
                               visibleIf="object.dataSource.authorizedForObjectPrivs">
                         </items>
                         <items
                               icon="#dbauth"
                               label="%tree.sysgrant.node.name"
                               navigable="false"
                               path="systemgrant"
                               property="systemgrants">
                         </items>
                      </items>
                   </folder>
                   <folder
                         description="Roles"
                         icon="#folder_role"
                         label="%tree.roles.node.name"
                         type="org.jkiss.dbeaver.ext.exasol.manager.security.ExasolRole"
                         visibleIf="object.dataSource.authorizedForRolePrivs">
                      <items
                            icon="icons/role.gif"
                            label="%tree.role.node.name"
                            property="roles">
                         <items
                               icon="#table"
                               label="%tree.table.node.name"
                               navigable="false"
                               path="table"
                               property="tables"
                               visibleIf="object.dataSource.authorizedForObjectPrivs">
                         </items>
                         <items
                               icon="#view"
                               label="%tree.view.node.name"
                               navigable="false"
                               path="view"
                               property="views"
                               visibleIf="object.dataSource.authorizedForObjectPrivs">
                         </items>
                         <items
                               icon="icons/remoteServer.gif"
                               label="%tree.connection.node.name"
                               navigable="false"
                               path="connection"
                               property="connections"
                               visibleIf="object.dataSource.authorizedForConnections">
                         </items>
                         <items
                               icon="#procedure"
                               label="%tree.script.node.name"
                               navigable="false"
                               path="script"
                               property="procedures"
                               visibleIf="object.dataSource.authorizedForObjectPrivs">
                         </items>
                         <items
                               icon="#dbauth"
                               label="%tree.sysgrant.node.name"
                               navigable="false"
                               path="systemgrant"
                               property="systemgrants">
                         </items>
                      </items>
                   </folder>
                </folder>
            </tree>
            <drivers managable="true">
                <driver
                        id="exasol"
                        label="Exasol"
                        class="com.exasol.jdbc.EXADriver"
                        sampleURL="jdbc:exa:{host}[:{port}][;schema={database}]"
                        defaultPort="8563"
                        description="Exasol JDBC driver"
                        webURL="https://www.exasol.com/portal/display/DOWNLOAD/5.0">

                    <replace provider="generic" driver="exasol"/>
                    <property name="querytimeout" value="600"/>
                    <property name="clientname" value="DBeaver"/>
                    <property name="connecttimeout" value="40"/>
                    <property name="@dbeaver-default-dataformat.type.timestamp.pattern"
                              value="yyyy-MM-dd-HH.mm.ss.ffffff"/>
                    <library path="C:\Program Files (x86)\EXASOL\EXASolution-5.0\JDBC\exajdbc.jar"/>
                    <fileSource url="https://www.exasol.com/portal/display/DOWNLOAD/5.0"
                                name="Exasol JDBC Drivers"
                                instruction="Download Exasol JDBC (JCC) client driver. Extract downloaded archive and copy exajdbc.jar in some directory. Then add exajdbc.jar as a library in DBeaver driver editor dialog.">
                        <file name="exajdbc.jar" description="JDBC driver"/>
                    </fileSource>
                </driver>
            </drivers>
            <views>
                <view
                        id="org.jkiss.dbeaver.ext.exasol.dataSourceWizardView"
                        targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                        label="%dialog.connection.header"
                        class="org.jkiss.dbeaver.ext.exasol.views.ExasolConnectionPage"
                        icon="icons/Exasol_icon.png">
                </view>
                <view
                        id="org.jkiss.dbeaver.ext.exasol.dataSourceEditorView"
                        targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                        label="%dialog.connection.header"
                        class="org.jkiss.dbeaver.ext.exasol.views.ExasolConnectionPage">
                </view>
            </views>

        </datasource>
    </extension>
    <extension
            point="org.jkiss.dbeaver.databaseEditor">
        <editor id="source.declaration"
                class="org.jkiss.dbeaver.ui.editors.sql.SQLSourceViewer"
                label="%editor.source.declaration.name"
                description="%editor.source.declaration.description"
                icon="#sql_text"
                position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested"
                type="folder"
                embeddable="true">
            <objectType
                    name="org.jkiss.dbeaver.ext.exasol.model.ExasolScript">
            </objectType>
        </editor>
        <editor
                class="org.jkiss.dbeaver.ui.editors.sql.SQLSourceViewer"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested"
                description="%editor.source.ddl.description"
                icon="#sql_text"
                id="source.ddl"
                label="%editor.source.ddl.name"
                position="additions_middle"
                type="folder">
        </editor>
        <manager
                class="org.jkiss.dbeaver.ext.exasol.manager.ExasolTableManager"
                objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolTable">
        </manager>
        <manager
                class="org.jkiss.dbeaver.ext.exasol.manager.ExasolTableColumnManager"
                objectType="org.jkiss.dbeaver.ext.exasol.model.ExasolTableColumn">
        </manager>
    </extension>
    <extension point="org.eclipse.ui.editors">
        <editor
                name="Application Manager"
                icon="icons/compile.png"
                class="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSessionEditor"
                id="org.jkiss.dbeaver.ext.exasol.model.app.ExasolServerSessionEditor">
        </editor>
    </extension>

</plugin>
