<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>


<!--
 * Copyright (C) 2010-2015 Serge Rieder
 * serge@jkiss.org
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  -->

<plugin>

    <extension point="org.eclipse.ui.menus">
        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:edit">
            <separator name="additions" visible="true"/>
            <command commandId="org.jkiss.dbeaver.core.navigator.bookmark.add"/>
        </menuContribution>

        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="edit" label="%menu.edit">
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.single"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.multi"><visibleWhen checkEnabled="true"/></command>
            </menu>
        </menuContribution>

    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.jkiss.dbeaver.preferences.main" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseGeneral" name="%pref.page.name.db.configuration">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.general"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.sqlexecute" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLExecute" name="%pref.page.name.sql.execute">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.resultset" class="org.jkiss.dbeaver.ui.preferences.PrefPageResultSet" name="%pref.page.name.resultset">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.meta" class="org.jkiss.dbeaver.ui.preferences.PrefPageMetaData" name="%pref.page.name.meta">
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.dataformat" class="org.jkiss.dbeaver.ui.preferences.PrefPageDataFormat" name="%pref.page.name.data.formats">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.dataformat"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.misc.qm" class="org.jkiss.dbeaver.ui.preferences.PrefPageQueryManager" name="%pref.page.name.query.manager">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.qm"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.ui.drivers" class="org.jkiss.dbeaver.ui.preferences.PrefPageDrivers" name="%pref.page.name.drivers">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.general"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.connectionTypes" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionTypes" name="%pref.page.name.connectionTypes"/>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.confirmations" class="org.jkiss.dbeaver.ui.preferences.PrefPageConfirmations" name="%pref.page.name.confirmations"/>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.editors" class="org.jkiss.dbeaver.ui.preferences.PrefPageEmpty" name="%pref.page.name.db.editors"/>

        <page category="org.jkiss.dbeaver.preferences.editors" id="org.jkiss.dbeaver.preferences.main.sqleditor" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLEditor" name="%pref.page.name.sql.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.sql"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.sqleditor" id="org.jkiss.dbeaver.preferences.main.sql.templates" class="org.jkiss.dbeaver.ui.preferences.PrefPageSQLTemplates" name="Templates"/>
        <page category="org.jkiss.dbeaver.preferences.editors" id="org.jkiss.dbeaver.preferences.main.dataeditor" class="org.jkiss.dbeaver.ui.preferences.PrefPageDataEditor" name="%pref.page.name.data.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.content"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.editors" id="org.jkiss.dbeaver.ui.editors.binary.pref.HexPreferencesPage" class="org.jkiss.dbeaver.ui.editors.binary.pref.HexPreferencesPage" name="%pref.page.name.binary.editor">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.binary"/>
        </page>

    </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.jkiss.dbeaver.core.perspective">
          <newWizardShortcut id="org.jkiss.dbeaver.core.wizard.new.connection"/>
          <newWizardShortcut id="org.jkiss.dbeaver.core.wizard.new.project"/>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.search.searchPages">
       <page
            class="org.jkiss.dbeaver.core.eclipse.search.impl.metadata.SearchMetadataPageAdapter"
            enabled="true"
            icon="icons/metadata.png"
            id="org.jkiss.dbeaver.core.eclipse.search.impl.metadata.SearchMetadataPageAdapter"
            label="DB Metadata">
       </page>
        <page
            class="org.jkiss.dbeaver.core.eclipse.search.impl.data.SearchDataPageAdapter"
            enabled="true"
            icon="icons/metadata.png"
            id="org.jkiss.dbeaver.core.eclipse.search.impl.data.SearchDataPageAdapter"
            label="DB Full-Text">
        </page>
    </extension>
    <extension
          point="org.eclipse.search.searchResultViewPages">
        <viewPage
            class="org.jkiss.dbeaver.core.eclipse.search.impl.metadata.SearchMetadataResultPageAdapter"
            icon="icons/metadata.png"
            id="org.jkiss.dbeaver.core.eclipse.search.impl.metadata.SearchMetadataResultPageAdapter"
            label="Database Metadata Search Result"
            searchResultClass="org.jkiss.dbeaver.core.eclipse.search.impl.metadata.SearchMetadataResultAdapter">
        </viewPage>
        <viewPage
            class="org.jkiss.dbeaver.core.eclipse.search.impl.data.SearchDataResultPageAdapter"
            icon="icons/metadata.png"
            id="org.jkiss.dbeaver.core.eclipse.search.impl.data.SearchDataResultPageAdapter"
            label="Database Full-Text Search Result"
            searchResultClass="org.jkiss.dbeaver.core.eclipse.search.impl.data.SearchDataResultAdapter">
        </viewPage>
    </extension>

</plugin>
