<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.jkiss.dbeaver.resources">
		<resource name="drivers/mssql/LICENSE.txt"/>
		<resource name="drivers/mssql/sqljdbc4.jar"/>
		<resource name="drivers/mssql/auth/IA64/sqljdbc_auth.dll"/>
		<resource name="drivers/mssql/auth/x64/sqljdbc_auth.dll"/>
		<resource name="drivers/mssql/auth/x86/sqljdbc_auth.dll"/>
		<resource name="drivers/mssql/xa/IA64/sqljdbc_xa.dll"/>
		<resource name="drivers/mssql/xa/x64/sqljdbc_xa.dll"/>
		<resource name="drivers/mssql/xa/x86/sqljdbc_xa.dll"/>
	</extension>
</plugin>