<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>


<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2024 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension point="org.jkiss.dbeaver.application">
        <application id="dbeaver-ce-eclipse"
            family="DB"
            name="%productName"
            description="%productSubTitle"
            class="org.jkiss.dbeaver.ui.app.DBeaverPluginApplication"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:edit">
            <separator name="additions" visible="true"/>
            <command commandId="org.jkiss.dbeaver.core.navigator.bookmark.add">
                <visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>

        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="edit" label="%menu.edit">
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.single"><visibleWhen checkEnabled="true"/></command>
                <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.multi"><visibleWhen checkEnabled="true"/></command>
            </menu>
        </menuContribution>

    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.jkiss.dbeaver.preferences.eclipse.main" class="org.jkiss.dbeaver.ui.preferences.PrefPageEclipseGeneral" name="%pref.page.name.db.configuration">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.general"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.user.interface"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.main.errorHandle" class="org.jkiss.dbeaver.ui.preferences.PrefPageErrorHandle" name="%pref.page.name.errorHandle">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.common" id="org.jkiss.dbeaver.preferences.main.errorLogs" class="org.jkiss.dbeaver.ui.preferences.PrefPageErrorLogs" name="%pref.page.name.errorLogs">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.eclipse.main" id="org.jkiss.dbeaver.preferences.main.connections" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionsGeneral" name="%pref.page.name.connections">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.database.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.client.connections" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionClient" name="%pref.page.name.client.connections">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.main.transactions" class="org.jkiss.dbeaver.ui.preferences.PrefPageTransactions" name="%pref.page.name.transactions">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.main.meta" class="org.jkiss.dbeaver.ui.preferences.PrefPageMetaData" name="%pref.page.name.meta">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.main.meta"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.common" id="org.jkiss.dbeaver.preferences.misc.qm" class="org.jkiss.dbeaver.ui.preferences.PrefPageQueryManager" name="%pref.page.name.query.manager">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.qm"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.drivers" class="org.jkiss.dbeaver.ui.preferences.PrefPageDrivers" name="%pref.page.name.drivers">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.general"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.drivers.maven" class="org.jkiss.dbeaver.ui.preferences.PrefPageDriversMaven" name="%pref.page.name.drivers.maven">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.drivers.classpath" class="org.jkiss.dbeaver.ui.preferences.PrefPageDriversClasspath" name="%pref.page.name.drivers.classpath">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.connectionTypes" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionTypes" name="%pref.page.name.connectionTypes">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.common" id="org.jkiss.dbeaver.preferences.navigator" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseNavigator" name="%pref.page.name.navigator">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.eclipse.main" id="org.jkiss.dbeaver.preferences.editors" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseEditors" name="%pref.page.name.editors">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.entity"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.common" id="org.jkiss.dbeaver.preferences.main.confirmations" class="org.jkiss.dbeaver.ui.preferences.PrefPageConfirmations" name="%pref.page.name.confirmations">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.notifications" class="org.jkiss.dbeaver.ui.preferences.PrefPageNotifications" name="%pref.page.name.notifications">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.notifications.label"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.misc" class="org.jkiss.dbeaver.ui.preferences.PrefPageMiscellaneous" name="%pref.page.name.miscellaneous">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
            <keywordReference id="org.jkiss.dbeaver.keyword.pref.ui.misc"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.eclipse.main" id="org.jkiss.dbeaver.preferences.main.common" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseUserInterface" name="%pref.page.name.user.interface">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.eclipse.ui.net.NetPreferences" id="org.jkiss.dbeaver.preferences.network.expert" class="org.jkiss.dbeaver.ui.preferences.PrefPageNetworkExpert" name="%pref.page.name.network.expert">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.network.expert"/>
        </page>
    </extension>

    <extension point="org.eclipse.ui.keywords">
        <keyword id="org.jkiss.dbeaver.keyword.pref.ui.misc" label="checkbox bool boolean holiday decoration christmas snow"/>
        <keyword id="org.jkiss.dbeaver.core.keyword.network.expert" label="ip ipv4 ipv6 protocol"/>
    </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.jkiss.dbeaver.core.perspective">
          <newWizardShortcut id="org.jkiss.dbeaver.core.wizard.new.connection"/>
          <newWizardShortcut id="org.jkiss.dbeaver.core.wizard.new.project"/>
       </perspectiveExtension>
    </extension>

</plugin>
