<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.2"?>


<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2024 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension-point id="org.jkiss.dbeaver.commandLine" name="Command line extension" schema="schema/org.jkiss.dbeaver.commandLine.exsd"/>

    <extension point="org.eclipse.core.runtime.applications" id="standalone" name="%extension.standalone.name">
        <application visible="true">
            <run class="org.jkiss.dbeaver.ui.app.standalone.DBeaverApplication"/>
        </application>
    </extension>

    <extension point="org.eclipse.core.runtime.applications" id="appstore" name="AppStore">
        <application visible="true">
            <run class="org.jkiss.dbeaver.ui.app.standalone.DBeaverApplication"/>
        </application>
    </extension>

    <extension point="org.eclipse.core.runtime.products" id="product">
        <product application="org.jkiss.dbeaver.ui.app.standalone.standalone" description="%productSubTitle" name="DBeaver">
            <property name="aboutText" value="%aboutText"/>
            <property name="copyright" value="© 2024 DBeaver Corp"/>
            <property name="subTitle" value="%productSubTitle"/>
            <property name="website" value="%productWebsite"/>
            <property name="email" value="%productEmail"/>
            <property name="versionUpdateURL" value="https://dbeaver.io/product/version.xml"/>
            <property name="earlyAccessURL" value="https://dbeaver.io/files/ea"/>
            <property name="windowImages" value="/icons/dbeaver16.png,/icons/dbeaver32.png,/icons/dbeaver48.png,/icons/dbeaver64.png,/icons/dbeaver256.png"/>
            <property name="appName" value="DBeaver"/>
            <property name="appEdition" value="ce"/>
            <property name="versionInfoCoord" value="112,228"/>
            <property name="versionInfoSize" value="8"/>
            <property name="versionInfoColor" value="255,255,255"/>
            <property name="startupMessageRect" value="60,273,240,21"/>
            <property name="startupProgressRect" value="0,295,601,6"/>
            <property name="startupForegroundColor" value="FFFFFF"/>
            <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_default"/>
            <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.ui.themes/images/"/>
            <property name="applicationXMI" value="org.jkiss.dbeaver.ui.app.standalone/dbeaver.e4xmi"/>
            <property name="rendererFactoryUri" value="bundleclass://org.jkiss.dbeaver.core/org.jkiss.dbeaver.ui.e4.DBeaverRendererFactory"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
            <property name="tipsFile" value="platform:/plugin/org.jkiss.dbeaver.ext.ui.tipoftheday/$nl$/tips.xml"/>
        </product>
    </extension>

    <extension point="org.eclipse.core.runtime.products" id="appstore">
        <product application="org.jkiss.dbeaver.ui.app.standalone.appstore" description="%productSubTitle" name="DBeaver CE">
            <property name="aboutText" value="%aboutText"/>
            <property name="copyright" value="© 2024 DBeaver Corp"/>
            <property name="subTitle" value="%productSubTitle"/>
            <property name="website" value="%productWebsite"/>
            <property name="email" value="%productEmail"/>
            <property name="windowImages" value="/icons/dbeaver16.png,/icons/dbeaver32.png,/icons/dbeaver48.png,/icons/dbeaver64.png,/icons/dbeaver256.png"/>
            <property name="appName" value="DBeaver CE"/>
            <property name="versionInfoCoord" value="112,228"/>
            <property name="versionInfoSize" value="8"/>
            <property name="versionInfoColor" value="255,255,255"/>
            <property name="startupMessageRect" value="60,273,240,21"/>
            <property name="startupProgressRect" value="0,295,601,6"/>
            <property name="startupForegroundColor" value="FFFFFF"/>
            <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_default"/>
            <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.ui.themes/images/"/>
            <property name="applicationXMI" value="org.jkiss.dbeaver.ui.app.standalone/dbeaver.e4xmi"/>
            <property name="rendererFactoryUri" value="bundleclass://org.jkiss.dbeaver.core/org.jkiss.dbeaver.ui.e4.DBeaverRendererFactory"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
            <property name="tipsFile" value="platform:/plugin/org.jkiss.dbeaver.ext.ui.tipoftheday/$nl$/tips.xml"/>
        </product>
    </extension>

    <extension point="org.jkiss.dbeaver.application">
        <application id="dbeaver-ce"
            family="DB"
            name="%productName"
            description="%productSubTitle"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command
            id="org.jkiss.dbeaver.core.util.collectDiagnosticInfo"
            categoryId="org.jkiss.dbeaver.core.util"
            name="%command.org.jkiss.dbeaver.core.util.collectDiagnosticInfo.name"
            description="%command.org.jkiss.dbeaver.core.util.collectDiagnosticInfo.description"/>
        <command
            id="org.jkiss.dbeaver.core.util.resetSettings"
            categoryId="org.jkiss.dbeaver.core.util"
            name="Reset Settings..."
            description="Reset settings and restart"/>
        <command
            id="org.jkiss.dbeaver.core.util.clearHistory"
            categoryId="org.jkiss.dbeaver.core.util"
            name="Clear History..."
            description="Clear logs, query history and restart"/>
        <command
                id="org.jkiss.dbeaver.core.try.pro"
                name="%command.org.jkiss.dbeaver.ui.try.pro.name"
                description="%command.org.jkiss.dbeaver.ui.try.pro.description"
                categoryId="org.jkiss.dbeaver.core.navigator"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.eclipse.ui.file.save" icon="icons/eclipse/save.png" disabledIcon="icons/eclipse/save_d.png"/>
        <image commandId="org.eclipse.ui.file.saveAs" icon="icons/eclipse/save_as.png" disabledIcon="icons/eclipse/save_as_d.png"/>
        <image commandId="org.eclipse.ui.file.saveAll" icon="icons/eclipse/saveall.png" disabledIcon="icons/eclipse/saveall_d.png"/>
        <image commandId="org.eclipse.ui.file.refresh" icon="icons/eclipse/refresh.png" disabledIcon="icons/eclipse/refresh.png"/>
        <image commandId="org.eclipse.ui.file.revert" icon="icons/eclipse/revert.png" disabledIcon="icons/eclipse/revert_d.png"/>
        <image commandId="org.eclipse.ui.file.import" icon="icons/eclipse/import.png" disabledIcon="icons/eclipse/import_d.png"/>
        <image commandId="org.eclipse.ui.file.export" icon="icons/eclipse/export.png" disabledIcon="icons/eclipse/export_d.png"/>
        <image commandId="org.eclipse.ui.edit.delete" icon="icons/eclipse/delete.png" disabledIcon="icons/eclipse/delete_d.png"/>
        <image commandId="org.eclipse.ui.edit.rename" icon="icons/eclipse/rename.png" disabledIcon="icons/eclipse/rename_d.png"/>
        <image commandId="org.eclipse.ui.edit.copy" icon="icons/eclipse/copy.png" disabledIcon="icons/eclipse/copy_d.png"/>
        <image commandId="org.eclipse.ui.edit.cut" icon="icons/eclipse/cut.png" disabledIcon="icons/eclipse/cut_d.png"/>
        <image commandId="org.eclipse.ui.edit.paste" icon="icons/eclipse/paste.png" disabledIcon="icons/eclipse/paste_d.png"/>
        <image commandId="org.eclipse.ui.edit.undo" icon="icons/eclipse/undo.png" disabledIcon="icons/eclipse/undo_d.png"/>
        <image commandId="org.eclipse.ui.edit.redo" icon="icons/eclipse/redo.png" disabledIcon="icons/eclipse/redo_d.png"/>

        <image commandId="org.eclipse.ui.newWizard" icon="icons/eclipse/new_object.png" disabledIcon="icons/eclipse/new_object_d.png"/>
        <image commandId="org.eclipse.ui.edit.text.zoomIn" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/zoom_in.png" disabledIcon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/zoom_in_d.png"/>
        <image commandId="org.eclipse.ui.edit.text.zoomOut" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/zoom_out.png" disabledIcon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/zoom_out_d.png"/>
        <image commandId="org.eclipse.ui.edit.text.gotoLastEditPosition" icon="icons/eclipse/last_edit_location.png" disabledIcon="icons/eclipse/last_edit_location_d.png"/>
        <image commandId="org.eclipse.search.ui.openSearchDialog" icon="icons/eclipse/search.png" disabledIcon="icons/eclipse/search_d.png"/>

        <image commandId="org.eclipse.ui.navigate.collapseAll" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/collapse_all.png" disabledIcon="icons/eclipse/collapse_all_d.png"/>
        <image commandId="org.eclipse.ui.navigate.expandAll" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/expand_all.png" disabledIcon="icons/eclipse/expand_all_d.png"/>

        <image commandId="org.eclipse.text.quicksearch.commands.quicksearchCommand" icon="icons/eclipse/quick_search.png" disabledIcon="icons/eclipse/quick_search_d.png"/>
    </extension>

    <extension point="org.eclipse.ui.views">
        <view id="org.eclipse.ui.views.ProgressView"
            icon="icons/progress_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            name="%view.progress.title"/>
        <view id="org.eclipse.ui.texteditor.TemplatesView"
            name="%view.templates.title"
            icon="icons/templates_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.texteditor.templates.TemplatesView"/>
        <view
            name="%view.errorLog.name"
            icon="icons/error_view.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.views.log.LogView"
            id="org.eclipse.pde.runtime.LogView">
        </view>
        <view
            allowMultiple="true"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.properties.PropertySheet"
            icon="icons/properties_view.png"
            id="org.eclipse.ui.views.PropertySheet"
            name="%view.properties.title">
        </view>
        <view
            name="%view.search.title"
            icon="icons/eclipse/search.png"
            category="org.eclipse.ui"
            class="org.eclipse.search2.internal.ui.SearchView"
            allowMultiple="true"
            id="org.eclipse.search.ui.views.SearchView">
        </view>
        <!--view
                id="org.eclipse.help.ui.HelpView"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.help.LightweightHelpView"
                allowMultiple="false"
                icon="icons/help.png"
                name="Help"/-->
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.eclipse.ui.help.aboutAction" class="org.jkiss.dbeaver.ui.app.standalone.about.AboutBoxHandler">
            <activeWhen>
                <with variable="selection">
                    <test property="org.jkiss.dbeaver.core.global.standalone"/>
                </with>
            </activeWhen>
        </handler>
        <handler commandId="org.eclipse.ui.edit.text.openLocalFile" class="org.jkiss.dbeaver.ui.app.standalone.actions.OpenLocalFileActionExt"/>
        <handler
            commandId="org.jkiss.dbeaver.core.util.collectDiagnosticInfo"
            class="org.jkiss.dbeaver.ui.app.standalone.actions.CollectDiagnosticInfoHandler"
        />
        <handler commandId="org.jkiss.dbeaver.core.util.resetSettings" class="org.jkiss.dbeaver.ui.app.standalone.actions.ResetSettingsHandler"/>
        <handler commandId="org.jkiss.dbeaver.core.util.clearHistory" class="org.jkiss.dbeaver.ui.app.standalone.actions.ClearHistoryHandler"/>
        <handler commandId="org.jkiss.dbeaver.core.try.pro" class="org.jkiss.dbeaver.ui.app.standalone.actions.TryPROHandler"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <!-- Edit menu -->
        <menuContribution allPopups="false" locationURI="menu:edit">
            <separator name="undoredo" visible="true"/>
            <command commandId="org.eclipse.ui.edit.undo"/>
            <command commandId="org.eclipse.ui.edit.redo"/>
            <command commandId="org.eclipse.ui.edit.cut"/>
            <command commandId="org.eclipse.ui.edit.copy"/>
            <command commandId="org.jkiss.dbeaver.core.edit.copy.special">
                <visibleWhen checkEnabled="true"/>
            </command>
            <command commandId="org.eclipse.ui.edit.paste"/>
            <command commandId="org.eclipse.ui.edit.delete"/>
            <separator name="find.ext" visible="true"/>
            <command commandId="org.eclipse.ui.edit.findReplace">
                <visibleWhen checkEnabled="true"/>
            </command>
            <command commandId="org.jkiss.dbeaver.core.navigator.bookmark.add">
                <visibleWhen checkEnabled="true"/>
            </command>
            <separator name="additions" visible="true"/>
            <separator name="format" visible="true"/>
                <menu id="format" label="%menu.format">
                    <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.single">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                    <command commandId="org.jkiss.dbeaver.ui.editors.sql.comment.multi">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                    <command commandId="org.jkiss.dbeaver.ui.editors.sql.word.wrap">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                    <command commandId="org.jkiss.dbeaver.ui.editors.sql.morph.delimited.list">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                    <command commandId="org.eclipse.ui.edit.text.upperCase">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                    <command commandId="org.eclipse.ui.edit.text.lowerCase">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                    <command commandId="org.jkiss.dbeaver.ui.editors.sql.trim.spaces">
                        <visibleWhen checkEnabled="true"/>
                    </command>
                </menu>
            <separator name="transforms" visible="true"/>
            <separator name="data" visible="true"/>
        </menuContribution>

        <!-- File menu-->

        <menuContribution allPopups="false" locationURI="menu:file?before=additions">
            <command commandId="org.eclipse.ui.newWizard"/>
            <command commandId="org.eclipse.ui.file.save"/>
            <command commandId="org.eclipse.ui.file.saveAs"/>
            <command commandId="org.eclipse.ui.file.saveAll"/>
            <command commandId="org.eclipse.ui.file.close"/>
            <command commandId="org.eclipse.ui.file.print"/>
            <command commandId="org.eclipse.ui.edit.rename"/>
            <command commandId="org.eclipse.ui.file.refresh"/>

            <separator name="import-export" visible="true"/>
            <command commandId="org.eclipse.ui.file.import">
                <visibleWhen>
                    <reference definitionId="LocalWorkspace"/>
                </visibleWhen>
            </command>
            <command commandId="org.eclipse.ui.file.export">
                <visibleWhen>
                    <reference definitionId="LocalWorkspace"/>
                </visibleWhen>
            </command>

            <separator name="properties" visible="true"/>
            <command commandId="org.eclipse.ui.file.properties"/>
        </menuContribution>
        <menuContribution allPopups="false" locationURI="menu:file?after=additions">
            <separator name="exit" visible="true"/>
            <command commandId="org.eclipse.ui.file.exit"/>
        </menuContribution>

        <!-- Navigation menu -->

        <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu id="navigate" label="%menu.navigate">
            <command commandId="org.eclipse.ui.navigate.openResource"/>
            <separator name="nav" visible="true"/>
            <command commandId="org.eclipse.ui.navigate.backwardHistory"/>
            <command commandId="org.eclipse.ui.navigate.forwardHistory"/>
          </menu>
        </menuContribution>

        <!-- Window menu -->

        <menuContribution allPopups="false" locationURI="menu:window?before=perspective">
            <separator name="perspective" visible="true"/>
            <command commandId="org.eclipse.ui.window.customizePerspective"/>
            <command commandId="org.eclipse.ui.window.resetPerspective"/>
            <separator name="tabs" visible="true"/>
            <menu label="%command.org.jkiss.dbeaver.core.window.navigation.name">
                <command commandId="org.eclipse.ui.navigate.nextTab"/>
                <command commandId="org.eclipse.ui.navigate.previousTab"/>
                <command commandId="org.eclipse.ui.navigate.nextSubTab"/>
                <command commandId="org.eclipse.ui.navigate.previousSubTab"/>
                <separator name="editors" visible="true"/>
                <command commandId="org.eclipse.ui.window.nextEditor"/>
                <command commandId="org.eclipse.ui.window.previousEditor"/>
                <command commandId="org.eclipse.ui.window.switchToEditor"/>
            </menu>
            <separator name="settings" visible="true"/>
            <command commandId="org.eclipse.ui.window.preferences"/>
        </menuContribution>

        <!-- Help menu -->

        <menuContribution allPopups="false" locationURI="menu:help">
            <separator name="misc" visible="true"/>
            <command commandId="org.jkiss.dbeaver.core.util.collectDiagnosticInfo" style="push"/>
            <command commandId="org.jkiss.dbeaver.core.util.resetSettings" style="push"/>
            <command commandId="org.jkiss.dbeaver.core.util.clearHistory" style="push"/>
            <separator name="misc_end" visible="true"/>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="menu:help?after=org.jkiss.dbeaver.core.util.clearHistory">
            <separator name="commercial" visible="true"/>
            <command commandId="org.jkiss.dbeaver.core.try.pro">
                <visibleWhen checkEnabled="true">
                    <test property="org.jkiss.dbeaver.ui.app.standalone.menu.configuration.isCommunity" value="true"/>
                </visibleWhen>
            </command>
        </menuContribution>

        <!-- Main toolbar -->

        <menuContribution allPopups="false" locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        </menuContribution>
    </extension>

    <!-- Keybindings. A bit different than standard -->

    <extension point="org.eclipse.ui.bindings">
        <scheme description="%productName" id="org.jkiss.dbeaver.defaultKeyScheme" name="%productName" parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

        <!-- Text editors -->
        <key commandId="org.eclipse.ui.edit.text.openLocalFile" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+O"/>

        <!-- Text editors -->
        <key commandId="org.eclipse.ui.edit.text.contentAssist.proposals" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SPACE"/>
        <key commandId="org.eclipse.ui.edit.text.hippieCompletion" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+SPACE"/>
        <key commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+ALT+SPACE"/>
        <key commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+1"/>

        <!--<key commandId="org.eclipse.ui.edit.text.gotoLastEditPosition" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+BS"/>-->
        <key commandId="org.eclipse.ui.edit.text.moveLineDown" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+ARROW_DOWN"/>
        <key commandId="org.eclipse.ui.edit.text.moveLineUp" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+ARROW_UP"/>
        <!--<key commandId="org.eclipse.ui.edit.text.delete.line" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+Y"/>-->
        <key commandId="org.eclipse.ui.edit.text.join.lines" contextId="org.jkiss.dbeaver.ui.editors.sql" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="CTRL+SHIFT+J"/>
        <key commandId="org.eclipse.ui.help.dynamicHelp" contextId="org.eclipse.ui.contexts.window" schemeId="org.jkiss.dbeaver.defaultKeyScheme" sequence="F1"/>

        <key commandId="org.eclipse.text.quicksearch.commands.quicksearchCommand" contextId="org.eclipse.ui.contexts.window" sequence="CTRL+ALT+SHIFT+F" schemeId="org.jkiss.dbeaver.defaultKeyScheme"/>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <scheme id="org.jkiss.dbeaver.keyboardOnlyKeyScheme" parentId="org.jkiss.dbeaver.defaultKeyScheme" name="%keyboardOnlyKeyScheme.name" description="%keyboardOnlyKeyScheme.description"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.jkiss.dbeaver.preferences.main" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseUserInterface" name="%pref.page.name.db.configuration">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.general"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.user.interface"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.main.errorHandle" class="org.jkiss.dbeaver.ui.preferences.PrefPageErrorHandle" name="%pref.page.name.errorHandle">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.eclipse.ui.preferencePages.Workbench" id="org.jkiss.dbeaver.preferences.main.errorLogs" class="org.jkiss.dbeaver.ui.preferences.PrefPageErrorLogs" name="%pref.page.name.errorLogs">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page id="org.jkiss.dbeaver.preferences.main.connections" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionsGeneral" name="%pref.page.name.connections">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.database.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.client.connections" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionClient" name="%pref.page.name.client.connections">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.main.transactions" class="org.jkiss.dbeaver.ui.preferences.PrefPageTransactions" name="%pref.page.name.transactions">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.main.meta" class="org.jkiss.dbeaver.ui.preferences.PrefPageMetaData" name="%pref.page.name.meta">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.main.meta"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.eclipse.ui.preferencePages.Workbench" id="org.jkiss.dbeaver.preferences.misc.qm" class="org.jkiss.dbeaver.ui.preferences.PrefPageQueryManager" name="%pref.page.name.query.manager">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.db.qm"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.drivers" class="org.jkiss.dbeaver.ui.preferences.PrefPageDrivers" name="%pref.page.name.drivers">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.general"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.drivers.maven" class="org.jkiss.dbeaver.ui.preferences.PrefPageDriversMaven" name="%pref.page.name.drivers.maven">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.drivers.classpath" class="org.jkiss.dbeaver.ui.preferences.PrefPageDriversClasspath" name="%pref.page.name.drivers.classpath">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main.connections" id="org.jkiss.dbeaver.preferences.connectionTypes" class="org.jkiss.dbeaver.ui.preferences.PrefPageConnectionTypes" name="%pref.page.name.connectionTypes">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.connection"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.navigator" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseNavigator" name="%pref.page.name.navigator">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page id="org.jkiss.dbeaver.preferences.editors" class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseEditors" name="%pref.page.name.editors">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.editor.entity"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.confirmations" class="org.jkiss.dbeaver.ui.preferences.PrefPageConfirmations" name="%pref.page.name.confirmations">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.notifications" class="org.jkiss.dbeaver.ui.preferences.PrefPageNotifications" name="%pref.page.name.notifications">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
            <keywordReference id="org.jkiss.dbeaver.core.keyword.pref.ui.notifications.label"/>
        </page>
        <page category="org.jkiss.dbeaver.preferences.main" id="org.jkiss.dbeaver.preferences.main.misc" class="org.jkiss.dbeaver.ui.preferences.PrefPageMiscellaneous" name="%pref.page.name.miscellaneous">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
            <keywordReference id="org.jkiss.dbeaver.keyword.pref.ui.misc"/>
        </page>
        <page category="org.eclipse.ui.net.NetPreferences" id="org.jkiss.dbeaver.preferences.network.expert" class="org.jkiss.dbeaver.ui.preferences.PrefPageNetworkExpert" name="%pref.page.name.network.expert">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.network.expert"/>
        </page>
    </extension>

    <extension point="org.eclipse.ui.keywords">
        <keyword id="org.jkiss.dbeaver.keyword.pref.ui.misc" label="checkbox bool boolean holiday decoration christmas snow"/>
        <keyword id="org.jkiss.dbeaver.core.keyword.network.expert" label="ip ipv4 ipv6 protocol"/>
    </extension>

    <extension point="org.eclipse.ui.splashHandlers">
        <splashHandler class="org.jkiss.dbeaver.ui.app.standalone.DBeaverSplashHandler" id="org.jkiss.dbeaver.ui.splash.interactive"/>
        <splashHandlerProductBinding productId="org.jkiss.dbeaver.ui.app.standalone.product" splashId="org.jkiss.dbeaver.ui.splash.interactive"/>
        <splashHandlerProductBinding productId="org.jkiss.dbeaver.ui.app.standalone.appstore" splashId="org.jkiss.dbeaver.ui.splash.interactive"/>
    </extension>

    <extension point="org.eclipse.ui.helpSupport">
        <config class="org.jkiss.dbeaver.ui.help.GitHubWikiHelpUI"/>
    </extension>

    <extension point="org.jkiss.dbeaver.workbenchHandler">
        <workbenchWindowInitializer class="org.jkiss.dbeaver.ui.app.standalone.WorkbenchInitializerNewConnection" priority="2"/>
    </extension>

    <extension point="org.eclipse.ui.activities">
        <activity id="hideE4Activity" name="%activity.hideE4Activity.name">
          <enabledWhen>
            <with variable="activePartId">
              <equals value="nonExistentPartId"/>
            </with>
          </enabledWhen>
        </activity>
        <!-- Hide Eclipse userstorage activities -->
        <activityPatternBinding activityId="hideE4Activity" pattern="org.eclipse.userstorage.*"/>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ui.app.standalone.DBeaverApplicationPreferenceInitializer"/>
    </extension>

    <extension point="org.jkiss.dbeaver.commandLine">
        <parameter name="translateSQL"
            longName="translate-sql-script"
            description="Translates sql script from one dialect to another."
            exitAfterExecute="true"
            hasArg="true"
            handler="org.jkiss.dbeaver.ui.app.standalone.cli.SQLTranslatorHandler"/>
        <parameter name="databaseList"
            longName="database-driver-list"
            description="Show list of supported database drivers in json format."
            exitAfterExecute="true"
            hasArg="true"
            handler="org.jkiss.dbeaver.ui.app.standalone.cli.DataBaseInfoHandler"/>
    </extension>

    <!-- Disable Eclipse debug and refactoring in standalone applications -->
    <extension point="org.eclipse.ui.activities">
        <activity id="dbeaver.app.StandaloneActivity" name="DBeaver standalone application activity"/>
        <category id="dbeaver.app.StandaloneCategory" name="DBeaver standalone application activity category"/>

        <!-- put the activity in the category -->
        <categoryActivityBinding activityId="dbeaver.app.StandaloneActivity" categoryId="dbeaver.app.StandaloneCategory"/>
        <!-- bind patterns -->
        <activityPatternBinding activityId="dbeaver.app.StandaloneActivity" pattern="org.eclipse.ltk.ui.refactoring/.*"/>
        <activityPatternBinding activityId="dbeaver.app.StandaloneActivity" pattern="org.eclipse.ui.ide/org.eclipse.ui.propertypages.resource.filters"/>
        <activityPatternBinding activityId="dbeaver.app.StandaloneActivity" pattern="org.eclipse.ui.ide/org.eclipse.ui.propertypages.project.reference"/>
        <activityPatternBinding activityId="dbeaver.app.StandaloneActivity" pattern="org.eclipse.ui.ide/org.eclipse.ui.propertypages.project.natures"/>
        <activityPatternBinding activityId="dbeaver.app.StandaloneActivity" pattern="org.eclipse.ui.ide/org.eclipse.ui.propertypages.project.linkedResourcesPage"/>
        <activityPatternBinding activityId="dbeaver.app.StandaloneActivity" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.properties.defaultLaunchConfigurations"/>
    </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.jkiss.dbeaver.core.perspective">
            <editorOnboardingCommand id="org.jkiss.dbeaver.core.new.connection"/>
            <editorOnboardingCommand id="org.jkiss.dbeaver.core.sql.editor.recent"/>
            <editorOnboardingCommand id="org.eclipse.ui.window.showKeyAssist"/>
            <editorOnboardingCommand id="org.eclipse.ui.window.quickAccess"/>
        </perspectiveExtension>
    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                class="org.jkiss.dbeaver.ui.app.standalone.actions.MenuConfigurationPropertyTester"
                id="org.jkiss.dbeaver.ui.app.standalone.actions.MenuConfigurationPropertyTester"
                namespace="org.jkiss.dbeaver.ui.app.standalone.menu.configuration"
                properties="isCommunity"
                type="java.lang.Object"/>
    </extension>

</plugin>
