<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension point="org.jkiss.dbeaver.sqlFormatter">
        <formatter id="sqlworkbenchj" class="org.jkiss.dbeaver.ext.format.sqlworkbenchj.SQLWorkbenchJFormatter" configurerClass="org.jkiss.dbeaver.ext.format.sqlworkbenchj.SQLWorkbenchJFormatterSettingsPage" label="SQL Workbench/J formatter" description="Formatter from SQL Workbench/J"/>
    </extension>

</plugin>
