<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.doris.DorisDataSourceProvider"
                description="Apache Doris Database"
                id="doris"
                parent="generic"
                dialect="doris"
                label="Apache Doris"
                icon="icons/doris_icon.svg">

            <drivers managable="true">
                <driver
                        id="doris"
                        label="Apache Doris"
                        icon="icons/doris_icon.svg"
                        iconBig="icons/doris_icon_big.svg"
                        class="com.mysql.cj.jdbc.Driver"
                        sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                        defaultPort="9030"
                        defaultUser="root"
                        webURL="https://doris.apache.org/"
                        propertiesURL="https://dev.mysql.com/doc/connector-j/en/connector-j-reference-configuration-properties.html"
                        description="Apache Doris driver (MySQL Connector/J)"
                        categories="sql">
                    <file type="jar" path="maven:/com.mysql:mysql-connector-j:RELEASE[8.2.0]" bundle="!drivers.mysql"/>
                    <file type="license" path="licenses/external/gnu3.txt"/>
                    <file type="jar" path="drivers/mysql/mysql8" bundle="drivers.mysql"/>
                    <property name="connectTimeout" value="20000"/>
                    <property name="rewriteBatchedStatements" value="true"/>
                    <property name="useSSL" value="false"/>
                    <property name="enabledTLSProtocols" value="TLSv1.2,TLSv1.3"/>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                    <property name="@dbeaver-default-resultset.format.datetime.native" value="true"/>
                    <property name="@dbeaver-default-dataformat.type.timestamp.pattern" value="yyyy-MM-dd HH:mm:ss"/>
                    <parameter name="supports-partitions" value="false"/>
                    <parameter name="supports-references" value="false"/>
                    <parameter name="supports-triggers" value="false"/>
                    <parameter name="supports-events" value="false"/>
                    <parameter name="supports-users" value="false"/>
                    <parameter name="supports-charsets" value="false"/>
                    <parameter name="supports-collations" value="false"/>
                    <parameter name="supportsClients" value="false"/>
                </driver>
            </drivers>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="doris" parent="generic" class="org.jkiss.dbeaver.ext.doris.model.DorisDialect"
                 label="Apache Doris" description="Apache Doris SQL dialect" icon="icons/doris_icon.svg">
            <keywords value="CATALOG,CATALOGS,SWITCH,MATERIALIZED,REFRESH,ASYNC,DEFERRED,IMMEDIATE,BUCKETS,DISTRIBUTED,PROPERTIES,BROKER,ROUTINE,LOAD,STREAM,PAUSE,RESUME,STOP,SUBMIT,TASK,PIPE,PIPES,REPOSITORY,SNAPSHOT,RESTORE,ADMIN"/>
            <functions value="ARRAY_AGG,ARRAY_CONTAINS,ARRAY_SIZE,BITMAP_COUNT,BITMAP_UNION,HLL_UNION_AGG,NDV,PERCENTILE_APPROX,RETENTION,WINDOW_FUNNEL,APPROX_COUNT_DISTINCT,CURRENT_CATALOG"/>
            <types value="ARRAY,BITMAP,HLL,JSON,MAP,STRUCT,LARGEINT,QUANTILE_STATE"/>
        </dialect>
    </extension>
</plugin>
