<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
  
<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.postgresql.dataSourceWizardView"
                dataSource="postgresql"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.postgresql.ui.PostgreConnectionPage"
                icon="icons/database.png">
        </view>
        <view
                class="org.jkiss.dbeaver.ext.postgresql.ui.PostgreConnectionPage"
                icon="icons/database.png"
                id="org.jkiss.dbeaver.ext.postgresql.dataSourceEditorView"
                dataSource="postgresql"
                label="%dialog.connection.header"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
        </view>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
            name="%editor.session_manager.name"
            icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.png"
            class="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSessionEditor"
            id="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSessionEditor"
            contributorClass="org.jkiss.dbeaver.ui.editors.EditorSearchActionsContributor">
        </editor>
        <editor
            name="%editor.lock_manager.name"
            icon="#locked"
            class="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreLockEditor"
            id="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreLockEditor">
        </editor>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <editorContribution editorId="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSessionEditor" category="connectionEditor" label="%editor.session_manager.name" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.png">
            <supports dataSource="postgresql"/>
            <supports dataSource="greenplum"/>
            <supports dataSource="redshift"/>
            <supports dataSource="enterprisedb"/>
            <supports dataSource="gaussdb"/>
        </editorContribution>
        <editorContribution editorId="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreLockEditor" category="connectionEditor" label="%editor.lock_manager.name" icon="#locked" visibleIf="connected &amp;&amp; dataSource.serverType.supportsLocks()">
            <supports dataSource="postgresql"/>
            <supports dataSource="greenplum"/>
            <supports dataSource="enterprisedb"/>
            <supports dataSource="gaussdb"/>
        </editorContribution>
    </extension>

    <extension point="org.jkiss.dbeaver.databaseEditor">

        <editor id="postgresql.role.permissions" class="org.jkiss.dbeaver.ext.postgresql.ui.editors.privileges.RolePermissionsEditor"
                label="%db.editor.role.permission.name" description="%db.editor.role.permission.description" icon="#permissions" position="additions_middle" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreRole"/>
        </editor>
        <editor id="postgresql.table.permissions" class="org.jkiss.dbeaver.ext.postgresql.ui.editors.privileges.ObjectPermissionsEditor"
                label="%db.editor.table.permission.name" description="%db.editor.table.permission.description" icon="#permissions" position="additions_middle" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableBase" if="object.dataSource.supportsRoles()"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableColumn" if="object.dataSource.supportsRoles()"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure" if="object.dataSource.supportsRoles()"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreSchema" if="object.dataSource.supportsRoles()"/>
        </editor>
        <editor id="postgresql.source.view" class="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSourceViewEditor"
                label="%db.editor.source.name" description="%db.editor.source.description" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreView"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreMaterializedView"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreRule"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTrigger"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreEventTrigger"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableColumn"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreIndex"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableConstraintBase"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreExtension"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreForeignServer"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreUserMapping"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreForeignDataWrapper"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreSchema"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreDataType"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTablespace"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreRole"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreJobStep"/>
        </editor>
        <editor id="postgresql.source.ddl" class="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSourceViewEditor"
                label="%db.editor.ddl.name" description="%db.editor.ddl.description" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTable"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreSequence"/>
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreScriptObjectExt"/>
        </editor>

        <editor id="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreScheduleEditor"
                class="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreScheduleEditor"
                objectType="org.jkiss.dbeaver.ext.postgresql.model.PostgreJobSchedule"
                label="Scheduler"
                description="Schedule editor"
                icon="#job_schedule"
                position="additions_middle"
                type="folder">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreJobSchedule"/>
        </editor>

        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreConstraintConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableConstraint"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreDatabaseConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreDatabase"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreForeignKeyConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTableForeignKey"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreIndexConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreIndex"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreProcedureConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreRoleConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreRole"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreTriggerConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTrigger"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreEventTriggerConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreEventTrigger"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreSchemaConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreSchema"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreSequenceConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreSequence"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreExtensionConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreExtension"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreTablespaceConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTablespace"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ui.editors.object.config.PropertyObjectConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreTablePolicy"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreExplainPlanConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.plan.PostgreQueryPlaner"/>
        </configurator>


    </extension>
    <extension point="org.jkiss.dbeaver.sql.executors">
        <executor class="org.jkiss.dbeaver.ext.postgresql.tools.PostgreScriptExecutor" datasource="postgresql"/>
    </extension>
    <extension point="org.jkiss.dbeaver.dataManager">
        <!--
                <manager class="org.jkiss.dbeaver.ui.data.managers.StringValueManager" id="org.jkiss.dbeaver.ext.postgresql.edit.PostgreMoneyValueManager">
                    <supports dataSource="postgresql" typeName="money"/>
                </manager>
        -->
        <manager class="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreEnumValueManager" id="org.jkiss.dbeaver.ext.postgresql.ui.config.PostgreEnumValueManager">
            <supports dataSource="postgresql" extension="E"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.BitStringValueManager" id="org.jkiss.dbeaver.ui.data.managers.BitStringValueManager">
            <supports dataSource="postgresql" typeName="BIT"/>
        </manager>
        <manager class="org.jkiss.dbeaver.ui.data.managers.ContentValueManager" id="org.jkiss.dbeaver.ui.data.managers.ContentValueManager">
            <supports dataSource="postgresql" typeName="JSON"/>
            <supports dataSource="postgresql" typeName="JSONB"/>
        </manager>
        <!--
                <manager class="org.jkiss.dbeaver.ui.data.managers.StructValueManager" id="org.jkiss.dbeaver.ext.postgresql.edit.PostgreHStoreValueManager">
                    <supports dataSource="postgresql" typeName="hstore"/>
                </manager>
        -->
    </extension>

    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator class="org.jkiss.dbeaver.ext.postgresql.model.net.PostgreSSLHandlerImpl" uiClass="org.jkiss.dbeaver.ext.postgresql.ui.PostgreSSLConfigurator"/>
        <propertyConfigurator class="org.jkiss.dbeaver.ext.postgresql.model.AuthModelPgPass" uiClass="org.jkiss.dbeaver.ext.postgresql.ui.PostgreAuthPgPassConfigurator"/>
    </extension>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <toolGroup
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="Maintenance"
                    icon="#tools"/>
            <tool
                    description="%tools.backup.db.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.PostgreToolBackup"
                    label="%tools.backup.db.name"
                    icon="#export"
                    singleton="false">
                <task id="pgDatabaseBackup"/>
            </tool>
            <tool
                    description="%tools.backup.all.db.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.PostgreToolBackupAll"
                    label="%tools.backup.all.db.name"
                    icon="#export"
                    singleton="false">
                <task id="pgDatabaseBackupAll"/>
            </tool>
            <tool
                    description="%tools.restore.db.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.PostgreToolRestore"
                    label="%tools.restore.db.name"
                    icon="#import"
                    singleton="true">
                <task id="pgDatabaseRestore"/>
            </tool>
            <tool
                    description="%tools.execute.script.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.PostgreToolScript"
                    label="%tools.execute.script.name"
                    singleton="true">
                <task id="pgScriptExecute"/>
            </tool>
            <tool
                    description="%tools.analyze.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolAnalyze"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="%tools.analyze.name"
                    singleton="false">
                <task id="pgToolDatabaseAnalyze"/>
                <task id="pgToolTableAnalyze"/>
            </tool>
            <tool
                    description="%tools.vacuum.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolVacuum"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="%tools.vacuum.name"
                    singleton="false">
                <task id="pgToolTableVacuum"/>
                <task id="pgToolDatabaseVacuum"/>
            </tool>
            <tool
                    description="%tools.truncate.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolTruncate"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="%tools.truncate.name"
                    singleton="false">
                <task id="pgToolTableTruncate"/>
            </tool>
            <tool
                    description="Disable trigger(s)"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolTriggerDisable"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="Disable trigger(s)"
                    singleton="false">
                <task id="pgToolTriggerDisable"/>
            </tool>            
            <!--<tool
                    class="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolExtensionUninstall"
                    description="Uninstall extension"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolExtensionUninstall"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="Uninstall"
                    singleton="false">
                    <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreAvailableExtension" if="object.isInstalled()"/>
            </tool>-->
              <tool
                    description="Enable trigger"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolTriggerEnable"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="Enable trigger"
                    singleton="false">
                <task id="pgToolTriggerEnable"/>
            </tool>
            <tool
                    description="%tools.refesh.mview.description"
                    id="org.jkiss.dbeaver.ext.postgresql.tools.maintenance.PostgreToolRefreshMView"
                    group="org.jkiss.dbeaver.ext.postgresql.tools.maintenance"
                    label="%tools.refesh.mview.name"
                    singleton="false">
                <task id="pgToolRefreshMView"/>
            </tool>

            <toolGroup
                id="org.jkiss.dbeaver.ext.postgresql.tools.config"
                label="Configuration"
                icon="#tools"/>
            <tool
                description="Foreign Data Wrappers configurator"
                id="org.jkiss.dbeaver.ext.postgresql.tools.fdw.PostgreFDWConfigTool"
                label="Foreign data wrappers configurator"
                icon="#server"
                singleton="false">
                <command id="org.jkiss.dbeaver.ext.postgresql.ui.fdw">
                    <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreObject"/>
                </command>
            </tool>

        </tools>
    </extension>

    <extension point="org.eclipse.ui.commands">
    	<command id="org.jkiss.dbeaver.ext.postgresql.ui.fdw" name="Foreign data wrappers configurator"/>
    </extension>
    
    <extension point="org.eclipse.ui.handlers">
        <handler commandId="org.jkiss.dbeaver.ext.postgresql.ui.fdw" class="org.jkiss.dbeaver.ext.postgresql.tools.fdw.PostgreFDWConfigToolCommandHandler"/>
    </extension>
    
    <extension point="org.jkiss.dbeaver.task.ui">
        <configurator type="pgDatabaseBackup" class="org.jkiss.dbeaver.ext.postgresql.tools.PostgreTaskConfigurator"/>
        <configurator type="pgDatabaseRestore" class="org.jkiss.dbeaver.ext.postgresql.tools.PostgreTaskConfigurator"/>
        <configurator type="pgDatabaseBackupAll" class="org.jkiss.dbeaver.ext.postgresql.tools.PostgreTaskConfigurator"/>
        <configurator type="pgScriptExecute" class="org.jkiss.dbeaver.ext.postgresql.tools.PostgreTaskConfigurator"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.postgresql.general" class="org.jkiss.dbeaver.ext.postgresql.ui.PrefPagePostgreSQL" name="PostgreSQL">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
    </extension>
    
    <!-- SQL Generators -->
    <extension point="org.jkiss.dbeaver.sqlGenerator">
        <generator id="procedureCheck" class="org.jkiss.dbeaver.ext.postgresql.model.sql.generator.SQLGeneratorProcedureCheck" label="CHECK (via plpgsql_check)" description="Check (via plpgsql_check)" order="2000">
            <objectType name="org.jkiss.dbeaver.ext.postgresql.model.PostgreProcedure"/>
        </generator>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ext.postgresql.ui.PostgrePreferencesInitializer"/>
    </extension>

</plugin>
