<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="denodo" class="org.jkiss.dbeaver.ext.denodo.model.DenodoMetaModel" driverClass="com.denodo.dv.jdbc.Driver"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- Data Virtuality -->

        <datasource
                class="org.jkiss.dbeaver.ext.denodo.DenodoDataSourceProvider"
                description="%datasource.denodo.description"
                id="denodo"
                parent="generic"
                label="Denodo"
                icon="icons/denodo_icon.png"
                dialect="basic">
            <drivers managable="true">

                <driver
                        id="denodo_jdbc"
                        label="Denodo"
                        class="com.denodo.dv.jdbc.Driver"
                        icon="icons/denodo_icon.png"
                        iconBig="icons/denodo_icon_big.png"
                        sampleURL="jdbc:vdb://{host}:{port}/:{database}"
                        defaultPort="9999"
                        defaultDatabase="admin"
                        defaultUser="admin"
                        defaultPassword="admin"
                        description="JDBC driver of the Denodo Platform"
                        webURL="https://https://denodo.com/docs/"
                        categories="sql,analytic">
                    <file type="jar" path="https://community.denodo.com/drivers/download/2721"/>
                </driver>
            </drivers>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="denodo" parent="generic" class="org.jkiss.dbeaver.ext.denodo.model.DenodoSQLDialect" label="Denodo" description="Denodo SQL dialect." icon="icons/denodo_icon.png">
        </dialect>
    </extension>

</plugin>
