<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>CFBundleExecutable</key>
		<string>dbeaver</string>
	<key>CFBundleGetInfoString</key>
		<string>DBeaver @productVersion@, Copyright JKISS 2010-2013</string>
	<key>CFBundleIconFile</key>
		<string>dbeaver.icns</string>
	<key>CFBundleIdentifier</key>
		<string>org.eclipse.eclipse</string>
	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	<key>CFBundleName</key>
		<string>dbeaver</string>
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleShortVersionString</key>
		<string>@productVersion@</string>
	<key>CFBundleSignature</key>
		<string>DBeaver</string>
	<key>CFBundleVersion</key>
		<string>@productVersion@</string>
	<key>NSHighResolutionCapable</key>
		<true/>
	<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
	<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
			<string>it</string>
			<string>ru</string>
			<string>zh</string>
		</array>
		
	<key>Eclipse</key>
		<array>
			<!-- to use a specific Java version (instead of the platform's default) uncomment one of the following options:
				<string>-vm</string><string>/System/Library/Frameworks/JavaVM.framework/Versions/1.4.2/Commands/java</string>
				<string>-vm</string><string>/System/Library/Frameworks/JavaVM.framework/Versions/1.5.0/Commands/java</string>
			-->
			<string>-keyring</string><string>~/.eclipse_keyring</string>
			<string>-showlocation</string>
			<!-- WARNING:
				If you try to add a single VM argument (-vmargs) here,
				*all* vmargs specified in eclipse.ini will be ignored.
				We recommend to add all arguments in eclipse.ini
			 -->
		</array>
</dict>

</plist>
