<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.databaseEditor" name="%extension-point.org.jkiss.dbeaver.databaseEditor.name" schema="schema/org.jkiss.dbeaver.databaseEditor.exsd"/>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                class="org.jkiss.dbeaver.ui.navigator.NavigatorPropertyTester"
                id="org.jkiss.dbeaver.ui.navigator.NavigatorPropertyTester"
                namespace="org.jkiss.dbeaver.core.navigator"
                properties="active,focused"
                type="org.eclipse.ui.IWorkbenchPart"/>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.model.DBPObject" class="org.jkiss.dbeaver.ui.navigator.NavigatorAdapterFactory">
            <adapter type="org.jkiss.dbeaver.model.DBPNamedObject"/>
            <adapter type="org.jkiss.dbeaver.model.DBPQualifiedObject"/>
            <adapter type="org.jkiss.dbeaver.model.DBPObject"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSObject"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSEntity"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSObjectContainer"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSDataContainer"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
            <adapter type="org.jkiss.dbeaver.model.struct.rdb.DBSProcedure"/>
            <adapter type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
            <adapter type="org.jkiss.dbeaver.model.DBPDataSourceContainer"/>
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
            <adapter type="org.eclipse.core.resources.IResource"/>
            <adapter type="org.eclipse.core.resources.IProject"/>
            <adapter type="org.eclipse.core.resources.IFile"/>
            <adapter type="org.eclipse.core.resources.IFolder"/>
            <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.views">
        <category id="org.jkiss.dbeaver.core.category" name="%category.org.jkiss.dbeaver.core.category.name"/>
        <view
                id="org.jkiss.dbeaver.core.databaseNavigator"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.navigator.database.DatabaseNavigatorView"
                allowMultiple="false"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/databases.png"
                name="%view.database.navigator.title"/>
        <view
                id="org.jkiss.dbeaver.core.databaseBrowser"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.navigator.database.DatabaseBrowserView"
                allowMultiple="true"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/database_navigator.png"
                name="%view.database.browser.title"/>
        <view
                id="org.jkiss.dbeaver.core.projectNavigator"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.navigator.project.ProjectNavigatorView"
                allowMultiple="false"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/projects.png"
                name="%view.project.navigator.title"/>
        <view
                id="org.jkiss.dbeaver.core.projectExplorer"
                category="org.jkiss.dbeaver.core.category"
                class="org.jkiss.dbeaver.ui.navigator.project.ProjectExplorerView"
                allowMultiple="false"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/project.png"
                name="%view.project.explorer.title"/>
    </extension>

    <extension point="org.eclipse.ui.newWizards">
        <wizard
                category="org.jkiss.dbeaver.core.new.general"
                class="org.jkiss.dbeaver.tools.project.ProjectCreateWizard"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/project.png"
                id="org.jkiss.dbeaver.core.wizard.new.project"
                name="%wizard.org.jkiss.dbeaver.core.wizard.new.project.name">
            <description>
                %wizard.org.jkiss.dbeaver.core.wizard.new.project.description
            </description>
        </wizard>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseNavigator" id="org.jkiss.dbeaver.preferences.navigator" name="%page.org.jkiss.dbeaver.preferences.databaseNavigator.name">
            <enabledWhen>
                <instanceof value="org.jkiss.dbeaver.ui.navigator.database.NavigatorViewBase"/>
            </enabledWhen>
        </page>
        <page class="org.jkiss.dbeaver.ui.preferences.PrefPageProjectSettings" id="org.jkiss.dbeaver.preferences.projectSettings" name="%page.org.jkiss.dbeaver.preferences.projectSettings.name">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" value="org.jkiss.dbeaver.DBeaverNature"/>
                </adapt>
            </enabledWhen>
        </page>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ui.internal.UINavigatorPreferencesInitializer"/>
    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                class="org.jkiss.dbeaver.ui.editors.entity.EntityEditorPropertyTester"
                id="org.jkiss.dbeaver.ui.editors.entity.EntityEditorPropertyTester"
                namespace="org.jkiss.dbeaver.ui.editors.entity"
                properties="dirty,canUndo,canRedo"
                type="org.jkiss.dbeaver.ui.editors.entity.EntityEditor"/>
        <propertyTester
                class="org.jkiss.dbeaver.ui.editors.entity.FolderEditorPropertyTester"
                id="org.jkiss.dbeaver.ui.editors.entity.FolderEditorPropertyTester"
                namespace="org.jkiss.dbeaver.ui.editors.folder"
                properties="canNavigate"
                type="org.jkiss.dbeaver.ui.editors.entity.FolderEditor"/>
    </extension>

</plugin>
