<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="org.jkiss.dbeaver.databaseEditor" name="%extension-point.org.jkiss.dbeaver.databaseEditor.name" schema="schema/org.jkiss.dbeaver.databaseEditor.exsd"/>
    <extension-point id="org.jkiss.dbeaver.navigator.nodeAction" name="%extension-point.org.jkiss.dbeaver.navigator.nodeAction.name" schema="schema/org.jkiss.dbeaver.navigator.nodeAction.exsd"/>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.model.DBPObject" class="org.jkiss.dbeaver.ui.navigator.NavigatorAdapterFactory">
            <adapter type="org.jkiss.dbeaver.model.DBPNamedObject"/>
            <adapter type="org.jkiss.dbeaver.model.DBPQualifiedObject"/>
            <adapter type="org.jkiss.dbeaver.model.DBPObject"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSObject"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSEntity"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSObjectContainer"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSDataContainer"/>
            <adapter type="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
            <adapter type="org.jkiss.dbeaver.model.struct.rdb.DBSProcedure"/>
            <adapter type="org.jkiss.dbeaver.model.struct.rdb.DBSSchema"/>
            <adapter type="org.jkiss.dbeaver.model.DBPDataSourceContainer"/>
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
            <adapter type="org.eclipse.core.resources.IResource"/>
            <adapter type="org.eclipse.core.resources.IProject"/>
            <adapter type="org.eclipse.core.resources.IFile"/>
            <adapter type="org.eclipse.core.resources.IFolder"/>
            <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>

        <factory adaptableType="org.jkiss.dbeaver.model.DBPObject" class="org.jkiss.dbeaver.ui.navigator.NavigatorConfiguratorFactory">
            <adapter type="org.jkiss.dbeaver.model.edit.DBEObjectConfigurator"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.views">
        <category id="org.jkiss.dbeaver.core.category" name="%category.org.jkiss.dbeaver.core.category.name"/>
        <view
            id="org.jkiss.dbeaver.core.databaseNavigator"
            category="org.jkiss.dbeaver.core.category"
            class="org.jkiss.dbeaver.ui.navigator.database.DatabaseNavigatorView"
            allowMultiple="false"
            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/databases.png"
            name="%view.database.navigator.title">
            <description>%view.database.navigator.description</description>
        </view>
        <view
            id="org.jkiss.dbeaver.core.databaseBrowser"
            category="org.jkiss.dbeaver.core.category"
            class="org.jkiss.dbeaver.ui.navigator.database.DatabaseBrowserView"
            allowMultiple="true"
            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/database_navigator.png"
            name="%view.database.browser.title">
            <description>%view.database.browser.description</description>
        </view>
        <view
            id="org.jkiss.dbeaver.core.projectNavigator"
            category="org.jkiss.dbeaver.core.category"
            class="org.jkiss.dbeaver.ui.navigator.project.ProjectNavigatorView"
            allowMultiple="false"
            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/projects.png"
            name="%view.project.navigator.title">
            <description>%view.project.navigator.description</description>
        </view>
        <view
            id="org.jkiss.dbeaver.core.projectExplorer"
            category="org.jkiss.dbeaver.core.category"
            class="org.jkiss.dbeaver.ui.navigator.project.ProjectExplorerView"
            allowMultiple="false"
            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/project.png"
            name="%view.project.explorer.title">
            <description>%view.project.explorer.description</description>
        </view>
    </extension>

    <extension point="org.eclipse.ui.newWizards">
        <wizard
                category="org.jkiss.dbeaver.core.new.general"
                class="org.jkiss.dbeaver.tools.project.ProjectCreateWizard"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/project.png"
                id="org.jkiss.dbeaver.core.wizard.new.project"
                name="%wizard.org.jkiss.dbeaver.core.wizard.new.project.name">
            <description>
                %wizard.org.jkiss.dbeaver.core.wizard.new.project.description
            </description>
        </wizard>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page class="org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseNavigator" id="org.jkiss.dbeaver.preferences.navigator" name="%page.org.jkiss.dbeaver.preferences.databaseNavigator.name">
            <enabledWhen>
                <instanceof value="org.jkiss.dbeaver.ui.navigator.database.NavigatorViewBase"/>
            </enabledWhen>
        </page>
        <page class="org.jkiss.dbeaver.ui.project.PrefPageProjectResourceSettings" id="org.jkiss.dbeaver.preferences.projectSettings" name="%page.org.jkiss.dbeaver.preferences.projectSettings.name" >
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" value="org.jkiss.dbeaver.DBeaverNature"/>
                </adapt>
            </enabledWhen>
        </page>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ui.internal.UINavigatorPreferencesInitializer"/>
    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
            class="org.jkiss.dbeaver.ui.actions.GlobalPropertyTester"
            id="org.jkiss.dbeaver.ui.actions.GlobalPropertyTester"
            namespace="org.jkiss.dbeaver.core.global"
            properties="standalone,hasActiveProject,hasMultipleProjects"
            type="java.lang.Object"/>
        <propertyTester
            class="org.jkiss.dbeaver.ui.actions.ObjectPropertyTester"
            id="org.jkiss.dbeaver.ui.actions.ObjectPropertyTester"
            namespace="org.jkiss.dbeaver.core.object"
            properties="canOpen,canCreateSingle,canCreateMulti,canPaste,canDelete,canRename,canMoveUp,canMoveDown,canFilter,canFilterObject,hasFilter"
            type="org.jkiss.dbeaver.model.navigator.DBNNode"/>

        <propertyTester
            class="org.jkiss.dbeaver.ui.navigator.ResourcePropertyTester"
            id="org.jkiss.dbeaver.ui.navigator.ResourcePropertyTester"
            namespace="org.jkiss.dbeaver.core.resource"
            properties="canOpen,canDelete,canCreateFile,canCreateFolder,canCreateLink,canSetActive,type"
            type="org.eclipse.core.resources.IResource"/>
        <propertyTester
            class="org.jkiss.dbeaver.ui.editors.entity.EntityEditorPropertyTester"
            id="org.jkiss.dbeaver.ui.editors.entity.EntityEditorPropertyTester"
            namespace="org.jkiss.dbeaver.ui.editors.entity"
            properties="dirty,canUndo,canRedo"
            type="org.jkiss.dbeaver.ui.editors.entity.EntityEditor"/>
        <propertyTester
            class="org.jkiss.dbeaver.ui.editors.entity.FolderEditorPropertyTester"
            id="org.jkiss.dbeaver.ui.editors.entity.FolderEditorPropertyTester"
            namespace="org.jkiss.dbeaver.ui.editors.folder"
            properties="canNavigate"
            type="org.jkiss.dbeaver.ui.editors.entity.FolderEditor"/>
        <propertyTester
            class="org.jkiss.dbeaver.ui.navigator.NavigatorPropertyTester"
            id="org.jkiss.dbeaver.ui.navigator.NavigatorPropertyTester"
            namespace="org.jkiss.dbeaver.core.navigator"
            properties="active,focused"
            type="org.eclipse.ui.IWorkbenchPart"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
                name="%editor.folder.name"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/properties.png"
                contributorClass="org.jkiss.dbeaver.ui.editors.entity.FolderEditorContributor"
                class="org.jkiss.dbeaver.ui.editors.entity.FolderEditor"
                id="org.jkiss.dbeaver.ui.editors.entity.FolderEditor">
        </editor>
        <editor
                name="%editor.entity.name"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/properties.png"
                contributorClass="org.jkiss.dbeaver.ui.editors.EditorSearchActionsContributor"
                class="org.jkiss.dbeaver.ui.editors.entity.EntityEditor"
                id="org.jkiss.dbeaver.ui.editors.entity.EntityEditor">
        </editor>
    </extension>

    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.jkiss.dbeaver.core.ui.navigator.control">
            <with variable="activeFocusControlId">
                <equals value="org.jkiss.dbeaver.ui.navigator"/>
            </with>
        </definition>
        <definition id="org.jkiss.dbeaver.core.ui.navigator.part">
            <with variable="activePart">
                <!--<instanceof value="org.jkiss.dbeaver.ui.navigator.INavigatorModelView"/>-->
                <test property="org.jkiss.dbeaver.core.navigator.active" forcePluginActivation="true"/>
            </with>
        </definition>
        <definition id="org.jkiss.dbeaver.core.ui.navigator.part.active">
            <with variable="activePart">
                <test property="org.jkiss.dbeaver.core.navigator.focused" forcePluginActivation="true"/>
            </with>
        </definition>
        <definition id="org.jkiss.dbeaver.core.ui.folder.editor">
            <with variable="activeEditor">
                <instanceof value="org.jkiss.dbeaver.ui.editors.entity.FolderEditor"/>
            </with>
        </definition>

        <definition id="org.jkiss.dbeaver.core.ui.datasource.part">
            <with variable="activePart">
                <instanceof value="org.jkiss.dbeaver.model.DBPContextProvider"/>
            </with>
        </definition>
        <definition id="org.jkiss.dbeaver.core.ui.datasource.editor">
            <with variable="activeEditor">
                <instanceof value="org.jkiss.dbeaver.model.DBPContextProvider"/>
            </with>
        </definition>

    </extension>

    <extension point="org.eclipse.ui.contexts">
        <context
                id="org.jkiss.dbeaver.ui.context.navigator"
                parentId="org.eclipse.ui.contexts.window"
                name="%context.org.jkiss.dbeaver.ui.context.navigator.name"
                description="%context.org.jkiss.dbeaver.ui.context.navigator.description"/>
        <context
                id="org.jkiss.dbeaver.ui.context.navigator.view"
                parentId="org.jkiss.dbeaver.ui.context.navigator"
                name="%context.org.jkiss.dbeaver.ui.context.navigator.view.name"
                description="%context.org.jkiss.dbeaver.ui.context.navigator.view.description"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <category id="org.jkiss.dbeaver.core.navigator" name="%category.dbnavigator.name" description="%category.dbnavigator.description"/>

        <command id="org.jkiss.dbeaver.core.object.open" name="%command.org.jkiss.dbeaver.core.object.open.name" description="%command.org.jkiss.dbeaver.core.object.open.description" categoryId="org.jkiss.dbeaver.core.database">
            <commandParameter id="activePage" name="Active page" optional="true"/>
            <commandParameter id="activeFolder" name="Active folder" optional="true"/>
        </command>
        <command id="org.jkiss.dbeaver.core.object.create" name="%command.org.jkiss.dbeaver.core.object.create.name" description="%command.org.jkiss.dbeaver.core.object.create.description" categoryId="org.jkiss.dbeaver.core.database">
            <commandParameter id="org.jkiss.dbeaver.core.object.type" name="Object type" optional="true"/>
            <commandParameter id="org.jkiss.dbeaver.core.object.typeName" name="Object type name" optional="true"/>
            <commandParameter id="org.jkiss.dbeaver.core.object.typeIcon" name="Object type icon" optional="true"/>
            <commandParameter id="org.jkiss.dbeaver.core.object.folder" name="Object is folder" optional="true"/>
        </command>
        <command id="org.jkiss.dbeaver.core.object.delete" name="%command.org.jkiss.dbeaver.core.object.delete.name" description="%command.org.jkiss.dbeaver.core.object.delete.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.move.up" name="%command.org.jkiss.dbeaver.core.object.move.up.name" description="%command.org.jkiss.dbeaver.core.object.move.up.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.move.down" name="%command.org.jkiss.dbeaver.core.object.move.down.name" description="%command.org.jkiss.dbeaver.core.object.move.down.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.goto" name="%command.org.jkiss.dbeaver.core.object.goto.name" description="%command.org.jkiss.dbeaver.core.object.goto.description" categoryId="org.jkiss.dbeaver.core.database"/>

        <command id="org.jkiss.dbeaver.core.object.filter.config" name="%command.org.jkiss.dbeaver.core.object.filter.config.name" description="%command.org.jkiss.dbeaver.core.object.filter.config.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.filter.add.exclude" name="%command.org.jkiss.dbeaver.core.object.filter.add.exclude.name" description="%command.org.jkiss.dbeaver.core.object.filter.add.exclude.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.filter.add.include" name="%command.org.jkiss.dbeaver.core.object.filter.add.include.name" description="%command.org.jkiss.dbeaver.core.object.filter.add.include.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.filter.clear" name="%command.org.jkiss.dbeaver.core.object.filter.clear.name" description="%command.org.jkiss.dbeaver.core.object.filter.clear.description" categoryId="org.jkiss.dbeaver.core.database"/>
        <command id="org.jkiss.dbeaver.core.object.filter.toggle" name="%command.org.jkiss.dbeaver.core.object.filter.toggle.name" description="%command.org.jkiss.dbeaver.core.object.filter.toggle.description" categoryId="org.jkiss.dbeaver.core.database"/>

        <command id="org.jkiss.dbeaver.core.project.create" name="%command.org.jkiss.dbeaver.core.project.create.name" description="%command.org.jkiss.dbeaver.core.project.create.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.project.refresh" name="%command.org.jkiss.dbeaver.core.project.refresh.name" description="%command.org.jkiss.dbeaver.core.project.refresh.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.project.active" name="%command.org.jkiss.dbeaver.core.project.active.name" description="%command.org.jkiss.dbeaver.core.project.active.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.project.select" name="%command.org.jkiss.dbeaver.core.project.select.name" description="%command.org.jkiss.dbeaver.core.project.select.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.resource.create.file" name="%command.org.jkiss.dbeaver.core.resource.create.file.name" description="%command.org.jkiss.dbeaver.core.resource.create.file.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.resource.create.folder" name="%command.org.jkiss.dbeaver.core.resource.create.folder.name" description="%command.org.jkiss.dbeaver.core.resource.create.folder.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.resource.link.file" name="%command.org.jkiss.dbeaver.core.resource.link.file.name" categoryId="org.jkiss.dbeaver.core.navigator" description="%command.org.jkiss.dbeaver.core.resource.link.file.description">
            <commandParameter
                    id="org.jkiss.dbeaver.core.resource.link.file.contenttype"
                    name="%commandParameter.org.jkiss.dbeaver.core.resource.link.file.contenttype.name"
                    optional="true"
                    values="org.jkiss.dbeaver.runtime.ContentTypeParameterValues">
            </commandParameter>
        </command>
        <command id="org.jkiss.dbeaver.core.resource.link.folder" name="%command.org.jkiss.dbeaver.core.resource.link.folder.name" description="%command.org.jkiss.dbeaver.core.resource.link.folder.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.view.toggle" name="Show/Hide view" categoryId="org.jkiss.dbeaver.core.navigator" description="Toggle view">
            <commandParameter id="viewId" name="View ID" optional="false" values="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerToggleView$ViewValues">
            </commandParameter>
        </command>

        <command id="org.jkiss.dbeaver.core.new.folder" name="%command.org.jkiss.dbeaver.core.new.folder.name" description="%command.org.jkiss.dbeaver.core.new.folder.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.navigator.view.configure" name="%command.org.jkiss.dbeaver.core.navigator.view.configure.name" description="%command.org.jkiss.dbeaver.core.navigator.view.configure.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.navigator.linkeditor" name="%command.org.jkiss.dbeaver.core.navigator.linkeditor.name" description="%command.org.jkiss.dbeaver.core.navigator.linkeditor.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.navigator.preferences" name="%command.org.jkiss.dbeaver.core.navigator.preferences.name" description="%command.org.jkiss.dbeaver.core.navigator.preferences.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.navigator.set.default" name="%command.org.jkiss.dbeaver.core.navigator.set.default.name" description="%command.org.jkiss.dbeaver.core.navigator.set.default.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.navigator.open.browser" name="%command.org.jkiss.dbeaver.core.navigator.open.browser.name" description="%command.org.jkiss.dbeaver.core.navigator.open.browser.description" categoryId="org.jkiss.dbeaver.core.navigator"/>
        <command id="org.jkiss.dbeaver.core.sql.script.associate" name="%command.org.jkiss.dbeaver.core.sql.script.associate.name" description="%command.org.jkiss.dbeaver.core.sql.script.associate.description" categoryId="org.jkiss.dbeaver.core.navigator"/>

        <command id="org.jkiss.dbeaver.ui.tools.select.connection" name="%command.org.jkiss.dbeaver.ui.tools.select.connection.name" description="%command.org.jkiss.dbeaver.ui.tools.select.connection.description" categoryId="org.jkiss.dbeaver.core.database">
            <commandParameter id="noCustomLabel" name="Show original command name" optional="true"/>
        </command>
        <command id="org.jkiss.dbeaver.ui.tools.select.schema" name="%command.org.jkiss.dbeaver.ui.tools.select.schema.name" description="%command.org.jkiss.dbeaver.ui.tools.select.schema.description" categoryId="org.jkiss.dbeaver.core.database">
            <commandParameter id="noCustomLabel" name="Show original command name" optional="true"/>
        </command>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.core.object.open" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/edit.png"/>
        <image commandId="org.jkiss.dbeaver.core.object.create" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/create.png"/>
        <image commandId="org.jkiss.dbeaver.core.object.delete" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/delete.png"/>
        <image commandId="org.jkiss.dbeaver.core.object.move.up" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/arrow_up.png"/>
        <image commandId="org.jkiss.dbeaver.core.object.move.down" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/arrow_down.png"/>

        <image commandId="org.jkiss.dbeaver.core.object.filter.config" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/filter.png"/>
        <image commandId="org.jkiss.dbeaver.core.object.filter.add.exclude" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/filter_add.png"/>
        <image commandId="org.jkiss.dbeaver.core.object.filter.add.include" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/filter_add.png"/>

        <image commandId="org.jkiss.dbeaver.core.project.create" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/project_add.png"/>
        <image commandId="org.jkiss.dbeaver.core.project.refresh" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/refresh.png"/>
        <image commandId="org.jkiss.dbeaver.core.project.select" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/project.png"/>
        <image commandId="org.jkiss.dbeaver.core.resource.create.folder" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/folder_add.png"/>
        <image commandId="org.jkiss.dbeaver.core.resource.link.file" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png"/>
        <image commandId="org.jkiss.dbeaver.core.resource.link.folder" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/link.png"/>

        <image commandId="org.jkiss.dbeaver.core.new.folder" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/folder_add.png"/>
        <image commandId="org.jkiss.dbeaver.core.navigator.view.configure" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/configuration.png"/>
        <image commandId="org.jkiss.dbeaver.core.navigator.linkeditor" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/link_to_editor.png"/>
        <image commandId="org.jkiss.dbeaver.core.navigator.preferences" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/configuration.png"/>
        <image commandId="org.jkiss.dbeaver.core.navigator.open.browser" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/database_navigator.png"/>

        <image commandId="org.jkiss.dbeaver.ui.tools.select.connection" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/database.png"/>
        <image commandId="org.jkiss.dbeaver.ui.tools.select.schema" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/schema.png"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <!-- Navigator handlers -->

        <handler commandId="org.jkiss.dbeaver.core.object.open" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectOpen">
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.object.create" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectCreateNew">
<!--
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canCreate"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
-->
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.object.filter.config" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerFilterConfig">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canFilter"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.object.filter.clear" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerFilterClear">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.hasFilter"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.object.filter.toggle" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerFilterToggle">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.hasFilter" value="defined"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.object.filter.add.exclude" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerFilterExclude">
            <enabledWhen>
                <with variable="selection">
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canFilterObject"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.object.filter.add.include" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerFilterInclude">
            <enabledWhen>
                <with variable="selection">
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canFilterObject"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.eclipse.ui.edit.paste" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectCreateCopy">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part.active"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canPaste"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.object.delete" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectDelete">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canDelete"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.eclipse.ui.edit.delete" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectDelete">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part.active"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canDelete"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.eclipse.ui.edit.rename" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectRename">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part.active"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canRename"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.object.move.up" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectMove">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canMoveUp"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.object.move.down" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectMove">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <and>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNNode"/>
                            <test property="org.jkiss.dbeaver.core.object.canMoveDown"/>
                        </and>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.object.goto" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectGoto">
            <activeWhen>
                <or>
                    <reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part"/>
                    <reference definitionId="org.jkiss.dbeaver.core.ui.datasource.editor"/>
                </or>
            </activeWhen>
        </handler>


        <!-- Entity editor handlers -->
        <handler commandId="org.eclipse.ui.file.revert" class="org.jkiss.dbeaver.ui.editors.entity.handlers.RevertChangesHandler">
            <enabledWhen>
                <with variable="activeEditor">
                    <adapt type="org.jkiss.dbeaver.ui.editors.entity.EntityEditor">
                        <test property="org.jkiss.dbeaver.ui.editors.entity.dirty"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>
        <!--
                <handler commandId="org.eclipse.ui.edit.text.contentAssist.proposals" class="org.jkiss.dbeaver.ui.editors.entity.handlers.PreviewChangesHandler">
                    <activeWhen>
                        <with variable="activeEditor">
                            <adapt type="org.jkiss.dbeaver.ui.editors.entity.EntityEditor">
                                <test property="org.jkiss.dbeaver.ui.editors.entity.dirty"/>
                            </adapt>
                        </with>
                    </activeWhen>
                </handler>
        -->
        <handler commandId="org.eclipse.ui.edit.undo" class="org.jkiss.dbeaver.ui.editors.entity.handlers.UndoChangesHandler">
            <enabledWhen>
                <with variable="activeEditor">
                    <adapt type="org.jkiss.dbeaver.ui.editors.entity.EntityEditor">
                        <test property="org.jkiss.dbeaver.ui.editors.entity.canUndo"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.eclipse.ui.edit.redo" class="org.jkiss.dbeaver.ui.editors.entity.handlers.RedoChangesHandler">
            <enabledWhen>
                <with variable="activeEditor">
                    <adapt type="org.jkiss.dbeaver.ui.editors.entity.EntityEditor">
                        <test property="org.jkiss.dbeaver.ui.editors.entity.canRedo"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>

        <!-- Folder editor -->
        <handler commandId="org.eclipse.ui.navigate.backwardHistory" class="org.jkiss.dbeaver.ui.editors.entity.handlers.FolderNavigateHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.folder.editor"/></activeWhen>
            <enabledWhen>
                <with variable="activeEditor">
                    <adapt type="org.jkiss.dbeaver.ui.editors.entity.FolderEditor">
                        <test property="org.jkiss.dbeaver.ui.editors.folder.canNavigate" value="-1"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.eclipse.ui.navigate.forwardHistory" class="org.jkiss.dbeaver.ui.editors.entity.handlers.FolderNavigateHandler">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.folder.editor"/></activeWhen>
            <enabledWhen>
                <with variable="activeEditor">
                    <adapt type="org.jkiss.dbeaver.ui.editors.entity.FolderEditor">
                        <test property="org.jkiss.dbeaver.ui.editors.folder.canNavigate" value="1"/>
                    </adapt>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.eclipse.ui.edit.copy" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerCopyObject">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part.active"/></activeWhen>
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <adapt type="org.jkiss.dbeaver.model.DBPNamedObject"/>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.edit.copy.special" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerCopySpecial">
            <activeWhen><reference definitionId="org.jkiss.dbeaver.core.ui.navigator.part.active"/></activeWhen>
            <enabledWhen>
                <or>
                    <with variable="selection">
                        <count value="+"/>
                        <iterate operator="and">
                            <adapt type="org.jkiss.dbeaver.model.DBPQualifiedObject"/>
                        </iterate>
                    </with>
                    <with variable="activePart">
                        <adapt type="org.jkiss.dbeaver.ui.IClipboardSource"/>
                    </with>
                </or>
            </enabledWhen>
        </handler>

        <handler commandId="org.eclipse.ui.file.refresh" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerRefresh">
            <activeWhen>
                <with variable="activePart">
                    <or>
                        <adapt type="org.jkiss.dbeaver.ui.navigator.INavigatorModelView"/>
                        <adapt type="org.jkiss.dbeaver.ui.IRefreshablePart"/>
                    </or>
                </with>
            </activeWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.project.create" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerProjectCreate"/>
        <handler commandId="org.jkiss.dbeaver.core.project.refresh" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerProjectRefresh"/>
        <handler commandId="org.jkiss.dbeaver.core.project.select" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerProjectSelect">
            <enabledWhen>
                <with variable="selection">
                    <test property="org.jkiss.dbeaver.core.global.hasMultipleProjects"/>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.project.active" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerProjectSetActive">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="org.jkiss.dbeaver.core.resource.canSetActive"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.resource.create.file" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerCreateFile">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="org.jkiss.dbeaver.core.resource.canCreateFile"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.resource.create.folder" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerCreateFolder">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="org.jkiss.dbeaver.core.resource.canCreateFolder"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.resource.link.file" class="org.jkiss.dbeaver.ui.navigator.actions.LinkFileHandler">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="org.jkiss.dbeaver.core.resource.canCreateLink"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.resource.link.folder" class="org.jkiss.dbeaver.ui.navigator.actions.LinkFolderHandler">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="org.jkiss.dbeaver.core.resource.canCreateLink"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.sql.script.associate" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerAssociateScript">
            <enabledWhen>
                <with variable="selection">
                    <count value="+"/>
                    <iterate operator="and">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="org.jkiss.dbeaver.core.resource.type" value="script"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.new.folder" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerLocalFolderCreate">
            <enabledWhen>
                <with variable="selection">
                    <iterate operator="and">
                        <or>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNProjectDatabases"/>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNLocalFolder"/>
                        </or>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.view.toggle" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerToggleView"/>
        <handler commandId="org.eclipse.ui.navigate.collapseAll" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerCollapseAll"/>
        <handler commandId="org.eclipse.ui.navigate.expandAll" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerExpandAll"/>
        <handler commandId="org.jkiss.dbeaver.core.navigator.view.configure" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerViewConfigure"/>
        <handler commandId="org.jkiss.dbeaver.core.navigator.linkeditor" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerLinkEditor">
            <enabledWhen>
                <with variable="activeEditor">
                    <adapt type="org.eclipse.ui.IEditorPart"/>
                </with>
            </enabledWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.core.navigator.preferences" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerPreferences"/>
        <handler commandId="org.jkiss.dbeaver.core.navigator.set.default" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerSetDefaultObject">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <adapt type="org.jkiss.dbeaver.model.navigator.DBNDatabaseNode"/>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.core.navigator.open.browser" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerOpenBrowser">
            <enabledWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate operator="and">
                        <or>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNLocalFolder"/>
                            <instanceof value="org.jkiss.dbeaver.model.navigator.DBNContainer"/>
                        </or>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler commandId="org.jkiss.dbeaver.ui.tools.select.connection" class="org.jkiss.dbeaver.ui.actions.datasource.SelectActiveDataSourceHandler">
            <activeWhen>
                <with variable="activeEditor">
                    <instanceof value="org.jkiss.dbeaver.model.IDataSourceContainerProvider"/>
                </with>
            </activeWhen>
        </handler>
        <handler commandId="org.jkiss.dbeaver.ui.tools.select.schema" class="org.jkiss.dbeaver.ui.actions.datasource.SelectActiveSchemaHandler">
            <activeWhen>
                <with variable="activeEditor">
                    <adapt type="org.jkiss.dbeaver.model.DBPContextProvider">
                        <instanceof value="org.jkiss.dbeaver.model.IDataSourceContainerProvider"/>
                    </adapt>
                </with>
            </activeWhen>
        </handler>

    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="dbeaver-tools" label="Database Tools Toolbar">
                <separator name="additions" visible="false"/>
            </toolbar>
        </menuContribution>

        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=create">
            <command commandId="org.jkiss.dbeaver.core.object.create">
                <visibleWhen>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and">
                            <test property="org.jkiss.dbeaver.core.object.canCreateSingle"/>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
            <menu id="dbeaver-menu-create" label="%menu.create.label">
                <visibleWhen>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and">
                            <test property="org.jkiss.dbeaver.core.object.canCreateMulti"/>
                        </iterate>
                    </with>
                </visibleWhen>
                <dynamic id="org.jkiss.dbeaver.core.menu.create" class="org.jkiss.dbeaver.ui.navigator.actions.NavigatorHandlerObjectCreateNew$MenuCreateContributor"/>
            </menu>
        </menuContribution>

    </extension>

    <extension point="org.eclipse.ui.bindings">

        <key commandId="org.jkiss.dbeaver.ui.tools.select.connection" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+9"/>
        <key commandId="org.jkiss.dbeaver.ui.tools.select.schema" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+0"/>

        <key commandId="org.jkiss.dbeaver.core.navigator.linkeditor" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+SHIFT+,"/>
        <key commandId="org.jkiss.dbeaver.core.navigator.set.default" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+SHIFT+A"/>
        <key commandId="org.jkiss.dbeaver.core.object.goto" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="CTRL+SHIFT+D"/>
        <key commandId="org.jkiss.dbeaver.core.object.open" contextId="org.jkiss.dbeaver.ui.context.navigator" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="F4"/>
    </extension>

    <extension point="org.jkiss.dbeaver.navigator.nodeAction">
        <nodeAction class="org.jkiss.dbeaver.ui.navigator.actions.node.NNAHDataSourceConfiguration" order="999">
            <objectType name="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
        </nodeAction>
        <nodeAction class="org.jkiss.dbeaver.ui.navigator.actions.node.NNAHDataSourceTunnel" order="200">
            <objectType name="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
        </nodeAction>
        <nodeAction class="org.jkiss.dbeaver.ui.navigator.actions.node.NNAHDataSourceReadOnly" order="100">
            <objectType name="org.jkiss.dbeaver.model.navigator.DBNDataSource"/>
        </nodeAction>
    </extension>


</plugin>
