<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension point="org.jkiss.dbeaver.workbenchHandler">
        <workbenchWindowInitializer class="org.jkiss.dbeaver.ui.config.sample.WorkbenchInitializerCreateSampleDatabase" order="3"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="org.jkiss.dbeaver.ext.sample.database.commands.create" name="%commands.create.name" description="%commands.create.description"/>
    </extension>

    <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.jkiss.dbeaver.ext.sample.database.commands.create" icon="platform:/plugin/org.jkiss.dbeaver.ext.sqlite/icons/sqlite_icon.png"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="menu:help?after=installation_help">
            <command commandId="org.jkiss.dbeaver.ext.sample.database.commands.create"/>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler class="org.jkiss.dbeaver.ui.config.sample.SampleDatabaseHandler" commandId="org.jkiss.dbeaver.ext.sample.database.commands.create"/>
    </extension>

</plugin>
